<template>
    <v-sheet class="elevation-3 pa-4">
        <template v-if="!showAlert && token">
            Активируем...
        </template>
        <v-alert
            :value="showAlert"
            :type="alertType"
            :transition="VEnums.VTransitions.scaleTransition"
        >
            {{ alertMessage }}
        </v-alert>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import * as VEnums from '~/types/VEnums'

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Активация аккаунта')
            resolve()
        })
    }
})
export default class AtvActivateAccountPage extends Vue {
    VEnums = VEnums
    showAlert = false
    alertType: VEnums.VAlertTypes = VEnums.VAlertTypes.success
    alertMessage = ''
    token: string | string[] = ''

    mounted() {
        this.token = this.$route.query.t as string

        if (this.token) {
            this.$axios
                .post('/account/activate', { token: this.token })
                .then(() => {
                    this.alertMessage = 'Ваш аккаунт активирован.'
                    this.alertType = VEnums.VAlertTypes.success
                    this.showAlert = true
                })
                .catch(() => {
                    this.alertMessage = 'Токен активации не валиден.'
                    this.alertType = VEnums.VAlertTypes.error
                    this.showAlert = true
                })
        } else {
            this.alertMessage =
                'Для активации аккаунта необходимо перейти по ссылке из письма.'
            this.alertType = VEnums.VAlertTypes.info
            this.showAlert = true
        }
    }
}
</script>
