<template>
    <v-sheet class="elevation-3 pa-4">
        <v-form @submit.prevent="onSubmit">
            <v-alert
                :value="showAlert"
                :type="alertType"
                :transition="VEnums.VTransitions.scaleTransition"
                class="mb-4"
            >
                {{ alertMessage }}
            </v-alert>
            <v-row justify="center">
                <v-col cols="12" sm="12" md="8" lg="6" xl="4">
                    <v-text-field
                        v-model="model.email"
                        v-validate="'required|email'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('email', 'model')
                        "
                        data-vv-scope="model"
                        data-vv-name="email"
                        label="Email"
                        name="email"
                        autocomplete="on"
                        autofocus
                        outlined
                    />
                    <div class="d-flex justify-center">
                        <v-btn
                            :color="VEnums.VColors.primary"
                            :disabled="disableForm"
                            type="submit"
                            large
                        >
                            <v-progress-circular
                                v-if="disableForm"
                                indeterminate
                                color="white"
                            />
                            <template v-else>
                                Сбросить пароль
                            </template>
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
        </v-form>
    </v-sheet>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import VeeValidateHelper from '~/mixins/VeeValidateHelper'
import * as VEnums from '~/types/VEnums'

interface Model {
    email: string
}

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Забыл пароль')
            resolve()
        })
    }
})
export default class AtvForgetPasswordPage extends Mixins(VeeValidateHelper) {
    VEnums = VEnums
    model: Model = {
        email: ''
    }
    showPassword = false
    showAlert = true
    alertType: VEnums.VAlertTypes = VEnums.VAlertTypes.info
    alertMessage =
        'Если вы забыли пароль, то мы можем сбросить его, а вы укажете новый. Для сброса введите email к которому привязан ваш аккаунт.'
    disableForm = false

    async onSubmit() {
        this.setAllFieldsTouched('model')

        const formIsValid = await this.$validator.validate('model.*')

        if (formIsValid) {
            this.disableForm = true
            this.$axios
                .post('/account/resetPassword', {
                    email: this.model.email
                })
                .then(() => {
                    this.$validator.reset()
                    this.disableForm = false
                    this.alertType = VEnums.VAlertTypes.success
                    this.alertMessage =
                        'Мы выслали на указанный email письмо с инструкцией для сброса пароля.'
                })
                .catch(() => {
                    this.$validator.reset()
                    this.disableForm = false
                    this.alertType = VEnums.VAlertTypes.error
                    this.alertMessage = 'Нет пользователя с таким email-ом.'
                })
        }
    }
}
</script>
