<template>
    <v-sheet class="elevation-3 pa-4">
        INDEX
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Главная')
            resolve()
        })
    }
})
export default class AtvHomePage extends Vue {
    mounted() {
        // debugger
    }
}
</script>
