<template>
    <v-sheet class="elevation-3 pa-4">
        <v-form @submit.prevent="onSubmit">
            <v-alert
                :value="showAlert"
                :type="alertType"
                :transition="VEnums.VTransitions.scaleTransition"
                class="mb-4"
            >
                {{ alertMessage }}
            </v-alert>
            <v-row justify="center">
                <v-col cols="12" sm="12" md="8" lg="6" xl="4">
                    <v-text-field
                        v-model="model.email"
                        v-validate="'required|email'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('email', 'model')
                        "
                        data-vv-scope="model"
                        data-vv-name="email"
                        label="Email"
                        name="email"
                        autocomplete="on"
                        autofocus
                        outlined
                    />
                    <v-text-field
                        v-model="model.password"
                        v-validate="'required'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('password', 'model')
                        "
                        :type="showPassword ? 'text' : 'password'"
                        :append-icon="
                            showPassword ? 'visibility_off' : 'visibility'
                        "
                        data-vv-scope="model"
                        data-vv-name="password"
                        label="Пароль"
                        outlined
                        @click:append="showPassword = !showPassword"
                    />
                    <div class="d-flex justify-center">
                        <v-btn
                            :color="VEnums.VColors.primary"
                            :disabled="disableForm"
                            type="submit"
                            large
                        >
                            <v-progress-circular
                                v-if="disableForm"
                                indeterminate
                                color="white"
                            />
                            <template v-else>
                                Войти
                            </template>
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
        </v-form>
    </v-sheet>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import VeeValidateHelper from '~/mixins/VeeValidateHelper'
import * as VEnums from '~/types/VEnums'

/* eslint-disable */
interface Model {
    email: string,
    password: string
}
/* eslint-enable */

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Вход')
            resolve()
        })
    }
})
export default class AtvLoginPage extends Mixins(VeeValidateHelper) {
    VEnums = VEnums
    model: Model = {
        email: '',
        password: ''
    }
    showPassword = false
    showAlert = false
    alertType: VEnums.VAlertTypes = VEnums.VAlertTypes.success
    alertMessage = ''
    disableForm = false

    async onSubmit() {
        this.setAllFieldsTouched('model')

        const formIsValid = await this.$validator.validate('model.*')

        if (formIsValid) {
            this.disableForm = true
            this.$axios
                .post('/account/login', this.model)
                .then((res) => {
                    this.$store.commit('setUser', res.data)
                    this.$router.push('/')
                })
                .catch(() => {
                    this.$validator.reset()
                    this.disableForm = false
                    this.alertType = VEnums.VAlertTypes.error
                    this.showAlert = true
                    this.alertMessage = 'Неверный логин или пароль.'
                })
        }
    }
}
</script>
