<template>
    <v-sheet class="elevation-3 pa-4">
        Выходим...
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Выход')
            resolve()
        })
    }
})
export default class AtvLogoutPage extends Vue {
    beforeMount() {
        this.$axios.post('/account/logout').then(() => {
            this.$store.commit('setUser', null)
            this.$router.push('/')
        })
    }
}
</script>
