<template>
    <v-sheet class="elevation-3 pa-4">
        <v-form @submit.prevent="onSubmit">
            <v-alert
                :value="showAlert"
                :type="alertType"
                :transition="VEnums.VTransitions.scaleTransition"
                class="mb-4"
            >
                <div v-for="(message, index) in alertMessages" :key="index">
                    {{ message }}
                </div>
            </v-alert>
            <v-row justify="center">
                <v-col cols="12" sm="12" md="8" lg="6" xl="4">
                    <v-text-field
                        v-model="model.email"
                        v-validate="'required|email'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('email', 'model')
                        "
                        data-vv-scope="model"
                        data-vv-name="email"
                        label="Email"
                        name="email"
                        autocomplete="on"
                        autofocus
                        outlined
                    />
                    <v-text-field
                        v-model="model.password"
                        v-validate="'required|min:5|max:16'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('password', 'model')
                        "
                        :type="showPassword ? 'text' : 'password'"
                        :append-icon="
                            showPassword ? 'visibility_off' : 'visibility'
                        "
                        data-vv-scope="model"
                        data-vv-name="password"
                        label="Пароль"
                        outlined
                        @click:append="showPassword = !showPassword"
                    />
                    <div class="d-flex justify-center">
                        <v-btn
                            :color="VEnums.VColors.primary"
                            :disabled="disableForm"
                            type="submit"
                            large
                        >
                            <v-progress-circular
                                v-if="disableForm"
                                indeterminate
                                color="white"
                            />
                            <template v-else>
                                Зарегистрироваться
                            </template>
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
        </v-form>
    </v-sheet>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import VeeValidateHelper from '~/mixins/VeeValidateHelper'
import * as VEnums from '~/types/VEnums'

/* eslint-disable */
interface Model {
    email: string,
    password: string
}
/* eslint-enable */

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Регистрация')
            resolve()
        })
    }
})
export default class AtvRegisterPage extends Mixins(VeeValidateHelper) {
    VEnums = VEnums
    model: Model = {
        email: '',
        password: ''
    }
    showPassword = false
    showAlert = false
    alertType: VEnums.VAlertTypes = VEnums.VAlertTypes.success
    alertMessages: string[] = []
    disableForm = false

    async onSubmit() {
        this.setAllFieldsTouched('model')

        const formIsValid = await this.$validator.validate('model.*')

        if (formIsValid) {
            this.disableForm = true
            this.$axios
                .post('/account/register', {
                    email: this.model.email,
                    password: this.model.password
                })
                .then(() => {
                    this.$validator.reset()
                    this.disableForm = false
                    this.model.email = ''
                    this.model.password = ''
                    this.alertType = VEnums.VAlertTypes.success
                    this.showAlert = true
                    this.alertMessages = []
                    this.alertMessages.push(
                        'Мы выслали на указанный email письмо для подтверждения регистрации.'
                    )
                    this.alertMessages.push(
                        'Проверьте почту и перейдите по указанной в письме ссылке.'
                    )
                    this.alertMessages.push(
                        'Если не видите письма, то проверьте спам.'
                    )
                })
                .catch((err) => {
                    const res = err.response

                    this.$validator.reset()
                    this.disableForm = false
                    this.alertMessages = []
                    if (res.data && res.data.errors) {
                        for (const errKey in res.data.errors) {
                            if (res.data.errors[errKey].message) {
                                this.alertMessages.push(
                                    res.data.errors[errKey].message
                                )
                            }
                        }
                    }
                    this.alertType = VEnums.VAlertTypes.error
                    this.showAlert = true
                })
        }
    }
}
</script>
