<template>
    <v-sheet class="elevation-3 pa-4">
        <v-form @submit.prevent="onSubmit">
            <v-alert
                :class="{ 'mb-4': model.token }"
                :value="showAlert"
                :type="alertType"
                :transition="VEnums.VTransitions.scaleTransition"
            >
                {{ alertMessage }}
            </v-alert>
            <v-row v-if="model.token" justify="center">
                <v-col cols="12" sm="12" md="8" lg="6" xl="4">
                    <v-text-field
                        ref="password"
                        v-model="model.password"
                        v-validate="'required|min:5|max:16'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('password', 'model')
                        "
                        :type="showPassword ? 'text' : 'password'"
                        :append-icon="
                            showPassword ? 'visibility_off' : 'visibility'
                        "
                        data-vv-scope="model"
                        data-vv-name="password"
                        label="Пароль"
                        outlined
                        @click:append="showPassword = !showPassword"
                    />
                    <v-text-field
                        v-model="model.confirmPassword"
                        v-validate="'required|confirmed:password'"
                        :disabled="disableForm"
                        :error-messages="
                            getFieldErrorMessages('confirmPassword', 'model')
                        "
                        :type="showConfirmPassword ? 'text' : 'password'"
                        :append-icon="
                            showConfirmPassword
                                ? 'visibility_off'
                                : 'visibility'
                        "
                        data-vv-scope="model"
                        data-vv-name="confirmPassword"
                        label="Повторите пароль"
                        outlined
                        @click:append="
                            showConfirmPassword = !showConfirmPassword
                        "
                    />
                    <div class="d-flex justify-center">
                        <v-btn
                            :color="VEnums.VColors.primary"
                            :disabled="disableForm"
                            type="submit"
                            large
                        >
                            <v-progress-circular
                                v-if="disableForm"
                                indeterminate
                                color="white"
                            />
                            <template v-else>
                                Обновить пароль
                            </template>
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
        </v-form>
    </v-sheet>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import VeeValidateHelper from '~/mixins/VeeValidateHelper'
import * as VEnums from '~/types/VEnums'

/* eslint-disable */
interface Model {
    token: string | string[],
    password: string,
    confirmPassword: string
}
/* eslint-enable */

@Component({
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Сброс пароля')
            resolve()
        })
    }
})
export default class AtvResetPasswordPage extends Mixins(VeeValidateHelper) {
    VEnums = VEnums
    model: Model = {
        token: '',
        password: '',
        confirmPassword: ''
    }
    showAlert = false
    alertType: VEnums.VAlertTypes = VEnums.VAlertTypes.success
    alertMessage = ''
    showPassword = false
    showConfirmPassword = false
    disableForm = false

    mounted() {
        this.model.token = this.$route.query.t as string

        if (!this.model.token) {
            this.alertMessage =
                'Для установки нового пароля необходимо перейти по ссылке из письма.'
            this.alertType = VEnums.VAlertTypes.info
            this.showAlert = true
        }
    }

    async onSubmit() {
        this.setAllFieldsTouched('model')

        const formIsValid = await this.$validator.validate('model.*')

        if (formIsValid) {
            this.disableForm = true
            this.$axios
                .post('/account/updatePassword', this.model)
                .then(() => {
                    this.disableForm = false
                    this.alertMessage = 'Ваш пароль обновлен.'
                    this.alertType = VEnums.VAlertTypes.success
                    this.showAlert = true
                })
                .catch(() => {
                    this.disableForm = false
                    this.alertMessage = 'Токен смены пароля не валиден.'
                    this.alertType = VEnums.VAlertTypes.error
                    this.showAlert = true
                })
        }
    }
}
</script>
