<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <b-card>
        <template v-slot:header>
          Подтвердите Email
        </template>
        <template v-if="success">
          <div
            class="alert alert-success"
            role="alert"
          >
            {{ success }}
          </div>

          <router-link
            :to="{ name: 'login' }"
            class="btn btn-primary"
          >
            {{ $t('login') }}
          </router-link>
        </template>
        <template v-else>
          <div
            class="alert alert-danger"
            role="alert"
          >
            {{ error || $t('failed_to_verify_email') }}
          </div>

          <router-link
            :to="{ name: 'verification.resend' }"
            class="small float-right"
          >
            {{ $t('resend_verification_link') }}
          </router-link>
        </template>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import axios from 'axios'

const qs = (params: { [key: string]: string | (string | null)[] }) => Object
  .keys(params)
  .map(key => `${key}=${params[key]}`)
  .join('&')

@Component({
  middleware: 'guest',
  metaInfo() {
    return { title: this.$t('verify_email') }
  },
  async beforeRouteEnter(to, from, next) {
    try {
      const { data } = await axios.post(`/api/v1/email/verify/${to.params.id}?${qs(to.query)}`)

      next((vm: Vue & { success: string }) => { vm.success = data.status })
    } catch (e) {
      next((vm: Vue & { error: string }) => { vm.error = e.response.data.status })
    }
  }
})
export default class Verify extends Vue {
  error: ''
  success: ''
}
</script>
