<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Вложения
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6">
        <b-input-group>
          <b-input-group-prepend>
            <b-input-group-text>
              <fa
                icon="search"
              />
            </b-input-group-text>
          </b-input-group-prepend>
          <b-form-input
            v-model="list.search"
            placeholder="Поиск"
            @input="onSearchInput"
          />
          <b-input-group-append>
            <b-btn
              v-if="!$isMobile()"
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <b-form-group class="col text-right">
        <b-button
          v-if="user.can['create metric controller']"
          :to="{ name: 'messenger.attachments.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template v-slot:head(id)>
        <a
          href="javascript:void 0"
          @click="fetchAttachments(list.page, 'id')"
        >
          #
          <span v-if="list.orderby == 'id' && list.direction == 'asc'">▲</span>
          <span v-if="list.orderby == 'id' && list.direction == 'desc'">▼</span>
        </a>
      </template>
      <template
        v-if="user.can['delete metric controller']"
        v-slot:cell(delete)="data"
      >
        <b-button
          class="d-block ml-auto"
          variant="danger"
          size="sm"
          @click.stop="deleteModule(data.item.id)"
        >
          <fa
            icon="trash-alt"
            style="font-size: 16px"
          />
        </b-button>
      </template>
    </b-table>
    <nav v-if="attachments && attachments.meta && attachments.meta.last_page > 1">
      <ul class="pagination justify-content-center">
        <li
          v-if="attachments.meta.current_page != 1"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="fetchAttachments(list.page - 1)"
          >{{ this.$t('previous') }}</a>
        </li>
        <li
          v-for="num in attachments.meta.last_page"
          :key="num"
          class="page-item"
          :class="{ 'active': list.page === num }"
        >
          <a
            href="javascript:void 0"
            class="page-link"
            active-class="active"
            @click="list.page !== num ? fetchAttachments(num) : false"
          >
            {{ num }}
          </a>
        </li>
        <li
          v-if="attachments.meta.current_page != attachments.meta.last_page"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="fetchAttachments(list.page + 1)"
          >{{ this.$t('next') }}</a>
        </li>
      </ul>
    </nav>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import debounce from '~/decorators/debounce'
import { switcher } from '~/common/switcher'
import { RootModule } from '~/store'
import * as api from '~/typings/api'

interface TableItem {
  id: number
  message_id: number
  file_id: number
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Вложения' }
  }
})
export default class Attachments extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.ListOptions = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'desc'
  }

  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'message_id',
        label: 'ID сообщения'
      },
      {
        key: 'file_id',
        label: 'ID файла'
      }
    ]

    // @ts-ignore
    if (this.user.can['delete metric controller']) {
      fields.push({
        key: 'delete',
        label: ''
      })
    }

    return fields
  }

  get user() {
    return this.store.auth.user
  }

  get attachments() {
    return this.store.messenger.attachments.attachments
  }

  get tableItems(): TableItem[] {
    return this.attachments?.data ?? []
  }

  created() {
    this.fetchAttachments()
  }

  @debounce(300)
  onSearchInput() {
    this.fetchAttachments()
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.onSearchInput()
  }

  onRowClick(item: TableItem) {
    this.$router.push({
      name: 'messenger.attachments.edit',
      params: {
        id: `${item.id}`
      }
    })
  }

  fetchAttachments(
    page = this.list.page,
    orderby = this.list.orderby,
    direction: 'asc' | 'desc' | null = null
  ) {
    if (page === this.list.page) {
      if (direction) {
        this.list.direction = direction
      } else if (orderby === this.list.orderby) {
        this.list.direction = this.list.direction === 'asc'
          ? 'desc'
          : 'asc'
      } else {
        this.list.direction = 'asc'
      }
    } else {
      window.scrollTo(0, 0)
    }
    this.list.page = page
    this.list.orderby = orderby
    this.store.messenger.attachments.fetchAttachments(this.list)
  }

  deleteModule(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить это вложение?',
      {
        title: 'Удалить вложение',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.messenger.attachments.fetchAttachment({ id })

        if (response.status === 200) {
          this.fetchAttachments()
        }
      }
    })
  }
}
</script>
