// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import 'vuetify/src/styles/tools/_functions.sass';
@import 'vuetify/src/styles/settings/_colors.scss';
@import 'vuetify/src/styles/settings/_light.scss';
@import 'vuetify/src/styles/settings/_variables.scss';

// v1.5 $spacer := 16px
// v2.0 $spacer: 4px !default;

// v1.5 $grid-gutter := 8px
// v2.0 $grid-gutter: $spacer * 6 !default;

// $font-size-root: 14px;

$material-light: map-deep-merge(
    $material-light,
    (
        'cards': map-deep-get($colors, 'grey', 'lighten-3')
    )
);
