<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Роль
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- Last name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            class="form-control"
            type="text"
            name="name"
            :disabled="form.name == 'super-admin' || form.name == 'user'"
          >
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-md-center pl-2 pr-2">
          <div
            v-for="(category, categoryKey) in permissions"
            :key="categoryKey"
            class="col col-lg-3 mb-4"
          >
            <b>{{ categoryKey }}</b>:
            <div
              v-for="(permission, permissionKey) in category"
              :key="permissionKey"
            >
              <b-form-checkbox
                v-model="form.permissions"
                :value="permission"
                :disabled="form.name == 'super-admin'"
              >
                {{ permissionKey }}
              </b-form-checkbox>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div
          v-if="user.can['update roles'] && role.name != 'super-admin'"
          class="col text-center"
        >
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('save') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Form from 'vform'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('user_profile') }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    permissions: []
  })

  get user() {
    return this.store.auth.user
  }

  get role() {
    return this.store.roles.role
  }

  get permissions() {
    return this.store.roles.permissions
  }

  created() {
    this.getRole(parseInt(this.$route.params.id))
    this.store.roles.fetchPermissions()
  }

  async getRole(id: number) {
    await this.store.roles.fetchRole({ id })
    // @ts-ignore
    this.form.keys().forEach(key => {
      // @ts-ignore
      this.form[key] = this.role[key]
    })
  }

  async update() {
    await this.form.put(`/api/v1/roles/${this.$route.params.id}`)
    this.$router.push({ name: 'roles' })
  }
}
</script>
