<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новая роль
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- Last name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            class="form-control"
            type="text"
            name="name"
          >
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-md-center">
          <div
            v-for="(category, catIndex) in permissions"
            :key="catIndex"
            class="col col-lg-3 mb-3"
          >
            <b>{{ catIndex }}</b>:
            <div
              v-for="(permission, permIndex) in category"
              :key="permIndex"
            >
              <b-form-checkbox
                v-model="form.permissions"
                :value="permission"
              >
                {{ permIndex }}
              </b-form-checkbox>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="col text-center">
        <b-button
          :class="[{'btn-loading': form.busy}]"
          variant="success"
          type="submit"
        >
          {{ $t('save') }}
        </b-button>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('new_role') }
  }
})
export default class New extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    permissions: []
  })

  get role() {
    return this.store.roles.role
  }

  get permissions() {
    return this.store.roles.permissions
  }

  created() {
    this.store.roles.fetchPermissions()
  }

  async create() {
    await this.form.post('/api/v1/roles')
    this.$router.push({ name: 'roles' })
  }
}
</script>
