<template>
    <div>
        <v-sheet
            v-if="
                (product.videoIds && product.videoIds.length) ||
                    (product.imagePaths && product.imagePaths.length)
            "
            class="elevation-3 pa-4"
        >
            <div class="gallery">
                <div class="gallery-carousel owl-carousel owl-theme">
                    <template
                        v-if="product.videoIds && product.videoIds.length"
                    >
                        <iframe
                            v-for="(videoId, index) in product.videoIds"
                            :key="`video${index}`"
                            :src="`https://www.youtube.com/embed/${videoId}`"
                            class="proudct-video"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        />
                    </template>
                    <template
                        v-if="product.imagePaths && product.imagePaths.length"
                    >
                        <a
                            v-for="(imagePath, index) in product.imagePaths"
                            :key="`image${index}`"
                            :href="`${$axios.defaults.baseURL}${imagePath}`"
                            class="proudct-image-link"
                            data-fancybox="gallery"
                        >
                            <img
                                :src="`${$axios.defaults.baseURL}${imagePath}`"
                                class="proudct-image"
                                @load="onProductImageLoad"
                            />
                        </a>
                    </template>
                </div>
                <v-btn
                    :class="{
                        'ml-2': true,
                        'd-none': !showGalleryNav
                    }"
                    class="gallery-nav-btn gallery-nav-btn-prev elevation-3 grey lighten-3"
                    fab
                >
                    <v-icon>
                        keyboard_arrow_left
                    </v-icon>
                </v-btn>
                <v-btn
                    :class="{
                        'mr-2': true,
                        'd-none': !showGalleryNav
                    }"
                    class="gallery-nav-btn gallery-nav-btn-next elevation-3 grey lighten-3"
                    fab
                >
                    <v-icon>
                        keyboard_arrow_right
                    </v-icon>
                </v-btn>
            </div>
        </v-sheet>
        <v-sheet
            v-if="
                product.price ||
                    product.description ||
                    (featureTree &&
                        featureTree.length &&
                        product.values &&
                        product.values.length)
            "
            class="elevation-3 pa-4 mt-4"
        >
            <div
                v-if="product.price"
                class="price-block px-2 mb-4 ml-4 elevation-1"
            >
                <span class="title">Цена:</span>&nbsp;<span
                    :class="{
                        'price-strike': product.discountPrice ? true : false
                    }"
                    class="price"
                    >{{ formatPrice(product.price) }}&nbsp;₽</span
                >&nbsp;<span
                    v-if="product.discountPrice"
                    class="discount-price"
                >
                    {{ formatPrice(product.discountPrice) }}&nbsp;₽
                </span>
            </div>
            <template v-if="product.description">
                <div class="title pb-4">
                    Описание
                </div>
                <div class="description" v-html="product.description" />
            </template>
            <template
                v-if="
                    featureTree &&
                        featureTree.length &&
                        product.values &&
                        product.values.length
                "
            >
                <div class="title pb-4">
                    Характеристики
                </div>
                <table class="features-table">
                    <tbody>
                        <template v-for="feature in featureTree">
                            <template
                                v-if="
                                    feature.kind == featureKind.GROUP &&
                                        featureGroupHasAnyFeatureWithValue(
                                            feature
                                        )
                                "
                            >
                                <tr
                                    :key="feature.id"
                                    class="feature-group-table-row"
                                >
                                    <td colspan="2">
                                        {{ feature.name }}
                                    </td>
                                </tr>
                                <template
                                    v-for="childFeature in feature.children"
                                >
                                    <template
                                        v-if="featureHasAnyValue(childFeature)"
                                    >
                                        <tr
                                            :key="childFeature.id"
                                            class="feature-table-row"
                                        >
                                            <td>{{ childFeature.name }}:</td>
                                            <td>
                                                <div
                                                    v-for="value in getFeatureValues(
                                                        childFeature
                                                    )"
                                                    :key="value.id"
                                                >
                                                    {{ value.val }}
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                            </template>
                        </template>
                    </tbody>
                </table>
            </template>
        </v-sheet>
    </div>
</template>

<script lang="ts">
/* global $ */
/* eslint-disable @typescript-eslint/no-non-null-assertion */
/* eslint-disable @typescript-eslint/no-explicit-any */
import { Vue, Component } from 'vue-property-decorator'
import formatNumber from 'number-format.js'
import slug from 'limax'
import constants from '~/core/constants'

interface FeatureGroup {
    id: string
    children: FeatureGroup[]
}

@Component({
    async asyncData({ $axios, params, redirect, store }) {
        const productRes = await $axios.get(`/product/${params.id}`)

        if (!params.slug) {
            redirect(
                301,
                `/product/${params.id}/${slug(
                    productRes.data.name
                ).toLowerCase()}`
            )
        }
        store.commit('page/setTitle', productRes.data.name)

        const featureTreeRes = await $axios.get(
            `/feature/tree?categoryId=${productRes.data.category}`
        )

        if (productRes.data.id1C) {
            const sparesMenuRes = await $axios.get(
                `/menu/spares?parentCategory=${productRes.data.category}`
            )
            const categoryRes = await $axios.get(
                `/category/${productRes.data.category}`
            )
            const backMenuItem: {
                active: boolean
                id: string
                name: string
                parentCategory: string | null
            }[] = []

            if (categoryRes.data.parentCategory) {
                const parentCategoryRes = await $axios.get(
                    `/category/${categoryRes.data.parentCategory}`
                )

                backMenuItem.push({
                    active: false,
                    id: parentCategoryRes.data.id,
                    name: 'Назад',
                    parentCategory: parentCategoryRes.data.parentCategory
                })
            } else {
                backMenuItem.push({
                    active: false,
                    id: constants.sparesObjectId,
                    name: 'Назад',
                    parentCategory: null
                })
            }

            store.commit('setSparesMenu', [
                ...backMenuItem,
                ...sparesMenuRes.data
            ])
            store.commit('setSparesViewing', true)
        }

        return {
            product: productRes.data,
            featureTree: featureTreeRes.data
        }
    }
})
export default class AtvProductPage extends Vue {
    product = null
    featureTree = []
    showGalleryNav = false
    galleryCarousel: JQuery<HTMLElement> | null = null
    featureKind = {
        CHECK: 'CHECK',
        RADIO: 'RADIO',
        NUMBER: 'NUMBER',
        GROUP: 'GROUP'
    }

    mounted() {
        require('owl.carousel')
        require('owl.carousel/dist/assets/owl.carousel.css')
        require('owl.carousel/dist/assets/owl.theme.default.css')
        require('@fancyapps/fancybox')
        require('@fancyapps/fancybox/dist/jquery.fancybox.css')

        const checkGalleryNavShow = () => {
            const $owlCarousel = $('.owl-carousel')
            const owlCarouselWidth = $owlCarousel.outerWidth()
            const $owlItems = $('.owl-item')
            let owlItemSumWidth = 0

            $owlItems.each((index, item) => {
                owlItemSumWidth += $(item!).outerWidth()!
            })
            if (owlItemSumWidth > owlCarouselWidth!) {
                this.showGalleryNav = true
            } else {
                this.showGalleryNav = false
            }
        }

        this.galleryCarousel = $('.gallery-carousel')
            .on(
                'initialized.owl.carousel resized.owl.carousel refreshed.owl.carousel',
                checkGalleryNavShow
            )
            .owlCarousel({
                margin: 16,
                autoWidth: true,
                nav: false,
                dots: false
            })

        $('.gallery-nav-btn-prev').on('click', () => {
            this.galleryCarousel!.trigger('prev.owl.carousel')
        })
        $('.gallery-nav-btn-next').on('click', () => {
            this.galleryCarousel!.trigger('next.owl.carousel')
        })
    }

    onProductImageLoad() {
        if (this.galleryCarousel!.trigger) {
            this.galleryCarousel!.trigger('refresh.owl.carousel')
        }
    }

    formatPrice(value: number) {
        return formatNumber('### ###.', value)
    }

    featureGroupHasAnyFeatureWithValue(featureGroup: FeatureGroup) {
        let hasAny = false

        featureGroup.children.forEach((feature) => {
            const existingValue = (this.product! as any).values.find(
                (x: any) => x.feature === feature.id
            )

            if (existingValue) {
                hasAny = true
            }
        })

        return hasAny
    }

    featureHasAnyValue(feature: any) {
        const existingValue = (this.product! as any).values.find(
            (x: any) => x.feature === feature.id
        )

        if (existingValue) {
            return true
        }

        return false
    }

    getFeatureValues(feature: any) {
        return (this.product! as any).values.filter(
            (x: any) => x.feature === feature.id
        )
    }
}
</script>

<style lang="scss" scoped>
.proudct-video,
.proudct-image {
    width: auto !important;
}
.gallery::v-deep .owl-carousel,
.proudct-image-link,
.proudct-image {
    display: block;
}
.gallery::v-deep .owl-stage,
.gallery::v-deep .owl-stage-outer,
.proudct-video,
.proudct-image {
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        height: 120px;
    }
    @media #{map-get($display-breakpoints, 'md-only')} {
        height: 160px;
    }
    @media #{map-get($display-breakpoints, 'lg-only')} {
        height: 200px;
    }
    @media #{map-get($display-breakpoints, 'xl-only')} {
        height: 240px;
    }
}
.gallery {
    position: relative;
}
.gallery-nav-btn {
    position: absolute;
    top: 50%;
    margin: 0;
    z-index: 1;
    &-prev {
        left: 0;
        transform: translate(0, -50%);
        margin-left: ($spacer * 2);
    }
    &-next {
        right: 0;
        transform: translate(0, -50%);
        margin-right: ($spacer * 2);
    }
}
.price-block {
    background: map-deep-get($colors, 'grey', 'lighten-5');
    text-align: right;
    float: right;
    border-radius: $border-radius-root;
}
.price {
    font-size: 22px;
    &-strike {
        text-decoration: line-through;
        opacity: 0.66;
    }
}
.discount-price {
    font-size: 26px;
}
.description {
    font-size: 14px;
}
.features-table {
    width: 100%;
    border-collapse: collapse;
    &::v-deep td {
        vertical-align: top;
        padding: ($spacer) ($spacer * 2);
    }
}
.feature-group-table-row {
    &::v-deep td {
        font-size: 16px;
        font-weight: 600;
    }
}
.feature-table-row {
    &::v-deep td {
        font-size: 14px;
        &:first-child {
            padding-right: $spacer * 4;
        }
    }
    &:nth-of-type(odd)::v-deep td {
        background: map-deep-get($colors, 'shades', 'white');
    }
    &:nth-of-type(even)::v-deep td {
        background: map-deep-get($colors, 'grey', 'lighten-4');
    }
}
</style>
