<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <v-form @submit.prevent="onSubmit">
                <v-select
                    v-model="model.kind"
                    :items="featureKindSelectItems"
                    :disabled="featureKindSelectDisabled"
                    label="Тип характеристики"
                    hide-details
                    outlined
                />
                <div class="caption px-2 pt-2 pb-4">
                    Тип характеристики влияет на то, как она будет отображаться
                    в фильтре.
                    <ul>
                        <li>
                            <b>Чекбокс</b> — в фильтре выглядит как галочка,
                            <b>можно выбрать несколько</b> чекбоксов.
                        </li>
                        <li>
                            <b>Радиокнопка</b> — в фильтре выглядит как точка,
                            <b>можно выбрать только одну</b> радиокнопку.
                        </li>
                        <li>
                            <b>Число</b> — в фильтре выглядит как два поля «от»
                            и «до», <b>можно указать числовой диапазон</b>.
                        </li>
                        <li>
                            <b>Группа</b> — в фильтре выглядит как заголовок
                            группы характеристик, только группа может быть
                            родителем для других характеристик.
                        </li>
                    </ul>
                </div>
                <v-select
                    v-model="model.parentFeature"
                    :items="featureGroupsList"
                    item-text="name"
                    item-value="id"
                    label="Родительская группа характеристик"
                    outlined
                />
                <v-text-field v-model="model.name" label="Название" outlined />
                <div class="d-flex flex-wrap justify-end">
                    <v-btn class="mx-1 my-1" color="primary" type="submit">
                        Сохранить
                    </v-btn>
                    <v-btn
                        class="mx-1 my-1"
                        :to="`/admin/features?categoryId=${categoryId}`"
                        nuxt
                    >
                        Отмена
                    </v-btn>
                </div>
            </v-form>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

/* eslint-disable */
//export enum FeatureKind {
//    CHECK = 'CHECK',
//    RADIO = 'RADIO',
//    NUMBER = 'NUMBER',
//    GROUP = 'GROUP'
//}

interface Feature {
    id?: string,
    category: string,
    parentFeature: string | null,
    name: string,
    kind: string //FeatureKind
}

interface Category {
    id?: string,
    name?: string,
    description?: string,
    parentCategory?: string | null,
    id1C?: string,
    parentId1C?: string
}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Характеристика категории товаров')
            resolve()
        })
    }
})
export default class AtvAdminFeaturePage extends Vue {
    loading = true
    featureKind = {
        CHECK: 'CHECK',
        RADIO: 'RADIO',
        NUMBER: 'NUMBER',
        GROUP: 'GROUP'
    }
    model: Feature = {
        category: '',
        parentFeature: null,
        name: '',
        kind: this.featureKind.CHECK
    }
    featureKindSelectDisabled = false
    featureKindSelectItems: { text: string; value: string }[] = [
        {
            text: 'Чекбокс',
            value: this.featureKind.CHECK
        },
        {
            text: 'Радиокнопка',
            value: this.featureKind.RADIO
        },
        {
            text: 'Число',
            value: this.featureKind.NUMBER
        },
        {
            text: 'Группа',
            value: this.featureKind.GROUP
        }
    ]
    featureGroupsList: Feature[] = []

    get categoryId() {
        if (this.$route && this.$route.query.categoryId) {
            return this.$route.query.categoryId
        } else {
            return this.model.category
        }
    }

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        if (this.$route.params.id !== 'new') {
            const featureEditRes = await this.$axios.get(
                `/feature/edit/${this.$route.params.id}`
            )

            this.model = { ...this.model, ...featureEditRes.data }

            if (
                this.model.kind === this.featureKind.CHECK ||
                this.model.kind === this.featureKind.RADIO
            ) {
                this.featureKindSelectItems = [
                    {
                        text: 'Чекбокс',
                        value: this.featureKind.CHECK
                    },
                    {
                        text: 'Радиокнопка',
                        value: this.featureKind.RADIO
                    }
                ]
            } else {
                this.featureKindSelectDisabled = true
            }
        } else {
            if (!this.categoryId) {
                this.$router.push('/admin/features')
            }

            const categoryRes = await this.$axios.get(
                `/category/${this.categoryId}`
            )

            if (categoryRes.data === null || categoryRes.data.length === 0) {
                this.$router.push('/admin/features')
            }
            this.model.category = categoryRes.data.id
        }

        const featureGroupsRes = await this.$axios.get(
            `/feature/groups?categoryId=${this.model.category}`
        )

        this.featureGroupsList = [
            {
                name: 'Нет',
                id: null
            },
            ...featureGroupsRes.data.filter(
                (x: Feature) => x.id !== this.model.id
            )
        ]

        this.$nextTick(() => {
            this.loading = false
        })
    }

    onSubmit() {
        this.$axios.post('/feature/edit', this.model).then(() => {
            this.$router.push(`/admin/features?categoryId=${this.categoryId}`)
        })
    }
}
</script>
