<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <template
                v-if="
                    categoryTree &&
                        categoryTree.length &&
                        !$route.query.categoryId
                "
            >
                <v-treeview :items="categoryTree" open-all>
                    <template slot="label" slot-scope="{ item }">
                        <nuxt-link
                            :to="`/admin/features?categoryId=${item.id}`"
                            nuxt
                            @click="fetchCategoryFeatures"
                        >
                            {{ item.name }}
                        </nuxt-link>
                    </template>
                </v-treeview>
            </template>
            <template
                v-if="
                    categoryTree &&
                        !categoryTree.length &&
                        !$route.query.categoryId
                "
            >
                Категорий нет,
                <nuxt-link to="/admin/categories/new">
                    создайте категорию </nuxt-link
                >.
            </template>
            <template v-if="featureTree && $route.query.categoryId">
                <div class="d-flex flex-wrap justify-end">
                    <v-btn class="mx-1 my-1" :to="`/admin/features`" nuxt>
                        Выбрать другую категорию
                    </v-btn>
                    <v-spacer />
                    <v-btn
                        class="mx-1 my-1"
                        :to="
                            `/admin/features/new?categoryId=${$route.query.categoryId}`
                        "
                        color="primary"
                        nuxt
                    >
                        Создать характеристику
                    </v-btn>
                    <v-btn
                        class="mx-1 my-1"
                        color="primary"
                        text
                        icon
                        @click="allowToDelete = !allowToDelete"
                    >
                        <v-icon>
                            {{ allowToDelete ? 'lock_open' : 'lock' }}
                        </v-icon>
                    </v-btn>
                </div>
            </template>
            <template
                v-if="
                    featureTree && featureTree.length && $route.query.categoryId
                "
            >
                <v-treeview :items="featureTree" open-all>
                    <template slot="label" slot-scope="{ item }">
                        {{ item.name }}
                        <span class="caption">
                            [{{ getFeatureKindLabel(item.kind) }}]
                        </span>
                        <v-btn
                            class="mr-2"
                            :to="`/admin/features/${item.id}`"
                            color="primary"
                            nuxt
                            text
                            icon
                        >
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn
                            v-if="allowToDelete"
                            color="primary"
                            text
                            icon
                            @click="startDeleteDialog(item)"
                        >
                            <v-icon>delete_forever</v-icon>
                        </v-btn>
                    </template>
                </v-treeview>
            </template>
            <template
                v-if="
                    featureTree &&
                        !featureTree.length &&
                        $route.query.categoryId
                "
            >
                У категории
                {{ selectedCategory ? `"${selectedCategory.name}" ` : '' }}нет
                характеристик.
            </template>
            <v-dialog v-model="showDeleteDialog" persistent>
                <v-card>
                    <v-card-title class="headline">
                        Точно удалить характеристику?
                    </v-card-title>
                    <v-card-text>
                        Вместе с характеристикой
                        <template
                            v-if="featureToDelete && featureToDelete.name"
                        >
                            <b>"{{ featureToDelete.name }}"</b>
                        </template>
                        удалятся:<br />
                        все значения этой характеристики.
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn
                            :disabled="disableDeleteDialog"
                            color="primary"
                            @click="acceptDeliting"
                        >
                            Удалить
                        </v-btn>
                        <v-btn
                            :disabled="disableDeleteDialog"
                            @click="cancelDeleting"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'

/* eslint-disable */
//export enum FeatureKind {
//    CHECK = 'CHECK',
//    RADIO = 'RADIO',
//    NUMBER = 'NUMBER',
//    GROUP = 'GROUP'
//}

interface Feature {
    id?: string,
    category: string,
    parentFeature: string,
    name: string,
    kind: string //FeatureKind
}

interface FeatureTreeNode extends Feature {
    children?: FeatureTreeNode[]
}

interface Category {
    id?: string,
    name: string,
    description: string,
    parentCategory: string | null,
    id1C?: string,
    parentId1C?: string
}

interface CategoryTreeNode extends Category {
    children?: CategoryTreeNode[]
}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Характеристики')
            resolve()
        })
    }
})
export default class AtvAdminFeaturesPage extends Vue {
    loading = true
    categoryTree: CategoryTreeNode[] = []
    featureTree: FeatureTreeNode[] = []
    allowToDelete = false
    selectedCategory: Category | null = null
    showDeleteDialog = false
    featureToDelete: Feature | null = null
    disableDeleteDialog = false
    featureKind = {
        CHECK: 'CHECK',
        RADIO: 'RADIO',
        NUMBER: 'NUMBER',
        GROUP: 'GROUP'
    }

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        await this.fetchCategoryFeatures()

        const categoryTreeRes = await this.$axios.get('/category/tree')

        this.categoryTree = categoryTreeRes.data
        this.$nextTick(() => {
            this.loading = false
        })
    }

    @Watch('$route.query.categoryId')
    async onSelectedCategorySet(newVal: string) {
        await this.fetchCategoryFeatures()
        if (!newVal) {
            this.$store.commit('page/setTitle', 'Характеристики')
        }
    }

    async fetchCategoryFeatures() {
        if (this.$route.query.categoryId) {
            const featureTreeRes = await this.$axios
                .get(`/feature/tree?categoryId=${this.$route.query.categoryId}`)
                .catch(() => {
                    this.$router.push('/admin/features')
                })
            if (featureTreeRes && featureTreeRes.data) {
                this.featureTree = featureTreeRes.data

                const categotyRes = await this.$axios.get(
                    `/category/${this.$route.query.categoryId}`
                )

                this.selectedCategory = categotyRes.data
                this.$store.commit(
                    'page/setTitle',
                    `Характеристики категории "${categotyRes.data.name}"`
                )
            }
        }
    }

    getFeatureKindLabel(kind: string) {
        let label = ''

        switch (kind) {
            case this.featureKind.CHECK:
                label = 'Чекбокс'
                break

            case this.featureKind.RADIO:
                label = 'Радио'
                break

            case this.featureKind.NUMBER:
                label = 'Число'
                break

            case this.featureKind.GROUP:
                label = 'Группа'
                break

            default:
                label = ''
                break
        }

        return label
    }

    startDeleteDialog(feature: Feature) {
        this.showDeleteDialog = true
        this.featureToDelete = feature
    }

    acceptDeliting() {
        if (this.featureToDelete) {
            this.disableDeleteDialog = true
            this.$axios
                .delete(`/feature/edit/${this.featureToDelete.id}`)
                .then(async () => {
                    await this.fetchCategoryFeatures()
                    this.showDeleteDialog = false
                    this.disableDeleteDialog = false
                })
        }
    }

    cancelDeleting() {
        this.featureToDelete = null
        this.showDeleteDialog = false
    }
}
</script>
