<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый тип объектов БД
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- db_object_name_singular -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Имя объекта (в ед.числе)
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.db_object_name_singular"
            :state="form.errors.has('db_object_name_singular') ? false : null"
            name="db_object_name_singular"
          />
          <has-error
            :form="form"
            field="db_object_name_singular"
          />
        </div>
      </div>

      <!-- db_object_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Имя объекта (в мн.числе)
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.db_object_name"
            :state="form.errors.has('db_object_name') ? false : null"
            name="db_object_name"
          />
          <has-error
            :form="form"
            field="db_object_name"
          />
        </div>
      </div>

      <!-- db_table_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Имя таблицы в БД
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.db_table_name"
            :state="form.errors.has('db_table_name') ? false : null"
            name="db_table_name"
          />
          <has-error
            :form="form"
            field="db_table_name"
          />
        </div>
      </div>

      <!-- db_object_id_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Имя поля в БД с первичным ключом
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.db_object_id_name"
            :state="form.errors.has('db_object_id_name') ? false : null"
            name="db_object_id_name"
          />
          <has-error
            :form="form"
            field="db_object_id_name"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый тип объектов БД' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    db_object_name_singular: '',
    db_object_name: '',
    db_table_name: '',
    db_object_id_name: '',
    description: ''
  })

  async create() {
    await this.form.post(`/api/v1/db-object-types/`)

    this.$router.replace({
      name: 'db-object-types'
    })
  }

}
</script>
