<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый Mqtt-сервер
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- ip_address -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Адрес
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.ip_address"
            :state="form.errors.has('ip_address') ? false : null"
            name="ip_address"
          />
          <has-error
            :form="form"
            field="ip_address"
          />
        </div>
      </div>

      <!-- login -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Логин
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.login"
            :state="form.errors.has('login') ? false : null"
            name="login"
          />
          <has-error
            :form="form"
            field="login"
          />
        </div>
      </div>

      <!-- password -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Пароль
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.password"
            :state="form.errors.has('password') ? false : null"
            name="password"
          />
          <has-error
            :form="form"
            field="password"
          />
        </div>
      </div>

      <!-- ssl_certificate -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          SSL сертификат
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.ssl_certificate"
            :state="form.errors.has('ssl_certificate') ? false : null"
            name="ssl_certificate"
          />
          <has-error
            :form="form"
            field="ssl_certificate"
          />
        </div>
      </div>

      <!-- web_socket_address -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Веб-сокет
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.web_socket_address"
            :state="form.errors.has('web_socket_address') ? false : null"
            name="web_socket_address"
          />
          <has-error
            :form="form"
            field="web_socket_address"
          />
        </div>
      </div>

      <!-- http_url -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Веб-адрес
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.http_url"
            :state="form.errors.has('http_url') ? false : null"
            name="http_url"
          />
          <has-error
            :form="form"
            field="http_url"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый Mqtt-сервер' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    ip_address: '',
    login: '',
    password: '',
    ssl_certificate: '',
    web_socket_address: '',
    http_url: '',
    description: ''
  })

  async create() {
    await this.form.post(`/api/v1/metrics/mqtt-servers`)

    this.$router.replace({
      name: 'metrics.mqtt-servers'
    })
  }

}
</script>
