<template>
  <div id="app">
    <loading ref="loading" />
    <transition
      name="page"
      mode="out-in"
    >
      <component
        :is="layout"
        v-if="layout"
      />
    </transition>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Loading from './Loading.vue'

// Load layout components dynamically.
const requireContext = require.context('~/layouts', false, /.*\.vue$/)
const layouts = requireContext.keys()
  .map(file =>
    [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]
  )
  .reduce((
    components: { [componentName: string]: Vue },
    [name, component]: [string, { default: Vue } | Vue]
  ) => {
    if ('default' in component) {
      components[name] = component.default
    } else {
      components[name] = component
    }

    return components
  }, {})

@Component({
  metaInfo() {
    const appName = (window as any).config.appName

    return {
      title: appName,
      titleTemplate: `%s · ${appName}`
    }
  },
  components: {
    Loading
  }
})
export default class App extends Vue {
  layout: Vue | null = null
  defaultLayout = 'default'

  mounted() {
    this.$loading = this.$refs.loading as Loading
  }

  /**
   * Set the application layout.
   *
   * @param {String} layout
   */
  setLayout(layout: string) {
    if (!layout || !layouts[layout]) {
      layout = this.defaultLayout
    }
    this.layout = layouts[layout]
  }
}
</script>

<style lang="scss">
#app {
  height: 100%;
}
</style>
