<template>
  <div
    class="odtn-autocomplete flex-grow-1 immersive-form"
    :class="{
      'odtn-autocomplete_loading': loading
    }"
    @dblclick="onDblclick"
  >
    <b-form-input
      :class="inputClass"
      :name="inputName"
      :disabled="disabled"
      :placeholder="placeholder"
      :autocomplete="autocomplete"
      :state="state"
      :value="value"
      @input="onInputInput"
      @keydown="onInputKeydown"
      @keyup="onInputKeyup"
      @focus="onInputFocus"
      @blur="onInputBlur"
    />
    <div
      v-if="inputFocused && suggestionsVisible"
      class="odtn-autocomplete__suggestions"
    >
      <template v-if="suggestions.length > 0">
        <div
          v-for="(suggestion, index) in suggestions"
          :key="`suggestion_${index}`"
          :class="[
            'odtn-autocomplete__suggestions-item',
            {
              'odtn-autocomplete__suggestions-item_current': index === suggestionIndex,
            },
          ]"
          @mousedown="onSuggestionClick(index)"
        >
          <slot
            name="start-of-item"
            :suggestion="suggestion"
          />
          <highlighter
            :search-words="value.split(' ')"
            :auto-escape="true"
            :text-to-highlight="suggestion[lookupField]"
            :highlight-class-name="highlightClassName"
            :unhighlight-class-name="unhighlightClassName"
            :highlight-tag="highlightTag"
          />
          <slot
            name="end-of-item"
            :suggestion="suggestion"
          />
        </div>
      </template>
      <template v-if="suggestions.length === 0">
        <div class="odtn-autocomplete__suggestions-empty">
          <slot name="start-of-empty" />
          <small>
            Ничего не найдено
          </small>
          <slot name="end-of-empty" />
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import Highlighter from 'vue-highlight-words'
import debounce from '~/decorators/debounce'

@Component({
  components: {
    Highlighter
  }
})
export default class Autocomplete extends Vue {
  @Prop(String)
  readonly placeholder?: string

  @Prop(Boolean)
  readonly autoload?: boolean

  @Prop({ type: String, default: 'off' })
  readonly autocomplete?: string

  @Prop(Boolean)
  readonly disabled?: boolean

  @Prop(String)
  readonly inputName?: string

  @Prop(String)
  readonly inputClass?: string

  @Prop({ validator: prop => typeof prop === 'string' || prop === null, required: true })
  readonly value!: string

  @Prop(String)
  readonly highlightClassName?: string

  @Prop(String)
  readonly unhighlightClassName?: string

  @Prop({ type: String, default: 'mark' })
  readonly highlightTag?: string

  @Prop({ type: Function, required: true })
  readonly lookupFunction!: () => Promise<({ [key: string]: string } & { value?: string })[]>

  @Prop({ type: String, default: 'value' })
  readonly lookupField!: string

  @Prop({ validator: prop => typeof prop === 'boolean' || prop === null, default: null })
  readonly state?: boolean | null

  inputFocused = false
  suggestions: ({ [key: string]: string } & { value?: string })[] = []
  suggestionIndex = -1
  suggestionsVisible = false
  loading = false

  async created() {
    if (this.autoload) {
      this.suggestions = await this.fetchSuggestions()
    }
  }

  async fetchSuggestions() {
    this.loading = true

    const suggestions = await this.lookupFunction()
      .finally(() => {
        this.loading = false
      })

    return suggestions
  }

  async onInputFocus() {
    this.$emit('focus')
    this.inputFocused = true
    if (this.suggestionsVisible) {
      this.suggestions = await this.fetchSuggestions()
    }
  }

  onInputBlur() {
    this.$emit('blur')
    this.inputFocused = false
  }

  onInputInput(value: string) {
    this.$emit('input', value)
    this.makeSuggestion()
  }

  @debounce(300)
  async makeSuggestion() {
    this.suggestions = await this.fetchSuggestions()
    this.suggestionsVisible = true
  }

  async selectSuggestion(index: number) {
    if (this.suggestions?.length >= index - 1) {
      this.$emit('input', this.suggestions[index][this.lookupField])
      this.$emit('select', this.suggestions[index])
      this.suggestionsVisible = false
      await this.$nextTick()
      this.suggestions = await this.fetchSuggestions()
      this.suggestionIndex = -1
    }
  }

  onInputKeyup(event: KeyboardEvent) {
    const ESC = 27

    if (event.which === ESC && this.suggestionsVisible) {
      this.suggestionsVisible = false
    }
  }

  async onInputKeydown(event: KeyboardEvent) {
    const ARROW_DOWN = 40
    const ARROW_UP = 38
    const ENTER = 13

    if ((event.which === ARROW_DOWN || event.which === ARROW_UP) && !this.suggestionsVisible) {
      this.suggestions = await this.fetchSuggestions()
      this.suggestionsVisible = true
    } else if (event.which === ARROW_DOWN && this.suggestionsVisible) {
      event.preventDefault()
      if (this.suggestionIndex < this.suggestions.length - 1) {
        this.suggestionIndex = this.suggestionIndex + 1
      } else if (this.suggestionIndex === this.suggestions?.length - 1) {
        this.suggestionIndex = -1
      }
    } else if (event.which === ARROW_UP && this.suggestionsVisible) {
      event.preventDefault()
      if (this.suggestionIndex >= 0) {
        this.suggestionIndex = this.suggestionIndex - 1
      } else if (this.suggestionIndex === -1) {
        this.suggestionIndex = this.suggestions.length - 1
      }
    } else if (event.which === ENTER) {
      event.preventDefault()
      if (this.suggestionIndex >= 0) {
        await this.selectSuggestion(this.suggestionIndex)
      }
    }
  }

  async onSuggestionClick(index: number) {
    await this.selectSuggestion(index)
  }

  async onDblclick() {
    if (this.suggestions?.length) {
      this.suggestions = await this.fetchSuggestions()
      this.suggestionsVisible = true
    }
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.input-group > .immersive-form {
  width: 1%;
}

.odtn-autocomplete {
  position: relative;
  &_loading {
    input {
      padding-right: 34px;
    }
    &:after {
      animation: autocompleteSpinAround 500ms infinite linear;
      border: 2px solid theme-color('primary');
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: '';
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      right: 10px;
      top: calc(50% - (1em / 2));
    }
  }
  &__suggestions {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: $input-border-width solid $input-border-color;
    &-item {
      padding: 6px 12px;
      border-top: 1px dotted $input-border-color;
      cursor: pointer;
      &:first-child {
        border-top: none;
      }
      @include hover-focus() {
        @include gradient-bg(darken($dropdown-link-hover-bg, 10%));
      }
      &-highlight {
        @include gradient-bg(darken($dropdown-link-hover-bg, 10%));
      }
      &_current {
        @include gradient-bg(darken($dropdown-link-hover-bg, 10%));
      }
      mark {
        padding: 0.2em 0;
      }
    }
    &-empty {
      padding: 6px 12px;
    }
  }
}

@keyframes autocompleteSpinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
</style>
