<template>
  <b-dropdown
    id="dropdown-types"
    class="odtn-checkbox-dropdown"
    :text="dropdownName"
    variant="primary"
  >
    <li class="mx-1">
      <b-form-checkbox
        class="m-1"
        :checked="allChecked"
        :indeterminate="indeterminate"
        @change="onAllCheckedCheckboxChange"
      >
        <slot name="all-title" />
      </b-form-checkbox>
    </li>
    <b-dropdown-group class="mr-1 ml-3">
      <li
        v-for="option in options"
        :key="option[valueFieldName]"
      >
        <b-form-checkbox
          class="m-1"
          :checked="value.includes(option[valueFieldName])"
          :disabled="option[disabledFieldName]"
          @change="onOptionCheckboxChange($event, option[valueFieldName])"
        >
          <slot
            :option="option"
            name="item-title"
          >
            {{ option[textFieldName] }}
          </slot>
        </b-form-checkbox>
      </li>
    </b-dropdown-group>
  </b-dropdown>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

type CheckboxListOption =
& {
  text: string
  value: any
  disabled: boolean
}
& {
  [key: string]: any
}
& {
  [key: number]: any
}

@Component
export default class CheckBoxDropdownList extends Vue {
  @Prop(String)
  readonly dropdownName?: string

  @Prop({ type: Array, required: true })
  readonly options!: CheckboxListOption[]

  @Prop({ type: String, default: 'text'})
  readonly textFieldName: string

  @Prop({ type: String, default: 'value'})
  readonly valueFieldName: string

  @Prop({ type: String, default: 'disabled'})
  readonly disabledFieldName: string

  @Prop({ type: Array, default: () => [] })
  readonly value: any[]

  get allChecked() {
    return this.value.length === this.options.length
  }

  get indeterminate() {
    return this.value.length < this.options.length
      && this.value.length !== 0
  }

  onAllCheckedCheckboxChange(value: boolean) {
    if (value) {
      this.$emit('input', this.options.map(option => option[this.valueFieldName as 'value']))
    } else {
      this.$emit('input', [])
    }
  }

  onOptionCheckboxChange(value: boolean, optionValue: any) {
    if (value) {
      this.$emit('input', [...this.value, optionValue])
    } else {
      this.$emit('input', [...this.value.filter(item => item !== optionValue)])
    }
  }

}
</script>
