<template>
  <multiselect 
    v-model="multiselected" 
    :options="options" 
    :multiple="true" 
    select-label="Выбрать"
    selected-label="Выбрано"
    deselect-label="Убрать выбранное"
    :close-on-select="false"
    :clear-on-select="false"
    :placeholder="placeholderName ? placeholderName : 'Поиск'" 
    track-by="name" 
    label="name"
    @input="updateModel"
  >
    <span slot="noResult">
      Не найдено фильтров
    </span>
    <li 
      v-if="multiselected.length > 0"
      slot="beforeList"
      class="multiselect__element"
      @click="clearModel"
    >
      <span 
        class="multiselect__option deselect_all"
      >
        <span>Очистить выбор</span>
      </span>
    </li>
  </multiselect>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import Multiselect from 'vue-multiselect'

type CheckboxListOption =
& {
  text: string
  value: any
  disabled: boolean
}
& {
  [key: string]: any
}
& {
  [key: number]: any
}

@Component({
  components: { Multiselect }
})
export default class CheckBoxFiltered extends Vue {
  multiselected: any = []

  @Prop(String)
  readonly placeholderName?: string

  @Prop({ type: Array, required: true })
  readonly options!: CheckboxListOption[]

  @Prop({ type: Array, default: () => [] })
  readonly value: any[]

  created() {
    for (let id = 0; id < this.value.length; id++) {
      this.multiselected.push(this.options.find(opt => opt.id === this.value[id]))
    }
  }

  clearModel() {
    this.multiselected = []
    this.updateModel()
  }

  updateModel() {
    let idsArray = []
    for (let opt in this.multiselected) {
      idsArray.push(this.multiselected[opt].id)
    }
    this.$emit('input', idsArray)
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
  .multiselect__tag {
    background-color: #007bff;
  }
  .deselect_all {
    font-weight: bold;
  }
  .deselect_all:hover {
    background-color: #007bff;
    color: #fff;
  }
</style>
