<template>
  <transition
    name="page"
    mode="out-in"
  >
    <slot>
      <router-view />
    </slot>
  </transition>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class Child extends Vue {}
</script>
