<template>
  <div
    :id="id"
    class="blueimp-gallery blueimp-gallery-controls"
  >
    <div class="slides" />
    <div class="footer">
      <button
        type="button"
        @click="saveImage()"
      >
        <span>
          Скачать
        </span>
        <fa
          icon="file-download"
          fixed-width
          style="font-size:20px; color: #fff"
        />
      </button>
    </div>
    <a class="prev">
      <slot name="prev">
        ‹
      </slot>
    </a>
    <a class="next">
      <slot name="next">
        ›
      </slot>
    </a>
    <a class="close">
      <slot name="close">
        ×
      </slot>
    </a>
    <ol class="indicator" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import blueimp from 'blueimp-gallery/js/blueimp-gallery.js'
import 'blueimp-gallery/css/blueimp-gallery.min.css'
import 'blueimp-gallery/js/blueimp-gallery-fullscreen.js'
import 'blueimp-gallery/js/blueimp-gallery-video.js'
import 'blueimp-gallery/js/blueimp-gallery-youtube.js'

@Component
export default class Gallery extends Vue {
  @Prop({ type: Array, required: true })
  readonly imageLinks!: string[]

  @Prop({ type: Array })
  downloadLinks?: string[]

  @Prop(Number)
  readonly index?: number

  @Prop({ type: Object, default: () => { return {} } })
  readonly options?: object

  @Prop({ type: String, default: 'blueimp-gallery'})
  readonly id?: string

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  instance: any = null

  @Watch('index')
  indexWatch(value: number) {
    if (value !== null) {
      this.open(value)
    } else {
      if (this.instance) {
        this.instance.close()
      }
      this.$emit('close')
    }
  }

  destroyed() {
    if (this.instance !== null) {
      this.instance.destroyEventListeners()
      this.instance.close()
      this.instance = null
    }
  }

  open(index = 0) {
    const instance = typeof blueimp.Gallery !== 'undefined' ? blueimp.Gallery : blueimp

    const options = Object.assign({
      toggleControlsOnReturn: false,
      toggleControlsOnSlideClick: false,
      closeOnSlideClick: false,
      container: `#${this.id}`,
      index,
      onopen: () => this.$emit('onopen'),
      onopened: () => this.$emit('onopened'),
      onclose: () => this.$emit('close'),
      onclosed: () => this.$emit('onclosed')
    }, this.options)

    this.instance = instance(this.imageLinks, options)
  }

  saveImage() {
    const index: number = this.instance?.index
    const link = document.createElement('a')

    link.href = this.downloadLinks?.length
      ? this.downloadLinks[index]
      : this.imageLinks[index]
    link.download = `Download${index}.jpg`
    document.body.appendChild(link)
    link.click()
    document.body.removeChild(link)
  }
}

</script>

<style>
  .blueimp-gallery > .footer > button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
    outline:none;
    background-color: rgba(0,0,0,.5);
    opacity: .5;
    cursor: pointer;
  }
  .blueimp-gallery > .close {
    background: none;
    color: #fff;
    font-size: 40px;
  }
  .blueimp-gallery > .prev, .blueimp-gallery > .next {
    color: #fff;
    background: none;
    font-size: 72px;
    text-align: center;
    line-height: 0px;
    width: auto;
    padding: 10px 8px 10px 12px;
    border: none;

  }
  .blueimp-gallery > .footer > button:hover {
    color: #fff;
    opacity: 1;
  }
  .blueimp-gallery > .footer > button > span {
    color: #fff;
    font-size: 20px;
  }
  .blueimp-gallery-controls > .description {
    display: block;
  }
</style>
