<template>
  <svg
    class="odtn-gauge"
    :width="size"
    :height="gaugeHeight"
  >
    <defs>
      <linearGradient id="Gradient">
        <stop
          stop-color="green"
          offset="0%"
        />
        <stop
          stop-color="orange"
          offset="75%"
        />
        <stop
          stop-color="red"
          offset="100%"
        />
      </linearGradient>
    </defs>
    <g
      v-if="!hideAxis"
      class="odtn-gauge__axis"
      :transform="arcAxisAttrTransform"
    >
      <path
        class="odtn-gauge__domain"
        :d="domainAttrD"
      />
      <path
        v-for="(segment, segmentIndex) in segmentsWithDefault"
        :key="'segmentIndex_' + segmentIndex"
        class="odtn-gauge__segment"
        :d="segmentAttrD(segment)"
        :style="segmentAttrStyle(segment)"
      />
      <template v-for="(majorTick, majorTickIndex) in scale.ticks()">
        <g
          v-if="variant !== 'round'
            || (variant === 'round'
              && majorTickIndex !== scale.ticks().length - 1)"
          :key="'majorTick_' + majorTickIndex"
          class="
            odtn-gauge__tick
            odtn-gauge__tick_major
          "
          :transform="majorTickAttrTranform(majorTick)"
        >
          <line
            :y2="majorTickLength"
            x2="0"
            :style="majorTickAttrStyle"
          />
          <text
            :transform="majorTickTextAttrTransform(majorTick)"
            :style="majorTickTextAttrStyle(majorTick)"
          >
            {{ majorTick }}
          </text>
        </g>
      </template>
      <line
        v-for="(minorTick, minorTickIndex) in subticks"
        :key="'minorTick_' + minorTickIndex"
        class="
          odtn-gauge__tick
          odtn-gauge__tick_minor
        "
        :transform="majorTickAttrTranform(minorTick)"
        :y2="minorTickLength"
        x2="0"
        :style="minorTickAttrStyle"
      />
    </g>
    <g
      class="odtn-gauge__indicator"
      :transform="indicatoreAttrTransform"
    >
      <text
        v-if="!hideValue"
        class="odtn-gauge__value-text"
        :transform="valueTextAttrTransform"
      >
        {{ valuePrefix }}
        {{ value }}
        {{ valueSuffix }}
      </text>
      <g
        v-if="!hideArrow"
        class="odtn-gauge__arrow"
        :transform="arrowAttrTransform"
      >
        <path :d="arrowPathAttrD" />
        <circle r="4" />
      </g>
      <path
        v-if="scaleWidth > 0"
        ref="scaleBg"
        class="odtn-gauge__scale-bg"
        :fill="withGradient
          ? 'url(#Gradient)'
          : '#007bff'"
      />
      <path
        v-if="scaleWidth > 0"
        ref="scale"
        class="odtn-gauge__scale"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import * as d3 from 'd3'

type GaugeSegment = {
  start: number
  end: number
  color: string
}

@Component
export default class Gauge extends Vue {
  @Prop({ default: 100 })
  readonly size!: number

  @Prop({ default: 0 })
  readonly min!: number

  @Prop({ default: 1 })
  readonly max!: number

  @Prop({ default: () => [] })
  readonly segments!: GaugeSegment[]

  @Prop({ default: 2 })
  readonly domainWidth!: number

  @Prop({ default: 10 })
  readonly majorTickLength!: number

  @Prop({ default: 5 })
  readonly minorTickLength!: number

  @Prop({ default: 2 })
  readonly majorTickWidth!: number

  @Prop({ default: 1 })
  readonly minorTickWidth!: number

  @Prop({ default: 0 })
  readonly scaleWidth!: number

  @Prop({ default: 'ometer' })
  readonly variant!: 'ometer' | 'half' | 'round'

  @Prop({ default: 0 })
  readonly value!: number

  @Prop()
  readonly valuePrefix?: string

  @Prop()
  readonly valueSuffix?: string

  @Prop()
  readonly hideAxis?: boolean

  @Prop()
  readonly hideValue?: boolean

  @Prop()
  readonly hideArrow?: boolean

  @Prop({ default: false })
  readonly withGradient!: boolean

  // tickMajorSize = 6
  // tickMinorSize = 4
  // tickEndSize = 6
  // tickPadding = 3

  scale = d3
    .scaleLinear()
    .domain([this.min, this.max])
    .range(this.arcAngles)
  scaleBgArc = d3
    .arc()
    .innerRadius(this.domainOuterRadius + 0.5)
    .outerRadius(this.domainOuterRadius + this.scaleWidth - 0.5)
    .endAngle(this.arcAngles[1])
  scaleBgArcPath: d3.Selection<SVGPathElement, unknown, null, undefined> | null = null
  scaleArc = d3
    .arc()
    .innerRadius(this.domainOuterRadius)
    .outerRadius(this.domainOuterRadius + this.scaleWidth)
    .endAngle(this.arcAngles[1])
  scaleArcPath: d3.Selection<SVGPathElement, unknown, null, undefined> | null = null

  get gaugeHeight() {
    switch (this.variant) {
      case 'ometer':
        return this.size / 1.165
      case 'half':
        if (this.hideArrow) {
          return (this.size / 2) - (this.majorTickLength / 2)
        } else {
          return (this.size / 2) - (this.majorTickLength / 2) + 30
        }
      default:
        return this.size
    }
  }

  get arcAxisAttrTransform() {
    return `translate(${this.size / 2}, ${this.size / 2})`
  }

  get indicatoreAttrTransform() {
    return `translate(${this.size / 2}, ${this.size / 2})`
  }

  get domainOuterRadius() {
    if (this.scaleWidth > 0) {
      return this.size / 2 - this.scaleWidth
    } else {
      return this.size / 2
    }
  }

  get domainInnerRadius() {
    if (this.scaleWidth > 0) {
      return this.size / 2 - this.domainWidth - this.scaleWidth
    } else {
      return this.size / 2 - this.domainWidth
    }
  }

  get axisAttrWidth() {
    return this.size - (this.domainWidth / 2)
  }

  get axisAttrHeight() {
    return this.size - (this.domainWidth / 2)
  }

  get arcAngles() {
    switch (this.variant) {
      case 'ometer':
        return [-3 * Math.PI / 4, 3 * Math.PI / 4]
      case 'half':
        return [-Math.PI / 2, Math.PI / 2]
      default:
        return [-Math.PI, Math.PI]
    }
  }

  get domainAttrD() {
    return d3
      .arc()({
        startAngle: this.arcAngles[0],
        endAngle: this.arcAngles[1],
        innerRadius: this.domainInnerRadius,
        outerRadius: this.domainOuterRadius
      })
  }

  get majorTickAttrStyle() {
    return `stroke-width: ${this.majorTickWidth};`
  }

  get minorTickAttrStyle() {
    return `stroke-width: ${this.minorTickWidth};`
  }

  get subticks() {
    const ticks = this.scale.ticks()
    let  m = 9
    const subticks: number[] = []

    if (m && ticks.length > 1) {
      const extent = [this.min, this.max]
      let i = -1
      const n = ticks.length
      const d = (ticks[1] - ticks[0]) / ++m
      let j
      let v

      while (++i < n) {
        for (j = m; --j > 0; ) {
          if ((v = +ticks[i] - j * d) >= extent[0]) {
            subticks.push(v)
          }
        }
      }
      for (--i, j = 0; ++j < m && (v = +ticks[i] + j * d) < extent[1]; ) {
        subticks.push(v)
      }
    }
    return subticks
  }

  get arrowPathAttrD() {
    if (this.scaleWidth > 0) {
      return `M0 24 L 0 -${(this.size / 2) - (this.majorTickLength / 2) - this.scaleWidth}`
    } else {
      return `M0 24 L 0 -${(this.size / 2) - (this.majorTickLength / 2)}`
    }
  }

  get arrowAttrTransform() {
    let valueToConvert: number

    if (!this.value || this.value <= this.min) {
      valueToConvert = this.min
    } else if (this.value >= this.max) {
      valueToConvert = this.max
    } else {
      valueToConvert = this.value
    }

    return `rotate(${180 / Math.PI * this.scale(valueToConvert)})`
  }

  get valueTextAttrTransform() {
    switch (this.variant) {
      case 'ometer':
        return `translate(0, 50)`
      case 'half':
        return `translate(0, -40)`
      default:
        return `translate(0, 60)`
    }
  }

  get segmentsWithDefault(): GaugeSegment[] {
    return [
      {
        start: this.min,
        end: this.max,
        color: 'limegreen'
      },
      ...this.segments
    ]
  }

  created() {
    this.validateSegments()
  }

  mounted() {
    if (this.scaleWidth > 0) {
      let initialValue = this.value

      if (initialValue > this.max) {
        initialValue = this.max
      } else if (initialValue < this.min) {
        initialValue = this.min
      }

      this.scaleBgArcPath = d3
        .select(this.$refs.scaleBg as SVGPathElement)
        .datum({ startAngle: this.scale(this.min) })
        .attr('d', this.scaleBgArc)

      this.scaleArcPath = d3
        .select(this.$refs.scale as SVGPathElement)
        .datum({ startAngle: this.scale(initialValue) })
        .attr('d', this.scaleArc)
    }
  }

  @Watch('value')
  watchValue(newValue: number) {
    if (this.scaleWidth > 0) {
      if (newValue > this.max) {
        newValue = this.max
      } else if (newValue < this.min) {
        newValue = this.min
      }

      this.scaleArcPath
        ?.transition()
        .ease(d3.easeCubicInOut)
        .duration(1000)
        .attrTween('d', this.arcTween(this.scale(newValue)))
    }
  }

  // Returns a tween for a transition’s "d" attribute, transitioning any selected
  // arcs from their current angle to the specified new angle.
  arcTween(newAngle: number) {
    // The function passed to attrTween is invoked for each selected element when
    // the transition starts, and for each element returns the interpolator to use
    // over the course of transition. This function is thus responsible for
    // determining the starting angle of the transition (which is pulled from the
    // element’s bound datum, d.endAngle), and the ending angle (simply the
    // newAngle argument to the enclosing function).
    return (d: d3.DefaultArcObject) => {

      // To interpolate between the two angles, we use the default d3.interpolate.
      // (Internally, this maps to d3.interpolateNumber, since both of the
      // arguments to d3.interpolate are numbers.) The returned function takes a
      // single argument t and returns a number between the starting angle and the
      // ending angle. When t = 0, it returns d.endAngle; when t = 1, it returns
      // newAngle; and for 0 < t < 1 it returns an angle in-between.
      const interpolate = d3.interpolate(d.startAngle, newAngle)

      // The return value of the attrTween is also a function: the function that
      // we want to run for each tick of the transition. Because we used
      // attrTween("d"), the return value of this last function will be set to the
      // "d" attribute at every tick. (It’s also possible to use transition.tween
      // to run arbitrary code for every tick, say if you want to set multiple
      // attributes from a single function.) The argument t ranges from 0, at the
      // start of the transition, to 1, at the end.
      return (t: number) => {

        // Calculate the current arc angle based on the transition time, t. Since
        // the t for the transition and the t for the interpolate both range from
        // 0 to 1, we can pass t directly to the interpolator.
        //
        // Note that the interpolated angle is written into the element’s bound
        // data object! This is important: it means that if the transition were
        // interrupted, the data bound to the element would still be consistent
        // with its appearance. Whenever we start a new arc transition, the
        // correct starting angle can be inferred from the data.
        //d.startAngle = this.arcAngles[0]
        d.startAngle = interpolate(t)
        //d.innerRadius = this.domainOuterRadius
        //d.outerRadius = this.domainOuterRadius + 20

        // Lastly, compute the arc path given the updated data! In effect, this
        // transition uses data-space interpolation: the data is interpolated
        // (that is, the end angle) rather than the path string itself.
        // Interpolating the angles in polar coordinates, rather than the raw path
        // string, produces valid intermediate arcs during the transition.
        return this.scaleArc(d) as string
      }
    }
  }

  validateSegments() {
    let valid = true

    this.segments.some((segment) => {
      if (segment.start < this.min
        || segment.end > this.max) {
        valid = false
        console.error('Invalid prop "segments": One of gauge segments is out of min or max.')

        return true
      } else {
        return false
      }
    })

    return valid
  }

  segmentAttrD(segment: GaugeSegment) {
    return d3
      .arc()({
        startAngle: this.scale(segment.start),
        endAngle: this.scale(segment.end),
        innerRadius: this.domainInnerRadius - this.majorTickLength + this.domainWidth,
        outerRadius: this.domainInnerRadius
      })
  }

  segmentAttrStyle(segment: GaugeSegment) {
    if (segment.color) {
      return `fill: ${segment.color};`
    } else {
      return `fill: #000;`
    }
  }

  majorTickAttrTranform(tick: number) {
    const r = this.domainOuterRadius
    const x = this.scale
    const d = tick

    return `translate(${r * Math.sin(x(d))}, ${-r * Math.cos(x(d))})` +
      `rotate(${180 / Math.PI * x(d)})`
  }

  majorTickTextAttrTransform(tick: number) {
    const dr = 30//Math.max(this.tickMajorSize, 0) + this.tickPadding
    const x = this.scale
    const d = tick
    const a = x(d)

    return `rotate(${-180 / Math.PI * a})` +
      `translate(${-dr * Math.sin(a)}, ${dr * Math.cos(a)})`
  }

  majorTickTextAttrStyle(tick: number) {
    let style = ''
    const x = this.scale
    //let a = x(tick)
    const b = x(tick)

    // a = a < -Math.PI
    //   ? a += 2*Math.PI
    //   : a > Math.PI
    //     ? a -= 2*Math.PI
    //     : a
    // style += `text-anchor: ${a > -19*Math.PI/20 && a < -Math.PI/20
    //   ? 'end'
    //   : a < 19*Math.PI/20 && a > Math.PI/20
    //     ? 'start'
    //     : 'middle'};`
    style += 'text-anchor: middle;'
    //style += `baseline-shift: ${-80 * Math.pow(Math.sin(Math.abs(b/2)), 2)}%;`
    style += `baseline-shift: -30%;`

    return style
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.odtn-gauge {
  &__domain {
    fill: #000;
    stroke: none;
  }
  &__scale-bg {
    //fill: theme-color('primary');
  }
  &__scale {
    fill: darken(theme-color('light'), 10%);
  }
  &__segment {

  }
  &__tick {
    &_major {
      line {
        stroke: #000;
      }
      text {
        fill: #000;
        font-size: 14px;
        font-family: sans-serif;
        font-weight: normal;
      }
    }
    &_minor {
      stroke: #000;
    }
  }
  &__arrow {
    stroke: #EE3311;
    fill: #000;
    stroke-width: 4px;
    transition: transform 1s ease-in-out;
  }
  &__value-text {
    text-anchor: middle
  }
}
</style>
