<template>
  <div>
    <b-card
      class="mb-3"
      no-body
    >
      <template v-slot:header>
        Главное меню
      </template>
      <b-card-body class="p-0">
        <div
          v-if="mainMenu.length == 0"
          class="container p-4"
        >
          {{ $t('you_have_not_access') }}
        </div>
        <ul class="nav flex-column nav-pills">
          <li
            v-for="mainMenuItem in mainMenu"
            :key="mainMenuItem.route"
            class="nav-item"
          >
            <router-link
              :to="{ name: mainMenuItem.route }"
              class="nav-link"
              active-class="active"
            >
              <fa
                :icon="mainMenuItem.icon"
                fixed-width
                style="font-size: 16px"
              />&nbsp;{{ mainMenuItem.name }}
            </router-link>
          </li>
        </ul>
      </b-card-body>
    </b-card>
    <b-card
      class="mb-3"
      no-body
    >
      <template v-slot:header>
        Справочники
      </template>
      <b-card-body class="p-0">
        <div
          v-if="directoryMenu.length == 0"
          class="container p-4"
        >
          {{ $t('you_have_not_access') }}
        </div>
        <ul class="nav flex-column nav-pills">
          <template v-for="(directoryMenuGroup, directoryMenuGroupIndex) in directoryMenu">
            <li
              :key="'leftDirectoryMenuGroupToggler_' + directoryMenuGroup.name"
              class="nav-item"
            >
              <span
                v-b-toggle="'left-directory-menu-accordion-' + directoryMenuGroupIndex"
                class="nav-link"
              >
                <template v-if="directoryMenuGroup.icon">
                  <fa
                    :icon="directoryMenuGroup.icon"
                    fixed-width
                    style="font-size: 16px"
                  />&nbsp;</template>{{ directoryMenuGroup.name }}
              </span>
            </li>
            <b-collapse
              :id="'left-directory-menu-accordion-' + directoryMenuGroupIndex"
              ref="leftDirectoryMenuGroupCollapse"
              :key="'leftDirectoryMenuGroupCollapse_' + directoryMenuGroup.name"
              :visible="directoryMenuVisibleCollapseIndex === directoryMenuGroupIndex"
              accordion="leftDirectoryMenuAccordion"
              @show="onDirectoryMenuCollapseShow(directoryMenuGroupIndex)"
              @hidden="onDirectoryMenuCollapseHidden()"
            >
              <li
                v-for="directoryMenuItem in directoryMenuGroup.items"
                :key="directoryMenuItem.route"
                class="nav-item"
              >
                <router-link
                  :to="{ name: directoryMenuItem.route }"
                  class="nav-link"
                  active-class="active"
                >
                  <fa
                    :icon="directoryMenuItem.icon"
                    fixed-width
                    style="font-size: 16px"
                  />&nbsp;{{ directoryMenuItem.name }}
                </router-link>
              </li>
            </b-collapse>
          </template>
        </ul>
      </b-card-body>
    </b-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'

@Component
export default class LeftMenu extends Vue {
  store = useStore<RootModule>(this.$store)

  get mainMenu() {
    return this.store.mainMenu
  }

  get directoryMenu() {
    return this.store.directoryMenu
  }

  get directoryMenuVisibleCollapseIndex() {
    return this.store.auth.userConfigValue('directory-menu_visible-collapse-index')
  }

  onDirectoryMenuCollapseShow(value: string) {
    this.store.auth.updateUserConfig({ name: 'directory-menu_visible-collapse-index', value })
  }

  onDirectoryMenuCollapseHidden() {
    if ((this.$refs['leftDirectoryMenuGroupCollapse'] as (Vue & { show: boolean })[])
      .filter(collapse => collapse.show).length === 0) {
      this.store.auth.updateUserConfig({ name: 'directory-menu_visible-collapse-index', value: null })
    }
  }
}
</script>
