<template>
  <b-button
    v-if="githubAuth"
    class="btn btn-dark ml-auto"
    @click="login"
  >
    {{ $t('login_with') }}
    <fa :icon="['fab', 'github']" />
  </b-button>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'

interface OpenWindowOptions {
  url?: string
  title?: string
  left?: number
  top?: number
  width?: number
  height?: number
}

function openWindow(
  url: string | OpenWindowOptions,
  title: string = '',
  options: OpenWindowOptions = {}) {
  if (typeof url === 'object') {
    options = url
    url = ''
  }

  options = Object.assign({}, {...options}, { url, title, width: 600, height: 720 })

  const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : 0
  const dualScreenTop = window.screenTop !== undefined ? window.screenTop : 0
  const width = window.innerWidth || document.documentElement.clientWidth || window.screen.width
  const height = window.innerHeight || document.documentElement.clientHeight || window.screen.height

  if (options.width) {
    options.left = ((width / 2) - (options.width / 2)) + dualScreenLeft
  }

  if (options.height) {
    options.top = ((height / 2) - (options.height / 2)) + dualScreenTop
  }

  const optionsStr = Object.keys(options)
    .reduce((acc: string[], key) => {
      // @ts-ignore
      acc.push(`${key}=${options[key]}`)

      return acc
    }, [])
    .join(',')

  const newWindow = window.open(url, title, optionsStr)

  if (window.focus !== void 0 && newWindow) {
    newWindow.focus()
  }

  return newWindow
}

@Component
export default class LoginWithGithub extends Vue {
  store = useStore<RootModule>(this.$store)

  get githubAuth() {
    return (window as any).config.githubAuth
  }

  get url() {
    return `/api/oauth/github`
  }

  mounted() {
    window.addEventListener('message', this.onMessage, false)
  }

  beforeDestroy() {
    window.removeEventListener('message', this.onMessage)
  }

  async login() {
    const newWindow = openWindow('', this.$t('login') as string)
    const url = await this.store.auth.fetchOauthUrl({ provider: 'github' })

    if (newWindow) {
      newWindow.location.href = url
    }
  }

  onMessage(event: MessageEvent) {
    if (event.origin !== window.origin || !event.data.token) {
      return
    }

    this.store.auth.saveToken({ token: event.data.token })
    this.$router.push({ name: 'map' })
  }
}
</script>
