<template>
  <b-card body-class="pb-0">
    <template v-slot:header>
      Корзина
    </template>
    <div v-if="removedPhotos.length">
      <odtn-gallery
        id="removedPhotosGallery"
        :image-links="photoLinksForGallery"
        :download-links="photoDownloadLinksForGallery"
        :index="galleryIndex"
        @close="galleryIndex = null"
      />
      <template v-for="date in photosDates">
        <div
          v-if="Object.keys(getPhotosChunkedByUser(
            filterPhotosByDate(
              removedPhotos,
              date
            )
          )).length"
          :key="date"
        >
          <div class="mt-2 mb-3">
            <span class="bg-light border border-grey p-1 px-2 rounded"> {{ date }} </span>
          </div>
          <div
            v-for="(photosChunk, userId) in getPhotosChunkedByUser(
              filterPhotosByDate(
                removedPhotos,
                date
              )
            )"
            :key="userId"
          >
            <div
              v-if="photosChunk.length"
              class="mb-3"
            >
              Пользователь <b>{{ `${getUserById(userId).first_name} ${getUserById(userId).last_name}` }}</b>
              добавил
              {{ $tc('map_object.added_photo', photosChunk.length, { n: photosChunk.length }) }}:
            </div>
            <div class="row">
              <div
                v-for="(photo, index) in photosChunk"
                :key="photo.file"
                class="photo-container col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
              >
                <span @click="galleryIndex = index + getDateIndexOfPhotoDate(date, userId)">
                  <picture>
                    <source
                      media="(max-width: 767px)"
                      :srcset="`${removedPhotosStorageLink}file/${photo.filename}?size=medium&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 1x,
                                ${removedPhotosStorageLink}file/${photo.filename}?size=big&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 2x`"
                    >
                    <source
                      :srcset="`${removedPhotosStorageLink}file/${photo.filename}?size=min&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 1x,
                                ${removedPhotosStorageLink}file/${photo.filename}?size=medium&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 2x`"
                    >
                    <b-img-lazy
                      :src="`${removedPhotosStorageLink}file/${photo.filename}?size=medium&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId}`"
                      blank-height="200"
                      thumbnail
                      center
                      fluid
                    />
                  </picture>
                </span>
                <div v-if="photo.description">
                  <small v-html="photo.description.replace(/(?:\r\n|\r|\n)/g, '<br>')" />
                </div>
                <div class="photo-buttons">
                  <b-button
                    v-if="canRecoverAnyItems
                      || (canRecoverOwnItems
                        && photo.user_id === user.id)"
                    variant="success"
                    size="sm"
                    @click.stop="onRecoverPhotoClick(photo)"
                  >
                    <fa
                      icon="redo-alt"
                      fixed-width
                      style="font-size:14px;"
                    />
                  </b-button>
                  <b-button
                    v-if="canForceDeleteItems"
                    variant="danger"
                    size="sm"
                    @click.stop="onForceDeletePhotoClick(photo)"
                  >
                    <fa
                      icon="trash-alt"
                      fixed-width
                      style="font-size:14px;"
                    />
                  </b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div
      v-else
      class="my-3"
    >
      Пусто
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import moment from 'moment'
import axios, { AxiosResponse } from 'axios'
import * as api from '~/typings/api'
import * as client from '~/typings/client'

@Component
export default class MediaLibPhotosTrashCan extends Vue {
  @Prop({ required: true })
  readonly entity!: api.Medialib.Entities

  @Prop({ required: true })
  readonly entityId!: number

  @Prop({ required: true })
  readonly removedPhotosFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly removedPhotosGetter!: api.Medialib.Files.FilesListResponse | null

  // Permissions

  @Prop({ required: true })
  readonly canCreateItems!: boolean

  @Prop({ required: true })
  readonly canReadItems!: boolean

  @Prop({ required: true })
  readonly canUpdateItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteOwnItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteAnyItems!: boolean

  @Prop({ required: true })
  readonly canReadDeletedItems!: boolean

  @Prop({ required: true })
  readonly canRecoverOwnItems!: boolean

  @Prop({ required: true })
  readonly canRecoverAnyItems!: boolean

  @Prop({ required: true })
  readonly canForceDeleteItems!: boolean

  store = useStore<RootModule>(this.$store)

  galleryIndex = null

  get user() {
    return this.store.auth.user
  }

  get removedPhotos(): (api.Medialib.Files.File)[] {
    return this.removedPhotosGetter?.data ?? []
  }

  get removedPhotosStorageLink() {
    return this.removedPhotosGetter?.links.file_storage_link ?? ''
  }

  get removedPhotosUsers() {
    return this.removedPhotosGetter?.links.users ?? []
  }

  get photosDates() {
    const dates: string[] = []

    this.removedPhotos.forEach((photo) => {
      const momentDate = moment(photo.created_at, 'YYYY-MM-DD HH:mm:ss')

      if (momentDate.isValid()) {
        const parsedDate = momentDate.format('DD.MM.YYYY')

        if (!dates.includes(parsedDate)) {
          dates.push(parsedDate)
        }
      }
    })

    return dates
  }

  get photoLinksForGallery() {
    const photos: string[] = []

    this.photosDates.forEach((date) => {
      const chunkedPhotos = this.getPhotosChunkedByUser(
        this.filterPhotosByDate(this.removedPhotos, date)
      )

      for (const chunk in chunkedPhotos) {
        for (const photo in chunkedPhotos[chunk]) {
          photos.push(
            this.removedPhotosStorageLink +
            'file/' +
            chunkedPhotos[chunk][photo].filename +
            `?group=${api.Medialib.Groups.Photos}` +
            `&file_ver_id=${chunkedPhotos[chunk][photo].file_ver_id}` +
            `&entity=${this.entity}` +
            `&entity_id=${this.entityId}`
          )
        }
      }
    })

    return photos
  }

  get photoDownloadLinksForGallery() {
    const photos: string[] = []

    this.photosDates.forEach((date) => {
      const chunkedPhotos = this.getPhotosChunkedByUser(
        this.filterPhotosByDate(this.removedPhotos, date)
      )

      for (const chunk in chunkedPhotos) {
        for (const photo in chunkedPhotos[chunk]) {
          photos.push(
            this.removedPhotosStorageLink +
            'file/' +
            chunkedPhotos[chunk][photo].filename +
            `?group=${api.Medialib.Groups.Photos}` +
            `&file_ver_id=${chunkedPhotos[chunk][photo].file_ver_id}` +
            `&entity=${this.entity}` +
            `&entity_id=${this.entityId}`
          )
        }
      }
    })

    return photos
  }

  mounted() {
    this.removedPhotosFetcher(this.entityId)
  }

  filterPhotosByDate(photos: api.Medialib.Files.File[], date: string) {
    return photos.filter((photo) => {
      return moment(photo.created_at, 'YYYY-MM-DD HH:mm:ss')
        .format('DD.MM.YYYY') === date
    })
  }

  getPhotosChunkedByUser(photos: api.Medialib.Files.File[]) {
    const userIds: number[] = []

    photos.forEach((photo) => {
      const userId = photo.user_id

      if (!userIds.includes(userId)) {
        userIds.push(userId)
      }
    })

    const chunks: { [userId: number]: api.Medialib.Files.File[] } = {}

    userIds.forEach((userId) => {
      chunks[userId] = photos.filter(photo => photo.user_id === userId)
    })

    return chunks
  }

  getDateIndexOfPhotoDate(currentDate: string, userId: number) {
    let count: number = 0

    for(const date of this.photosDates) {
      const chunkedPhotos = this.getPhotosChunkedByUser(
        this.filterPhotosByDate(this.removedPhotos, date)
      )

      for (const user in chunkedPhotos) {
        if (+user === +userId) {
          break
        } else {
          count += chunkedPhotos[user].length
        }
      }
      if (currentDate === date) {
        break
      } else {
        count += this.filterPhotosByDate(this.removedPhotos, date).length
      }
    }
    return count
  }

  onRecoverPhotoClick(file: api.Medialib.Files.File) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите восстановить эту фотографию?',
      {
        title: 'Восстановить фото',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const request: Omit<api.Medialib.Files.FileRecoverRequest, 'id'> = {
          group: api.Medialib.Groups.Photos,
          entity: this.entity,
          entity_id: this.entityId
        }
        const response = await axios.put(
          `/api/v1/medialib-module/${file.file_id}/recover`,
          null,
          {
            params: request
          }
        )

        if (response.status === 200) {
          this.removedPhotosFetcher(this.entityId)
          this.$emit('recover')
        }
      }
    })
  }

  onForceDeletePhotoClick(file: api.Medialib.Files.File) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите безвозвратно удалить эту фотографию? Это действие нельзя отменить.',
      {
        title: 'Безвозвратно удалить фото',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const request: Omit<api.Medialib.Files.FileDeleteForceRequest, 'id'> = {
          group: api.Medialib.Groups.Photos,
          entity: this.entity,
          entity_id: this.entityId
        }
        const response = await axios.delete(
          `/api/v1/medialib-module/${file.file_id}/force`,
          {
            params: request
          }
        )

        if (response.status === 200) {
          this.removedPhotosFetcher(this.entityId)
        }
      }
    })
  }

  getUserById(id: number) {
    return this.removedPhotosUsers.find(user => user.user_id == id)
  }
}
</script>
