<template>
  <b-card>
    <template v-slot:header>
      Корзина
    </template>
    <div v-if="removedFilesNonChildren.length">
      <div
        v-for="file in removedFilesNonChildren"
        :key="`file_${file.filename}${'parent_of' in file ? '_parent' : ''}`"
        class="pt-1"
      >
        <span>
          <a
            :href="getFileLink(file)"
            target="_blank"
          >
            <fa
              icon="file"
              fixed-width
              style="font-size:14px;"
            />{{ `${file.name}.${removedFileExtensions[file.ext_id].ext}` }}</a><template v-if="'parent_of' in file && getNonParentFilesByFileId(file.file_id).length">&nbsp;<b-button
            v-b-toggle="'fileChildren_' + file.file_id"
            class="mb-1"
            variant="outline-secondary"
            size="sm"
          >
            <fa
              :icon="
                shownCollapses.includes('fileChildren_' + file.file_id)
                  ? 'minus'
                  : 'plus'
              "
              fixed-width
              style="font-size:14px;"
            />
          </b-button></template>&nbsp;<b-button
            v-if="(canRecoverAnyItems
              || (canRecoverOwnItems
                && file.user_id === user.id))"
            class="mb-1"
            variant="success"
            size="sm"
            @click="onRecoverFileClick(file)"
          >
            <fa
              icon="redo-alt"
              fixed-width
              style="font-size:14px;"
            />
          </b-button>&nbsp;<b-button
            v-if="canForceDeleteItems"
            class="mb-1"
            variant="danger"
            size="sm"
            @click="onForceDeleteFileClick(file)"
          >
            <fa
              icon="trash-alt"
              fixed-width
              style="font-size:14px;"
            />
          </b-button>
        </span>
        <div v-if="file.description">
          <small v-html="file.description.replace(/(?:\r\n|\r|\n)/g, '<br>')" />
        </div>
        <b-collapse
          v-if="'parent_of' in file && getNonParentFilesByFileId(file.file_id).length"
          :id="'fileChildren_' + file.file_id"
          :visible="shownCollapses.includes('fileChildren_' + file.file_id)"
          @show="onFileChildrenCollapseShow('fileChildren_' + file.file_id)"
          @hide="onFileChildrenCollapseHide('fileChildren_' + file.file_id)"
        >
          <b-card>
            <div
              v-for="childrenFile in getNonParentFilesByFileId(file.file_id)"
              :key="'childrenFile_' + childrenFile.filename"
              class="pt-1"
            >
              <a
                class="mb-1"
                :href="getFileLink(childrenFile)"
                target="_blank"
              >
                <fa
                  icon="file"
                  fixed-width
                  style="font-size:14px;"
                />
                {{ `${childrenFile.name}.${removedFileExtensions[childrenFile.ext_id].ext}` }}
              </a>
              Версия:&nbsp;{{ childrenFile.ver_number }}
              от&nbsp;{{ childrenFile.created_at | moment('DD.MM.YYYY') }}
              - {{ `${getUserById(childrenFile.user_id).first_name} ${getUserById(childrenFile.user_id).last_name}` }}
              <b-button
                v-if="(canRecoverAnyItems
                  || (canRecoverOwnItems
                    && childrenFile.user_id === user.id))"
                variant="success"
                size="sm"
                @click="onRecoverFileClick(childrenFile)"
              >
                <fa
                  icon="redo-alt"
                  fixed-width
                  style="font-size:14px;"
                />
              </b-button>
              <b-button
                v-if="canForceDeleteItems"
                variant="danger"
                size="sm"
                @click="onForceDeleteFileClick(childrenFile)"
              >
                <fa
                  icon="trash-alt"
                  fixed-width
                  style="font-size:14px;"
                />
              </b-button>
            </div>
          </b-card>
        </b-collapse>
      </div>
    </div>
    <div
      v-else
      class="my-3"
    >
      Пусто
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import axios, { AxiosResponse } from 'axios'
import * as api from '~/typings/api'
import * as client from '~/typings/client'

@Component
export default class MediaLibFilesTrashCan extends Vue {
  @Prop({ required: true })
  readonly entity!: api.Medialib.Entities

  @Prop({ required: true })
  readonly entityId!: number

  @Prop({ required: true })
  readonly removedFilesFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly removedFilesGetter!: api.Medialib.Files.FilesListResponse | null

  // Permissions

  @Prop({ required: true })
  readonly canCreateItems!: boolean

  @Prop({ required: true })
  readonly canReadItems!: boolean

  @Prop({ required: true })
  readonly canUpdateItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteOwnItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteAnyItems!: boolean

  @Prop({ required: true })
  readonly canReadDeletedItems!: boolean

  @Prop({ required: true })
  readonly canRecoverOwnItems!: boolean

  @Prop({ required: true })
  readonly canRecoverAnyItems!: boolean

  @Prop({ required: true })
  readonly canForceDeleteItems!: boolean

  store = useStore<RootModule>(this.$store)

  shownCollapses: string[] = []

  get user() {
    return this.store.auth.user
  }

  get removedFiles(): (api.Medialib.Files.File | client.Medialib.Files.VirtualParentFile)[] {
    const result: (api.Medialib.Files.File | client.Medialib.Files.VirtualParentFile)[] = []
    const files = this.removedFilesGetter?.data ?? []

    files.forEach((file) => {
      const resultAlreadyContainsFileWithSameId = !!result.find(x => x.file_id === file.file_id)

      if (!resultAlreadyContainsFileWithSameId) {
        const filesWithSameFileId = files.filter(x => x.file_id === file.file_id)

        if (filesWithSameFileId.length > 1) {
          const fileLastVersion = filesWithSameFileId.sort((fileA, fileB) => fileB.ver_number - fileA.ver_number)[0]

          result.push({
            created_at: fileLastVersion.created_at,
            description: fileLastVersion.description,
            ext_id: fileLastVersion.ext_id,
            file_id: fileLastVersion.file_id,
            file_ver_id: fileLastVersion.file_ver_id,
            filename: fileLastVersion.filename,
            folder_id: fileLastVersion.folder_id,
            name: fileLastVersion.name,
            user_id: fileLastVersion.user_id,
            ver_number: fileLastVersion.ver_number,
            parent_of: fileLastVersion.file_id
          })
        }

        filesWithSameFileId.forEach((x) => { result.push(x) })
      }
    })

    return result
  }

  get removedFilesNonChildren() {
    return this.removedFiles
      .filter((file) => {
        const fileIsParent = 'parent_of' in file
        const fileIsOnlyOneWithSameId = this.removedFiles.filter(x => x.file_id === file.file_id).length === 1

        return fileIsParent || fileIsOnlyOneWithSameId
      })
  }

  get removedFileExtensions() {
    return this.removedFilesGetter?.links.ext ?? {}
  }

  get removedFilesStorageLink() {
    return this.removedFilesGetter?.links.file_storage_link ?? ''
  }

  get removedFilesUsers() {
    return this.removedFilesGetter?.links.users ?? []
  }

  mounted() {
    this.removedFilesFetcher(this.entityId)
  }

  getFileLink(file: api.Medialib.Files.File) {
    return `${this.removedFilesStorageLink}file/${file.filename}` +
      `?group=${api.Medialib.Groups.Files}` +
      `&file_ver_id=${file.file_ver_id}` +
      `&entity=${this.entity}` +
      `&entity_id=${this.entityId}`
  }

  getNonParentFilesByFileId(id: number) {
    return this.removedFiles
      .filter(file => file.file_id === id && !('parent_of' in file))
      .sort((fileA, fileB) => fileB.ver_number! - fileA.ver_number!)
  }

  onFileChildrenCollapseShow(ref: string) {
    this.shownCollapses.push(ref)
  }

  onFileChildrenCollapseHide(ref: string) {
    this.shownCollapses = this.shownCollapses.filter(collapse => collapse !== ref)
  }

  onRecoverFileClick(file: api.Medialib.Files.File) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите восстановить этот файл?',
      {
        title: 'Восстановить файл',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const request: Omit<api.Medialib.Files.FileRecoverRequest, 'id'> = {
          group: api.Medialib.Groups.Files,
          entity: this.entity,
          entity_id: this.entityId
        }

        if (!('parent_of' in file)) {
          request.file_ver_id = file.file_ver_id
        }

        const response = await axios.put(
          `/api/v1/medialib-module/${file.file_id}/recover`,
          null,
          {
            params: request
          }
        )

        if (response.status === 200) {
          this.removedFilesFetcher(this.entityId)
          this.$emit('recover')
        }
      }
    })
  }

  onForceDeleteFileClick(file: api.Medialib.Files.File) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите безвозвратно удалить этот файл? Это действие нельзя отменить.',
      {
        title: 'Безвозвратно удалить файл',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const request: Omit<api.Medialib.Files.FileDeleteForceRequest, 'id'> = {
          group: api.Medialib.Groups.Files,
          entity: this.entity,
          entity_id: this.entityId
        }

        if (!('parent_of' in file)) {
          request.file_ver_id = file.file_ver_id
        }

        const response = await axios.delete(
          `/api/v1/medialib-module/${file.file_id}/force`,
          {
            params: request
          }
        )

        if (response.status === 200) {
          this.removedFilesFetcher(this.entityId)
        }
      }
    })
  }

  getUserById(id: number) {
    return this.removedFilesUsers.find(x => x.user_id === id)
  }
}
</script>
