<template>
  <div class="row">
    <div class="col-12 col-sm-5 col-md-4 col-xl-auto mb-2">
      <b-button
        v-if="canCreateItems"
        variant="outline-primary"
        @click="startPhotoFolderEditDialog()"
      >
        Создать папку
      </b-button>
      <odtn-tree
        v-if="photoFolders && photoFolders.length"
        class="mt-2"
        :list="photoFolders"
        :tree-level-id="null"
        :items-draggable="true"
        :on-item-drop="photoFolderDrop"
      >
        <template v-slot:item="slotProps">
          <span
            class="cursor-pointer"
            @click="onPhotoFolderClick(slotProps.item.id)"
          >
            <fa
              icon="folder"
              fixed-width
              style="font-size:18px;"
            />
            {{ slotProps.item.parent_id === null ? '/' : slotProps.item.name }}
          </span>
          <fa
            v-if="selectedPhotoFolderId === slotProps.item.id"
            icon="eye"
            fixed-width
            style="font-size:16px;"
          />
          <div
            v-if="slotProps.item.parent_id !== null"
            class="d-inline-block my-1"
          >
            <b-button
              v-if="canUpdateItems"
              variant="success"
              size="sm"
              @click="startPhotoFolderEditDialog(slotProps.item)"
            >
              <fa
                icon="edit"
                fixed-width
                style="font-size:14px;"
              />
            </b-button>
            <b-button
              v-if="canSoftDeleteOwnItems
                || canSoftDeleteAnyItems"
              variant="danger"
              size="sm"
              @click="deletePhotoFolder(slotProps.item.id)"
            >
              <fa
                icon="trash-alt"
                fixed-width
                style="font-size:14px;"
              />
            </b-button>
          </div>
        </template>
      </odtn-tree>
    </div>
    <div class="col-12 col-sm-7 col-md-8 col-xl">
      <b-button
        v-if="canCreateItems && !showTrashCan"
        class="mb-1"
        :class="[{'btn-loading': photoUploadInprogress}]"
        :disabled="photoUploadInprogress"
        variant="outline-success"
        @click="onAddPhotosClick"
      >
        <fa
          icon="camera"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Добавить фотографии
      </b-button>
      <input
        ref="photosInput"
        class="d-none"
        type="file"
        multiple
        @input="onPhotosInputInput"
      >
      <b-button
        v-if="canReadDeletedItems"
        class="mb-1"
        variant="outline-primary"
        @click="onTrashCanToggleClick"
      >
        <fa
          icon="trash-alt"
          fixed-width
          style="font-size:14px;"
        />&nbsp;{{ showTrashCan ? 'Закрыть корзину' : 'Корзина' }}
      </b-button>
      <odtn-gallery
        id="photosGallery"
        :image-links="photoLinksForGallery"
        :download-links="photoDownloadLinksForGallery"
        :index="galleryIndex"
        @close="galleryIndex = null"
      />
      <div class="pt-1">
        <transition
          name="fade"
          mode="out-in"
        >
          <template v-if="!showTrashCan">
            <div v-if="photosFromSelectedFolderWithChildren.length">
              <template v-for="date in photosDates">
                <div
                  v-if="Object.keys(getPhotosChunkedByUser(
                    filterPhotosByDate(
                      photosFromSelectedFolderWithChildren,
                      date
                    )
                  )).length"
                  :key="date"
                >
                  <div class="mt-2 mb-3">
                    <span class="bg-light border border-grey p-1 px-2 rounded"> {{ date }} </span>
                  </div>
                  <div
                    v-for="(photosChunk, userId) in getPhotosChunkedByUser(
                      filterPhotosByDate(
                        photosFromSelectedFolderWithChildren,
                        date
                      )
                    )"
                    :key="userId"
                  >
                    <div
                      v-if="photosChunk.length && getUserById(userId)"
                      class="mb-3"
                    >
                      Пользователь <b>{{ `${getUserById(userId).first_name} ${getUserById(userId).last_name}` }}</b>
                      добавил
                      {{ $tc('map_object.added_photo', photosChunk.length, { n: photosChunk.length }) }}:
                    </div>
                    <div class="row">
                      <div
                        v-for="(photo, index) in photosChunk"
                        :key="photo.filename"
                        class="photo-container col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
                      >
                        <span @click="galleryIndex = index + getDateIndexOfPhotoDate(date, userId)">
                          <picture>
                            <source
                              media="(max-width: 767px)"
                              :srcset="`${photosStorageLink}file/${photo.filename}?size=medium&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 1x,
                                        ${photosStorageLink}file/${photo.filename}?size=big&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 2x`"
                            >
                            <source
                              :srcset="`${photosStorageLink}file/${photo.filename}?size=min&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 1x,
                                        ${photosStorageLink}file/${photo.filename}?size=medium&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId} 2x`"
                            >
                            <b-img-lazy
                              :src="`${photosStorageLink}file/${photo.filename}?size=medium&group=1&file_ver_id=${photo.file_ver_id}&entity=${entity}&entity_id=${entityId}`"
                              blank-height="200"
                              thumbnail
                              center
                              fluid
                            />
                          </picture>
                        </span>
                        <div v-if="photo.description">
                          <small v-html="photo.description.replace(/(?:\r\n|\r|\n)/g, '<br>')" />
                        </div>
                        <div class="photo-buttons">
                          <b-button
                            v-if="canUpdateItems"
                            variant="success"
                            size="sm"
                            @click.stop="onEditPhotoDescriptionClick(photo.file_id)"
                          >
                            <fa
                              icon="edit"
                              fixed-width
                              style="font-size:14px;"
                            />
                          </b-button>
                          <b-button
                            v-if="canSoftDeleteAnyItems
                              || (canSoftDeleteOwnItems
                                && photo.user_id === user.id)"
                            variant="danger"
                            size="sm"
                            @click.stop="onDeletePhotoClick(photo.file_id)"
                          >
                            <fa
                              icon="trash-alt"
                              fixed-width
                              style="font-size:14px;"
                            />
                          </b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
            <div
              v-else
              class="my-3"
            >
              Пустая папка
            </div>
          </template>
          <odtn-media-lib-photos-trash-can
            v-if="showTrashCan"
            class="mt-2"
            :entity="entity"
            :entity-id="entityId"
            :removed-photos-fetcher="removedPhotosFetcher"
            :removed-photos-getter="removedPhotosGetter"
            :can-create-items="canCreateItems"
            :can-read-items="canReadItems"
            :can-update-items="canUpdateItems"
            :can-soft-delete-own-items="canSoftDeleteOwnItems"
            :can-soft-delete-any-items="canSoftDeleteAnyItems"
            :can-read-deleted-items="canReadDeletedItems"
            :can-recover-own-items="canRecoverOwnItems"
            :can-recover-any-items="canRecoverAnyItems"
            :can-force-delete-items="canForceDeleteItems"
            @recover="onPhotoRecover"
          />
        </transition>
      </div>
    </div>
    <!-- Upsert photo folder -->
    <b-modal
      :visible="photoFolderEditModal.show"
      :title="
        photoFolderEditModal.operation === 'create'
          ? 'Создать папку'
          : 'Редактировать папку'
      "
      centered
      ok-only
      @hidden="photoFolderEditModal.show = false"
    >
      <form
        id="photoFolderEditForm"
        :disabled="photoFolderEditModal.upsertInprogress"
        @submit.prevent="onPhotoFolderEditFormSubmit"
      >
        <!-- name -->
        <div class="form-group">
          <label>
            Название
          </label>
          <b-form-input
            v-model="photoFolderEditModal.name"
            autofocus
          />
        </div>
        <!-- description -->
        <div class="form-group">
          <label>
            Описание
          </label>
          <b-form-textarea
            v-model="photoFolderEditModal.description"
          />
        </div>
      </form>
      <template v-slot:modal-footer>
        <b-button
          :class="[{'btn-loading': photoFolderEditModal.upsertInprogress}]"
          :disabled="photoFolderEditModal.upsertInprogress"
          form="photoFolderEditForm"
          variant="success"
          type="submit"
        >
          {{ photoFolderEditModal.operation === 'create'
            ? 'Создать'
            : 'Сохранить' }}
        </b-button>
      </template>
    </b-modal>
    <!-- Upsert photo description -->
    <b-modal
      :visible="photoDescriptionEditModal.show"
      title="Описание"
      centered
      ok-only
      @hidden="photoDescriptionEditModal.show = false"
    >
      <form
        id="photoDescriptionEditForm"
        :disabled="photoDescriptionEditModal.upsertInprogress"
        @submit.prevent="onPhotoDescriptionEditFormSubmit"
      >
        <b-form-textarea
          v-model="photoDescriptionEditModal.description"
          autofocus
        />
      </form>
      <template v-slot:modal-footer>
        <b-button
          :class="[{'btn-loading': photoDescriptionEditModal.upsertInprogress}]"
          :disabled="photoDescriptionEditModal.upsertInprogress"
          form="photoDescriptionEditForm"
          variant="success"
          type="submit"
        >
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import moment from 'moment'
import axios, { AxiosResponse } from 'axios'
import { serialize as objectToFormData } from 'object-to-formdata'
import { getAllTreeListItemsWithExcept } from '~/common/treeListUtils'
import MediaLibPhotosTrashCan from '~/components/MediaLibPhotosTrashCan.vue'
import * as api from '~/typings/api'

@Component({
  components: {
    'odtn-media-lib-photos-trash-can': MediaLibPhotosTrashCan
  }
})
export default class MediaLibPhotos extends Vue {
  @Prop({ required: true })
  readonly entity!: api.Medialib.Entities

  @Prop({ required: true })
  readonly entityId!: number

  @Prop({ required: true })
  readonly photoFoldersFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly photoFoldersGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly photosFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly photosGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly removedPhotosFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly removedPhotosGetter!: api.Medialib.Files.FilesListResponse | null

  // Permissions

  @Prop({ required: true })
  readonly canCreateItems!: boolean

  @Prop({ required: true })
  readonly canReadItems!: boolean

  @Prop({ required: true })
  readonly canUpdateItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteOwnItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteAnyItems!: boolean

  @Prop({ required: true })
  readonly canReadDeletedItems!: boolean

  @Prop({ required: true })
  readonly canRecoverOwnItems!: boolean

  @Prop({ required: true })
  readonly canRecoverAnyItems!: boolean

  @Prop({ required: true })
  readonly canForceDeleteItems!: boolean

  store = useStore<RootModule>(this.$store)

  photoUploadInprogress = false
  selectedPhotoFolderId: number | null = null
  photoFolderEditModal: {
    show: boolean
    folderId: number | null
    parent_id: number | null
    name: string
    description: string
    operation: 'create' | 'update'
    upsertInprogress: boolean
  } = {
    show: false,
    folderId: null,
    parent_id: null,
    name: '',
    description: '',
    operation: 'create',
    upsertInprogress: false
  }
  photoDescriptionEditModal: {
    show: boolean
    photoId: number | null
    description: string
    upsertInprogress: boolean
  } = {
    show: false,
    photoId: null,
    description: '',
    upsertInprogress: false
  }
  galleryIndex = null
  showTrashCan = false

  get user() {
    return this.store.auth.user
  }

  get photoFolders(): api.Medialib.Folders.Folder[] {
    if (this.photoFoldersGetter) {
      if (this.photoFoldersGetter.links.folders instanceof Array) {
        return this.photoFoldersGetter.links.folders
      } else {
        return Object.values(this.photoFoldersGetter.links.folders)
      }
    }

    return []
  }

  get rootFoolder() {
    const rootFolder = this.photoFolders.find(folder => folder.parent_id === null)

    if (this.photoFolders.length && !rootFolder) {
      throw Error('Back-end hasn\'t return root folder!')
    }

    return rootFolder!
  }

  get selectedPhotoFolder() {
    return this.photoFolders.find(folder => folder.id === this.selectedPhotoFolderId)
  }

  get allChildrenOfselectedPhotoFolder() {
    if (this.selectedPhotoFolder) {
      return getAllTreeListItemsWithExcept<api.Medialib.Folders.Folder, 'id', 'parent_id'>(
        this.photoFolders,
        this.selectedPhotoFolder,
        {
          parent: 'all'
        },
        {
          id_prop: 'id',
          parent_id_prop: 'parent_id'
        }
      )
    } else {
      return []
    }
  }

  get photos() {
    return this.photosGetter?.data ?? []
  }

  get photosStorageLink() {
    return this.photosGetter?.links.file_storage_link ?? ''
  }

  get photosUsers() {
    return this.photosGetter?.links.users ?? []
  }

  get photosDates() {
    const dates: string[] = []

    this.photos.forEach((photo) => {
      const momentDate = moment(photo.created_at, 'YYYY-MM-DD HH:mm:ss')

      if (momentDate.isValid()) {
        const parsedDate = momentDate.format('DD.MM.YYYY')

        if (!dates.includes(parsedDate)) {
          dates.push(parsedDate)
        }
      }
    })

    dates.sort((dateA, dateB) => moment(dateA, 'DD.MM.YYYY').isAfter(moment(dateB, 'DD.MM.YYYY')) ? -1 : 1)

    return dates
  }

  get photoLinksForGallery() {
    const photos: string[] = []

    this.photosDates.forEach((date) => {
      const chunkedPhotos = this.getPhotosChunkedByUser(
        this.filterPhotosByDate(this.photosFromSelectedFolderWithChildren, date)
      )

      for (const chunk in chunkedPhotos) {
        for (const photo in chunkedPhotos[chunk]) {
          photos.push(
            this.photosStorageLink +
            'file/' +
            chunkedPhotos[chunk][photo].filename +
            `?group=${api.Medialib.Groups.Photos}` +
            `&file_ver_id=${chunkedPhotos[chunk][photo].file_ver_id}` +
            `&entity=${this.entity}` +
            `&entity_id=${this.entityId}`
          )
        }
      }
    })

    return photos
  }

  get photoDownloadLinksForGallery() {
    const photos: string[] = []

    this.photosDates.forEach((date) => {
      const chunkedPhotos = this.getPhotosChunkedByUser(
        this.filterPhotosByDate(this.photosFromSelectedFolderWithChildren, date)
      )

      for (const chunk in chunkedPhotos) {
        for (const photo in chunkedPhotos[chunk]) {
          photos.push(
            this.photosStorageLink +
            'file/' +
            chunkedPhotos[chunk][photo].filename +
            `?group=${api.Medialib.Groups.Photos}` +
            `&file_ver_id=${chunkedPhotos[chunk][photo].file_ver_id}` +
            `&entity=${this.entity}` +
            `&entity_id=${this.entityId}`
          )
        }
      }
    })

    return photos
  }

  get photosFromSelectedFolderWithChildren() {
    return this.photos.filter((photo) => {
      return !!this.allChildrenOfselectedPhotoFolder
        .find(folder => folder.id === photo.folder_id)
    })
  }

  created() {
    this
      .photosFetcher(this.entityId)
      .then(() => {
        if (this.photoFolders.length) {
          this.selectedPhotoFolderId = this.rootFoolder.id
        }
      })
  }

  onAddPhotosClick() {
    (this.$refs.photosInput as HTMLInputElement).click()
  }

  async processAddPhotoPromiseFactories(promiseFactories: (() => Promise<any>)[]) {
    if (promiseFactories.length) {
      await promiseFactories.shift()!()
        .finally(() => {
          this.processAddPhotoPromiseFactories(promiseFactories)
        })
    } else {
      await this.photosFetcher(this.entityId)
      this.photoUploadInprogress = false
    }
  }

  onPhotosInputInput(event: Event) {
    if (!(event.target as HTMLInputElement).files) return

    const files = (event.target as HTMLInputElement).files!
    const uploadPromiseFactories: (() => Promise<any>)[] = []

    this.photoUploadInprogress = true

    for (let i = 0; files.length > i; i++) {
      const file = files[i]
      const request = objectToFormData({
        entity: this.entity,
        entity_id: this.entityId,
        group: api.Medialib.Groups.Photos,
        filename: file,
        folder_id: this.selectedPhotoFolderId
      } as api.Medialib.Files.FileCreateRequest)

      uploadPromiseFactories.push(
        () => {
          return axios
            .post('/api/v1/medialib-module/create-file', request)
            .catch(this.handleUploadError)
        }
      )
    }

    this.processAddPhotoPromiseFactories(uploadPromiseFactories)
  }

  handleUploadError(error: any) {
    if (error?.response?.data?.errors) {
      let message = ''

      Object.keys(error.response.data.errors).forEach((errorKey: string, index) => {
        message += `\r\n\r\n${error.response.data.errors[errorKey]}`
        if (index === 0) { message.replace('\r\n\r\n', '') }
      })

      window.ROOT.$bvModal.msgBoxOk(
        message,
        {
          title: 'Ошибка',
          okVariant: 'danger',
          centered: true
        }
      )
    } else {
      window.ROOT.$bvModal.msgBoxOk(
        error.message,
        {
          title: 'Ошибка',
          okVariant: 'danger',
          centered: true
        }
      )
    }
  }

  filterPhotosByDate(photos: api.Medialib.Files.File[], date: string) {
    return photos.filter((photo) => {
      return moment(photo.created_at, 'YYYY-MM-DD HH:mm:ss')
        .format('DD.MM.YYYY') === date
    })
  }

  getPhotosChunkedByUser(photos: api.Medialib.Files.File[]) {
    const userIds: number[] = []

    photos.forEach((photo) => {
      const userId = photo.user_id

      if (!userIds.includes(userId)) {
        userIds.push(userId)
      }
    })

    const chunks: { [userId: number]: api.Medialib.Files.File[] } = {}

    userIds.forEach((userId) => {
      chunks[userId] = photos.filter(photo => photo.user_id === userId)
    })

    return chunks
  }

  getDateIndexOfPhotoDate(currentDate: string, userId: number) {
    let count: number = 0

    for(const date of this.photosDates) {
      const chunkedPhotos = this.getPhotosChunkedByUser(
        this.filterPhotosByDate(this.photosFromSelectedFolderWithChildren, date)
      )

      for (const user in chunkedPhotos) {
        if (+user === +userId) {
          break
        } else {
          count += chunkedPhotos[user].length
        }
      }
      if (currentDate === date) {
        break
      } else {
        count += this.filterPhotosByDate(this.photosFromSelectedFolderWithChildren, date).length
      }
    }
    return count
  }

  onEditPhotoDescriptionClick(id: number) {
    this.photoDescriptionEditModal.description = this.photos.find(photo => photo.file_id === id)?.description ?? ''
    this.photoDescriptionEditModal.photoId = id
    this.photoDescriptionEditModal.show = true
  }

  onPhotoDescriptionEditFormSubmit() {
    this.photoDescriptionEditModal.upsertInprogress = true

    const request: Omit<api.Medialib.Files.FileUpdateRequest, 'id'> = {
      entity: this.entity,
      entity_id: this.entityId,
      group: api.Medialib.Groups.Photos,
      description: this.photoDescriptionEditModal.description
    }

    axios
      .patch(
        `/api/v1/medialib-module/${this.photoDescriptionEditModal.photoId}/update-file`,
        request
      )
      .then(() => {
        this.photoDescriptionEditModal.show = false
        this.photosFetcher(this.entityId)
      })
      .finally(() => {
        this.photoDescriptionEditModal.upsertInprogress = false
      })
  }

  onDeletePhotoClick(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить эту фотографию?',
      {
        title: 'Удалить фотографию',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const request: Omit<api.Medialib.Files.FileDeleteSoftRequest, 'id'> = {
          group: api.Medialib.Groups.Photos,
          entity: this.entity,
          entity_id: this.entityId
        }

        const response = await axios.delete<api.Medialib.Files.FileDeleteSoftResponse>(
          `/api/v1/medialib-module/${id}/soft`,
          {
            params: request
          }
        )

        if (response.status === 200) {
          this.photosFetcher(this.entityId)
        }
      }
    })
  }

  startPhotoFolderEditDialog(folder?: api.Medialib.Folders.Folder) {
    this.photoFolderEditModal.folderId = folder?.id ?? null
    this.photoFolderEditModal.parent_id = folder?.parent_id ?? null
    this.photoFolderEditModal.name = folder?.name ?? ''
    this.photoFolderEditModal.description = folder?.description ?? ''
    this.photoFolderEditModal.operation = folder ? 'update' : 'create'
    this.photoFolderEditModal.show = true
  }

  onPhotoFolderEditFormSubmit() {
    this.photoFolderEditModal.upsertInprogress = true

    const request: api.Medialib.Folders.FolderCreateRequest = {
      entity: this.entity,
      entity_id: this.entityId,
      group: api.Medialib.Groups.Photos,
      name: this.photoFolderEditModal.name,
      description: this.photoFolderEditModal.description,
      parent_id: null
    }
    let upsertPromise: Promise<api.Medialib.Folders.FolderCreateResponse | api.Medialib.Folders.FolderUpdateResponse>

    if (this.photoFolderEditModal.operation === 'create') {
      request.parent_id = this.selectedPhotoFolderId
      upsertPromise = axios.post<api.Medialib.Folders.FolderCreateResponse>(
        `/api/v1/medialib-module/folders/create-folder`,
        request
      )
    } else {
      request.parent_id = this.photoFolderEditModal.parent_id
      upsertPromise = axios.patch<api.Medialib.Folders.FolderCreateResponse>(
        `/api/v1/medialib-module/folders/${this.photoFolderEditModal.folderId}/update-folder`,
        request
      )
    }
    upsertPromise.then(async () => {
      await this.photoFoldersFetcher(this.entityId)
      this.photoFolderEditModal.show = false
    }).finally(() => {
      this.photoFolderEditModal.upsertInprogress = false
    })
  }

  async photoFolderDrop(
    event: any /*DragEvent*//*safari fix*/,
    targetFolder: api.Medialib.Folders.Folder,
    draggedFolder: api.Medialib.Folders.Folder
  ) {
    const response = await axios
      .patch(`/api/v1/medialib-module/folders/${draggedFolder.id}/update-folder`, {
        ...draggedFolder,
        parent_id: targetFolder.id
      })

    await this.photoFoldersFetcher(this.entityId)

    return response
  }

  onPhotoFolderClick(id: number | null) {
    this.selectedPhotoFolderId = id
  }

  deletePhotoFolder(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить эту папку со всем содержимым?',
      {
        title: 'Удалить папку',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await axios.delete<api.Medialib.Folders.FolderDeleteResponse>(`/api/v1/medialib-module/folders/${id}/soft-delete-folder`)

        if (response.status === 200) {
          this.selectedPhotoFolderId = null
          this.photoFoldersFetcher(this.entityId)
        }
      }
    })
  }

  onPhotoRecover() {
    this.photosFetcher(this.entityId)
  }

  getUserById(id: number) {
    return this.photosUsers.find(user => user.user_id == id)
  }

  onTrashCanToggleClick() {
    this.showTrashCan = !this.showTrashCan
  }
}
</script>
