<template>
  <div
    v-if="canReadItems"
    class="odtn-media-lib"
  >
    <b-card no-body>
      <b-tabs card>
        <b-tab
          title="Фото"
          active
          lazy
        >
          <odth-media-lib-photos
            :entity="entity"
            :entity-id="entityId"
            :photo-folders-fetcher="photoFoldersFetcher"
            :photo-folders-getter="photoFoldersGetter"
            :photos-fetcher="photosFetcher"
            :photos-getter="photosGetter"
            :removed-photos-fetcher="removedPhotosFetcher"
            :removed-photos-getter="removedPhotosGetter"
            :can-create-items="canCreateItems"
            :can-read-items="canReadItems"
            :can-update-items="canUpdateItems"
            :can-soft-delete-own-items="canSoftDeleteOwnItems"
            :can-soft-delete-any-items="canSoftDeleteAnyItems"
            :can-read-deleted-items="canReadDeletedItems"
            :can-recover-own-items="canRecoverOwnItems"
            :can-recover-any-items="canRecoverAnyItems"
            :can-force-delete-items="canForceDeleteItems"
          />
        </b-tab>
        <b-tab
          title="Файлы"
          lazy
        >
          <odth-media-lib-files
            :entity="entity"
            :entity-id="entityId"
            :file-folders-fetcher="fileFoldersFetcher"
            :file-folders-getter="fileFoldersGetter"
            :files-fetcher="filesFetcher"
            :files-getter="filesGetter"
            :removed-files-fetcher="removedFilesFetcher"
            :removed-files-getter="removedFilesGetter"
            :can-create-items="canCreateItems"
            :can-read-items="canReadItems"
            :can-update-items="canUpdateItems"
            :can-soft-delete-own-items="canSoftDeleteOwnItems"
            :can-soft-delete-any-items="canSoftDeleteAnyItems"
            :can-read-deleted-items="canReadDeletedItems"
            :can-recover-own-items="canRecoverOwnItems"
            :can-recover-any-items="canRecoverAnyItems"
            :can-force-delete-items="canForceDeleteItems"
          />
        </b-tab>
        <slot name="after-media-lib" />
      </b-tabs>
    </b-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import MediaLibPhotos from '~/components/MediaLibPhotos.vue'
import MediaLibFiles from '~/components/MediaLibFiles.vue'
import { AxiosResponse } from 'axios'
import * as api from '~/typings/api'

@Component({
  components: {
    'odth-media-lib-photos': MediaLibPhotos,
    'odth-media-lib-files': MediaLibFiles
  }
})
export default class MediaLib extends Vue {
  @Prop({ required: true })
  readonly entity!: api.Medialib.Entities

  @Prop({ required: true })
  readonly entityId!: number

  @Prop({ required: true })
  readonly photoFoldersFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly photoFoldersGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly photosFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly photosGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly removedPhotosFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly removedPhotosGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly fileFoldersFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly fileFoldersGetter!: api.Medialib.Folders.Folder[]

  @Prop({ required: true })
  readonly filesFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly filesGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly removedFilesFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly removedFilesGetter!: api.Medialib.Files.FilesListResponse | null

  // Permissions

  @Prop({ required: true })
  readonly canCreateItems!: boolean

  @Prop({ required: true })
  readonly canReadItems!: boolean

  @Prop({ required: true })
  readonly canUpdateItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteOwnItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteAnyItems!: boolean

  @Prop({ required: true })
  readonly canReadDeletedItems!: boolean

  @Prop({ required: true })
  readonly canRecoverOwnItems!: boolean

  @Prop({ required: true })
  readonly canRecoverAnyItems!: boolean

  @Prop({ required: true })
  readonly canForceDeleteItems!: boolean
}
</script>

<style lang="scss" scoped>
.odtn-media-lib ::v-deep {
  .odtn-tree_root > .odtn-tree__item {
    padding-left: 0;
  }

  .photo-container {
    position: relative;
    cursor: pointer;
  }

  .photo-buttons {
    position: absolute;
    top: 10px;
    right: 25px;
  }
}
</style>
