<template>
  <div class="row">
    <div class="col-12 col-sm-5 col-md-4 col-xl-auto mb-2">
      <b-button
        v-if="canCreateItems"
        variant="outline-primary"
        @click="startFileFolderEditDialog()"
      >
        Создать папку
      </b-button>
      <odtn-tree
        v-if="fileFolders && fileFolders.length"
        class="mt-2"
        :list="fileFolders"
        :tree-level-id="null"
        :items-draggable="true"
        id-prop="id"
        parent-id-prop="parent_id"
        :on-item-drop="fileFolderDrop"
      >
        <template v-slot:item="slotProps">
          <span
            class="cursor-pointer"
            @click="onFileFolderClick(slotProps.item.id)"
          >
            <fa
              icon="folder"
              fixed-width
              style="font-size:18px;"
            />
            {{ slotProps.item.parent_id === null ? '/' : slotProps.item.name }}
          </span>
          <fa
            v-if="selectedFileFolderId === slotProps.item.id"
            icon="eye"
            fixed-width
            style="font-size:16px;"
          />
          <div
            v-if="slotProps.item.parent_id !== null
              && (canUpdateItems
                || canSoftDeleteOwnItems
                || canSoftDeleteAnyItems)"
            class="d-inline-block my-1"
          >
            <b-button
              v-if="canUpdateItems"
              variant="success"
              size="sm"
              @click="startFileFolderEditDialog(slotProps.item)"
            >
              <fa
                icon="edit"
                fixed-width
                style="font-size:14px;"
              />
            </b-button>
            <b-button
              v-if="canSoftDeleteOwnItems
                || canSoftDeleteAnyItems"
              variant="danger"
              size="sm"
              @click="deleteFileFolder(slotProps.item.id)"
            >
              <fa
                icon="trash-alt"
                fixed-width
                style="font-size:14px;"
              />
            </b-button>
          </div>
        </template>
      </odtn-tree>
    </div>
    <div class="col-12 col-sm-7 col-md-8 col-xl">
      <b-button
        v-if="canCreateItems && !showTrashCan"
        class="mb-1"
        :class="[{'btn-loading': fileUploadInprogress}]"
        :disabled="fileUploadInprogress"
        variant="outline-success"
        @click="onAddFilesClick"
      >
        <fa
          icon="file"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Добавить файлы
      </b-button>
      <input
        ref="filesInput"
        class="d-none"
        type="file"
        multiple
        @input="onFilesInputInput"
      >
      <b-button
        v-if="canReadDeletedItems"
        class="mb-1"
        variant="outline-primary"
        @click="onTrashCanToggleClick"
      >
        <fa
          icon="trash-alt"
          fixed-width
          style="font-size:14px;"
        />&nbsp;{{ showTrashCan ? 'Закрыть корзину' : 'Корзина' }}
      </b-button>
      <transition
        name="fade"
        mode="out-in"
      >
        <div v-if="!showTrashCan">
          <div class="row no-gutters">
            <div class="col-12 col-md-auto">
              <b-form-select
                v-model="sortType"
                :options="sortSelectOptions"
                size="sm"
              />
            </div>
            <div class="col-12 col-md col-xl-6 mt-1 mt-md-0 ml-md-1">
              <b-input-group size="sm">
                <b-input-group-prepend>
                  <b-input-group-text>
                    <fa
                      icon="search"
                    />
                  </b-input-group-text>
                </b-input-group-prepend>
                <b-form-input
                  v-model="fileSearchString"
                  placeholder="Поиск по всем папкам"
                />
              </b-input-group>
            </div>
          </div>
          <div v-if="filesFromSelectedFolder.length">
            <div
              v-for="file in filesFromSelectedFolder"
              :key="'file_' + file.filename"
              class="pt-1"
            >
              <span>
                <a
                  :href="getFileLink(file)"
                  target="_blank"
                >
                  <fa
                    icon="file"
                    fixed-width
                    style="font-size:14px;"
                  />
                  <highlighter
                    :search-words="[fileSearchString]"
                    :auto-escape="true"
                    :text-to-highlight="file.name + '.' + fileExtensions[file.ext_id].ext"
                    highlight-tag="mark"
                  />
                </a><template v-if="'parent_of' in file && getNonParentFilesByFileId(file.file_id).length">&nbsp;<b-button
                  v-b-toggle="'fileChildren_' + file.file_id"
                  class="mb-1"
                  variant="outline-secondary"
                  size="sm"
                >
                  <fa
                    :icon="
                      shownCollapses.includes('fileChildren_' + file.file_id)
                        ? 'minus'
                        : 'plus'
                    "
                    fixed-width
                    style="font-size:14px;"
                  />
                </b-button></template>&nbsp;<b-button
                  v-if="canUpdateItems"
                  class="mb-1"
                  variant="success"
                  size="sm"
                  @click="onEditFileClick(file.file_id)"
                >
                  <fa
                    icon="edit"
                    fixed-width
                    style="font-size:14px;"
                  />
                </b-button>&nbsp;<b-button
                  v-if="canSoftDeleteAnyItems
                    || (canSoftDeleteOwnItems
                      && file.user_id === user.id)"
                  class="mb-1"
                  variant="danger"
                  size="sm"
                  @click="onDeleteFileClick(file)"
                >
                  <fa
                    icon="trash-alt"
                    fixed-width
                    style="font-size:14px;"
                  />
                </b-button>
              </span>
              <div v-if="file.description">
                <small v-html="file.description.replace(/(?:\r\n|\r|\n)/g, '<br>')" />
              </div>
              <b-collapse
                v-if="'parent_of' in file && getNonParentFilesByFileId(file.file_id).length"
                :id="'fileChildren_' + file.file_id"
                :visible="shownCollapses.includes('fileChildren_' + file.file_id)"
                @show="onFileChildrenCollapseShow('fileChildren_' + file.file_id)"
                @hide="onFileChildrenCollapseHide('fileChildren_' + file.file_id)"
              >
                <b-card>
                  <div
                    v-for="childrenFile in getNonParentFilesByFileId(file.file_id)"
                    :key="'childrenFile_' + childrenFile.filename"
                    class="pt-1"
                  >
                    <a
                      class="mb-1"
                      :href="getFileLink(childrenFile)"
                      target="_blank"
                    >
                      <fa
                        icon="file"
                        fixed-width
                        style="font-size:14px;"
                      />
                      {{ `${childrenFile.name}.${fileExtensions[childrenFile.ext_id].ext}` }}
                    </a>
                    Версия:&nbsp;{{ childrenFile.ver_number }}
                    от&nbsp;{{ childrenFile.created_at | moment('DD.MM.YYYY') }}
                    - {{ `${getUserById(childrenFile.user_id).first_name} ${getUserById(childrenFile.user_id).last_name}` }}
                    <b-button
                      v-if="canSoftDeleteAnyItems
                        || (canSoftDeleteOwnItems
                          && childrenFile.user_id === user.id)"
                      variant="danger"
                      size="sm"
                      @click="onDeleteFileClick(childrenFile)"
                    >
                      <fa
                        icon="trash-alt"
                        fixed-width
                        style="font-size:14px;"
                      />
                    </b-button>
                  </div>
                </b-card>
              </b-collapse>
            </div>
          </div>
          <div
            v-else
            class="my-3"
          >
            {{ fileSearchString ? 'Ничего не найдено' : 'Пустая папка' }}
          </div>
        </div>
        <odtn-media-lib-files-trash-can
          v-if="showTrashCan"
          class="mt-2"
          :entity="entity"
          :entity-id="entityId"
          :removed-files-fetcher="removedFilesFetcher"
          :removed-files-getter="removedFilesGetter"
          :can-create-items="canCreateItems"
          :can-read-items="canReadItems"
          :can-update-items="canUpdateItems"
          :can-soft-delete-own-items="canSoftDeleteOwnItems"
          :can-soft-delete-any-items="canSoftDeleteAnyItems"
          :can-read-deleted-items="canReadDeletedItems"
          :can-recover-own-items="canRecoverOwnItems"
          :can-recover-any-items="canRecoverAnyItems"
          :can-force-delete-items="canForceDeleteItems"
          @recover="onFileRecover"
        />
      </transition>
    </div>
    <!-- Upsert file folder -->
    <b-modal
      :visible="fileFolderEditModal.show"
      :title="
        fileFolderEditModal.operation === 'create'
          ? 'Создать папку'
          : 'Редактировать папку'
      "
      centered
      ok-only
      @hidden="fileFolderEditModal.show = false"
    >
      <form
        id="fileFolderEditForm"
        :disabled="fileFolderEditModal.upsertInprogress"
        @submit.prevent="onFileFolderEditFormSubmit"
      >
        <!-- name -->
        <div class="form-group">
          <label>
            Название
          </label>
          <b-form-input
            v-model="fileFolderEditModal.name"
            autofocus
          />
        </div>
        <!-- description -->
        <div class="form-group">
          <label>
            Описание
          </label>
          <b-form-textarea
            v-model="fileFolderEditModal.description"
          />
        </div>
      </form>
      <template v-slot:modal-footer>
        <b-button
          :class="[{'btn-loading': fileFolderEditModal.upsertInprogress}]"
          :disabled="fileFolderEditModal.upsertInprogress"
          form="fileFolderEditForm"
          variant="success"
          type="submit"
        >
          {{ fileFolderEditModal.operation === 'create'
            ? 'Создать'
            : 'Сохранить' }}
        </b-button>
      </template>
    </b-modal>
    <!-- Upsert file description -->
    <b-modal
      :visible="fileEditModal.show"
      title="Файл"
      centered
      ok-only
      @hidden="fileEditModal.show = false"
    >
      <form
        id="fileEditForm"
        :disabled="fileEditModal.upsertInprogress
          || fileEditModal.fileVersionUploadInprogress"
        @submit.prevent="onFileEditFormSubmit"
      >
        <div class="form-group">
          <label>
            Название
          </label>
          <b-form-input
            v-model="fileEditModal.name"
            autofocus
          />
        </div>
        <div class="form-group">
          <label>
            Описание
          </label>
          <b-form-textarea
            v-model="fileEditModal.description"
          />
        </div>
      </form>
      <template v-slot:modal-footer>
        <b-button
          :class="[{'btn-loading': fileEditModal.fileVersionUploadInprogress}]"
          :disabled="fileEditModal.upsertInprogress
            || fileEditModal.fileVersionUploadInprogress"
          variant="outline-success"
          @click="onAddFileVersionClick"
        >
          <fa
            icon="file"
            fixed-width
            style="font-size:14px;"
          />&nbsp;Добавить версию
        </b-button>
        <input
          ref="fileVersionInput"
          class="d-none"
          type="file"
          @input="onFileVersionInputInput"
        >
        <b-button
          :class="[{'btn-loading': fileEditModal.upsertInprogress}]"
          :disabled="fileEditModal.upsertInprogress
            || fileEditModal.fileVersionUploadInprogress"
          variant="success"
          type="submit"
          form="fileEditForm"
        >
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import moment from 'moment'
import axios, { AxiosResponse } from 'axios'
import { serialize as objectToFormData } from 'object-to-formdata'
import MediaLibFilesTrashCan from '~/components/MediaLibFilesTrashCan.vue'
import Highlighter from 'vue-highlight-words'
import * as api from '~/typings/api'
import * as client from '~/typings/client'

type FileSortTypes =
  | 'name-asc'
  | 'name-desc'
  | 'date-asc'
  | 'date-desc'
  | 'type-asc'
  | 'type-desc'

@Component({
  components: {
    'odtn-media-lib-files-trash-can': MediaLibFilesTrashCan,
    Highlighter
  }
})
export default class MediaLibFiles extends Vue {
  @Prop({ required: true })
  readonly entity!: api.Medialib.Entities

  @Prop({ required: true })
  readonly entityId!: number

  @Prop({ required: true })
  readonly fileFoldersFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly fileFoldersGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly filesFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly filesGetter!: api.Medialib.Files.FilesListResponse | null

  @Prop({ required: true })
  readonly removedFilesFetcher!: (id: number) => Promise<AxiosResponse<api.Medialib.Files.FilesListResponse>>

  @Prop({ required: true })
  readonly removedFilesGetter!: api.Medialib.Files.FilesListResponse | null

  // Permissions

  @Prop({ required: true })
  readonly canCreateItems!: boolean

  @Prop({ required: true })
  readonly canReadItems!: boolean

  @Prop({ required: true })
  readonly canUpdateItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteOwnItems!: boolean

  @Prop({ required: true })
  readonly canSoftDeleteAnyItems!: boolean

  @Prop({ required: true })
  readonly canReadDeletedItems!: boolean

  @Prop({ required: true })
  readonly canRecoverOwnItems!: boolean

  @Prop({ required: true })
  readonly canRecoverAnyItems!: boolean

  @Prop({ required: true })
  readonly canForceDeleteItems!: boolean

  store = useStore<RootModule>(this.$store)

  fileUploadInprogress = false
  selectedFileFolderId: number | null = null
  fileFolderEditModal: {
    show: boolean
    folderId: number | null
    parent_id: number | null
    name: string
    description: string
    operation: 'create' | 'update'
    upsertInprogress: boolean
  } = {
    show: false,
    folderId: null,
    parent_id: null,
    name: '',
    description: '',
    operation: 'create',
    upsertInprogress: false
  }
  fileEditModal: {
    show: boolean
    fileId: number | null
    name: string
    description: string
    upsertInprogress: boolean
    fileVersionUploadInprogress: boolean
  } = {
    show: false,
    fileId: null,
    name: '',
    description: '',
    upsertInprogress: false,
    fileVersionUploadInprogress: false
  }
  sortType: FileSortTypes = 'name-asc'
  sortSelectOptions: {
    value: FileSortTypes
    text: string
  }[] = [
    {
      value: 'name-asc',
      text: 'По имени (А-Я)'
    },
    {
      value: 'name-desc',
      text: 'По имени (Я-А)'
    },
    {
      value: 'date-asc',
      text: 'По дате (Старее)'
    },
    {
      value: 'date-desc',
      text: 'По дате (Новее)'
    },
    {
      value: 'type-asc',
      text: 'По типу (А-Я)'
    },
    {
      value: 'type-desc',
      text: 'По типу (Я-А)'
    }
  ]
  shownCollapses: string[] = []
  showTrashCan = false
  fileSearchString = ''

  get user() {
    return this.store.auth.user
  }

  get fileFolders() {
    if (this.fileFoldersGetter) {
      if (this.fileFoldersGetter.links.folders instanceof Array) {
        return this.fileFoldersGetter.links.folders
      } else {
        return Object.values(this.fileFoldersGetter.links.folders)
      }
    }

    return []
  }

  get rootFoolder() {
    const rootFolder = this.fileFolders.find(folder => folder.parent_id === null)

    if (this.fileFolders.length && !rootFolder) {
      throw Error('Back-end hasn\'t return root folder!')
    }

    return rootFolder!
  }

  get selectedFileFolder() {
    return this.fileFolders.find(folder => folder.id === this.selectedFileFolderId)
  }

  get files() {
    const result: (api.Medialib.Files.File | client.Medialib.Files.VirtualParentFile)[] = []
    const files = this.filesGetter?.data ?? []

    files.forEach((file) => {
      const resultAlreadyContainsFileWithSameId = !!result.find(x => x.file_id === file.file_id)

      if (!resultAlreadyContainsFileWithSameId) {
        const filesWithSameFileId = files.filter(x => x.file_id === file.file_id)

        if (filesWithSameFileId.length > 1) {
          const fileLastVersion = filesWithSameFileId.sort((fileA, fileB) => fileB.ver_number - fileA.ver_number)[0]

          result.push({
            created_at: fileLastVersion.created_at,
            description: fileLastVersion.description,
            ext_id: fileLastVersion.ext_id,
            file_id: fileLastVersion.file_id,
            file_ver_id: fileLastVersion.file_ver_id,
            filename: fileLastVersion.filename,
            folder_id: fileLastVersion.folder_id,
            name: fileLastVersion.name,
            user_id: fileLastVersion.user_id,
            ver_number: fileLastVersion.ver_number,
            parent_of: fileLastVersion.file_id
          })
        }

        filesWithSameFileId.forEach((x) => { result.push(x) })
      }
    })

    return result
  }

  get fileExtensions() {
    return this.filesGetter?.links.ext ?? {}
  }

  get filesStorageLink() {
    return this.filesGetter?.links.file_storage_link ?? ''
  }

  get filesUsers() {
    return this.filesGetter?.links.users ?? []
  }

  get filesFromSelectedFolder() {
    const sortDictionary = {
      'name-asc': (fileA: api.Medialib.Files.File, fileB: api.Medialib.Files.File) =>
        fileA.name.localeCompare(fileB.name),
      'name-desc': (fileA: api.Medialib.Files.File, fileB: api.Medialib.Files.File) =>
        fileB.name.localeCompare(fileA.name),
      'date-asc': (fileA: api.Medialib.Files.File, fileB: api.Medialib.Files.File) =>
        moment(fileA.created_at).isAfter(moment(fileB.created_at)) ? 1 : -1,
      'date-desc': (fileA: api.Medialib.Files.File, fileB: api.Medialib.Files.File) =>
        moment(fileB.created_at).isAfter(moment(fileA.created_at)) ? 1 : -1,
      'type-asc': (fileA: api.Medialib.Files.File, fileB: api.Medialib.Files.File) =>
        this.fileExtensions[fileA.ext_id].ext.localeCompare(this.fileExtensions[fileB.ext_id].ext),
      'type-desc': (fileA: api.Medialib.Files.File, fileB: api.Medialib.Files.File) =>
        this.fileExtensions[fileB.ext_id].ext.localeCompare(this.fileExtensions[fileA.ext_id].ext)
    }

    return this.files
      .filter((file) => {
        const fileIsParent = 'parent_of' in file
        const fileIsOnlyOneWithSameId = this.files.filter(x => x.file_id === file.file_id).length === 1

        if (this.fileSearchString) {
          return (fileIsParent || fileIsOnlyOneWithSameId)
            && `${file.name.toLowerCase()}.${this.fileExtensions[file.ext_id].ext.toLowerCase()}`
              .includes(this.fileSearchString)
        } else {
          return (fileIsParent || fileIsOnlyOneWithSameId)
            && file.folder_id === this.selectedFileFolderId
        }
      })
      .sort(sortDictionary[this.sortType])
  }

  created() {
    this
      .filesFetcher(this.entityId)
      .then(() => {
        if (this.fileFolders.length) {
          this.selectedFileFolderId = this.rootFoolder.id
        }
      })
  }

  onAddFilesClick() {
    (this.$refs.filesInput as HTMLInputElement).click()
  }

  async processAddFilePromiseFactories(promiseFactories: (() => Promise<any>)[]) {
    if (promiseFactories.length) {
      await promiseFactories.shift()!()
        .finally(() => {
          this.processAddFilePromiseFactories(promiseFactories)
        })
    } else {
      (this.$refs.filesInput as HTMLInputElement).value = ''
      await this.filesFetcher(this.entityId)
      this.fileUploadInprogress = false
    }
  }

  onFilesInputInput(event: Event) {
    if (!(event.target as HTMLInputElement).files) return

    const files = (event.target as HTMLInputElement).files!
    const uploadPromiseFactories: (() => Promise<any>)[] = []
    let versionWillBeCreated = false

    this.fileUploadInprogress = true

    for (let i = 0; files.length > i; i++) {
      const file = files[i]
      const request = objectToFormData({
        entity: this.entity,
        entity_id: this.entityId,
        group: api.Medialib.Groups.Files,
        filename: file
      } as api.Medialib.Files.FileCreateRequest)
      const fileName = file.name.split('.').slice(0, -1).join('.')
      const fileExtension = file.name.split('.').pop() ?? ''
      const filesWithSameName = this.files.filter(
        someFile =>
          someFile.name === fileName
          && this.fileExtensions[someFile.ext_id].ext.toLowerCase() == fileExtension.toLowerCase()
      )
      let parentFile: api.Medialib.Files.File | undefined

      if (filesWithSameName.length) {
        if (filesWithSameName.length > 1) {
          parentFile = filesWithSameName.find(someFile => 'parent_of' in someFile)
        } else {
          parentFile = filesWithSameName[0]
        }
      }

      if (parentFile) {
        versionWillBeCreated = true
        request.set('file_id', `${parentFile.file_id}`)
        uploadPromiseFactories.push(
          () => {
            return axios
              .post('/api/v1/medialib-module/create-version-file', request)
              .catch(this.handleUploadError)
          }
        )
      } else {
        request.set('folder_id', `${this.selectedFileFolderId}`)
        uploadPromiseFactories.push(
          () => {
            return axios
              .post('/api/v1/medialib-module/create-file', request)
              .catch(this.handleUploadError)
          }
        )
      }
    }

    if (versionWillBeCreated) {
      this.$bvModal.msgBoxConfirm(
        'Один из загружаемых файлов файлов имеет название как у уже загруженного. Будет создана новая его версия. Продолжить?',
        {
          title: 'Создание версии файла',
          okTitle: 'Да',
          okVariant: 'danger',
          cancelTitle: 'Нет',
          cancelVariant: 'success',
          centered: true
        }
      ).then(async (isOk: boolean | null) => {
        if (isOk) {
          this.processAddFilePromiseFactories(uploadPromiseFactories)
        } else {
          this.fileUploadInprogress = false
        }
      })
    } else {
      this.processAddFilePromiseFactories(uploadPromiseFactories)
    }
  }

  handleUploadError(error: any) {
    if (error?.response?.data?.errors) {
      let message = ''

      Object.keys(error.response.data.errors).forEach((errorKey: string, index) => {
        message += `\r\n\r\n${error.response.data.errors[errorKey]}`
        if (index === 0) { message.replace('\r\n\r\n', '') }
      })

      window.ROOT.$bvModal.msgBoxOk(
        message,
        {
          title: 'Ошибка',
          okVariant: 'danger',
          centered: true
        }
      )
    } else {
      window.ROOT.$bvModal.msgBoxOk(
        error.message,
        {
          title: 'Ошибка',
          okVariant: 'danger',
          centered: true
        }
      )
    }
  }

  onEditFileClick(id: number) {
    const file = this.files.find(photo => photo.file_id === id)

    this.fileEditModal.name = file?.name ?? ''
    this.fileEditModal.description = file?.description ?? ''
    this.fileEditModal.fileId = id
    this.fileEditModal.show = true
  }

  onFileEditFormSubmit() {
    this.fileEditModal.upsertInprogress = true

    const request: Omit<api.Medialib.Files.FileUpdateRequest, 'id'> = {
      entity: this.entity,
      entity_id: this.entityId,
      group: api.Medialib.Groups.Files,
      name: this.fileEditModal.name,
      description: this.fileEditModal.description
    }

    axios
      .patch(
        `/api/v1/medialib-module/${this.fileEditModal.fileId}/update-file`,
        request
      )
      .then(() => {
        this.fileEditModal.show = false
        this.filesFetcher(this.entityId)
      })
      .finally(() => {
        this.fileEditModal.upsertInprogress = false
      })
  }

  onAddFileVersionClick() {
    (this.$refs.fileVersionInput as HTMLInputElement).click()
  }

  onFileVersionInputInput(event: Event) {
    if (!(event.target as HTMLInputElement).files) return

    const file = (event.target as HTMLInputElement).files![0]
    const request = objectToFormData({
      entity: this.entity,
      entity_id: this.entityId,
      group: api.Medialib.Groups.Files,
      file,
      folder_id: this.selectedFileFolderId,
      parent_id: this.fileEditModal.fileId
    } as api.Medialib.Files.FileVersionCreateRequest)

    this.fileEditModal.fileVersionUploadInprogress = true

    axios
      .post('/api/v1/medialib-module/create-version-file', request)
      .then(async () => {
        await this.filesFetcher(this.entityId)
        this.fileEditModal.show = false
      })
      .finally(() => {
        this.fileEditModal.fileVersionUploadInprogress = false
        ;(this.$refs.fileVersionInput as HTMLInputElement).value = ''
      })
      .catch(this.handleUploadError)
  }

  onDeleteFileClick(file: api.Medialib.Files.File) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот файл?',
      {
        title: 'Удалить файл',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const request: Omit<api.Medialib.Files.FileDeleteSoftRequest, 'id'> = {
          group: api.Medialib.Groups.Files,
          entity: this.entity,
          entity_id: this.entityId
        }

        if (!('parent_of' in file)) {
          request.file_ver_id = file.file_ver_id
        }

        const response = await axios.delete<api.Medialib.Files.FileDeleteSoftResponse>(
          `/api/v1/medialib-module/${file.file_id}/soft`,
          {
            params: request
          }
        )

        if (response.status === 200) {
          this.filesFetcher(this.entityId)
        }
      }
    })
  }

  startFileFolderEditDialog(folder?: api.Medialib.Folders.Folder) {
    this.fileFolderEditModal.folderId = folder?.id ?? null
    this.fileFolderEditModal.parent_id = folder?.parent_id ?? null
    this.fileFolderEditModal.name = folder?.name ?? ''
    this.fileFolderEditModal.description = folder?.description ?? ''
    this.fileFolderEditModal.operation = folder ? 'update' : 'create'
    this.fileFolderEditModal.show = true
  }

  async onFileFolderEditFormSubmit() {
    this.fileFolderEditModal.upsertInprogress = true

    const request: api.Medialib.Folders.FolderCreateRequest = {
      entity: this.entity,
      entity_id: this.entityId,
      group: api.Medialib.Groups.Files,
      name: this.fileFolderEditModal.name,
      description: this.fileFolderEditModal.description,
      parent_id: null
    }
    let upsertPromise: Promise<api.Medialib.Folders.FolderCreateResponse | api.Medialib.Folders.FolderUpdateResponse>

    if (this.fileFolderEditModal.operation === 'create') {
      request.parent_id = this.selectedFileFolderId
      upsertPromise = axios.post<api.Medialib.Folders.FolderCreateResponse>(
        `/api/v1/medialib-module/folders/create-folder`,
        request
      )
    } else {
      request.parent_id = this.fileFolderEditModal.parent_id
      upsertPromise = axios.patch<api.Medialib.Folders.FolderCreateResponse>(
        `/api/v1/medialib-module/folders/${this.fileFolderEditModal.folderId}/update-folder`,
        request
      )
    }
    upsertPromise.then(async () => {
      await this.fileFoldersFetcher(this.entityId)
      this.fileFolderEditModal.show = false
    }).finally(() => {
      this.fileFolderEditModal.upsertInprogress = false
    })
  }

  async fileFolderDrop(
    event: any /*DragEvent*//*safari fix*/,
    targetFolder: api.Medialib.Folders.Folder,
    draggedFolder: api.Medialib.Folders.Folder
  ) {
    const response = await axios
      .patch(`/api/v1/medialib-module/folders/${draggedFolder.id}/update-folder`, {
        ...draggedFolder,
        parent_id: targetFolder.id
      })

    await this.fileFoldersFetcher(this.entityId)

    return response
  }

  onFileFolderClick(id: number | null) {
    this.selectedFileFolderId = id
  }

  deleteFileFolder(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить эту папку со всем содержимым?',
      {
        title: 'Удалить папку',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await axios.delete<api.Medialib.Folders.FolderDeleteResponse>(`/api/v1/medialib-module/folders/${id}/soft-delete-folder`)

        if (response.status === 200) {
          this.selectedFileFolderId = null
          this.fileFoldersFetcher(this.entityId)
        }
      }
    })
  }

  getFileLink(file: api.Medialib.Files.File) {
    return `${this.filesStorageLink}file/${file.filename}` +
      `?group=${api.Medialib.Groups.Files}` +
      `&file_ver_id=${file.file_ver_id}` +
      `&entity=${this.entity}` +
      `&entity_id=${this.entityId}`
  }

  getNonParentFilesByFileId(id: number) {
    return this.files
      .filter(file => file.file_id === id && !('parent_of' in file))
      .sort((fileA, fileB) => fileB.ver_number! - fileA.ver_number!)
  }

  onFileChildrenCollapseShow(ref: string) {
    this.shownCollapses.push(ref)
  }

  onFileChildrenCollapseHide(ref: string) {
    this.shownCollapses = this.shownCollapses.filter(collapse => collapse !== ref)
  }

  onFileRecover() {
    this.filesFetcher(this.entityId)
  }

  getUserById(id: number) {
    return this.filesUsers.find(x => x.user_id === id)
  }

  onTrashCanToggleClick() {
    this.showTrashCan = !this.showTrashCan
  }
}
</script>
