<template>
  <div
    ref="player"
    class="odtn-mjpeg-player"
  >
    <canvas
      ref="canvas"
      class="odtn-mjpeg-player__canvas"
      @click="onCanvasClick"
      @dblclick="onCanvasDblClick"
    />
    <b-button
      v-if="!running || loading"
      class="odtn-mjpeg-player__play-button"
      :class="[{'btn-loading': loading}]"
      variant="primary"
      pill
      @click="onPlayClick"
    >
      <fa
        class="odtn-mjpeg-player__play-button-icon"
        icon="play"
      />
    </b-button>
    <div class="odtn-mjpeg-player__buttons">
      <b-button
        v-if="camera"
        variant="light"
        size="sm"
        @click="onViewVideosListClick"
      >
        <fa icon="list" />
      </b-button>
      <b-button
        variant="light"
        size="sm"
        @click="onFullscreenClick"
      >
        <fa
          class="odtn-mjpeg-player__fullscreen-button-icon"
          :icon="fullscreen ? 'compress' : 'expand'"
        />
      </b-button>
    </div>
    <b-modal
      ref="videosListModal"
      title="Видеозаписи с камеры за период"
      hide-footer
      centered
    >
      <div>
        <label>Начало периода:</label>
        <div class="row">
          <div class="col-auto mb-2">
            <b-form-input
              v-model="startDate"
              type="date"
              size="sm"
              @input="onDateTimeInput"
            />
          </div>
          <div class="col-auto pl-sm-0">
            <b-form-input
              v-model="startTime"
              type="time"
              size="sm"
              @input="onDateTimeInput"
            />
          </div>
        </div>
      </div>
      <div>
        <label>Конец периода:</label>
        <div class="row">
          <div class="col-auto mb-2">
            <b-form-input
              v-model="endDate"
              type="date"
              size="sm"
              @input="onDateTimeInput"
            />
          </div>
          <div class="col-auto pl-sm-0">
            <b-form-input
              v-model="endTime"
              type="time"
              size="sm"
              @input="onDateTimeInput"
            />
          </div>
        </div>
      </div>
      <ul v-if="videos.length && !videosLoading">
        <li
          v-for="video in videos"
          :key="video.file"
        >
          {{ formatDate(video.date) }}
          <b-link
            target="_blank"
            :href="`/api/v1/video/36?filename=${video.file}`"
          >
            Открыть
          </b-link>
        </li>
      </ul>
      <div
        v-if="videosLoading"
        class="d-flex justify-content-center mt-2 mb-3"
      >
        <b-spinner variant="primary" />
      </div>
      <b-pagination
        v-if="videosResponse && videosResponse.last_page > 1"
        v-model="page"
        class="justify-content-center"
        :total-rows="videosResponse.total"
        :per-page="videosResponse.per_page"
        @input="onPaginationInput"
      />
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import axios from 'axios'
import moment from 'moment'
import { omit } from 'lodash-es'
import debounce from '~/decorators/debounce'
import * as api from '~/typings/api'

interface Coordinates {
  x: number
  y: number
}

interface Size {
  width: number
  height: number
}

@Component
export default class MJPEGStreamPlayer extends Vue {
  @Prop()
  camera?: api.Videcams.Videcams.Videcam

  @Prop({ required: true })
  url!: string

  @Prop({ default: false })
  autoStart!: boolean

  @Prop({ default: 500 })
  refreshRate!: number

  player: HTMLDivElement
  canvas: HTMLCanvasElement
  canvasContext: CanvasRenderingContext2D
  running = false
  loading = false
  frameTimer = 0
  img = new Image()
  fullscreen = false
  videosResponse: api.VideoList.VideoListResponse | null = null
  videosLoading = false
  startDate = ''
  startTime = ''
  endDate = ''
  endTime = ''
  page = 1

  get videos():api.VideoList.VideoListItem[] {
    if (this.videosResponse) {
      if (this.videosResponse.data instanceof Array) {
        return this.videosResponse.data
      } else {
        return Object.values(this.videosResponse.data)
      }
    }
    return []
  }

  get startMoment() {
    return moment(`${this.startDate} ${this.startTime}`, 'YYYY-MM-DD HH:mm')
  }

  get endMoment() {
    return moment(`${this.endDate} ${this.endTime}`, 'YYYY-MM-DD HH:mm')
  }

  mounted() {
    this.player = this.$refs['player'] as HTMLDivElement
    this.canvas = this.$refs['canvas'] as HTMLCanvasElement
    this.canvasContext = this.canvas.getContext('2d')!
    this.loading = true
    if (this.autoStart) {
      this.img.onload = () => {
        this.actualizeCanvasSize()
        this.setRunning(true)
        this.img.onload = null
      }
    } else {
      this.img.onload = () => {
        this.actualizeCanvasSize()
        this.updateFrame(true)
        this.img.onload = null
      }
    }
    this.img.src = this.url
    document.addEventListener('fullscreenchange', this.onFullscreenChange)
  }

  beforeDestroy() {
    document.removeEventListener('fullscreenchange', this.onFullscreenChange)
  }

  onFullscreenChange() {
    if (document.fullscreenElement === this.player) {
      this.fullscreen = true
    } else {
      this.fullscreen = false
      this.canvas.classList.remove('odtn-mjpeg-player__canvas_reverse-cover')
    }
  }

  actualizeCanvasSize() {
    this.canvas.height = this.img.naturalHeight
    this.canvas.width = this.img.naturalWidth
  }

  setRunning(running: boolean) {
    this.running = running
    if (this.running) {
      if (this.img.src === '') {
        this.loading = true
        this.img.onload = () => {
          this.actualizeCanvasSize()
          this.setRunning(true)
          this.img.onload = null
        }
        this.img.src = this.url

        return
      }
      this.frameTimer = window.setInterval(() => {
        this.updateFrame()
      }, this.refreshRate)
    } else {
      window.clearInterval(this.frameTimer)
      this.img.removeAttribute('src')
      this.loading = false
    }
  }

  onCanvasClick() {
    if (this.running) {
      this.setRunning(false)
    } else {
      this.setRunning(true)
    }
  }

  onCanvasDblClick() {
    this.toggleFullscreen()
  }

  onPlayClick() {
    this.setRunning(true)
  }

  toggleFullscreen() {
    if (this.fullscreen) {
      document.exitFullscreen()
      this.canvas.classList.remove('odtn-mjpeg-player__canvas_reverse-cover')
    } else {
      this.player.requestFullscreen()
    }
  }

  onFullscreenClick() {
    this.toggleFullscreen()
  }

  scaleRect(srcSize: Size, dstSize: Size) {
    let ratio = Math.min(dstSize.width / srcSize.width,
      dstSize.height / srcSize.height)
    let newRect = {
      x: 0, y: 0,
      width: srcSize.width * ratio,
      height: srcSize.height * ratio
    }
    newRect.x = (dstSize.width/2) - (newRect.width/2)
    newRect.y = (dstSize.height/2) - (newRect.height/2)

    return newRect
  }

  updateFrame(once?: boolean) {
    let srcRect: Coordinates & Size = {
      x: 0,
      y: 0,
      width: this.img.naturalWidth,
      height: this.img.naturalHeight
    }
    let dstRect = this.scaleRect(srcRect, {
      width: this.canvas.width,
      height: this.canvas.height
    })

    try {
      this.canvasContext?.drawImage(this.img,
        srcRect.x,
        srcRect.y,
        srcRect.width,
        srcRect.height,
        dstRect.x,
        dstRect.y,
        dstRect.width,
        dstRect.height
      )
      this.loading = false
      if (this.fullscreen && this.player.clientHeight < this.canvas.clientHeight) {
        this.canvas.classList.add('odtn-mjpeg-player__canvas_reverse-cover')
      }
      if (this.player.clientWidth < this.canvas.clientWidth) {
        this.canvas.classList.remove('odtn-mjpeg-player__canvas_reverse-cover')
      }
      if (once) {
        this.setRunning(false)
      }
    } catch (e) {
      this.setRunning(false)

      throw e
    }
  }

  fetchCameraVideos(params: api.VideoList.VideoListRequest = {
    cameraId: this.camera!.id,
    start_date: `${this.startDate} ${this.startTime}:00`,
    end_date: `${this.endDate} ${this.endTime}:00`,
    page: this.page
  }) {
    this.videosLoading = true
    axios.get<api.VideoList.VideoListResponse>(
      `/api/v1/video-list/${params.cameraId}`,
      //`https://bms.odtn.ru/api/v1/video-list/36`,
      {
        params: omit(params, 'cameraId')//,
        // headers: {
        //   'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYm1zLm9kdG4ucnVcL2FwaVwvdjFcL2xvZ2luIiwiaWF0IjoxNTk5NzUzNTUzLCJleHAiOjE2MDIzNDU1NTMsIm5iZiI6MTU5OTc1MzU1MywianRpIjoiRmNLVDZldERUTGJZNDR6VCIsInN1YiI6MTYsInBydiI6Ijg3ZTBhZjFlZjlmZDE1ODEyZmRlYzk3MTUzYTE0ZTBiMDQ3NTQ2YWEifQ.R8W3zD6TStebvBoz6BrO6NyVF91sxO6vejsY5w4N0rY'
        // }
      }
    ).then((response) => {
      this.videosResponse = response.data
    }).finally(() => {
      this.videosLoading = false
    })
  }

  onViewVideosListClick() {
    const momentNow = moment()
    const momentAgo = moment().subtract(2, 'days')

    if (this.startDate == ''
      || this.startTime == ''
      || this.endDate == ''
      || this.endTime == '') {
      this.startDate = momentAgo.format('YYYY-MM-DD')
      this.startTime = momentAgo.format('HH:mm')
      this.endDate = momentNow.format('YYYY-MM-DD')
      this.endTime = momentNow.format('HH:mm')
    }
    (this.$refs['videosListModal'] as Vue & { show: () => void }).show()
    this.fetchCameraVideos()
  }

  onPaginationInput(page: number) {
    this.page = page
    this.fetchCameraVideos()
  }

  @debounce(300)
  onDateTimeInput() {
    if (this.startMoment.isValid() && this.endMoment.isValid()) {
      this.page = 1
      this.fetchCameraVideos()
    }
  }

  formatDate(value: string) {
    return moment(value, 'YYYY:MM:DD HH:mm:ss').format('DD.MM.YYYY HH:mm:ss')
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.odtn-mjpeg-player {
  background: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__canvas {
    width: 100%;
    height: auto;
    &_reverse-cover {
      width: auto;
      height: 100%;
    }
  }
  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include media-breakpoint-up(md) {
      transform: translate(-50%, -50%) scale(1.5);
    }
    @include media-breakpoint-up(lg) {
      transform: translate(-50%, -50%) scale(1.75);
    }
    @include media-breakpoint-up(xl) {
      transform: translate(-50%, -50%) scale(2);
    }
  }
  &__buttons {
    position: absolute;
    right: 10px;
    bottom: 15px;
    pointer-events: none;
    & > * {
      pointer-events: all;
    }
  }
}
</style>
