<template>
  <nav
    class="navbar navbar-light bg-light fixed-top px-0 py-1"
    :class="{
      'has-expanded-collapse': collapseIsShown
    }"
  >
    <div class="container">
      <b-navbar-brand
        class="p-1 mr-0"
        :to="{ name: logoLinkRouteName }"
      >
        <img
          src="/logo_black.png"
          class="logo img-fluid"
          alt="Одинцовская Теплосеть"
        >
      </b-navbar-brand>
      <!-- Authenticated -->
      <b-dropdown
        v-if="user"
        class="ml-auto settings-dropdown"
        variant="transparent"
        :popper-opts="{ positionFixed: true }"
        boundary="window"
        right
      >
        <template v-slot:button-content>
          <img
            :src="user.photo_url.width_128"
            class="rounded-circle profile-photo m-0 p-0 mr-1"
          >
          <span class="d-none d-sm-inline">{{ user.first_name }} {{ user.last_name }}</span>
        </template>
        <b-dropdown-item
          v-for="settingsMenuItem in settingsMenu"
          :key="settingsMenuItem.route"
          :to="{ name: settingsMenuItem.route }"
          active-class="active"
        >
          <fa
            :icon="settingsMenuItem.icon"
            fixed-width
          />
          {{ settingsMenuItem.name }}
        </b-dropdown-item>
        <b-dropdown-item
          active-class="active"
          @click.prevent="logout"
        >
          <fa
            icon="sign-out-alt"
            fixed-width
          />
          {{ $t('logout') }}
        </b-dropdown-item>
      </b-dropdown>
      <!-- Guest -->
      <b-nav
        v-if="!user"
        class="d-none d-lg-flex"
        pills
      >
        <b-nav-item
          :to="{ name: 'login' }"
          active-class="active"
        >
          {{ $t('login') }}
        </b-nav-item>
        <b-nav-item
          :to="{ name: 'register' }"
          active-class="active"
        >
          {{ $t('register') }}
        </b-nav-item>
      </b-nav>
      <b-navbar-toggle
        class="ml-3 d-lg-none"
        target="nav-collapse"
      />
    </div>
    <b-collapse
      id="nav-collapse"
      v-model="collapseIsShown"
      class="d-lg-none"
      is-nav
    >
      <!-- Authenticated -->
      <b-nav
        v-if="user"
        class="pt-2"
        vertical
        pills
      >
        <b-nav-item
          v-for="mainMenuItem in mainMenu"
          :key="mainMenuItem.route"
          :to="{ name: mainMenuItem.route }"
          active-class="active"
        >
          <fa
            :icon="mainMenuItem.icon"
            fixed-width
            style="font-size: 16px"
          />
          {{ mainMenuItem.name }}
        </b-nav-item>
        <div class="dropdown-divider" />
        <template v-for="(directoryMenuGroup, directoryMenuGroupIndex) in directoryMenu">
          <li
            :key="'navbarDirectoryMenuGroupToggler_' + directoryMenuGroup.name"
            v-b-toggle="'navbar-directory-menu-accordion-' + directoryMenuGroupIndex"
            class="nav-item"
            @click.stop
          >
            <span
              class="nav-link"
            >
              <fa
                v-if="directoryMenuGroup.icon"
                :icon="directoryMenuGroup.icon"
                fixed-width
                style="font-size: 16px"
              />
              {{ directoryMenuGroup.name }}
            </span>
          </li>
          <b-collapse
            :id="'navbar-directory-menu-accordion-' + directoryMenuGroupIndex"
            ref="navbarDirectoryMenuGroupCollapse"
            :key="'navbarDirectoryMenuGroupCollapse_' + directoryMenuGroup.name"
            :visible="directoryMenuVisibleCollapseIndex === directoryMenuGroupIndex"
            accordion="navbarDirectoryMenuAccordion"
            @show="onDirectoryMenuCollapseShow(directoryMenuGroupIndex)"
            @hidden="onDirectoryMenuCollapseHidden()"
          >
            <b-nav-item
              v-for="directoryMenuItem in directoryMenuGroup.items"
              :key="directoryMenuItem.route"
              :to="{ name: directoryMenuItem.route }"
              active-class="active"
            >
              <fa
                :icon="directoryMenuItem.icon"
                fixed-width
                style="font-size: 16px"
              />
              {{ directoryMenuItem.name }}
            </b-nav-item>
          </b-collapse>
        </template>
      </b-nav>
      <!-- Guest -->
      <b-nav
        v-if="!user"
        vertical
        pills
      >
        <b-nav-item
          :to="{ name: 'login' }"
          active-class="active"
        >
          {{ $t('login') }}
        </b-nav-item>
        <b-nav-item
          :to="{ name: 'register' }"
          active-class="active"
        >
          {{ $t('register') }}
        </b-nav-item>
      </b-nav>
    </b-collapse>
  </nav>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import * as client from '~/typings/client'

interface SettingsMenuItem {
  icon: string
  name: string
  route: string
}

@Component
export default class Navbar extends Vue {
  store = useStore<RootModule>(this.$store)
  appName: string = (window as any).config.appName ?? ''
  collapseIsShown = false

  get user() {
    return this.store.auth.user
  }

  get mainMenu() {
    return this.store.mainMenu
  }

  get directoryMenu() {
    return this.store.directoryMenu
  }

  get settingsMenu() {
    const menu: SettingsMenuItem[] = []

    menu.push({
      icon: 'user',
      name: this.$t('profile') as string,
      route: 'settings.profile'
    })
    if (this.user?.can['read user medialib items']) {
      menu.push({
        icon: 'folder',
        name: 'Файлы',
        route: 'settings.documents'
      })
    }
    menu.push({
      icon: 'address-book',
      name: this.$t('contacts') as string,
      route: 'settings.contacts'
    })
    menu.push({
      icon: 'lock',
      name: this.$t('password') as string,
      route: 'settings.password'
    })

    return menu
  }

  get logoLinkRouteName() {
    if (this.user) {
      if (this.user.can['read map objects']) {
        return 'map'
      } else {
        return 'home'
      }
    } else {
      return 'welcome'
    }
  }

  get directoryMenuVisibleCollapseIndex() {
    return this.store.auth.userConfigValue('directory-menu_visible-collapse-index')
  }

  async logout() {
    // Log out the user.
    await this.store.auth.logout()
    // Redirect to login.
    this.$router.push({ name: 'login' })
  }

  onDirectoryMenuCollapseShow(value: string) {
    this.store.auth.updateUserConfig({ name: 'directory-menu_visible-collapse-index', value })
  }

  onDirectoryMenuCollapseHidden() {
    if ((this.$refs['navbarDirectoryMenuGroupCollapse'] as (Vue & { show: boolean })[])
      .filter(collapse => collapse.show).length === 0) {
      this.store.auth.updateUserConfig({ name: 'directory-menu_visible-collapse-index', value: null })
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar.has-expanded-collapse {
  max-height: 100%;
  overflow-y: auto;
}

.dropdown ::v-deep .dropdown-menu {
  max-height: 100%;
  overflow-y: auto;
  z-index: 9999;
}

.logo {
  max-height: 48px;
}

.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}
</style>
