<template>
  <ul
    v-if="itemsForLevel.length > 0"
    class="odtn-tree odtn-tree_root"
    :class="{
      'odtn-tree_cb-inprogress': onItemDropCallbackInprogress,
      'odtn-tree_no-root': noRoot
    }"
  >
    <odtn-tree-item
      v-for="item in itemsForLevel"
      :key="item.id"
      :class="{
        'odtn-tree__item_cb-inprogress': onItemDropCallbackInprogress
      }"
      :list="list"
      :list-item="item"
      :tree-level-id="item.id"
      :drag-state="dragState"
      :items-for-level-processor="itemsForLevelProcessor"
      :items-allowed-for-drop="itemsAllowedForDrop"
      :can-drag="canDrag"
      :on-item-drag-start="onItemDragStartHandler"
      :on-item-drag-end="onItemDragEndHandler"
      :on-item-drag-over="onItemDragOverHandler"
      :on-item-drag-enter="onItemDragEnterHandler"
      :on-item-drop="onItemDropHandler"
    >
      <template
        v-for="slot in Object.keys($scopedSlots)"
        :slot="slot"
        slot-scope="slotProps"
      >
        <slot
          :name="slot"
          v-bind="slotProps"
        />
      </template>
    </odtn-tree-item>
  </ul>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import throttle from '~/decorators/throttle'
import { getAllTreeListItemsWithExcept } from '~/common/treeListUtils'

interface ListItem {
  id: number | null
  parent_id: number | null
}

@Component
export default class Tree extends Vue {
  @Prop({ type: Array, required: true })
  readonly list!: ListItem[]

  @Prop({ validator: prop => typeof prop === 'number' || prop === null, default: 0 })
  readonly treeLevelId!: number | null

  @Prop({ type: Boolean, default: false })
  readonly itemsDraggable!: boolean

  @Prop({ type: Function })
  readonly onItemDrop?: (event: any /*DragEvent*//*safari fix*/, targetItem: ListItem, draggedItem: ListItem) => Promise<void>

  @Prop({ type: Function })
  readonly itemsForLevelProcessor?: (
    itemsForLevel: ListItem[],
    list: ListItem[],
    treeLevelId: number | null
  ) => ListItem[]

  @Prop({ type: Boolean })
  readonly noRoot?: boolean

  @Prop({ default: 'id' })
  readonly idProp!: string

  @Prop({ default: 'parent_id' })
  readonly parentIdProp!: string

  dragState: {
    draggedElement: EventTarget | null
    draggedItem: ListItem | null
    enteredItem: ListItem | null
  } = {
    draggedElement: null,
    draggedItem: null,
    enteredItem: null
  }
  onItemDropCallbackInprogress = false

  get itemsForLevel() {
    if (this.itemsForLevelProcessor) {
      return this.itemsForLevelProcessor(
        this.list.filter((item) => item[this.parentIdProp as 'parent_id'] === this.treeLevelId),
        this.list,
        this.treeLevelId
      )
    } else {
      return this.list.filter((item) => item[this.parentIdProp as 'parent_id'] === this.treeLevelId)
    }
  }

  get itemsAllowedForDrop() {
    if (this.dragState.draggedItem) {
      return getAllTreeListItemsWithExcept(
        this.list,
        this.dragState.draggedItem,
        {
          self: true,
          children: true,
          parent: 'one'
        },
        {
          id_prop: this.idProp,
          parent_id_prop: this.parentIdProp
        }
      )
    } else {
      return []
    }
  }

  created() {
    window.addEventListener('dragenter', this.onWindowDragEnter)
  }

  beforeDestroy() {
    window.removeEventListener('dragenter', this.onWindowDragEnter)
  }

  @throttle(100, { leading: true, trailing: false })
  onWindowDragEnter() {
    this.dragState.enteredItem = null
  }

  onItemDragStartHandler(event: any /*DragEvent*//*safari fix*/, item: ListItem) {
    event.dataTransfer!.effectAllowed = 'move'
    event.dataTransfer!.setData('text', '')
    this.dragState.draggedElement = event.target
    this.dragState.draggedItem = item
  }

  onItemDragEndHandler(event: any /*DragEvent*//*safari fix*/, item: ListItem) {
    this.dragState.draggedElement = null
    this.dragState.draggedItem = null
    this.dragState.enteredItem = null
  }

  @throttle(100, { leading: true, trailing: false })
  onItemDragOverHandler(event: any /*DragEvent*//*safari fix*/, item: ListItem) {
    if (!navigator.userAgent.includes('Firefox')) {
      this.dragState.enteredItem = item
    }
  }

  onItemDragEnterHandler(event: any /*DragEvent*//*safari fix*/, item: ListItem) {
    if (navigator.userAgent.includes('Firefox')) {
      this.dragState.enteredItem = item
    }
  }

  async onItemDropHandler(event: any /*DragEvent*//*safari fix*/, targetItem: ListItem, draggedItem: ListItem) {
    if (this.onItemDrop && this.itemsAllowedForDrop.includes(targetItem)) {
      this.onItemDropCallbackInprogress = true
      await this.onItemDrop(event, targetItem, draggedItem)
        .finally(() => {
          this.onItemDropCallbackInprogress = false
        })
    }
  }

  canDrag(item: ListItem) {
    if (item.id !== 0
      && item.id !== null
      && item.id !== undefined
      && this.itemsDraggable) {
      return true
    } else {
      return false
    }
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.odtn-tree {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  &_cb-inprogress {
    pointer-events: none;
    &:after {
      animation: treeSpinAround 500ms infinite linear;
      border: 2px solid theme-color('primary');
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: '';
      display: block;
      height: 2em;
      width: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &_no-root.odtn-tree_root {
    & > .odtn-tree__item > .odtn-tree > .odtn-tree__item {
      padding-left: 0;
      &:before,
      &:after {
        display: none;
      }
    }
  }
  &__item {
    padding: 0 0 0 25px;
    position: relative;
    &_cb-inprogress {
      opacity: .3;
    }
    &_dragged {
      opacity: .3;
    }
    &_drop-allowed {
      background: transparentize($success, .7);
    }
    &_drop-forbidden {
      // background: transparentize($danger, .9);
    }
    .odtn-tree {
      &__item {
        &:before {
          content: '';
          border-left: 1px dotted;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 12px;
          pointer-events: none;
        }
        &:after {
          content: '';
          width: 9px;
          border-top: 1px dotted;
          position: absolute;
          top: 18px;
          left: 12px;
          pointer-events: none;
        }
        &:last-child {
          &:before {
            content: '';
            width: 9px;
            height: 18px;
            border-bottom: 1px dotted;
            border-left: 1px dotted;
            position: absolute;
            top: 0;
            left: 12px;
            pointer-events: none;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

@keyframes treeSpinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
</style>
