<template>
  <li
    v-if="listItem"
    class="odtn-tree__item"
    :class="{
      'odtn-tree__item_dragged': dragState.draggedItem === listItem,
      'odtn-tree__item_drop-allowed': dragState.enteredItem === listItem
        && itemsAllowedForDrop.length > 0
        && itemsAllowedForDrop.includes(dragState.enteredItem),
      'odtn-tree__item_drop-forbidden': dragState.enteredItem === listItem
        && itemsAllowedForDrop.length > 0
        && !itemsAllowedForDrop.includes(dragState.enteredItem)
    }"
    :draggable="canDrag(listItem)"
    @dragstart.stop="onItemDragStart($event, listItem)"
    @dragend.stop.prevent="onItemDragEnd($event, listItem)"
    @dragover.stop.prevent="onItemDragOver($event, listItem)"
    @dragenter.stop.prevent="onItemDragEnter($event, listItem)"
    @drop.stop.prevent="onItemDrop($event, listItem, dragState.draggedItem)"
  >
    <slot
      name="item"
      :item="listItem"
    >
      {{ listItem }}
    </slot>
    <ul
      v-if="itemsForLevel.length > 0"
      class="odtn-tree"
    >
      <odtn-tree-item
        v-for="item in itemsForLevel"
        :key="item.id"
        :list="list"
        :list-item="item"
        :tree-level-id="item.id"
        :drag-state="dragState"
        :items-for-level-processor="itemsForLevelProcessor"
        :items-allowed-for-drop="itemsAllowedForDrop"
        :can-drag="canDrag"
        :on-item-drag-start="onItemDragStart"
        :on-item-drag-end="onItemDragEnd"
        :on-item-drag-over="onItemDragOver"
        :on-item-drag-enter="onItemDragEnter"
        :on-item-drop="onItemDrop"
      >
        <template
          v-for="slot in Object.keys($scopedSlots)"
          :slot="slot"
          slot-scope="slotProps"
        >
          <slot
            :name="slot"
            v-bind="slotProps"
          />
        </template>
      </odtn-tree-item>
    </ul>
  </li>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

interface ListItem {
  id: number | null
  parent_id: number | null
}

@Component
export default class TreeItem extends Vue {
  @Prop({ type: Array, required: true })
  readonly list!: ListItem[]

  @Prop({ required: true })
  readonly listItem!: ListItem

  @Prop({ validator: prop => typeof prop === 'number' || prop === null, default: 0 })
  readonly treeLevelId!: number | null

  @Prop()
  readonly dragState!: {
    draggedElement: EventTarget | null
    draggedItem: ListItem | null
    enteredItem: ListItem | null
  }

  @Prop({ type: Array, required: true })
  readonly itemsAllowedForDrop!: ListItem[]

  @Prop({ type: Function, required: true })
  readonly canDrag!: (item: ListItem) => boolean

  @Prop({ type: Function, required: true })
  readonly onItemDragStart!: (event: any /*DragEvent*//*safari fix*/, item: ListItem) => void

  @Prop({ type: Function, required: true })
  readonly onItemDragEnd!: (event: any /*DragEvent*//*safari fix*/, item: ListItem) => void

  @Prop({ type: Function, required: true })
  readonly onItemDragOver!: (event: any /*DragEvent*//*safari fix*/, item: ListItem) => void

  @Prop({ type: Function, required: true })
  readonly onItemDragEnter!: (event: any /*DragEvent*//*safari fix*/, item: ListItem) => void

  @Prop({ type: Function, required: true })
  readonly onItemDrop!: (event: any /*DragEvent*//*safari fix*/, targetItem: ListItem, draggedItem: ListItem) => void

  @Prop({ type: Function })
  readonly itemsForLevelProcessor?: (
    itemsForLevel: ListItem[],
    list: ListItem[],
    treeLevelId: number | null
  ) => ListItem[]

  @Prop({ default: 'id' })
  readonly idProp!: string

  @Prop({ default: 'parent_id' })
  readonly parentIdProp!: string

  get itemsForLevel() {
    if (this.itemsForLevelProcessor) {
      return this.itemsForLevelProcessor(
        this.list.filter((item) => item[this.parentIdProp as 'parent_id'] === this.treeLevelId),
        this.list,
        this.treeLevelId
      )
    } else {
      return this.list.filter((item) => item[this.parentIdProp as 'parent_id'] === this.treeLevelId)
    }
  }
}
</script>
