<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Расширение файлов
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- file_type_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Тип файла
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.file_type_id">
            <b-form-select-option
              :value="null"
            >
              Без типа
            </b-form-select-option>
            <b-form-select-option
              v-for="fileType in fileTypes"
              :key="fileType.id"
              :value="fileType.id"
            >
              {{ fileType.file_type_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="file_type_id"
          />
        </div>
      </div>

      <!-- ext -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Расширение
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.ext"
            :state="form.errors.has('ext') ? false : null"
            name="ext"
          />
          <has-error
            :form="form"
            field="ext"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Расширение файлов' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)

  form = new Form({
    file_type_id: null,
    ext: '',
    description: ''
  })

  get fileExtension() {
    return this.store.files.fileExtension
  }

  get fileTypes() {
    return this.store.files.fileTypes?.data ?? []
  }

  created() {
    this.store.files.fetchFileTypes()
    this.getFileExtension(parseInt(this.$route.params.id))
  }

  async getFileExtension(id: number) {
    await this.store.files.fetchFileExtension({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.fileExtension.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/medialib-file-extensions/${this.$route.params.id}`)
    this.$router.push({ name: 'medialib-file-extensions' })
  }
}
</script>
