<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Модель контроллера
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- topic_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Путь
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.topic_name"
            :state="form.errors.has('topic_name') ? false : null"
            name="topic_name"
          />
          <has-error
            :form="form"
            field="topic_name"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Модель контроллера' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    description: '',
    topic_name: ''
  })

  get controllerModel() {
    return this.store.metricControllers.controllerModels.controllerModel
  }

  created() {
    this.getControllerModel(parseInt(this.$route.params.id))
  }

  async getControllerModel(id: number) {
    await this.store.metricControllers.controllerModels.fetchControllerModel({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.controllerModel.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/metrics/controller-models/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.metric-controller-models' })
  }
}
</script>
