<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Тип объекта
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- Current icon -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Текущая иконка
        </label>
        <div class="col-md-7">
          <img
            v-if="currentIcon && iconsStoragePath"
            :src="`${iconsStoragePath}${currentIcon}`"
            :alt="currentIcon"
            style="max-width: 32px; max-height: 32px;"
          >
        </div>
      </div>

      <!-- Icon -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Новая иконка
        </label>
        <div class="col-md-7">
          <b-form-file
            :state="form.errors.has('icon') ? false : null"
            name="icon"
            @input="addFile"
          />
          <has-error
            :form="form"
            field="icon"
          />
        </div>
      </div>

      <!-- Scale -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Масштаб
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.scale"
            v-mask="'#.##'"
            :state="form.errors.has('scale') ? false : null"
            name="scale"
          />
          <has-error
            :form="form"
            field="scale"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import createVform from '~/common/createVform'
import { serialize as objectToFormData } from 'object-to-formdata'

type MapObjectTypeForm = {
  name: string
  icon: string | File | null
  scale: string
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Тип объекта' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = createVform<MapObjectTypeForm>({
    name: '',
    icon: null,
    scale: ''
  })

  get mapObjectType() {
    return this.store.map.mapObjectType?.data
  }

  get iconsStoragePath() {
    return this.store.map.mapObjectType?.links.storage
  }

  get currentIcon() {
    return this.store.map.mapObjectType?.data.icon
  }

  created() {
    this.getMapObjectType(parseInt(this.$route.params.id))
  }

  async getMapObjectType(id: number) {
    await this.store.map.fetchMapObjectType({ id })
    // @ts-ignore
    this.form.keys().forEach((key) => {
      // @ts-ignore
      this.form[key] = this.mapObjectType[key]
    })
  }

  addFile(file: File) {
    this.form.icon = file
  }

  async update() {
    await this.form.post(
      `/api/v1/map-object-types/${this.$route.params.id}`,
      { transformRequest: [(data: any) => objectToFormData(data)] }
    )
    this.$router.push({ name: 'map-object-types' })
  }
}
</script>
