<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый тип объекта
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- Icon -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Иконка
        </label>
        <div class="col-md-7">
          <b-form-file
            v-model="form.icon"
            :state="form.errors.has('icon') ? false : null"
            name="icon"
          />
          <has-error
            :form="form"
            field="icon"
          />
        </div>
      </div>

      <!-- Scale -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Масштаб
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.scale"
            v-mask="'#.##'"
            :state="form.errors.has('scale') ? false : null"
            name="scale"
          />
          <has-error
            :form="form"
            field="scale"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import createVform from '~/common/createVform'
import { serialize as objectToFormData } from 'object-to-formdata'

type MapObjectTypeForm = {
  name: string
  icon: File | null
  scale: string
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый тип объекта' }
  }
})
export default class New extends Vue {
  store = useStore<RootModule>(this.$store)
  form = createVform<MapObjectTypeForm>({
    name: '',
    icon: null,
    scale: '1.00'
  })

  async create() {
    await this.form.post(
      '/api/v1/map-object-types',
      { transformRequest: [(data: any) => objectToFormData(data)] }
    )
    this.$router.push({ name: 'map-object-types' })
  }
}
</script>
