<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <b-card>
        <template v-slot:header>
          Сбросить пароль
        </template>
        <form
          @submit.prevent="send"
          @keydown="form.onKeydown($event)"
        >
          <alert-success
            :form="form"
            :message="status"
          />

          <!-- Email -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.email"
                :class="{ 'is-invalid': form.errors.has('email') }"
                class="form-control"
                type="email"
                name="email"
              >
              <has-error
                :form="form"
                field="email"
              />
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group row">
            <div class="col-md-9 ml-md-auto">
              <b-button
                :class="[{'btn-loading': form.busy}]"
                variant="primary"
                type="submit"
              >
                {{ $t('send_password_reset_link') }}
              </b-button>
            </div>
          </div>
        </form>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Form from 'vform'

@Component({
  middleware: 'guest',
  metaInfo() {
    return { title: this.$t('reset_password') }
  }
})
export default class Email extends Vue {
  status = ''
  form = new Form({
    email: ''
  })

  async send() {
    const { data } = await this.form.post('/api/v1/password/email')

    this.status = data.status

    this.form.reset()
  }
}
</script>
