<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Связка Модуль/Объект БД
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- db_object_type_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Объект БД
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.db_object_type_id">
            <b-form-select-option :value="null">
              Выберите объект БД
            </b-form-select-option>
            <b-form-select-option
              v-for="type in dbObjectTypes"
              :key="type.id"
              :value="type.id"
            >
              {{ type.db_object_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="db_object_type_id"
          />
        </div>
      </div>

      <!-- processing_module_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Модуль обработки
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.processing_module_id">
            <b-form-select-option :value="null">
              Выберите модуль обработки
            </b-form-select-option>
            <b-form-select-option
              v-for="pmodule in modules"
              :key="pmodule.id"
              :value="pmodule.id"
            >
              {{ pmodule.name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="processing_module_id"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Связка Модуль/Объект БД' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    db_object_type_id: null,
    processing_module_id: null
  })

  get dbObjectTypeModule() {
    return this.store.processingModules.dbObjectTypeModules.dbObjectTypeModule
  }

  get modules() {
    return this.store.processingModules.modules.modules?.data || []
  }

  get dbObjectTypes() {
    return this.store.dbObjectTypes.dbObjectTypes?.data || []
  }

  async created() {
    this.getDbObjectTypeModule(parseInt(this.$route.params.id))
    this.store.processingModules.modules.fetchModules({ items: 'all' })
    this.store.dbObjectTypes.fetchDbObjectTypes({ items: 'all' })
  }

  async getDbObjectTypeModule(id: number) {
    await this.store.processingModules.dbObjectTypeModules.fetchDbObjectTypeModule({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.dbObjectTypeModule.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/processing-modules/db-object-type-modules/${this.$route.params.id}`)
    this.$router.push({ name: 'processing-modules.db-object-type-modules' })
  }
}
</script>
