<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новая связка Модуль/Объект БД
    </template>
    <div v-if="modules.length > 0 && dbObjectTypes.length > 0">
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- db_object_type_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Объект БД
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.db_object_type_id">
              <b-form-select-option :value="null">
                Выберите объект БД
              </b-form-select-option>
              <b-form-select-option
                v-for="type in dbObjectTypes"
                :key="type.id"
                :value="type.id"
              >
                {{ type.db_object_name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="db_object_type_id"
            />
          </div>
        </div>

        <!-- processing_module_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Модуль обработки
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.processing_module_id">
              <b-form-select-option :value="null">
                Выберите модуль обработки
              </b-form-select-option>
              <b-form-select-option
                v-for="pmodule in modules"
                :key="pmodule.id"
                :value="pmodule.id"
              >
                {{ pmodule.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="processing_module_id"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <p class="text-center">
        Перед созданием модуля типа объектов БД вам нужно:
      </p>
      <div v-if="modules.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'processing-modules.modules.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать модуль обработки
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="dbObjectTypes.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'db-object-types.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать тип объекта БД
            </span>
          </b-button>
        </b-form-group>
      </div>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новая связка Модуль/Объект БД' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    db_object_type_id: null,
    processing_module_id: null
  })

  get modules() {
    return this.store.processingModules.modules.modules?.data || []
  }

  get dbObjectTypes() {
    return this.store.dbObjectTypes.dbObjectTypes?.data || []
  }

  async created() {
    this.store.processingModules.modules.fetchModules({ items: 'all' })
    this.store.dbObjectTypes.fetchDbObjectTypes({ items: 'all' })
  }

  async create() {
    await this.form.post(`/api/v1/processing-modules/db-object-type-modules`)

    this.$router.replace({
      name: 'processing-modules.db-object-type-modules'
    })
  }

}
</script>
