<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Датчик
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- metric_sensor_channel_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Канал датчиков
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.metric_sensor_channel_id">
            <b-form-select-option 
              v-for="channel in sensorChannels"
              :key="channel.id"
              :value="channel.id"
            >
              {{ channel.topic_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="metric_sensor_channel_id"
          />
        </div>
      </div>

      <!-- metric_sensor_model_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Модель датчика
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.metric_sensor_model_id">
            <b-form-select-option 
              v-for="model in sensorModels"
              :key="model.id"
              :value="model.id"
            >
              {{ model.name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="metric_sensor_model_id"
          />
        </div>
      </div>

      <!-- serial_number -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Серийный номер
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.serial_number"
            :state="form.errors.has('serial_number') ? false : null"
            name="serial_number"
          />
          <has-error
            :form="form"
            field="serial_number"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Датчик' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    metric_sensor_channel_id: null,
    metric_sensor_model_id: null,
    serial_number: '',
    description: ''
  })

  get sensor() {
    return this.store.metricControllers.sensors.sensor
  }

  get sensorChannels() {
    return this.store.metricControllers.sensorChannels.sensorChannels?.data || []
  }

  get sensorModels() {
    return this.store.metricControllers.sensorModels.sensorModels?.data || []
  }

  created() {
    this.getSensor(parseInt(this.$route.params.id))
    this.store.metricControllers.sensorModels.fetchSensorModels({ items: 'all' })
    this.store.metricControllers.sensorChannels.fetchSensorChannels({ items: 'all' })
  }

  async getSensor(id: number) {
    await this.store.metricControllers.sensors.fetchSensor({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.sensor.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/metrics/sensors/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.metric-sensors' })
  }
}
</script>
