<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый датчик
    </template>
    <div v-if="sensorChannels.length > 0 && sensorModels.length > 0">
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- metric_sensor_channel_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Канал датчиков
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.metric_sensor_channel_id">
              <b-form-select-option 
                v-for="channel in sensorChannels"
                :key="channel.id"
                :value="channel.id"
              >
                {{ channel.topic_name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="metric_sensor_channel_id"
            />
          </div>
        </div>

        <!-- metric_sensor_model_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Модель датчика
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.metric_sensor_model_id">
              <b-form-select-option 
                v-for="model in sensorModels"
                :key="model.id"
                :value="model.id"
              >
                {{ model.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="metric_sensor_model_id"
            />
          </div>
        </div>

        <!-- serial_number -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Серийный номер
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.serial_number"
              :state="form.errors.has('serial_number') ? false : null"
              name="serial_number"
            />
            <has-error
              :form="form"
              field="serial_number"
            />
          </div>
        </div>

        <!-- description -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Описание
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.description"
              :state="form.errors.has('description') ? false : null"
              name="description"
            />
            <has-error
              :form="form"
              field="description"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <p class="text-center">
        Перед созданием датчика вам нужно:
      </p>
      <div v-if="sensorChannels.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'metric-sensor-channels.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать канал датчика
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="sensorModels.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'metric-sensor-models.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать модель датчика
            </span>
          </b-button>
        </b-form-group>
      </div>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый датчик' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    metric_sensor_channel_id: null,
    metric_sensor_model_id: null,
    serial_number: '',
    description: ''
  })

  get sensorChannels() {
    return this.store.metricControllers.sensorChannels.sensorChannels?.data || []
  }

  get sensorModels() {
    return this.store.metricControllers.sensorModels.sensorModels?.data || []
  }

  created() {
    this.store.metricControllers.sensorModels.fetchSensorModels({ items: 'all' })
    this.store.metricControllers.sensorChannels.fetchSensorChannels({ items: 'all' })
  }

  async create() {
    await this.form.post(`/api/v1/metrics/sensors`)

    this.$router.replace({
      name: 'metrics.metric-sensors'
    })
  }
}
</script>
