<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Связка типов объектов и веток сообщений
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- db_object_type_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Тип объектов БД
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.db_object_type_id">
            <b-form-select-option :value="null">
              Выберите тип объектов БД
            </b-form-select-option>
            <b-form-select-option 
              v-for="type in dbObjectTypes"
              :key="type.id"
              :value="type.id"
            >
              {{ type.db_object_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="db_object_type_id"
          />
        </div>
      </div>

      <!-- message_thread_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Ветка сообщений
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.message_thread_id">
            <b-form-select-option :value="null">
              Выберите ветку сообщений
            </b-form-select-option>
            <b-form-select-option 
              v-for="thread in messageThreads"
              :key="thread.id"
              :value="thread.id"
            >
              {{ thread.header }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="message_thread_id"
          />
        </div>
      </div>

      <!-- db_object_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          ID Объекта БД
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model.number="form.db_object_id"
            :state="form.errors.has('db_object_id') ? false : null"
            name="db_object_id"
          />
          <has-error
            :form="form"
            field="db_object_id"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Связка типов объектов и веток сообщений' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    db_object_type_id: null,
    message_thread_id: null,
    db_object_id: null
  })

  get messageThreads() {
    return this.store.messenger.messageThreads.messageThreads?.data || []
  }

  get dbObjectTypesMessageThread() {
    return this.store.messenger.dbObjectTypesMessageThreads.dbObjectTypesMessageThread
  }

  get dbObjectTypes() {
    return this.store.dbObjectTypes.dbObjectTypes?.data || []
  }

  async created() {
    this.getDbObjectTypesMessageThread(parseInt(this.$route.params.id))
    this.store.messenger.messageThreads.fetchMessageThreads({ items: 'all' })
    this.store.dbObjectTypes.fetchDbObjectTypes({ items: 'all' })
  }

  async getDbObjectTypesMessageThread(id: number) {
    await this.store.messenger.dbObjectTypesMessageThreads.fetchDbObjectTypesMessageThread({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.dbObjectTypesMessageThread.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/messenger/db-object-types-message-threads/${this.$route.params.id}`)
    this.$router.push({ name: 'messenger.db-object-types-message-threads' })
  }
}
</script>
