<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Ветка сообщений
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- header -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Заголовок
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.header"
            :state="form.errors.has('header') ? false : null"
            name="header"
          />
          <has-error
            :form="form"
            field="header"
          />
        </div>
      </div>

      <!-- introductory -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Введение
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.introductory"
            :state="form.errors.has('introductory') ? false : null"
            name="introductory"
          />
          <has-error
            :form="form"
            field="introductory"
          />
        </div>
      </div>

      <!-- timestamp -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Timestamp
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model.number="form.timestamp"
            :state="form.errors.has('timestamp') ? false : null"
            name="timestamp"
          />
          <has-error
            :form="form"
            field="timestamp"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Ветка сообщений' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    header: '',
    introductory: '',
    timestamp: null
  })

  get messageThread() {
    return this.store.messenger.messageThreads.messageThread
  }

  async created() {
    this.getMessageThread(parseInt(this.$route.params.id))
  }

  async getMessageThread(id: number) {
    await this.store.messenger.messageThreads.fetchMessageThread({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.messageThread.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/messenger/message-threads/${this.$route.params.id}`)
    this.$router.push({ name: 'messenger.message-threads' })
  }
}
</script>
