<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новая ветка сообщений
    </template>
    <div> 
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- header -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Заголовок
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.header"
              :state="form.errors.has('header') ? false : null"
              name="header"
            />
            <has-error
              :form="form"
              field="header"
            />
          </div>
        </div>

        <!-- introductory -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Введение
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.introductory"
              :state="form.errors.has('introductory') ? false : null"
              name="introductory"
            />
            <has-error
              :form="form"
              field="introductory"
            />
          </div>
        </div>

        <!-- timestamp -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Timestamp
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model.number="form.timestamp"
              :state="form.errors.has('timestamp') ? false : null"
              name="timestamp"
            />
            <has-error
              :form="form"
              field="timestamp"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новая ветка сообщений' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    message_thread_id: null,
    message_text: ''
  })

  get messageThreads() {
    return this.store.messenger.messageThreads.messageThreads?.data || []
  }

  async created() {
    this.store.messenger.messageThreads.fetchMessageThreads()
  }

  async create() {
    await this.form.post(`/api/v1/messenger/messages`)

    this.$router.replace({
      name: 'messenger.messages'
    })
  }

}
</script>
