<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый контроллер
    </template>
    <div v-if="controllerModels.length > 0 && mapObjects.length > 0 && mqttServers.length > 0">
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- fqdn_name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            {{ $t('name') }}
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.fqdn_name"
              :state="form.errors.has('fqdn_name') ? false : null"
              name="fqdn_name"
            />
            <has-error
              :form="form"
              field="fqdn_name"
            />
          </div>
        </div>

        <!-- object_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Объект карты
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.object_id">
              <b-form-select-option
                v-for="object in mapObjects"
                :key="object.id"
                :value="object.id"
              >
                {{ object.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="object_id"
            />
          </div>
        </div>

        <!-- metric_controller_model_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Модель контроллера
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.metric_contr_model_id">
              <b-form-select-option
                v-for="model in controllerModels"
                :key="model.id"
                :value="model.id"
              >
                {{ model.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="metric_controller_model_id"
            />
          </div>
        </div>

        <!-- mqtt_server_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Mqtt Сервер
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.mqtt_server_id">
              <b-form-select-option
                v-for="server in mqttServers"
                :key="server.id"
                :value="server.id"
              >
                {{ server.ip_address }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="mqtt_server_id"
            />
          </div>
        </div>

        <!-- ip_address -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            IP-адрес
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.ip_address"
              :state="form.errors.has('ip_address') ? false : null"
              name="ip_address"
            />
            <has-error
              :form="form"
              field="ip_address"
            />
          </div>
        </div>

        <!-- login -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Логин
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.login"
              :state="form.errors.has('login') ? false : null"
              name="login"
            />
            <has-error
              :form="form"
              field="login"
            />
          </div>
        </div>

        <!-- password -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Пароль
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.password"
              :state="form.errors.has('password') ? false : null"
              name="password"
            />
            <has-error
              :form="form"
              field="password"
            />
          </div>
        </div>

        <!-- http_port -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            HTTP-порт
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.http_port"
              :state="form.errors.has('http_port') ? false : null"
              name="http_port"
            />
            <has-error
              :form="form"
              field="http_port"
            />
          </div>
        </div>

        <!-- ssh_port -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            SSH-порт
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.ssh_port"
              :state="form.errors.has('ssh_port') ? false : null"
              name="ssh_port"
            />
            <has-error
              :form="form"
              field="ssh_port"
            />
          </div>
        </div>

        <!-- rsa_key -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            RSA-ключ
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.rsa_key"
              :state="form.errors.has('rsa_key') ? false : null"
              name="rsa_key"
            />
            <has-error
              :form="form"
              field="rsa_key"
            />
          </div>
        </div>

        <!-- serial_number -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Серийный номер
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.serial_number"
              :state="form.errors.has('serial_number') ? false : null"
              name="serial_number"
            />
            <has-error
              :form="form"
              field="serial_number"
            />
          </div>
        </div>

        <!-- status_flag -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Статус флаг
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.status_flag"
              :state="form.errors.has('status_flag') ? false : null"
              name="status_flag"
            />
            <has-error
              :form="form"
              field="status_flag"
            />
          </div>
        </div>

        <!-- description -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Описание
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.description"
              :state="form.errors.has('description') ? false : null"
              name="description"
            />
            <has-error
              :form="form"
              field="description"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <p class="text-center">
        Перед созданием контроллера вам нужно:
      </p>
      <div v-if="mapObjects.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'map-object.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать объект карты
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="mqttServersS.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'metrics.mqtt-servers.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать Mqtt Сервер
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="controllerModels.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'metrics.metric-controller-models.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать модель контроллера
            </span>
          </b-button>
        </b-form-group>
      </div>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый контроллер' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    object_id: null,
    metric_contr_model_id: null,
    mqtt_server_id: null,
    serial_number: '',
    ip_address: '',
    fqdn_name: '',
    login: '',
    password: '',
    http_port: '',
    ssh_port: '',
    rsa_key: '',
    status_flag: 0,
    description: ''
  })

  get controllerModels() {
    return this.store.metricControllers.controllerModels.controllerModels?.data || []
  }

  get mapObjects() {
    return this.store.map.mapObjects?.data || []
  }

  get mqttServers() {
    return this.store.metricControllers.mqttServers.mqttServers?.data || []
  }

  created() {
    this.store.metricControllers.controllerModels.fetchControllerModels({ items: 'all' })
    this.store.metricControllers.mqttServers.fetchMqttServers({ items: 'all' })
    this.store.map.fetchMapObjects({ items: 'all' })
  }

  async create() {
    await this.form.post(`/api/v1/metrics/controllers`)

    this.$router.replace({
      name: 'metrics.metric-controllers'
    })
  }

}
</script>
