<template>
  <form
    @submit.prevent="create"
    @keydown="form.onKeydown($event)"
  >
    <!-- name -->
    <div class="form-group row">
      <label class="col-md-3 col-form-label text-md-right">
        Название
      </label>
      <div class="col-md-7">
        <b-form-input
          v-model="form.name"
          :state="form.errors.has('name') ? false : null"
          name="name"
        />
        <has-error
          :form="form"
          field="name"
        />
      </div>
    </div>

    <!-- code -->
    <div class="form-group row">
      <label class="col-md-3 col-form-label text-md-right">
        Код
      </label>
      <div class="col-md-7">
        <b-form-input
          v-model="form.code"
          :state="form.errors.has('code') ? false : null"
          name="code"
        />
        <has-error
          :form="form"
          field="code"
        />
      </div>
    </div>

    <!-- description -->
    <div class="form-group row">
      <label class="col-md-3 col-form-label text-md-right">
        Описание
      </label>
      <div class="col-md-7">
        <b-form-textarea
          v-model="form.description"
          :state="form.errors.has('description') ? false : null"
          name="description"
        />
        <has-error
          :form="form"
          field="description"
        />
      </div>
    </div>

    <!-- Submit Button -->
    <div
      v-if="user.can['create employee positions']"
      class="form-group row"
    >
      <div class="col-md-9 ml-md-auto">
        <b-button
          :class="[{'btn-loading': form.busy}]"
          variant="success"
          type="submit"
        >
          Создать
        </b-button>
      </div>
    </div>
  </form>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component
export default class NewForm extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    code: '',
    description: ''
  })

  get user() {
    return this.store.auth.user
  }

  async create() {
    await this.form.post('/api/v1/employee-positions')
    this.$emit('created')
  }
}
</script>
