<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Ваши контакты
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <alert-success
        :form="form"
        :message="$t('info_updated')"
      />
      <div
        v-for="(contact, key) in form.contacts"
        :key="key"
        class="form-row justify-content-md-center align-items-center"
      >
        <div class="form-group col-auto">
          {{ $t('contact') }} {{ key + 1 }}:
        </div>
        <div class="form-group col-md-3">
          <select
            :id="'type' + key"
            v-model="contact.type"
            class="custom-select"
            :disabled="contact.protected ? true : false"
          >
            <option
              v-for="(type, typeKey) in types"
              :key="typeKey"
              :value="typeKey"
            >
              {{ type.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <fa :icon="(types[contact.type] !== undefined) ? types[contact.type].icon : 'at'" />
              </div>
            </div>
            <input
              :id="'contact' + key"
              v-model="contact.contact"
              v-mask="mask(key)"
              type="text"
              :name="'contact' + key"
              :class="{ 'is-invalid': form.errors.has('contact' + key) }"
              class="form-control"
              :disabled="contact.protected ? true : false"
            >
            <has-error
              :form="form"
              :field="'contact' + key"
              style="position: absolute; top: 32px;"
            />
          </div>
        </div>
        <div class="form-group col-auto text-center">
          <b-form-checkbox
            v-model="contact.notifications"
            :value="1"
            :unchecked-value="0"
            :disabled="contact.protected ? true : false"
            switch
          >
            {{ $t('notifications') }}
          </b-form-checkbox>
        </div>
        <div class="form-group col-auto text-right">
          <b-button
            variant="danger"
            size="sm"
            :disabled="contact.protected ? true : false"
            @click.stop="deleteContact(contact.id, key)"
          >
            <fa
              icon="trash-alt"
              style="font-size: 16px"
            /><span class="d-inline d-md-none">&nbsp;{{ $t('delete') }}</span>
          </b-button>
        </div>
      </div>
      <div class="form-group row mt-3">
        <div class="col text-center">
          <b-button
            variant="primary"
            @click.stop="addContact()"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            &nbsp;&nbsp;{{ form.contacts.length > 0 ? $t('add_more') : $t('add') }}
          </b-button>
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('save') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('your_contacts') }
  }
})
export default class Contacts extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    contacts: []
  })

  get user() {
    return this.store.auth.user
  }

  get contacts() {
    return this.store.contacts.contacts
  }

  get types() {
    return this.store.contacts.contactTypes
  }

  created() {
    this.store.contacts.fetchContactTypes()
    this.getContacts()
  }

  addContact() {
    // @ts-ignore
    this.form.contacts.push({
      'type': Object.keys(this.types)[0]
    })
  }

  mask(key: number) {
    // @ts-ignore
    const type = this.form.contacts[key].type

    if (type.indexOf('phone') >= 0) {
      return '+7 (###) ###-##-##'
    }
    if (type.indexOf('mobile') >= 0) {
      return '+7 (###) ###-##-##'
    }

    return 'X'.repeat(255)
  }

  async getContacts() {
    await this.store.contacts.fetchUserContacts()
    if (Array.isArray(this.contacts)) {
      // @ts-ignore
      this.form.contacts = JSON.parse(JSON.stringify(this.contacts))
    }
  }

  async update() {
    await this.form.patch('/api/v1/settings/contacts')
    this.clearForm()
    this.getContacts()
  }

  clearForm() {
    // @ts-ignore
    this.form.contacts.forEach(contact => {
      contact.contact = ''
    })
  }

  async deleteContact(id: number, key: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот контакт?',
      {
        title: 'Удалить контакт',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.contacts.deleteUserContact({ id })

        if (response.status === 200) {
          // @ts-ignore
          this.$delete(this.form.contacts, key)
        }
      }
    })
  }
}
</script>
