<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Ваши файлы
    </template>
    <odtn-media-lib
      :entity="entityEnum"
      :entity-id="parseInt(authUser.id)"
      :photo-folders-fetcher="fetchUserPhotoFolders"
      :photo-folders-getter="userPhotoFolders"
      :photos-fetcher="fetchUserPhotos"
      :photos-getter="userPhotos"
      :removed-photos-fetcher="fetchUserRemovedPhotos"
      :removed-photos-getter="userRemovedPhotos"
      :file-folders-fetcher="fetchUserFileFolders"
      :file-folders-getter="userFileFolders"
      :files-fetcher="fetchUserFiles"
      :files-getter="userFiles"
      :removed-files-fetcher="fetchUserRemovedFiles"
      :removed-files-getter="userRemovedFiles"
      :can-create-items="authUser.can['create user medialib items']"
      :can-read-items="authUser.can['read user medialib items']"
      :can-update-items="authUser.can['update user medialib items']"
      :can-soft-delete-own-items="authUser.can['delete my user medialib items']"
      :can-soft-delete-any-items="authUser.can['delete any users user medialib items']"
      :can-read-deleted-items="authUser.can['read deleted user medialib items']"
      :can-recover-own-items="authUser.can['recover my user medialib items']"
      :can-recover-any-items="authUser.can['recover any users user medialib items']"
      :can-force-delete-items="authUser.can['force delete user medialib items']"
    />
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import MediaLib from '~/components/MediaLib.vue'
import * as api from '~/typings/api'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Ваши файлы' }
  },
  components: {
    'odtn-media-lib': MediaLib
  }
})
export default class Documents extends Vue {
  store = useStore<RootModule>(this.$store)

  entityEnum = api.Medialib.Entities.User

  get authUser() {
    return this.store.auth.user
  }

  get fetchUserPhotos() {
    return this.store.users.fetchUserPhotos
  }

  get userPhotos() {
    return this.store.users.userPhotos
  }

  get fetchUserRemovedPhotos() {
    return this.store.users.fetchUserRemovedPhotos
  }

  get userRemovedPhotos() {
    return this.store.users.userRemovedPhotos
  }

  get fetchUserPhotoFolders() {
    return this.store.users.fetchUserPhotos
  }

  get userPhotoFolders() {
    return this.store.users.userPhotos
  }

  get fetchUserFiles() {
    return this.store.users.fetchUserFiles
  }

  get userFiles() {
    return this.store.users.userFiles
  }

  get fetchUserRemovedFiles() {
    return this.store.users.fetchUserRemovedFiles
  }

  get userRemovedFiles() {
    return this.store.users.userRemovedFiles
  }

  get fetchUserFileFolders() {
    return this.store.users.fetchUserFiles
  }

  get userFileFolders() {
    return this.store.users.userFiles
  }
}
</script>
