<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Ваш пароль
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <alert-success
        :form="form"
        :message="$t('password_updated')"
      />

      <!-- Password -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('new_password') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.password"
            :class="{ 'is-invalid': form.errors.has('password') }"
            class="form-control"
            type="password"
            name="password"
          >
          <has-error
            :form="form"
            field="password"
          />
        </div>
      </div>

      <!-- Password Confirmation -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.password_confirmation"
            :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
            class="form-control"
            type="password"
            name="password_confirmation"
          >
          <has-error
            :form="form"
            field="password_confirmation"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('update') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('settings') }
  }
})
export default class Password extends Vue {
  form = new Form({
    password: '',
    password_confirmation: ''
  })

  async update() {
    await this.form.patch('/api/v1/settings/password')

    this.form.reset()
  }
}
</script>
