<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <v-form @submit.prevent="onSubmit">
                <atv-meta-tags-edit :model="model" class="mb-4" />
                <div>
                    <v-select
                        v-model="model.parentCategory"
                        :items="parentCategorySelectItems"
                        :disabled="model.id1C ? true : false"
                        label="Родительская категория"
                        outlined
                    />
                </div>
                <div>
                    <v-text-field
                        v-model="model.name"
                        label="Название"
                        outlined
                    />
                </div>
                <div>
                    <v-textarea
                        v-model="model.description"
                        label="Описание"
                        outlined
                    />
                </div>
                <div>
                    <v-checkbox
                        v-model="model.published"
                        label="Опубликовано"
                    />
                </div>
                <div class="d-flex flex-wrap justify-end">
                    <v-btn class="mx-1 my-1" color="primary" type="submit">
                        Сохранить
                    </v-btn>
                    <v-btn class="mx-1 my-1" to="/admin/categories" nuxt>
                        Отмена
                    </v-btn>
                </div>
            </v-form>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import AtvMetaTagsEdit from '~/components/AtvMetaTagsEdit.vue'

/* eslint-disable */
interface Category {
    id?: string,
    name: string,
    description: string,
    parentCategory: string | null,
    id1C?: string,
    parentId1C?: string,
    metaTitle: string,
    metaDescription: string,
    metaKeywords: string,
    published: boolean
}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Категория товаров')
            resolve()
        })
    },
    components: {
        AtvMetaTagsEdit
    }
})
export default class AtvAdminCategoryPage extends Vue {
    loading = true
    model: Category = {
        name: '',
        description: '',
        parentCategory: null,
        metaTitle: '',
        metaDescription: '',
        metaKeywords: '',
        published: false
    }
    parentCategorySelectItems: { text: string; value: string }[] = []

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        const categoryResponse = await this.$axios.get('/category/allNone1C')

        this.parentCategorySelectItems = [
            {
                text: 'Нет',
                value: null
            },
            ...categoryResponse.data.map(
                (category: { id: string; name: string }) => {
                    return {
                        text: category.name,
                        value: category.id
                    }
                }
            )
        ]

        if (this.$route.params.id !== 'new') {
            const categoryEditResponse = await this.$axios.get(
                `/category/edit/${this.$route.params.id}`
            )

            this.model = { ...this.model, ...categoryEditResponse.data }
            this.parentCategorySelectItems = this.parentCategorySelectItems.filter(
                (x) => x.value !== this.$route.params.id
            )
        }

        this.$nextTick(() => {
            this.loading = false
        })
    }

    onSubmit() {
        this.$axios.post('/category/edit', this.model).then(() => {
            this.$router.push('/admin/categories')
        })
    }
}
</script>
