<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <div class="d-flex flex-wrap justify-end">
                <v-btn
                    class="mx-1 my-1"
                    color="primary"
                    to="/admin/categories/new"
                    nuxt
                >
                    Создать категорию
                </v-btn>
                <v-btn
                    class="mx-1 my-1"
                    color="primary"
                    text
                    icon
                    @click="allowToDelete = !allowToDelete"
                >
                    <v-icon>
                        {{ allowToDelete ? 'lock_open' : 'lock' }}
                    </v-icon>
                </v-btn>
            </div>
            <template v-if="categoryTree && categoryTree.length">
                <v-treeview :items="categoryTree" open-all>
                    <template slot="label" slot-scope="{ item }">
                        {{ item.name }}
                        <v-btn
                            class="mr-2"
                            :to="`/admin/categories/${item.id}`"
                            color="primary"
                            nuxt
                            text
                            icon
                        >
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn
                            v-if="allowToDelete"
                            color="primary"
                            text
                            icon
                            @click="startDeleteDialog(item)"
                        >
                            <v-icon>delete_forever</v-icon>
                        </v-btn>
                    </template>
                </v-treeview>
            </template>
            <template v-else>
                Категорий нет,
                <nuxt-link to="/admin/categories/new">
                    создайте категорию </nuxt-link
                >.
            </template>
            <v-dialog v-model="showDeleteDialog" persistent>
                <v-card>
                    <v-card-title class="headline">
                        Точно удалить категорию?
                    </v-card-title>
                    <v-card-text>
                        Вместе с категорией
                        <template
                            v-if="categoryToDelete && categoryToDelete.name"
                        >
                            <b>"{{ categoryToDelete.name }}"</b>
                        </template>
                        удалятся:<br />
                        все товары этой категории,<br />
                        все характеристики этой категориии,<br />
                        все значения этих характеристик.<br />
                        <br />
                        Все дочерние категории не будут удалены,<br />
                        а будут отвязаны от этой и привязаны к корню.
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn
                            :disabled="disableDeleteDialog"
                            color="primary"
                            @click="acceptDeliting"
                        >
                            Удалить
                        </v-btn>
                        <v-btn
                            :disabled="disableDeleteDialog"
                            @click="cancelDeleting"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

/* eslint-disable */
interface Category {
    id: string,
    name: string,
    description?: string,
    parentCategory: string | null,
    id1C?: string,
    parentId1C?: string
}

interface CategoryTreeNode extends Category {
    children?: CategoryTreeNode[]
}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Категории товаров')
            resolve()
        })
    }
})
export default class AtvAdminCategoriesPage extends Vue {
    loading = true
    categoryTree: CategoryTreeNode[] = []
    allowToDelete = false
    showDeleteDialog = false
    categoryToDelete: Category | null = null
    disableDeleteDialog = false

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        const categoryTreeRes = await this.$axios.get('/category/tree')

        this.categoryTree = categoryTreeRes.data

        this.$nextTick(() => {
            this.loading = false
        })
    }

    startDeleteDialog(category: Category) {
        this.showDeleteDialog = true
        this.categoryToDelete = category
    }

    acceptDeliting() {
        if (this.categoryToDelete) {
            this.disableDeleteDialog = true
            this.$axios
                .delete(`/category/edit/${this.categoryToDelete.id}`)
                .then(async () => {
                    const categoryTreeRes = await this.$axios.get(
                        '/category/tree'
                    )

                    this.categoryTree = categoryTreeRes.data
                    this.showDeleteDialog = false
                    this.disableDeleteDialog = false
                })
        }
    }

    cancelDeleting() {
        this.categoryToDelete = null
        this.showDeleteDialog = false
    }
}
</script>
