<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Типы контактов
    </template>
    <div class="form-row">
      <div class="form-group col text-right">
        <b-button
          v-if="user.can['create contact types']"
          :to="{ name: 'contact-type.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th
              scope="col"
              style="min-width: 60px;"
            >
              <a
                href="javascript:void 0"
                @click="sortContactTypesBy('id')"
              >
                #
                <span v-if="list.orderby == 'id' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'id' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              scope="col"
              style="min-width: 180px;"
            >
              <a
                href="javascript:void 0"
                @click="sortContactTypesBy('name')"
              >
                {{ this.$t('name') }}
                <span v-if="list.orderby == 'name' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'name' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              scope="col"
              style="min-width: 150px;"
            >
              <a
                href="javascript:void 0"
                @click="sortContactTypesBy('icon')"
              >
                {{ $t('icon') }}
                <span v-if="list.orderby == 'created_at' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'created_at' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              v-if="user.can['delete contact types']"
              scope="col"
            />
          </tr>
        </thead>
        <tbody
          v-for="contactType in contactTypes"
          :key="contactType.id"
          @click="$router.push({ name: 'contact-type.edit', params: { id: contactType.id } })"
        >
          <tr class="cursor-pointer">
            <th>{{ contactType.id }}</th>
            <td>{{ contactType.name }} </td>
            <td>
              <fa
                :icon="contactType.icon"
                style="font-size: 16px"
              />
            </td>
            <td v-if="user.can['delete contact types']">
              <b-button
                variant="danger"
                size="sm"
                @click.stop="deleteContactType(contactType.id)"
              >
                <fa
                  icon="trash-alt"
                  style="font-size: 16px"
                />
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-if="Object.keys(contactTypes).length == 0">
          <tr>
            <td
              colspan="4"
              class="text-center pt-4"
            >
              {{ this.$t('nothing_found') }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'

interface ContactTypesListOptions {
  orderby: 'id' | 'name' | 'icon'
  direction: 'asc' | 'desc'
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('contact_types') }
  }
})
export default class ContactTypes extends Vue {
  store = useStore<RootModule>(this.$store)
  list: ContactTypesListOptions = {
    orderby: 'id',
    direction: 'asc'
  }

  get user() {
    return this.store.auth.user
  }

  get contactTypes() {
    const contactTypesAsArray = Object
      .keys(this.store.contacts.contactTypes)
      .map((key) => {
        return this.store.contacts.contactTypes[key]
      })
      .sort((a, b) => {
      // @ts-ignore
        return +(a[this.list.orderby] > b[this.list.orderby])
          || -(a[this.list.orderby] < b[this.list.orderby])
      })

    if (this.list.direction === 'desc') {
      contactTypesAsArray.reverse()
    }

    return contactTypesAsArray
  }

  mounted() {
    this.store.contacts.fetchContactTypes()
  }

  sortContactTypesBy(orderBy: 'id' | 'name' | 'icon') {
    if (orderBy) {
      this.list.orderby = orderBy
      if (this.list.orderby === orderBy) {
        this.list.direction === 'asc'
          ? this.list.direction = 'desc'
          : this.list.direction = 'asc'
      }
    }
  }

  async deleteContactType(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот тип контакта?',
      {
        title: 'Удалить тип контакта',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.contacts.deleteContactType({ id })

        if (response.status === 200) {
          this.store.contacts.fetchContactTypes()
        }
      }
    })
  }
}
</script>
