<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Контрагенты
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6">
        <b-input-group>
          <b-input-group-prepend>
            <b-input-group-text>
              <fa
                icon="search"
              />
            </b-input-group-text>
          </b-input-group-prepend>
          <b-form-input
            v-model="list.search"
            placeholder="Поиск"
            @input="onSearchInput"
          />
          <b-input-group-append>
            <b-btn
              v-if="!$isMobile()"
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <b-form-group class="col text-right">
        <b-button
          v-if="user.can['create counterparties']"
          :to="{ name: 'counterparty.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template
        v-if="user.can['delete counterparties']"
        v-slot:cell(delete)="data"
      >
        <b-button
          class="d-block ml-auto"
          variant="danger"
          size="sm"
          @click.stop="deleteCounterparty(data.item.id)"
        >
          <fa
            icon="trash-alt"
            style="font-size: 16px"
          />
        </b-button>
      </template>
    </b-table>
    <nav v-if="counterparties && counterparties.last_page > 1">
      <ul class="pagination justify-content-center">
        <li
          v-if="counterparties.current_page != 1"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="onPaginationPrevClick"
          >{{ this.$t('previous') }}</a>
        </li>
        <li
          v-for="pageNumber in counterparties.last_page"
          :key="pageNumber"
          class="page-item"
          :class="{ 'active': list.page === pageNumber }"
        >
          <a
            href="javascript:void 0"
            class="page-link"
            active-class="active"
            @click="onPaginationPageClick(pageNumber)"
          >
            {{ pageNumber }}
          </a>
        </li>
        <li
          v-if="counterparties.current_page != counterparties.last_page"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="onPaginationNextClick"
          >{{ this.$t('next') }}</a>
        </li>
      </ul>
    </nav>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Cookies from 'js-cookie'
import { switcher } from '~/common/switcher'
import * as api from '~/typings/api'

interface TableItem {
  id: number
  name: string
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Контрагенты' }
  }
})
export default class Counterparties extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.Counterparties.CounterpartiesListRequest = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'asc'
  }

  get user() {
    return this.store.auth.user
  }

  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'name',
        label: 'Название'
      }
    ]

    // @ts-ignore
    if (this.user.can['delete counterparties']) {
      fields.push({
        key: 'delete',
        label: ''
      })
    }

    return fields
  }

  get counterparties() {
    return this.store.counterparties.counterparties
  }

  get tableItems(): TableItem[] {
    if (this.counterparties?.data?.length) {
      return this.counterparties.data
        .map((counterparty) => {
          return {
            id: counterparty.id,
            name: this.store.counterparties.labelOfCounterparty(counterparty)
          }
        })
    }

    return []
  }

  @Watch('list.page')
  pageChange(newVal: number) {
    Cookies.set('counterparties_list_page', `${newVal}`)
  }

  created() {
    const objectsPage = Number(Cookies.get('counterparties_list_page'))
    this.list.page = !isNaN(objectsPage) ? objectsPage : 1
    this.fetchCounterparties()
  }

  fetchCounterparties() {
    this.store.counterparties.fetchCounterparties(this.list)
  }

  onSearchInput() {
    this.fetchCounterparties()
  }

  onRowClick(item: TableItem) {
    this.$router.push({
      name: 'counterparty.edit',
      params: {
        id: `${item.id}`
      }
    })
  }

  deleteCounterparty(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этого контрагента?',
      {
        title: 'Удалить контрагента',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.counterparties.deleteCounterparty({ id })

        if (response.status === 200) {
          this.fetchCounterparties()
        }
      }
    })
  }

  onPaginationPrevClick() {
    this.list.page!--
    this.fetchCounterparties()
  }

  onPaginationNextClick() {
    this.list.page!++
    this.fetchCounterparties()
  }

  onPaginationPageClick(page: number) {
    this.list.page = page
    this.fetchCounterparties()
  }
  switchText(text: string) {
    this.list.search = switcher(text)
    this.onSearchInput()
  }
}
</script>
