<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Структурные подразделения
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6" />
      <b-form-group class="col text-right">
        <b-button
          v-if="user.can['create departments']"
          :to="{ name: 'department.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template v-slot:cell(description)="data">
        <span
          v-if="data.item.description"
          v-html="data.item.description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
        />
      </template>
      <template
        v-if="user.can['delete departments']"
        v-slot:cell(delete)="data"
      >
        <b-button
          class="d-block ml-auto"
          variant="danger"
          size="sm"
          @click.stop="onDeleteDepartmentClick(data.item.id)"
        >
          <fa
            icon="trash-alt"
            style="font-size: 16px"
          />
        </b-button>
      </template>
    </b-table>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import axios from 'axios'
import * as api from '~/typings/api'

interface TableItem {
  id: number
  name: string
  description: string
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Структурные подразделения' }
  }
})
export default class Departments extends Vue {
  store = useStore<RootModule>(this.$store)

  get user() {
    return this.store.auth.user
  }

  get departments() {
    return this.store.departments.departments?.data ?? []
  }

  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'name',
        label: 'Название'
      },
      {
        key: 'description',
        label: 'Описание'
      }
    ]

    if (this.user?.can['delete departments']) {
      fields.push({
        key: 'delete',
        label: ''
      })
    }

    return fields
  }

  get tableItems(): TableItem[] {
    if (this.departments?.length) {
      return this.departments
        .filter(department => department.id !== 0)
        .map((department) => {
          return {
            id: department.id,
            name: department.name,
            description: department.description
          }
        })
    }

    return []
  }

  created() {
    this.store.departments.fetchDepartments()
  }

  onRowClick(item: TableItem) {
    this.$router.push({
      name: 'department.edit',
      params: {
        id: `${item.id}`
      }
    })
  }

  onDeleteDepartmentClick(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить это структурное подразделение?',
      {
        title: 'Удалить структурное подразделение',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.departments.deleteDepartment({ id })

        if (response.status === 200) {
          this.store.departments.fetchDepartments()
        }
      }
    })
  }
}
</script>
