<template>
  <b-card>
    <template v-slot:header>
      Главная
    </template>
    Вы вошли в систему!
    <!-- <div class="d-flex justify-content-center">
      <gauge
        :size="200"
        :min="10"
        :max="100"
        :value="Number(gaugeValue.toFixed(1))"
        :value-suffix="'℃'"
        :segments="[{
          start: 75,
          end: 90,
          color: 'orange'
        }, {
          start: 90,
          end: 100,
          color: 'red'
        }]"
        :variant="'ometer'"
      />
    </div>
    <div class="d-flex justify-content-center">
      <gauge
        :size="200"
        :min="10"
        :max="100"
        :value="Number(gaugeValue.toFixed(1))"
        :value-suffix="'℃'"
        :segments="[{
          start: 75,
          end: 90,
          color: 'orange'
        }, {
          start: 90,
          end: 100,
          color: 'red'
        }]"
        :scale-width="20"
        :hide-arrow="true"
        :hide-axis="true"
        :variant="'half'"
        :with-gradient="true"
      />
    </div>
    <div class="d-flex justify-content-center">
      <gauge
        :size="200"
        :min="10"
        :max="100"
        :value="Number(gaugeValue.toFixed(1))"
        :value-suffix="'℃'"
        :segments="[{
          start: 75,
          end: 90,
          color: 'orange'
        }, {
          start: 90,
          end: 100,
          color: 'red'
        }]"
        :scale-width="20"
        :hide-arrow="true"
        :hide-value="true"
        :variant="'round'"
      />
    </div>
    <div>
      {{ gaugeValue }}
    </div> -->
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
// import VueApexCharts from 'vue-apexcharts'
// import { ApexOptions } from 'apexcharts'
// import Gauge from '~/components/d3/Gauge.vue'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Главная' }
  }
  // components: {
  //   'apexchart': VueApexCharts,
  //   'gauge': Gauge
  // }
})
export default class Home extends Vue {
  // series = [76, 66, 3, 33, 4, 44, 5, 68]
  // chartOptions: ApexOptions = {
  //   chart: {
  //     type: 'radialBar',
  //     offsetY: -20,
  //     sparkline: {
  //       enabled: true
  //     }
  //   },
  //   plotOptions: {
  //     radialBar: {
  //       startAngle: -90,
  //       endAngle: 90,
  //       track: {
  //         background: '#e7e7e7',
  //         strokeWidth: '97%',
  //         margin: 5, // margin is in pixels
  //         dropShadow: {
  //           enabled: true,
  //           top: 2,
  //           left: 0,
  //           color: '#999',
  //           opacity: 1,
  //           blur: 2
  //         }
  //       },
  //       dataLabels: {
  //         name: {
  //           show: false
  //         },
  //         value: {
  //           offsetY: -2,
  //           fontSize: '22px'
  //         }
  //       }
  //     }
  //   },
  //   grid: {
  //     padding: {
  //       top: -10
  //     }
  //   },
  //   fill: {
  //     type: 'gradient',
  //     gradient: {
  //       shade: 'light',
  //       shadeIntensity: 0.4,
  //       inverseColors: false,
  //       opacityFrom: 1,
  //       opacityTo: 1,
  //       stops: [0, 50, 53, 91]
  //     }
  //   },
  //   labels: ['Average Results']
  // }

  // gaugeValue = Math.random() * (170 - -10) + -10

  // mounted() {
  //   window.setInterval(() => {
  //     this.gaugeValue = Math.random() * (170 - -10) + -10
  //   }, 2000)
  // }
}
</script>
