<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Наши объекты
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6">
        <b-input-group>
          <b-input-group-prepend>
            <b-input-group-text>
              <fa
                icon="search"
              />
            </b-input-group-text>
          </b-input-group-prepend>
          <b-form-input
            v-model="list.search"
            placeholder="Поиск"
            @input="onSearchInput"
          />
          <b-input-group-append>
            <b-btn
              v-if="!$isMobile()"
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
          <b-input-group-append>
            <b-button
              :variant="filtersCollapsed ? 'primary' : 'outline-primary'"
              size="sm"
              :class="filtersCollapsed ? null : 'collapsed'"
              :aria-expanded="filtersCollapsed ? 'true' : 'false'"
              aria-controls="collapse-4"
              @click="filtersCollapsed = !filtersCollapsed"
            >
              <fa
                icon="filter"
                style="font-size: 16px"
              />
              {{ list.types.length }}
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <b-form-group class="col text-md-right text-center">
        <b-button
          v-if="user.can['create map objects']"
          :to="{ name: 'map-object.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span>&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <div>
      <b-collapse 
        id="collapse-filters"
        v-model="filtersCollapsed"
        class="mb-3 mx-2"
      >
        <b-card>
          <template v-slot:header>
            Фильтры
          </template>
          <div 
            v-if="filtersLoaded"
            class="form-row"
          >
            <div class="col-md-4 col-sm-12">
              <label class="ml-1">Фильтр по типу</label>
              <odtn-filtered-checkbox
                v-model="list.types"
                :options="mapObjectsTypes"
                @input="onFiltersChange"
              />
            </div>
          </div>
        </b-card>
      </b-collapse>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template v-slot:cell(description)="data">
        <span
          v-if="data.item.description"
          v-html="data.item.description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
        />
      </template>
      <template
        v-slot:cell(coordinates)="data"
      >
        {{ `${data.item.latitude}, ${data.item.longitude}` }}
        <b-button
          class="ml-1"
          variant="primary"
          size="sm"
          @click.stop="$clipboard(`${data.item.latitude}, ${data.item.longitude}`)"
        >
          <fa
            icon="clone"
            style="font-size: 16px"
          />
        </b-button>
      </template>
      <template
        v-slot:cell(buttons)="data"
      >
        <div class="d-flex">
          <b-dropdown
            class="ml-auto"
            variant="primary"
            text="Открыть"
            size="sm"
            right
          >
            <b-dropdown-item
              :to="{
                name: 'map',
                query: {
                  lat: data.item.latitude,
                  lon: data.item.longitude,
                  z: '18'
                }
              }"
            >
              На карте
            </b-dropdown-item>
            <b-dropdown-item
              :href="generateYandexMapsLink(
                data.item.latitude,
                data.item.longitude
              )"
              target="_blank"
            >
              В Яндекс.Карты
            </b-dropdown-item>
            <b-dropdown-item
              :href="generateYandexNavigatorLink(
                data.item.latitude,
                data.item.longitude
              )"
              target="_blank"
            >
              В Яндекс.Навигатор
            </b-dropdown-item>
          </b-dropdown>
          <b-button
            v-if="user.can['delete map objects']"
            class="ml-1"
            variant="danger"
            size="sm"
            @click.stop="deleteMapObject(data.item.id)"
          >
            <fa
              icon="trash-alt"
              style="font-size: 16px"
            />
          </b-button>
        </div>
      </template>
    </b-table>
    <nav v-if="mapObjects && mapObjects.meta && mapObjects.meta.last_page > 1">
      <ul class="pagination justify-content-center">
        <li
          v-if="mapObjects.meta.current_page != 1"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="onPaginationPrevClick"
          >{{ this.$t('previous') }}</a>
        </li>
        <li
          v-for="pageNumber in mapObjects.meta.last_page"
          :key="pageNumber"
          class="page-item"
          :class="{ 'active': list.page === pageNumber }"
        >
          <a
            href="javascript:void 0"
            class="page-link"
            active-class="active"
            @click="onPaginationPageClick(pageNumber)"
          >
            {{ pageNumber }}
          </a>
        </li>
        <li
          v-if="mapObjects.meta.current_page != mapObjects.meta.last_page"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="onPaginationNextClick"
          >{{ this.$t('next') }}</a>
        </li>
      </ul>
    </nav>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Cookies from 'js-cookie'
import { switcher } from '~/common/switcher'
import {
  generateYandexMapsLink,
  generateYandexNavigatorLink
} from '~/common/mapObjectExternals'
import debounce from '~/decorators/debounce'
import * as api from '~/typings/api'

interface TableItem {
  id: number
  name: string
  description: string
  latitude: string
  longitude: string
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Наши объекты' }
  }
})
export default class MapObjects extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.MapObjects.MapObjectsListRequest = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'asc',
    types: []
  }
  filtersCollapsed: boolean = false
  filtersLoaded: boolean = false

  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'name',
        label: 'Название',
        thStyle: 'min-width: 250px;'
      },
      {
        key: 'description',
        label: 'Описание',
        thStyle: 'min-width: 400px;'
      },
      {
        key: 'coordinates',
        label: 'Координаты',
        class: 'text-nowrap'
      },
      {
        key: 'buttons',
        label: ''
      }
    ]

    return fields
  }

  get user() {
    return this.store.auth.user
  }

  get mapObjects() {
    return this.store.map.mapObjects
  }

  get mapObjectsTypes() {
    return this.store.map.mapObjectTypes?.data ?? []
  }

  get tableItems(): TableItem[] {
    if (this.mapObjects) {
      return this.mapObjects.data
        .map((mapObject) => {
          return {
            id: mapObject.id,
            name: mapObject.name,
            description: mapObject.description,
            longitude: mapObject.longitude,
            latitude: mapObject.latitude
          }
        })
    }

    return []
  }

  @Watch('list.page')
  pageChange(newVal: number) {
    Cookies.set('objects_list_page', `${newVal}`)
  }

  async created() {
    const objectsPage = Number(Cookies.get('objects_list_page'))

    this.list.page = !isNaN(objectsPage) ? objectsPage : 1
    await this.store.map.fetchMapObjectTypes({ items: 'all' })
    await this.store.users.fetchUser({ id: this.store.auth.user!.id})

    const mapObjectsFilters = this.store.auth.userConfigValue('map-objects_objects_filters') as number[]

    if (mapObjectsFilters && mapObjectsFilters.length && mapObjectsFilters.length > 0) {
      mapObjectsFilters.forEach((mapFilter: number) => {
        this.list.types?.push(mapFilter)
      })
    } 
    this.filtersLoaded = true
    this.fetchMapObjects()
  }

  fetchMapObjects() {
    this.store.map.fetchMapObjects(this.list)
  }

  @debounce(300)
  onSearchInput() {
    this.list.page = 1
    this.fetchMapObjects()
  }

  onFiltersChange(state: number[]) {
    this.store.auth.updateUserConfig({ name: 'map-objects_objects_filters', value: state})
    this.fetchMapObjects()
    this.list.page = 1
  }

  onRowClick(item: TableItem) {
    if (this.user?.can['read map objects']) {
      this.$router.push({
        name: 'map-object.read',
        params: {
          id: `${item.id}`
        }
      })
    }
  }

  deleteMapObject(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот объект?',
      {
        title: 'Удалить объект',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.map.deleteMapObject({ id })

        if (response.status === 200) {
          this.fetchMapObjects()
        }
      }
    })
  }

  generateYandexMapsLink(latitude: number, longitude:  number) {
    return generateYandexMapsLink(latitude, longitude)
  }

  generateYandexNavigatorLink(latitude: number, longitude:  number) {
    return generateYandexNavigatorLink(latitude, longitude)
  }

  onPaginationPrevClick() {
    this.list.page!--
    this.fetchMapObjects()
  }

  onPaginationNextClick() {
    this.list.page!++
    this.fetchMapObjects()
  }

  onPaginationPageClick(page: number) {
    this.list.page = page
    this.fetchMapObjects()
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.onSearchInput()
  }
}
</script>
