<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Типы объектов
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6" />
      <b-form-group class="col text-right">
        <b-button
          v-if="user.can['create map object types']"
          :to="{ name: 'map-object-type.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template v-slot:cell(icon)="data">
        <img
          v-if="data.item.icon && iconsStoragePath"
          :src="`${iconsStoragePath}${data.item.icon}`"
          :alt="data.item.icon"
          style="max-width: 32px; max-height: 32px;"
        >
      </template>
      <template
        v-if="user.can['delete map object types']"
        v-slot:cell(delete)="data"
      >
        <b-button
          class="d-block ml-auto"
          variant="danger"
          size="sm"
          @click.stop="deleteMapObjectType(data.item.id)"
        >
          <fa
            icon="trash-alt"
            style="font-size: 16px"
          />
        </b-button>
      </template>
    </b-table>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'

interface TableItem {
  id: number
  name: string
  icon: string
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Типы объектов' }
  }
})
export default class MapObjectTypes extends Vue {
  store = useStore<RootModule>(this.$store)

  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'name',
        label: 'Название'
      },
      {
        key: 'icon',
        label: 'Иконка'
      }
    ]

    // @ts-ignore
    if (this.user.can['delete map object types']) {
      fields.push({
        key: 'delete',
        label: ''
      })
    }

    return fields
  }

  get user() {
    return this.store.auth.user
  }

  get mapObjectTypes() {
    return this.store.map.mapObjectTypes?.data ?? []
  }

  get iconsStoragePath() {
    return this.store.map.mapObjectTypes?.links.storage
  }

  get tableItems(): TableItem[] {
    if (this.mapObjectTypes.length) {
      return this.mapObjectTypes
        .map((mapObjectType) => {
          return {
            id: mapObjectType.id,
            name: mapObjectType.name,
            icon: mapObjectType.icon
          }
        })
    }

    return []
  }

  created() {
    this.store.map.fetchMapObjectTypes({ items: 'all' })
  }

  onRowClick(item: TableItem) {
    this.$router.push({
      name: 'map-object-type.edit',
      params: {
        id: `${item.id}`
      }
    })
  }

  deleteMapObjectType(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот тип объекта?',
      {
        title: 'Удалить тип объекта',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.map.deleteMapObjectType({ id })

        if (response.status === 200) {
          this.store.map.fetchMapObjectTypes({ items: 'all' })
        }
      }
    })
  }
}
</script>
