<template>
  <b-card
    class="h-100"
    body-class="d-flex flex-column"
  >
    <template v-slot:header>
      Карта
    </template>
    <div class="form-row flex-shrink-0 mobile-display-contents">
      <div class="form-group col-auto col-sm-6">
        <b-input-group>
          <b-input-group-prepend>
            <b-input-group-text>
              <fa
                icon="search"
              />
            </b-input-group-text>
          </b-input-group-prepend>
          <odtn-autocomplete
            v-model="list.search"
            placeholder="Поиск"
            :lookup-function="fetchAddressSuggestions"
            @select="onSuggestionSelect"
            @input="onSearchInput"
          >
            <template v-slot:end-of-item="slotProps">
              <div>
                <small v-if="slotProps.suggestion.data && slotProps.suggestion.data.inn">
                  ИНН: {{ slotProps.suggestion.data.inn }}
                </small>
                <small
                  v-if="slotProps.suggestion.data && slotProps.suggestion.data.address && slotProps.suggestion.data.address.value"
                  class="ml-2"
                >
                  Адрес: {{ slotProps.suggestion.data.address.value }}
                </small>
              </div>
            </template>
          </odtn-autocomplete>
          <b-input-group-append v-if="!$isMobile()">
            <b-btn
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
          <b-input-group-append>
            <b-button
              :variant="filtersCollapsed ? 'primary' : 'outline-primary'"
              size="sm"
              :class="filtersCollapsed ? null : 'collapsed'"
              :aria-expanded="filtersCollapsed ? 'true' : 'false'"
              aria-controls="collapse-4"
              @click="filtersCollapsed = !filtersCollapsed"
            >
              <fa
                icon="filter"
                style="font-size: 16px"
              />
              {{ mapObjectTypeIdsToShow.length }}
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </div>
      <div class="col-auto col-sm-6">
        <b-form-checkbox
          v-model="allFeaturesHovered"
          class="mr-1"
          :class="{'mb-2 w-100': $isMobile()}"
          name="allFeatures"
          button
          button-variant="primary"
        >
          {{ allFeaturesHovered ? 'Скрыть' : 'Показать' }} названия всех объектов
        </b-form-checkbox>
      </div>
    </div>
    <div>
      <b-collapse
        id="collapse-filters"
        v-model="filtersCollapsed"
        class="mb-3 mx-2"
      >
        <b-card>
          <template v-slot:header>
            Фильтры
          </template>
          <div
            v-if="filtersLoaded"
            class="form-row"
          >
            <div class="col-md-4 col-sm-12">
              <label class="ml-1">Фильтр по типу</label>
              <odtn-filtered-checkbox
                v-model="mapObjectTypeIdsToShow"
                :options="mapObjectTypes"
                @input="onFiltersChange"
              />
            </div>
          </div>
        </b-card>
      </b-collapse>
    </div>
    <vl-map
      ref="map"
      v-touch:touchhold="onMapTouchhold"
      class="map flex-grow-1"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      style="max-height: 100%"
      @mounted="onMapMounted"
      @pointermove="onMapPointerMove"
      @click.native="onMapClickNative"
      @contextmenu.native.prevent.stop="onMapContextmenu"
    >
      <vl-layer-tile>
        <vl-source-osm url="https://osm.avzon.ru/osm_tiles/{z}/{x}/{y}.png" />
      </vl-layer-tile>
      <vl-view
        :center="center"
        :zoom="zoom"
        :rotation.sync="rotation"
        :min-zoom="9"
        :max-zoom="18"
        @update:center="onUpdateCenter"
        @update:zoom="onUpdateZoom"
      />
      <vl-geoloc @update:position="geolocationPosition = $event">
        <template v-slot:default="geoloc">
          <vl-feature v-if="geoloc.position">
            <vl-geom-point :coordinates="geoloc.position" />
            <vl-style-box>
              <vl-style-icon
                src="/i/location.svg"
                :scale="1"
                :anchor="[0.5, 1]"
              />
            </vl-style-box>
          </vl-feature>
        </template>
      </vl-geoloc>
      <vl-layer-vector id="searchLayer">
        <vl-source-vector
          ident="featuresSearch"
          :features.sync="searchFeatures"
        />
      </vl-layer-vector>
      <vl-interaction-modify
        source="featuresSearch"
        @modifyend="moveSearchMark($event)"
      />
      <vl-interaction-select :features.sync="selectedFeatures">
        <template slot-scope="select">
          <vl-overlay
            v-for="feature in select.features"
            :key="feature.id"
            class="map-feature-popup"
            :position="findPointOnSurface(feature.geometry)"
            :auto-pan="true"
            :auto-pan-animation="{ duration: 300 }"
            @contextmenu.native.stop
          >
            <template v-if="feature.id === 'searchMark'">
              <div class="dropdown-menu show">
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  @click="removeSearchMark"
                >
                  Удалить маркер
                </a>
              </div>
            </template>
            <b-card v-if="mapObjectWithId(feature.id)">
              <template v-slot:header>
                <div class="d-flex align-items-baseline">
                  {{ mapObjectWithId(feature.id).name }}
                  <b-button
                    class="ml-auto p-0"
                    variant="link"
                    size="sm"
                    @click="closePointPopup(feature)"
                  >
                    <fa
                      icon="times"
                      fixed-width
                      style="font-size: 16px"
                    />
                  </b-button>
                </div>
              </template>
              <template v-if="mapObjectWithId(feature.id).description">
                <div
                  class="mb-2"
                  v-html="mapObjectWithId(feature.id).description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
                />
              </template>
              <template v-else>
                <div class="mb-2">
                  Нет подробного описания
                </div>
              </template>
              <template v-slot:footer>
                <div class="d-table ml-auto">
                  <b-button
                    variant="outline-primary"
                    :href="generateYandexMapsLink(
                      mapObjectWithId(feature.id).latitude,
                      mapObjectWithId(feature.id).longitude
                    )"
                    target="_blank"
                  >
                    <fa
                      style="font-size: 14px"
                      icon="location-arrow"
                    />&nbsp;Я.Карты
                  </b-button>
                  <b-button
                    class="d-xl-none d-lg-none ml-1"
                    variant="outline-primary"
                    :href="generateYandexNavigatorLink(
                      mapObjectWithId(feature.id).latitude,
                      mapObjectWithId(feature.id).longitude
                    )"
                    target="_blank"
                  >
                    <fa
                      style="font-size: 14px"
                      icon="location-arrow"
                    />&nbsp;Я.Навигатор
                  </b-button>
                  <b-button
                    class="ml-1 d-none d-lg-inline-block"
                    variant="primary"
                    :to="{
                      name: 'map-object.read',
                      params: {
                        id: feature.id
                      },
                      query: {
                        referrer: 'map'
                      }
                    }"
                  >
                    Открыть
                  </b-button>
                </div>
                <div class="d-table ml-auto mt-1 d-block d-lg-none">
                  <b-button
                    variant="primary"
                    :to="{
                      name: 'map-object.read',
                      params: {
                        id: feature.id
                      },
                      query: {
                        referrer: 'map'
                      }
                    }"
                  >
                    Открыть
                  </b-button>
                </div>
              </template>
            </b-card>
          </vl-overlay>
        </template>
      </vl-interaction-select>
      <template v-for="mapObjectType in mapObjectTypes">
        <vl-layer-vector
          v-if="mapObjectTypeIdsToShow.length === 0 || mapObjectTypeIdsToShow.includes(mapObjectType.id)"
          :key="mapObjectType.id"
        >
          <vl-feature
            v-for="mapObject in mapObjectsOfType(mapObjectType.id)"
            :id="mapObject.id"
            :key="mapObject.id"
          >
            <vl-overlay
              v-if="allFeaturesHovered"
              :position="[
                Number(mapObject.longitude),
                Number(mapObject.latitude)
              ]"
            >
              <b-card
                style="padding: 0.2rem"
                no-body
              >
                <template>
                  <div class="d-flex align-items-baseline">
                    {{ mapObject.name }}
                  </div>
                </template>
              </b-card>
            </vl-overlay>
            <vl-geom-point
              :coordinates="[
                Number(mapObject.longitude),
                Number(mapObject.latitude)
              ]"
            />
            <vl-style-box v-if="iconsStoragePath && mapObjectType.icon">
              <vl-style-icon
                ref="iconStyle"
                :src="`${iconsStoragePath}${mapObjectType.icon}`"
                :scale="calcMapObjectTypeIconScale(mapObjectType.scale)"
              />
            </vl-style-box>
          </vl-feature>
        </vl-layer-vector>
      </template>
      <vl-overlay
        v-if="hoveredFeature && !allFeaturesHovered"
        class="map-feature-hover-popup"
        :position="getPositionForPopupOnHoverOverMapFeature(hoveredFeature)"
        @contextmenu.native.stop
      >
        <b-card
          v-if="mapObjectWithId(hoveredFeature.getId())"
          :no-body="!mapObjectWithId(hoveredFeature.getId()).description"
        >
          <template v-slot:header>
            <div class="d-flex align-items-baseline">
              {{ mapObjectWithId(hoveredFeature.getId()).name }}
            </div>
          </template>
          <template v-if="mapObjectWithId(hoveredFeature.getId()).description">
            <div v-html="mapObjectWithId(hoveredFeature.getId()).description.replace(/(?:\r\n|\r|\n)/g, '<br>')" />
          </template>
        </b-card>
      </vl-overlay>
      <vl-overlay
        v-if="showMapContextMenu"
        class="map-context-menu"
        :position="mapContextMenuPosition"
      >
        <div class="dropdown-menu show">
          <router-link
            class="dropdown-item"
            :to="newMapObjectRoute"
          >
            Добавить объект
          </router-link>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            @click="createSearchMarkFromMap(mapContextMenuPosition)"
          >
            Добавить маркер поиска
          </a>
        </div>
      </vl-overlay>
      <div class="map-controls">
        <div class="d-flex align-items-center justify-content-start">
          <b-form-input
            v-model.number="iconsScale"
            class="mr-auto p-1"
            type="range"
            :min="0.6"
            :max="3"
            :step="0.2"
            style="max-width: 130px"
            @input="onIconsScaleRangeInput"
          />
          <span
            v-if="geolocationPosition"
            class="p-1"
          >
            <b-button
              variant="primary"
              size="sm"
              @click="onCenterOnMeClick"
            >
              <fa
                icon="location-arrow"
              />
            </b-button>
          </span>
          <span class="p-1">
            <b-button
              variant="primary"
              size="sm"
              @click="center = [37.276410, 55.670370]"
            >
              <fa
                icon="dot-circle"
              />
            </b-button>
          </span>
          <b-button
            variant="primary"
            size="sm"
            @click="onToggleMapClick"
          >
            {{ toggleMapButtonText }}
          </b-button>
        </div>
      </div>
    </vl-map>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
// @ts-ignore
import { findPointOnSurface } from 'vuelayers/lib/ol-ext'
// @ts-ignore
import { transform } from 'ol/proj'
// @ts-ignore
import FullScreen from 'ol/control/FullScreen'
import {
  generateYandexMapsLink,
  generateYandexNavigatorLink
} from '~/common/mapObjectExternals'
import { switcher } from '~/common/switcher'
import addressSuggest from '~/common/dadataAddressLookup'
import * as api from '~/typings/api'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Карта' }
  }
})
export default class Map extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.MapObjects.MapObjectsListRequest = {
    search: '',
    items: 'all'
  }
  filtersLoaded: boolean = false
  filtersCollapsed: boolean = false
  zoom = 13
  center: [number, number] = [37.276410, 55.670370]
  geolocationPosition: [number, number] | null = null
  rotation = 0
  selectedFeatures: any = []
  searchFeatures: any = []
  hoveredFeature: any = null
  allFeaturesHovered: boolean = false
  toggleMapButtonText = ''
  showMapContextMenu = false
  mapContextMenuPosition = [0, 0]
  mapObjectTypeIdsToShow: number[] = []
  iconsScale = 1
  searchSelectOptions: any[] = []

  get newMapObjectRoute() {
    return {
      name: 'map-object.new',
      query: {
        lon: this.mapContextMenuPosition[0].toFixed(6),
        lat: this.mapContextMenuPosition[1].toFixed(6),
        referrer: 'map'
      }
    }
  }

  get mapObjectTypes() {
    return this.store.map.mapObjectTypes?.data ?? []
  }

  get iconsStoragePath() {
    return this.store.map.mapObjectTypes?.links.storage
  }

  get mapObjects() {
    return this.store.map.mapObjects?.data ?? []
  }

  get mapObjectsOfType() {
    return this.store.map.mapObjectsOfType
  }

  get mapObjectWithId() {
    return this.store.map.mapObjectWithId
  }

  created() {
    this.store.map.fetchMapObjects(this.list)
      .then(() => {
        this.$nextTick(() => {
          window.dispatchEvent(new Event('resize'))
        })
      })

    this.store.users.fetchUser({ id: this.store.auth.user!.id})
      .then(() => {
        const mapIconsScaleFromConfig = Number(this.store.auth.userConfigValue('map_icons_scale'))

        if (!isNaN(mapIconsScaleFromConfig)) {
          this.iconsScale = mapIconsScaleFromConfig
        }
        this.getMapObjectTypes()
      })

    const latitude = Number(this.$route.query.lat)
    const longitude = Number(this.$route.query.lon)
    const zoom = Number(this.$route.query.z)

    if (!isNaN(longitude)) {
      this.center[0] = longitude
    }
    if (!isNaN(latitude)) {
      this.center[1] = latitude
    }
    if (!isNaN(zoom)) {
      this.zoom = zoom
    }
  }

  beforeMount() {
    this.toggleMapButtonText = this.$i18n.t('expand_map') as string
  }

  beforeDestroy() {
    document.removeEventListener('fullscreenchange', this.onFullScreenChangeListener)
  }

  onSearchInput() {
    const regex = new RegExp(/(^[-+]?(?:[1-8]?\d(?:\.\d+)?|90(?:\.0+)?)),\s*([-+]?(?:180(?:\.0+)?|(?:(?:1[0-7]\d)|(?:[1-9]?\d))(?:\.\d+)?))$/)
    if(regex.test(this.list.search!)) {
      const latlng = this.list.search!.split(',').map(item => parseFloat(item)).reverse()
      this.searchFeatures = []
      this.addSearchMark(latlng)
    } else {
      this.fetchAddressSuggestions().then(data => {
        this.searchSelectOptions = data
      })
      this.store.map.fetchMapObjects(this.list)
    }
  }

  onSuggestionSelect(suggestion: any) {
    this.center = [Number(suggestion.lon), Number(suggestion.lat)]
    this.zoom = 17
  }

  async fetchAddressSuggestions() {
    const requestParams = {
      type: 'geo',
      filter: {
        lat: 55.670370,
        lon: 37.276410,
        radius_meters: 50000
      }
    }
    return await addressSuggest(this.list.search!, requestParams)
  }

  moveSearchMark() {
    this.list.search = this.searchFeatures[0].geometry.coordinates.reverse().join(', ')
  }

  removeSearchMark() {
    this.list.search = ''
    // @ts-ignore
    this.selectedFeatures = this.selectedFeatures.filter(feature => feature.id !== 'searchMark')
    this.searchFeatures = []
  }

  createSearchMarkFromMap(latlng: number[]) {
    this.list.search = latlng.reverse().join(', ')
    this.onSearchInput()
  }

  addSearchMark(latlng: number[]) {
    this.center = [latlng[0], latlng[1]]
    this.searchFeatures = this.searchFeatures.concat({
      id: 'searchMark',
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: latlng
      }
    })

    this.showMapContextMenu = false
  }

  async getMapObjectTypes() {
    await this.store.map.fetchMapObjectTypes({ items: 'all' })

    const mapObjectsFilters = this.store.auth.userConfigValue('map_objects_filters') as number[]

    if (mapObjectsFilters && mapObjectsFilters.length > 0) {
      const filtersIds = mapObjectsFilters

      filtersIds.forEach((mapFilter: number) => {
        this.mapObjectTypeIdsToShow.push(mapFilter)
      })
    }
    this.filtersLoaded = true
  }

  toggleSelectedObjects(state: boolean) {
    if(state) {
      this.mapObjectTypes.forEach(mapObjectType => {
        this.mapObjectTypeIdsToShow.push(mapObjectType.id)
      })
    } else {
      this.mapObjectTypeIdsToShow = []
    }
  }

  findPointOnSurface(value: any) {
    return findPointOnSurface(value)
  }

  getEventCoordinatesRelativeToElement(event: MouseEvent | TouchEvent) {
    const rect = (event.target as Element).getBoundingClientRect()
    let x
    let y

    if (event.type.includes('touch')) {
      x = (event as TouchEvent).touches[0].clientX - rect.left
      y = (event as TouchEvent).touches[0].clientY - rect.top
    } else {
      x = (event as MouseEvent).clientX - rect.left
      y = (event as MouseEvent).clientY - rect.top
    }

    return [x, y]
  }

  onFullScreenChangeListener() {
    (this.$refs.map as any).updateSize()
  }

  onMapMounted() {
    (this.$refs.map as any).$map.getControls().extend([
      new FullScreen()
    ])
    document.addEventListener('fullscreenchange', this.onFullScreenChangeListener)
  }

  onMapPointerMove(event: any) {
    const featureAtPixel: boolean = (this.$refs.map as any).forEachFeatureAtPixel(event.pixel, (feature: any) => feature)
    const mapCanvas = ((this.$refs.map as Vue).$el as HTMLElement)

    if (featureAtPixel) {
      mapCanvas.style.cursor = 'pointer'
      this.$nextTick(() => {
        this.hoveredFeature = featureAtPixel
      })
    } else {
      mapCanvas.style.cursor = ''
      this.hoveredFeature = null
    }
  }

  onMapClickNative() {
    this.showMapContextMenu = false
  }

  onMapTouchhold(event: TouchEvent) {
    if (event.touches.length === 1) {
      this.showMapContextMenuByEventRelativeCoordinates(
        this.getEventCoordinatesRelativeToElement(event)
      )
    }
  }

  onMapContextmenu(event: MouseEvent) {
    this.showMapContextMenuByEventRelativeCoordinates(
      this.getEventCoordinatesRelativeToElement(event)
    )
  }

  onToggleMapClick() {
    this.toggleMapButtonText === this.$t('expand_map')
      ? this.toggleMapButtonText = this.$t('collapse_map') as string
      : this.toggleMapButtonText = this.$t('expand_map') as string
    ;((this.$refs.map as Vue).$el as HTMLElement).classList.toggle('map-full-viewport')
    this.store.toggleNavbar()
    this.$nextTick(() => {
      (this.$refs.map as any).updateSize()
    })
  }

  closePointPopup(feature: any) {
    this.selectedFeatures = this.selectedFeatures
      .filter((selectedFeature: any) => selectedFeature.id !== feature.id)
  }

  showMapContextMenuByEventRelativeCoordinates(relativeCoordinates: any) {
    this.mapContextMenuPosition = (this.$refs.map as any).getCoordinateFromPixel(
      [relativeCoordinates[0], relativeCoordinates[1]]
    )
    this.showMapContextMenu = true
  }

  onIconsScaleRangeInput() {
    this.store.auth.updateUserConfig({ name: 'map_icons_scale',  value: this.iconsScale })
  }

  onFiltersChange(state: number[]) {
    this.store.auth.updateUserConfig({ name: 'map_objects_filters', value: state})
  }

  calcMapObjectTypeIconScale(iconScale: string | null | undefined) {
    if (iconScale) {
      const parsedScale = Number(iconScale)

      if (!isNaN(parsedScale)) {
        return this.iconsScale * parsedScale
      }
    }

    return this.iconsScale
  }

  getPositionForPopupOnHoverOverMapFeature(hoveredFeature: any) {
    return transform(hoveredFeature.getGeometry().getCoordinates(), 'EPSG:3857', 'EPSG:4326')
  }

  onCenterOnMeClick() {
    this.center = this.geolocationPosition!
  }

  generateYandexMapsLink(latitude: number, longitude:  number) {
    return generateYandexMapsLink(latitude, longitude)
  }

  generateYandexNavigatorLink(latitude: number, longitude:  number) {
    return generateYandexNavigatorLink(latitude, longitude)
  }

  onUpdateCenter(value: [number, number]) {
    this.center = value
    this.$router.replace({
      query: {
        ...this.$route.query,
        lon: `${value[0].toFixed(6)}`,
        lat: `${value[1].toFixed(6)}`
      }
    }).catch(err => err)
  }

  onUpdateZoom(value: number) {
    this.zoom = value
    this.$router.replace({
      query: {
        ...this.$route.query,
        z: `${value}`
      }
    }).catch(err => err)
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.onSearchInput()
  }
}
</script>

<style lang="scss">
  .map {
    background: #fff;
    height: 200px;
    position: relative;
    &-full-viewport {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2;
    }
    &-feature-popup {
      position: absolute;
      width: 300px;
    }
    &-feature-hover-popup {
      position: absolute;
      width: 300px;
      transform: translate(-100%, -100%);
    }
    &-context-menu {
      user-select: none;
    }
    &-controls {
      padding: 0 10px 15px 10px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: none;
      & > div > * {
        pointer-events: all;
      }
    }
    .ol-viewport {
      height: auto !important;
    }
  }
  @media (max-width: 768px) {
    .mobile-display-contents {
      display: contents !important;
    }
  }
</style>
