<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Роли
    </template>
    <div class="form-row">
      <div class="form-group col-auto col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <fa icon="search" />
            </div>
          </div>
          <input
            ref="search-input"
            v-model="list.search"
            type="text"
            class="form-control"
            :placeholder="this.$t('search')"
            @input="getRoles(1, list.orderby, list.direction)"
          >
          <b-input-group-append>
            <b-btn
              v-if="!$isMobile()"
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
        </div>
      </div>
      <div class="form-group col text-right">
        <b-button
          v-if="user.can['create roles']"
          :to="{ name: 'role.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th
              scope="col"
              style="min-width: 60px;"
            >
              <a
                href="javascript:void 0"
                @click="getRoles(list.page, 'id')"
              >
                #
                <span v-if="list.orderby == 'id' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'id' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              scope="col"
              style="min-width: 180px;"
            >
              <a
                href="javascript:void 0"
                @click="getRoles(list.page, 'name')"
              >
                {{ this.$t('name') }}
                <span v-if="list.orderby == 'name' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'name' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              scope="col"
              style="min-width: 150px;"
            >
              <a
                href="javascript:void 0"
                @click="getRoles(list.page, 'created_at')"
              >
                {{ this.$t('date') }}
                <span v-if="list.orderby == 'created_at' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'created_at' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              v-if="user.can['delete roles']"
              scope="col"
            />
          </tr>
        </thead>
        <tbody
          v-for="role in roles.data"
          :key="role.id"
          @click="$router.push({ name: 'role.edit', params: {id: role.id}})"
        >
          <tr class="cursor-pointer">
            <th>{{ role.id }}</th>
            <td>{{ role.name }} </td>
            <td>{{ role.created_at | moment("ll") }}</td>
            <td v-if="user.can['delete roles']">
              <b-button
                v-if="role.name != 'super-admin' && role.name != 'user'"
                variant="danger"
                size="sm"
                @click.stop="deleteRole(role.id)"
              >
                <fa
                  icon="trash-alt"
                  style="font-size: 16px"
                />
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-if="roles.total == 0">
          <tr>
            <td
              colspan="4"
              class="text-center pt-4"
            >
              {{ this.$t('nothing_found') }}
            </td>
          </tr>
        </tbody>
      </table>
      <nav v-if="roles.last_page > 1">
        <ul class="pagination justify-content-center">
          <li
            v-if="roles.current_page != 1"
            class="page-item"
          >
            <a
              class="page-link"
              href="javascript:void 0"
              @click="getRoles(list.page - 1)"
            >{{ this.$t('previous') }}</a>
          </li>
          <li
            v-for="num in roles.last_page"
            :key="num"
            class="page-item"
            :class="{ 'active': list.page === num }"
          >
            <a
              href="javascript:void 0"
              class="page-link"
              active-class="active"
              @click="list.page !== num ? getRoles(num) : false"
            >
              {{ num }}
            </a>
          </li>
          <li
            v-if="roles.current_page != roles.last_page"
            class="page-item"
          >
            <a
              class="page-link"
              href="javascript:void 0"
              @click="getRoles(list.page + 1)"
            >{{ this.$t('next') }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Cookies from 'js-cookie'
import { switcher } from '~/common/switcher'
import * as api from '~/typings/api'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('roles') }
  }
})
export default class Roles extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.ListOptions = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'asc'
  }

  get user() {
    return this.store.auth.user
  }

  get roles() {
    return this.store.roles.roles
  }

  @Watch('list.page')
  pageChange(newVal: number) {
    Cookies.set('roles_list_page', `${newVal}`)
  }

  mounted() {
    const rolesPage = Number(Cookies.get('roles_list_page'))
    this.list.page = !isNaN(rolesPage) ? rolesPage : 1
    this.store.roles.fetchRoles(this.list)
  }

  getRoles(
    page = this.list.page,
    orderby = this.list.orderby,
    direction: 'asc' | 'desc' | null = null
  ) {
    if (page === this.list.page) {
      if (direction) {
        this.list.direction = direction
      } else if (orderby === this.list.orderby) {
        this.list.direction = (this.list.direction === 'asc') ? 'desc' : 'asc'
      } else {
        this.list.direction = 'asc'
      }
    } else {
      window.scrollTo(0, 0)
    }
    this.list.page = page
    this.list.orderby = orderby
    this.store.roles.fetchRoles(this.list)
  }

  async deleteRole(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить эту роль?',
      {
        title: 'Удалить роль',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.roles.deleteRole({ id })

        if (response.status === 200) {
          this.store.roles.fetchRoles(this.list)
        }
      }
    })
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.getRoles(1, this.list.orderby, this.list.direction)
  }
}
</script>
