<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Пользователи
    </template>
    <div class="form-row">
      <div class="form-group col-auto col-sm-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <fa icon="search" />
            </div>
          </div>
          <input
            ref="search-input"
            v-model="list.search"
            type="text"
            class="form-control"
            :placeholder="this.$t('search')"
            @input="fetchUsers(1, list.orderby, list.direction)"
          >
          <b-input-group-append>
            <b-btn
              v-if="!$isMobile()"
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
        </div>
      </div>
      <div class="form-group col text-right">
        <b-button
          v-if="user.can['create users']"
          :to="{ name: 'user.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th
              scope="col"
              style="min-width: 60px;"
            >
              <a
                href="javascript:void 0"
                @click="fetchUsers(list.page, 'id')"
              >
                #
                <span v-if="list.orderby == 'id' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'id' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              scope="col"
              style="min-width: 400px;"
            >
              <a
                href="javascript:void 0"
                @click="fetchUsers(list.page, 'last_name')"
              >
                {{ this.$t('last_name') }}
                <span v-if="list.orderby == 'last_name' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'last_name' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              v-if="user.can['read contacts']"
              scope="col"
            >
              <a
                href="javascript:void 0"
                @click="fetchUsers(list.page, 'email')"
              >
                {{ this.$t('contacts') }}
                <span v-if="list.orderby == 'email' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'email' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              scope="col"
              style="min-width: 180px;"
            >
              <a
                href="javascript:void 0"
                @click="fetchUsers(list.page, 'created_at')"
              >
                {{ this.$t('registration_date') }}
                <span v-if="list.orderby == 'created_at' && list.direction == 'asc'">▲</span>
                <span v-if="list.orderby == 'created_at' && list.direction == 'desc'">▼</span>
              </a>
            </th>
            <th
              v-if="user.can['delete users']"
              scope="col"
            />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="oneUser in users.data"
            :key="oneUser.id"
            class="cursor-pointer"
            @click="$router.push({ name: 'user', params: {id: oneUser.id}})"
          >
            <th class="align-middle">
              {{ oneUser.id }}
            </th>
            <td class="align-middle">
              <div class="row">
                <div class="col-auto p-0">
                  <img
                    :src="oneUser.photo_url.width_128"
                    class="rounded-circle profile-photo"
                    style="max-height: 48px"
                  >
                </div>
                <div class="col-auto">
                  {{ oneUser.last_name }} {{ oneUser.first_name }} {{ oneUser.middle_name }}
                  <span
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Суперадмин"
                  >
                    <fa
                      v-if="oneUser.isAdmin"
                      icon="user"
                      fixed-width
                      style="font-size: 16px; color: #dc3545"
                    />
                  </span>
                  <br>
                  <span class="text-muted">{{ oneUser.email }}</span>
                </div>
              </div>
            </td>
            <td
              v-if="user.can['read contacts']"
              class="align-middle"
            >
              <span
                v-for="contact in oneUser.contacts"
                :key="contact.id"
              >
                <span v-if="contact.type.indexOf('mobile') >= 0">
                  {{ contact.contact | VMask('+7 (###) ###-##-##') }}<br>
                </span>
                <span v-else>
                  {{ contact.contact }}<br>
                </span>
              </span>
            </td>
            <td class="align-middle">
              {{ oneUser.created_at | moment("ll") }}
            </td>
            <td v-if="user.can['delete users']">
              <b-button
                variant="danger"
                size="sm"
                @click.stop="deleteUser(oneUser.id)"
              >
                <fa
                  icon="trash-alt"
                  style="font-size: 16px"
                />
              </b-button>
            </td>
          </tr>
        </tbody>
        <tbody v-if="users.total == 0">
          <tr>
            <td
              colspan="4"
              class="text-center pt-4"
            >
              {{ this.$t('nothing_found') }}
            </td>
          </tr>
        </tbody>
      </table>
      <nav v-if="users.last_page > 1">
        <ul class="pagination justify-content-center">
          <li
            v-if="users.current_page != 1"
            class="page-item"
          >
            <a
              class="page-link"
              href="javascript:void 0"
              @click="fetchUsers(list.page - 1)"
            >{{ this.$t('previous') }}</a>
          </li>
          <li
            v-for="num in users.last_page"
            :key="num"
            class="page-item"
            :class="{ 'active': list.page === num }"
          >
            <a
              href="javascript:void 0"
              class="page-link"
              active-class="active"
              @click="list.page !== num ? fetchUsers(num) : false"
            >
              {{ num }}
            </a>
          </li>
          <li
            v-if="users.current_page != users.last_page"
            class="page-item"
          >
            <a
              class="page-link"
              href="javascript:void 0"
              @click="fetchUsers(list.page + 1)"
            >{{ this.$t('next') }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Cookies from 'js-cookie'
import { switcher } from '~/common/switcher'
import * as api from '~/typings/api'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('users') }
  }
})
export default class Users extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.ListOptions = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'desc'
  }

  get user() {
    return this.store.auth.user
  }

  get users() {
    return this.store.users.users
  }

  @Watch('list.page')
  pageChange(newVal: number) {
    Cookies.set('users_list_page', `${newVal}`)
  }

  mounted() {
    const usersPage = Number(Cookies.get('users_list_page'))
    this.list.page = !isNaN(usersPage) ? usersPage : 1
    this.fetchUsers()
  }

  fetchUsers(
    page = this.list.page,
    orderby = this.list.orderby,
    direction: 'asc' | 'desc' | null = null
  ) {
    if (page === this.list.page) {
      if (direction) {
        this.list.direction = direction
      } else if (orderby === this.list.orderby) {
        this.list.direction = this.list.direction === 'asc'
          ? 'desc'
          : 'asc'
      } else {
        this.list.direction = 'asc'
      }
    } else {
      window.scrollTo(0, 0)
    }
    this.list.page = page
    this.list.orderby = orderby
    this.store.users.fetchUsers(this.list)
  }

  async deleteUser(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этого пользователя?',
      {
        title: 'Удалить пользователя',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.users.deleteUser({ id })

        if (response.status === 200) {
          this.store.users.fetchUsers(this.list)
        }
      }
    })
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.fetchUsers(1, this.list.orderby, this.list.direction)
  }
}
</script>
