<template>
  <div class="welcome">
    <transition
      name="page"
      mode="out-in"
    >
      <video
        v-show="showVideo"
        autoplay
        muted
        loop
        @loadeddata="onFirsFrameLoaded"
      >
        <source
          :src="'/backgrounds/bg' + getBackgroundID() + '.mp4'"
          type="video/mp4"
        >
      </video>
    </transition>
    <div class="top-right links">
      <template v-if="authenticated">
        <router-link
          :to="{ name: 'map' }"
          class="text-white"
        >
          {{ $t('home') }}
        </router-link>
      </template>
      <template v-else>
        <router-link
          :to="{ name: 'login' }"
          class="text-white"
        >
          {{ $t('login') }}
        </router-link>
        <router-link
          :to="{ name: 'register' }"
          class="text-white"
        >
          {{ $t('register') }}
        </router-link>
      </template>
    </div>
    <div class="logo display-4 text-white p-4">
      <img
        src="/logo_white.png"
        class="img-fluid"
        alt="Одинцовская Теплосеть"
        style="max-height: 200px"
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Cookies from 'js-cookie'

@Component({
  layout: 'basic',
  metaInfo() {
    return { title: this.$t('home') }
  }
})
export default class Welcome extends Vue {
  store = useStore<RootModule>(this.$store)
  title: string = (window as any).config.appName
  showVideo = false

  get authenticated() {
    return this.store.auth.check
  }

  onFirsFrameLoaded() {
    this.showVideo = true
  }

  getBackgroundID() {
    let id = parseInt(Cookies.get('bg_id') ?? '0') + 1

    if (isNaN(id) || id > 11) {
      id = 1
    }
    Cookies.set('bg_id', id.toString(), { expires: 7 })

    return id
  }
}
</script>

<style scoped>
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  user-select: none;
}

.top-right {
  position: absolute;
  top: 18px;
  right: 10px;
}

video {
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.logo {
  position: relative;
}
</style>
