<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Структурное подразделение
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div
        v-if="user.can['update departments']"
        class="form-group row"
      >
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'
import { getAllTreeListItemsWithExcept } from '~/common/treeListUtils'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Структурное подразделение' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    description: ''
  })

  get user() {
    return this.store.auth.user
  }

  get departments() {
    return this.store.departments.departments?.data ?? []
  }

  get department() {
    return this.store.departments.department?.data ?? null
  }

  created() {
    this.store.departments.fetchDepartments()
    this.getDepartment(parseInt(this.$route.params.id))
  }

  async getDepartment(id: number) {
    await this.store.departments.fetchDepartment({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.department[key]
    })
  }

  async update() {
    await this.form.put(`/api/v1/departments/${this.$route.params.id}`)
    this.$router.push({ name: 'departments' })
  }
}
</script>
