<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новое структурное подразделение
    </template>
    <new-form @created="onCreated" />
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import NewForm from './NewForm.vue'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новое структурное подразделение' }
  },
  components: {
    'new-form': NewForm
  }
})
export default class New extends Vue {
  onCreated() {
    this.$router.push({ name: 'departments' })
  }
}
</script>
