<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Сервер БД
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          {{ $t('name') }}
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- host -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Хост
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.host"
            :state="form.errors.has('host') ? false : null"
            name="host"
          />
          <has-error
            :form="form"
            field="host"
          />
        </div>
      </div>

      <!-- http_api_port -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          HTTP API Порт
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.http_api_port"
            :state="form.errors.has('http_api_port') ? false : null"
            name="http_api_port"
          />
          <has-error
            :form="form"
            field="http_api_port"
          />
        </div>
      </div>

      <!-- port -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Порт
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.port"
            :state="form.errors.has('port') ? false : null"
            name="port"
          />
          <has-error
            :form="form"
            field="port"
          />
        </div>
      </div>

      <!-- login -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Логин
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.login"
            :state="form.errors.has('login') ? false : null"
            name="login"
          />
          <has-error
            :form="form"
            field="login"
          />
        </div>
      </div>

      <!-- password -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Пароль
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.password"
            :state="form.errors.has('password') ? false : null"
            name="password"
          />
          <has-error
            :form="form"
            field="password"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Сервер БД' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({    
    name: '',
    host: '',
    port: '',
    http_api_port: '',
    login: '',
    password: '',
    description: ''
  })

  get tsDbServer() {
    return this.store.metricControllers.tsDbServers.tsDbServer
  }

  created() {
    this.getTsDbServer(parseInt(this.$route.params.id))
  }

  async getTsDbServer(id: number) {
    await this.store.metricControllers.tsDbServers.fetchTsDbServer({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.tsDbServer.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/metrics/ts-db-servers/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.ts-db-servers' })
  }
}
</script>
