<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Графики
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6">
        <b-input-group>
          <b-input-group-prepend>
            <b-input-group-text>
              <fa
                icon="search"
              />
            </b-input-group-text>
          </b-input-group-prepend>
          <b-form-input
            v-model="list.search"
            placeholder="Поиск"
            @input="onSearchInput"
          />
          <b-input-group-append>
            <b-btn
              v-if="!$isMobile()"
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <b-form-group class="col text-right">
        <b-button
          v-if="user.can['create metric controller']"
          :to="{ name: 'metrics.graphs.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template v-slot:head(id)>
        <a
          href="javascript:void 0"
          @click="fetchVidecamModels(list.page, 'id')"
        >
          #
          <span v-if="list.orderby == 'id' && list.direction == 'asc'">▲</span>
          <span v-if="list.orderby == 'id' && list.direction == 'desc'">▼</span>
        </a>
      </template>
      <template v-slot:head(name)="data">
        <a
          href="javascript:void 0"
          @click="fetchVidecamModels(list.page, 'name')"
        >
          {{ data.label }}
          <span v-if="list.orderby == 'name' && list.direction == 'asc'">▲</span>
          <span v-if="list.orderby == 'name' && list.direction == 'desc'">▼</span>
        </a>
      </template>
      <template v-slot:cell(description)="data">
        <span
          v-if="data.item.description"
          v-html="data.item.description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
        />
      </template>
      <template
        v-if="user.can['delete metric controller']"
        v-slot:cell(delete)="data"
      >
        <b-button
          class="d-block ml-auto"
          variant="danger"
          size="sm"
          @click.stop="deleteGraph(data.item.id)"
        >
          <fa
            icon="trash-alt"
            style="font-size: 16px"
          />
        </b-button>
      </template>
    </b-table>
    <nav v-if="graphs && graphs.meta && graphs.meta.last_page > 1">
      <ul class="pagination justify-content-center">
        <li
          v-if="graphs.meta.current_page != 1"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="fetchGraphs(list.page - 1)"
          >{{ this.$t('previous') }}</a>
        </li>
        <li
          v-for="num in graphs.meta.last_page"
          :key="num"
          class="page-item"
          :class="{ 'active': list.page === num }"
        >
          <a
            href="javascript:void 0"
            class="page-link"
            active-class="active"
            @click="list.page !== num ? fetchGraphs(num) : false"
          >
            {{ num }}
          </a>
        </li>
        <li
          v-if="graphs.meta.current_page != graphs.meta.last_page"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="fetchGraphs(list.page + 1)"
          >{{ this.$t('next') }}</a>
        </li>
      </ul>
    </nav>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import debounce from '~/decorators/debounce'
import { switcher } from '~/common/switcher'
import { RootModule } from '~/store'
import * as api from '~/typings/api'

interface TableItem {
  id: number
  name: string
  unit_measurement: string
  description: string | null
}

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Графики' }
  }
})
export default class Graphs extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.ListOptions = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'desc'
  }
  
  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'name',
        label: 'Имя'
      },
      {
        key: 'description',
        label: 'Описание'
      }
    ]

    // @ts-ignore
    if (this.user.can['delete metric controller']) {
      fields.push({
        key: 'delete',
        label: ''
      })
    }

    return fields
  }

  get user() {
    return this.store.auth.user
  }

  get graphs() {
    return this.store.metricControllers.graphs.graphs
  }

  get tableItems(): TableItem[] {
    return this.graphs?.data ?? []
  }

  created() {
    this.fetchGraphs()
  }

  @debounce(300)
  onSearchInput() {
    this.fetchGraphs()
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.onSearchInput()
  }

  onRowClick(item: TableItem) {
    this.$router.push({
      name: 'metrics.graphs.edit',
      params: {
        id: `${item.id}`
      }
    })
  }

  fetchGraphs(
    page = this.list.page,
    orderby = this.list.orderby,
    direction: 'asc' | 'desc' | null = null
  ) {
    if (page === this.list.page) {
      if (direction) {
        this.list.direction = direction
      } else if (orderby === this.list.orderby) {
        this.list.direction = this.list.direction === 'asc'
          ? 'desc'
          : 'asc'
      } else {
        this.list.direction = 'asc'
      }
    } else {
      window.scrollTo(0, 0)
    }
    this.list.page = page
    this.list.orderby = orderby
    this.store.metricControllers.graphs.fetchGraphs(this.list)
  }

  deletegraph(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот тип параметра?',
      {
        title: 'Удалить тип параметра',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.metricControllers.graphs.deleteGraph({ id })

        if (response.status === 200) {
          this.fetchGraphs()
        }
      }
    })
  }
}
</script>
