<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Каналы датчиков
    </template>
    <div class="form-row">
      <b-form-group class="col-auto col-sm-6">
        <b-input-group>
          <b-input-group-prepend>
            <b-input-group-text>
              <fa
                icon="search"
              />
            </b-input-group-text>
          </b-input-group-prepend>
          <b-form-input
            v-model="list.search"
            placeholder="Поиск"
            @input="onSearchInput"
          />
          <b-input-group-append v-if="!$isMobile()">
            <b-btn
              variant="outline-primary"
              :disabled="list.search.length < 1"
              @click="switchText(list.search)"
            >
              <fa
                icon="globe"
              />
            </b-btn>
          </b-input-group-append>
          <b-input-group-append>
            <b-button
              :variant="filtersCollapsed ? 'primary' : 'outline-primary'"
              size="sm"
              :class="filtersCollapsed ? null : 'collapsed'"
              :aria-expanded="filtersCollapsed ? 'true' : 'false'"
              aria-controls="collapse-filters"
              @click="filtersCollapsed = !filtersCollapsed"
            >
              <fa
                icon="filter"
                style="font-size: 16px"
              />
              {{ list.objects_type.length + list.objects_id.length }}
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-group>
      <b-form-group class="col text-right">
        <b-button
          v-if="user.can['create metric controller']"
          :to="{ name: 'metrics.metric-sensor-channels.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          /><span class="d-none d-sm-inline">&nbsp;&nbsp;{{ this.$t('add') }}</span>
        </b-button>
      </b-form-group>
    </div>
    <div>
      <b-collapse 
        id="collapse-filters"
        v-model="filtersCollapsed"
        class="mb-3 mx-2"
      >
        <b-card>
          <template v-slot:header>
            Фильтры
          </template>
          <div 
            v-if="filtersLoaded"
            class="form-row"
          >
            <div class="col-md-4 col-sm-12">
              <label class="ml-1">Фильтр по типу объекта</label>
              <odtn-filtered-checkbox
                v-model="list.objects_type"
                :options="mapObjectsTypes"
                @input="(data) => onFiltersChange(data, 'sensor_channels_objects_type_filters')"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <label class="ml-1">Фильтр по объекту</label>
              <odtn-filtered-checkbox
                v-model="list.objects_id"
                :options="mapObjects"
                @input="(data) => onFiltersChange(data, 'sensor_channels_objects_filters')"
              />
            </div>
          </div>
        </b-card>
      </b-collapse>
    </div>
    <b-table
      :fields="tableFields"
      :items="tableItems"
      tbody-tr-class="cursor-pointer"
      head-variant="dark"
      responsive
      hover
      @row-clicked="onRowClick"
    >
      <template v-slot:head(id)>
        <a
          href="javascript:void 0"
          @click="fetchSensorChannels(list.page, 'id')"
        >
          #
          <span v-if="list.orderby == 'id' && list.direction == 'asc'">▲</span>
          <span v-if="list.orderby == 'id' && list.direction == 'desc'">▼</span>
        </a>
      </template>
      <template v-slot:head(topic_name)="data">
        <a
          href="javascript:void 0"
          @click="fetchSensorChannels(list.page, 'topic_name')"
        >
          {{ data.label }}
          <span v-if="list.orderby == 'topic_name' && list.direction == 'asc'">▲</span>
          <span v-if="list.orderby == 'topic_name' && list.direction == 'desc'">▼</span>
        </a>
      </template>
      <template v-slot:cell(description)="data">
        <span
          v-if="data.item.description"
          v-html="data.item.description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
        />
      </template>
      <template
        v-if="user.can['delete metric controller']"
        v-slot:cell(delete)="data"
      >
        <b-button
          class="d-block ml-auto"
          variant="danger"
          size="sm"
          @click.stop="deleteSensorChannel(data.item.id)"
        >
          <fa
            icon="trash-alt"
            style="font-size: 16px"
          />
        </b-button>
      </template>
    </b-table>
    <nav v-if="sensorChannels && sensorChannels.meta && sensorChannels.meta.last_page > 1">
      <ul class="pagination justify-content-center">
        <li
          v-if="sensorChannels.meta.current_page != 1"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="fetchSensorChannels(list.page - 1)"
          >{{ this.$t('previous') }}</a>
        </li>
        <li
          v-for="num in sensorChannels.meta.last_page"
          :key="num"
          class="page-item"
          :class="{ 'active': list.page === num }"
        >
          <a
            href="javascript:void 0"
            class="page-link"
            active-class="active"
            @click="list.page !== num ? fetchSensorChannels(num) : false"
          >
            {{ num }}
          </a>
        </li>
        <li
          v-if="sensorChannels.meta.current_page != sensorChannels.meta.last_page"
          class="page-item"
        >
          <a
            class="page-link"
            href="javascript:void 0"
            @click="fetchSensorChannels(list.page + 1)"
          >{{ this.$t('next') }}</a>
        </li>
      </ul>
    </nav>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import Cookies from 'js-cookie'
import debounce from '~/decorators/debounce'
import { switcher } from '~/common/switcher'
import { RootModule } from '~/store'
import * as api from '~/typings/api'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Каналы датчиков' }
  }
})
export default class MetricSensorChannels extends Vue {
  store = useStore<RootModule>(this.$store)
  list: api.Controllers.SensorChannels.SensorChannelsListRequest = {
    search: '',
    page: 1,
    orderby: 'id',
    direction: 'desc',
    objects_type: [],
    objects_id: []
  }
  filtersCollapsed: boolean = false
  filtersLoaded: boolean = false

  get tableFields() {
    const fields = [
      {
        key: 'id',
        label: '#',
        isRowHeader: true
      },
      {
        key: 'topic_name',
        label: 'Топик'
      },
      {
        key: 'description',
        label: 'Описание'
      }
    ]

    // @ts-ignore
    if (this.user.can['delete metric controller']) {
      fields.push({
        key: 'delete',
        label: ''
      })
    }

    return fields
  }

  get user() {
    return this.store.auth.user
  }

  get sensorChannels() {
    return this.store.metricControllers.sensorChannels.sensorChannels
  }

  get mapObjectsTypes() {
    return this.store.map.mapObjectTypes?.data ?? []
  }

  get mapObjects() {
    return this.store.map.mapObjects?.data ?? []
  }

  get tableItems(): api.Controllers.SensorChannels.SensorChannel[] {
    return this.sensorChannels?.data ?? []
  }

  @Watch('list.page')
  pageChange(newVal: number) {
    Cookies.set('sensor_channels_list_page', `${newVal}`)
  }

  async created() {
    const sensorChannelsPage = Number(Cookies.get('sensor_channels_list_page'))

    this.list.page = !isNaN(sensorChannelsPage) ? sensorChannelsPage : 1
    await this.store.map.fetchMapObjects({ items: 'all' })
    await this.store.map.fetchMapObjectTypes({ items: 'all' })
    await this.store.users.fetchUser({ id: this.store.auth.user!.id})

    const mapObjectsFilters = this.store.auth.userConfigValue('sensor_channels_objects_filters') as number[]
    const mapObjectTypesFilters = this.store.auth.userConfigValue('sensor_channels_objects_type_filters') as number[]

    if (mapObjectsFilters && mapObjectsFilters.length > 0) {
      const filtersIds = mapObjectsFilters
      filtersIds.forEach((mapFilter: number) => {
        this.list.objects_id?.push(mapFilter)
      })
    } 
    if (mapObjectTypesFilters && mapObjectTypesFilters.length > 0) {
      const filtersIds = mapObjectTypesFilters
      filtersIds.forEach((mapFilter: number) => {
        this.list.objects_type?.push(mapFilter)
      })
    } 
    this.filtersLoaded = true
    this.fetchSensorChannels()
  }

  onFiltersChange(state: number[], name: string) {
    this.store.auth.updateUserConfig({ name, value: state})
    this.fetchSensorChannels(undefined, undefined, this.list.direction)
    this.list.page = 1
  }

  @debounce(300)
  onSearchInput() {
    this.list.page = 1
    this.fetchSensorChannels()
  }

  switchText(text: string) {
    this.list.search = switcher(text)
    this.onSearchInput()
  }

  onRowClick(item: api.Controllers.SensorChannels.SensorChannel) {
    this.$router.push({
      name: 'metrics.metric-sensor-channels.edit',
      params: {
        id: `${item.id}`
      }
    })
  }

  fetchSensorChannels(
    page = this.list.page,
    orderby = this.list.orderby,
    direction: 'asc' | 'desc' | null = null
  ) {
    if (page === this.list.page) {
      if (direction) {
        this.list.direction = direction
      } else if (orderby === this.list.orderby) {
        this.list.direction = this.list.direction === 'asc'
          ? 'desc'
          : 'asc'
      } else {
        this.list.direction = 'asc'
      }
    } else {
      window.scrollTo(0, 0)
    }
    this.list.page = page
    this.list.orderby = orderby
    this.store.metricControllers.sensorChannels.fetchSensorChannels(this.list)
  }

  deleteSensorChannel(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот канал датчиков?',
      {
        title: 'Удалить канал',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.metricControllers.sensorChannels.deleteSensorChannel({ id })

        if (response.status === 200) {
          this.fetchSensorChannels()
        }
      }
    })
  }
}
</script>
