<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Модуль контроллера
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- controller_network_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Сеть контроллеров
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.controller_network_id">
            <b-form-select-option 
              v-for="network in controllerNetworks"
              :key="network.id"
              :value="network.id"
            >
              {{ network.topic_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="controller_network_id"
          />
        </div>
      </div>

      <!-- rs485_device_model_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Модель модуля контроллера
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.rs485_device_model_id">
            <b-form-select-option 
              v-for="model in deviceModels"
              :key="model.id"
              :value="model.id"
            >
              {{ model.topic_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="rs485_device_model_id"
          />
        </div>
      </div>

      <!-- serial_number -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Серийный номер
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model.number="form.serial_number"
            :state="form.errors.has('serial_number') ? false : null"
            name="serial_number"
          />
          <has-error
            :form="form"
            field="serial_number"
          />
        </div>
      </div>

      <!-- topic_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Топик
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.topic_name"
            :state="form.errors.has('topic_name') ? false : null"
            name="topic_name"
          />
          <has-error
            :form="form"
            field="topic_name"
          />
        </div>
      </div>

      <!-- rs485_address -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Адрес
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.rs485_address"
            :state="form.errors.has('rs485_address') ? false : null"
            name="rs485_address"
          />
          <has-error
            :form="form"
            field="rs485_address"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Модуль контроллера' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    controller_network_id: null,
    rs485_device_model_id: null,
    serial_number: '',
    rs485_address: '',
    topic_name: '',
    description: ''
  })

  get device() {
    return this.store.metricControllers.devices.device
  }

  get controllerNetworks() {
    return this.store.metricControllers.controllerNetworks.controllerNetworks?.data || []
  }

  get deviceModels() {
    return this.store.metricControllers.deviceModels.deviceModels?.data || []
  }

  created() {
    this.getDevice(parseInt(this.$route.params.id))
    this.store.metricControllers.deviceModels.fetchDeviceModels({ items: 'all' })
    this.store.metricControllers.controllerNetworks.fetchControllerNetworks({ items: 'all' })
  }

  async getDevice(id: number) {
    await this.store.metricControllers.devices.fetchDevice({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.device.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/metrics/rs485-devices/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.rs485-devices' })
  }
}
</script>
