<template>
  <b-card class="mb-4">
    <template v-slot:header>
      База данных 
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          {{ $t('name') }}
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- ts_db_server_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Сервер БД
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.ts_db_server_id">
            <b-form-select-option 
              v-for="server in tsDbServers"
              :key="server.id"
              :value="server.id"
            >
              {{ server.name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="ts_db_server_id"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'База данных' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    ts_db_server_id: null,
    description: ''
  })

  get tsDatabase() {
    return this.store.metricControllers.tsDatabases.tsDatabase
  }

  get tsDbServers() {
    return this.store.metricControllers.tsDbServers.tsDbServers?.data || []
  }

  created() {
    this.getTsDatabase(parseInt(this.$route.params.id))
    this.store.metricControllers.tsDbServers.fetchTsDbServers({ items: 'all' })
  }

  async getTsDatabase(id: number) {
    await this.store.metricControllers.tsDatabases.fetchTsDatabase({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.tsDatabase.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/metrics/ts-databases/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.ts-databases' })
  }
}
</script>
