<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <v-form @submit.prevent="onSubmit">
                <v-text-field v-model="model.name" label="Название" outlined />
                <v-textarea
                    v-model="model.description"
                    label="Описание"
                    outlined
                />
                <div class="d-flex flex-wrap justify-end">
                    <v-btn class="mx-1 my-1" color="primary" type="submit">
                        Сохранить
                    </v-btn>
                    <v-btn class="mx-1 my-1" to="/admin/tiers" nuxt>
                        Отмена
                    </v-btn>
                </div>
            </v-form>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

/* eslint-disable */
interface Tier {
    id?: string,
    name: string,
    description: string,
    products?: string[]
}

interface Model extends Tier {}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Серия товаров')
            resolve()
        })
    }
})
export default class AtvAdminTierPage extends Vue {
    loading = true
    model: Model = {
        name: '',
        description: ''
    }

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        if (this.$route.params.id !== 'new') {
            const tierRes = await this.$axios.get(
                `/tier/edit/${this.$route.params.id}`
            )

            this.model = { ...this.model, ...tierRes.data }
        }

        this.$nextTick(() => {
            this.loading = false
        })
    }

    onSubmit() {
        this.$axios.post('/tier/edit', this.model).then(() => {
            this.$router.push('/admin/tiers')
        })
    }
}
</script>
