<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <div class="d-flex flex-wrap justify-end">
                <v-btn
                    class="mx-1 my-1"
                    to="/admin/tiers/new"
                    color="primary"
                    nuxt
                >
                    Создать серию
                </v-btn>
                <v-btn
                    class="mx-1 my-1"
                    color="primary"
                    text
                    icon
                    @click="allowToDelete = !allowToDelete"
                >
                    <v-icon>
                        {{ allowToDelete ? 'lock_open' : 'lock' }}
                    </v-icon>
                </v-btn>
            </div>
            <template v-if="tiers && !tiers.length">
                Нет серий.
            </template>
            <template v-if="tiers && tiers.length">
                <v-data-table
                    :headers="tableHeaders"
                    :items="tiers"
                    hide-default-footer
                >
                    <tr slot="item" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>
                            <v-btn
                                class="mr-1"
                                :to="`/admin/tiers/${props.item.id}`"
                                color="primary"
                                nuxt
                                text
                                icon
                            >
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <v-btn
                                v-if="allowToDelete"
                                color="primary"
                                text
                                icon
                                @click="startDeleteDialog(props.item)"
                            >
                                <v-icon>delete_forever</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </v-data-table>
            </template>
            <v-dialog v-model="showDeleteDialog" persistent>
                <v-card>
                    <v-card-title class="headline">
                        Точно удалить серию?
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn
                            :disabled="disableDeleteDialog"
                            color="primary"
                            @click="acceptDeliting"
                        >
                            Удалить
                        </v-btn>
                        <v-btn
                            :disabled="disableDeleteDialog"
                            @click="cancelDeleting"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

/* eslint-disable */
interface Tier {
    id?: string,
    name: string,
    description: string,
    products: string[]
}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Серии товаров')
            resolve()
        })
    }
})
export default class AtvAdminTiersPage extends Vue {
    loading = true
    tiers: Tier[] = []
    allowToDelete = false
    tableHeaders = [
        { text: 'Название', value: 'name' },
        { text: '', value: '' }
    ]
    showDeleteDialog = false
    tierToDelete: Tier | null = null
    disableDeleteDialog = false

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        const tiersRes = await this.$axios.get('/tier/all')

        this.tiers = tiersRes.data
        this.$nextTick(() => {
            this.loading = false
        })
    }

    startDeleteDialog(tier: Tier) {
        this.showDeleteDialog = true
        this.tierToDelete = tier
    }

    acceptDeliting() {
        if (this.tierToDelete) {
            this.disableDeleteDialog = true
            this.$axios
                .delete(`/tier/edit/${this.tierToDelete.id}`)
                .then(async () => {
                    await this.init()
                    this.showDeleteDialog = false
                    this.disableDeleteDialog = false
                })
        }
    }

    cancelDeleting() {
        this.tierToDelete = null
        this.showDeleteDialog = false
    }
}
</script>
