<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый канал датчиков
    </template>
    <div v-if="tsDatabases.length > 0 && devices.length > 0 && unitMeasurements.length > 0">
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- rs485_devices_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Устройство
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.rs485_device_id">
              <b-form-select-option 
                v-for="device in devices"
                :key="device.id"
                :value="device.id"
              >
                {{ device.topic_name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="rs485_devices_id"
            />
          </div>
        </div>

        <!-- unit_measurements_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Тип параметра
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.unit_measurement_id">
              <b-form-select-option 
                v-for="measurement in unitMeasurements"
                :key="measurement.id"
                :value="measurement.id"
              >
                {{ measurement.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="unit_measurements_id"
            />
          </div>
        </div>

        <!-- ts_database_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            База данных
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.ts_database_id">
              <b-form-select-option 
                v-for="db in tsDatabases"
                :key="db.id"
                :value="db.id"
              >
                {{ db.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="ts_database_id"
            />
          </div>
        </div>

        <!-- name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Название
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.name"
              :state="form.errors.has('name') ? false : null"
              name="name"
            />
            <has-error
              :form="form"
              field="name"
            />
          </div>
        </div>

        <!-- topic_name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Топик
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.topic_name"
              :state="form.errors.has('topic_name') ? false : null"
              name="topic_name"
            />
            <has-error
              :form="form"
              field="topic_name"
            />
          </div>
        </div>

        <!-- status_flag -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Статус флаг
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.status_flag"
              :state="form.errors.has('status_flag') ? false : null"
              name="status_flag"
            />
            <has-error
              :form="form"
              field="status_flag"
            />
          </div>
        </div>

        <!-- min_value -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Минимальное значение
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.min_value"
              :state="form.errors.has('min_value') ? false : null"
              name="min_value"
            />
            <has-error
              :form="form"
              field="min_value"
            />
          </div>
        </div>

        <!-- max_value -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Максимальное значение
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.max_value"
              :state="form.errors.has('max_value') ? false : null"
              name="max_value"
            />
            <has-error
              :form="form"
              field="max_value"
            />
          </div>
        </div>

        <!-- min_warning_value -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Минимальное предупреждающее значение (warning)
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.min_warning_value"
              :state="form.errors.has('min_warning_value') ? false : null"
              name="min_warning_value"
            />
            <has-error
              :form="form"
              field="min_warning_value"
            />
          </div>
        </div>

        <!-- max_warning_value -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Максимальное предупреждающее значение (warning)
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.max_warning_value"
              :state="form.errors.has('max_warning_value') ? false : null"
              name="max_warning_value"
            />
            <has-error
              :form="form"
              field="max_warning_value"
            />
          </div>
        </div>

        <!-- min_alert_value -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Минимальное тревожное значение (alert)
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.min_alert_value"
              :state="form.errors.has('min_alert_value') ? false : null"
              name="min_alert_value"
            />
            <has-error
              :form="form"
              field="min_alert_value"
            />
          </div>
        </div>

        <!-- max_alert_value -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Максимальное тревожное значение (alert)
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.max_alert_value"
              :state="form.errors.has('max_alert_value') ? false : null"
              name="max_alert_value"
            />
            <has-error
              :form="form"
              field="max_alert_value"
            />
          </div>
        </div>

        <!-- description -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Описание
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.description"
              :state="form.errors.has('description') ? false : null"
              name="description"
            />
            <has-error
              :form="form"
              field="description"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <p class="text-center">
        Перед созданием канала датчиков вам нужно:
      </p>
      <div v-if="tsDatabases.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'ts-databases.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать базу данных
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="devices.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'rs485_devices.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать модуль контроллера
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="unitMeasurements.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'metrics.unit-measurements.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать тип параметров
            </span>
          </b-button>
        </b-form-group>
      </div>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый канал датчиков' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    rs485_device_id: null,
    unit_measurement_id: null,
    ts_database_id: null,
    status_flag: 0,
    topic_name: '',
    name: '',
    min_value: null,
    max_value: null,
    min_warning_value: null,
    max_warning_value: null,
    min_alert_value: null,
    max_alert_value: null,
    description: ''
  })

  get tsDatabases() {
    return this.store.metricControllers.tsDatabases.tsDatabases?.data || []
  }

  get devices() {
    return this.store.metricControllers.devices.devices?.data || []
  }

  get unitMeasurements() {
    return this.store.metricControllers.unitMeasurements.unitMeasurements?.data || []
  }

  created() {
    this.store.metricControllers.tsDatabases.fetchTsDatabases({ items: 'all' })
    this.store.metricControllers.devices.fetchDevices({ items: 'all' })
    this.store.metricControllers.unitMeasurements.fetchUnitMeasurements({ items: 'all' })
  }

  async create() {
    await this.form.post(`/api/v1/metrics/sensor-channels`)

    this.$router.replace({
      name: 'metrics.metric-sensor-channels'
    })
  }
}
</script>
