<template>
    <div class="atv-admin-toolbar d-flex flex-wrap px-4 py-2 elevation-3">
        <v-btn class="mx-1 my-1" color="primary" to="/admin/categories" nuxt
            >Категории</v-btn
        >
        <v-btn class="mx-1 my-1" color="primary" to="/admin/features" nuxt
            >Характеристики</v-btn
        >
        <v-btn class="mx-1 my-1" color="primary" to="/admin/products" nuxt
            >Товары</v-btn
        >
        <v-btn class="mx-1 my-1" color="primary" to="/admin/tiers" nuxt
            >Серии</v-btn
        >
        <v-btn class="mx-1 my-1" color="primary" to="/admin/sparesImport" nuxt
            >Импорт запчастей</v-btn
        >
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvAdminPanel extends Vue {}
</script>

<style lang="scss">
.atv-admin-toolbar {
    background: map-deep-get($material-theme, 'app-bar');
    position: relative;
}
</style>
