<template>
    <div
        v-if="breadcrumbs && breadcrumbs.length > 1"
        class="
            atv-breadcrumbs
            d-flex
            flex-column
            flex-sm-row
            align-center
            justify-center
            justify-sm-between
        "
    >
        <v-breadcrumbs :items="breadcrumbs">
            <template slot="item" slot-scope="{ item }">
                <v-breadcrumbs-item
                    :key="item.path"
                    :to="item.path"
                    :disabled="breadcrumbs.length == item.index + 1"
                    nuxt
                    exact
                >
                    {{ item.label }}
                </v-breadcrumbs-item>
            </template>
        </v-breadcrumbs>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvBreadcrumbs extends Vue {
    get breadcrumbs() {
        if (
            this.$store.state.breadcrumbs &&
            this.$store.state.breadcrumbs.length
        ) {
            const breadcrumbs: {
                index: number
                path: string
                label: string
            }[] = this.$store.state.breadcrumbs

            breadcrumbs.forEach((x, index) => {
                x.index = index
            })

            return breadcrumbs
        }

        return []
    }
}
</script>
