<template>
    <v-col class="atv-footer mt-4" tag="footer" cols="12">
        &copy; &laquo;ATV-VOSTOK. Техника для активного отдыха&raquo; Детские и
        подростковые квадроциклы в Екатеринбурге. Мопеды, багги, прицепы.
        <a href="mailto:info@atv-vostok.ru">info@atv-vostok.ru</a>
    </v-col>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvFooter extends Vue {}
</script>

<style lang="scss">
.atv-footer {
    text-align: center;
    font-size: 14px;
}
</style>
