<template>
    <v-sheet
        class="
            atv-header-about
            elevation-3
            mx-0
            mt-2
            ml-sm-auto
            mt-sm-auto
            my-md-auto
        "
    >
        <div>
            <span class="font-weight-bold primary--text">Адрес: </span>
            <span class="text-no-wrap">г.Екатеринбург,</span>
            <span class="text-no-wrap">ул.Корепина,</span>
            <span class="text-no-wrap">д.60</span>
        </div>
        <div>
            <span class="font-weight-bold primary--text">Тел.: </span>
            <span class="text-no-wrap">(343) 382-17-96,</span>
            <span class="text-no-wrap">(343) 278-06-32,</span>
            <span class="text-no-wrap">+7-922-201-47-96</span>
        </div>
        <div>
            <span class="font-weight-bold primary--text">График: </span>
            <span class="text-no-wrap">Пн-Пт 09:00-18:00,</span>
            <span class="text-no-wrap">Сб-Вс 09:00-17:00</span>
        </div>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvHeaderAbout extends Vue {}
</script>

<style lang="scss">
.atv-header-about {
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    @media #{map-get($display-breakpoints, 'sm-only')} {
        margin-bottom: 21px;
    }
}
</style>
