<template>
    <div
        class="
            atv-header-logo
            text-center
            text-md-left
            mr-0
            mr-sm-3
        "
    >
        <nuxt-link class="atv-header-logo__link" to="/">
            <span class="atv-header-logo__image">
                <img src="/logo.svg" />
            </span>
            <span class="atv-header-logo__image-shadow elevation-3" />
            <span class="atv-header-logo__name elevation-3">
                &nbsp;ATV Восток&nbsp;
            </span>
            <span class="atv-header-logo__slogon">
                &nbsp;Техника для активного отдыха&nbsp;
            </span>
        </nuxt-link>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvHeaderLogo extends Vue {}
</script>

<style lang="scss">
.atv-header-logo {
    position: relative;
    z-index: 0;
    &__link {
        display: block;
        height: 100%;
        text-decoration: none;
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: map-deep-get($colors, 'grey', 'lighten-3');
        float: left;
        width: 110px;
        height: 110px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        img {
            display: block;
            width: 85%;
            height: auto;
            margin-bottom: 8px;
        }
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            float: none;
            margin: 0 auto;
        }
    }
    &__image-shadow {
        width: 110px;
        height: 110px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__name {
        display: block;
        float: left;
        width: 263px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        color: map-deep-get($colors, 'red', 'darken-3');
        background: map-deep-get($colors, 'grey', 'lighten-3');
        border-radius: $border-radius-root;
        margin: 25px 0 0 -15px;
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            float: none;
            margin: -10px auto 0 auto;
        }
    }
    &__slogon {
        display: block;
        font-size: 14px;
        color: map-deep-get($colors, 'grey', 'lighten-3');
        text-shadow: 0 1px 1px map-deep-get($colors, 'shades', 'black');
    }
}
</style>
