<template>
    <v-col
        class="
            atv-header
            d-flex
            flex-column
            flex-sm-row
            align-center
            justify-center
            justify-sm-between
            pb-4
        "
        tag="header"
        cols="12"
    >
        <atv-header-logo />
        <atv-header-about />
    </v-col>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import AtvHeaderLogo from '~/components/AtvHeaderLogo.vue'
import AtvHeaderAbout from '~/components/AtvHeaderAbout.vue'

@Component({
    components: {
        AtvHeaderLogo,
        AtvHeaderAbout
    }
})
export default class AtvHeader extends Vue {}
</script>
