<template>
    <v-col
        class="atv-main mt-4 mt-sm-0"
        tag="main"
        cols="12"
        sm="6"
        md="8"
        lg="9"
        xl="9"
    >
        <v-sheet class="elevation-3 pa-4 mb-4">
            <h1 class="title">
                {{ pageTitle }}
            </h1>
        </v-sheet>
        <nuxt />
    </v-col>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvMain extends Vue {
    get pageTitle() {
        return this.$store.state.page.title
    }
}
</script>

<style lang="scss" scoped>
.title {
    line-height: 1 !important;
}
</style>
