<template>
    <div>
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvMultiColumn extends Vue {}
</script>

<style lang="scss">
$sizes: 'sm', 'md', 'lg', 'xl';

@for $i from 1 through $grid-columns {
    .mcol-#{$i} {
        column-count: $i;
    }
}

@each $size in $sizes {
    $media-key: '#{$size}-and-up';

    @if $size == 'xl' {
        $media-key: 'xl-only';
    }

    @media #{map-get($display-breakpoints, $media-key)} {
        @for $i from 1 through $grid-columns {
            .mcol-#{$size}-#{$i} {
                column-count: $i;
            }
        }
    }
}

@for $i from 0 through 12 {
    .mcol-gap-#{$i} {
        column-gap: ($spacer * $i);
    }
}

@each $size in $sizes {
    $media-key: '#{$size}-and-up';

    @if $size == 'xl' {
        $media-key: 'xl-only';
    }

    @media #{map-get($display-breakpoints, $media-key)} {
        @for $i from 1 through $grid-columns {
            .mcol-#{$size}-gap-#{$i} {
                column-gap: ($spacer * $i);
            }
        }
    }
}

.break-inside-avoid {
    break-inside: avoid;
}
</style>
