<template>
    <v-list v-if="menu && menu.length" class="atv-menu-spares elevation-3">
        <v-list>
            <v-list-item
                v-for="item in menu"
                :key="item.id"
                :to="`/catalog/${item.id}/${getRFC3986String(item.name)}`"
                class="menu-item"
                ripple
                nuxt
            >
                {{ item.name }}
            </v-list-item>
        </v-list>
    </v-list>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import slug from 'limax'

@Component({})
export default class AtvMenuProducts extends Vue {
    get menu() {
        if (
            this.$store.state.sparesMenu &&
            this.$store.state.sparesMenu.length
        ) {
            return this.$store.state.sparesMenu
        }

        return []
    }

    getRFC3986String(value: string) {
        return slug(value).toLowerCase()
    }
}
</script>
