<template>
    <v-list class="elevation-3">
        <template v-if="user">
            <v-list-item>
                {{ user.email }}
            </v-list-item>
            <v-list-item ripple nuxt to="/logout">
                Выйти
            </v-list-item>
        </template>
        <template v-else>
            <v-list-item ripple nuxt to="/login">
                Войти
            </v-list-item>
            <v-list-item ripple nuxt to="/forgetPassword">
                Забыл пароль
            </v-list-item>
            <v-list-item ripple nuxt to="/register">
                Зарегистрироваться
            </v-list-item>
        </template>
    </v-list>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class AtvMenuUser extends Vue {
    get user() {
        return this.$store.state.user
    }

    get userIsAdmin() {
        if (
            this.$store.state.user &&
            this.$store.state.user.roles &&
            this.$store.state.user.roles.includes('Admin')
        ) {
            return true
        }

        return false
    }
}
</script>
