<template>
    <v-sheet v-if="menu && menu.length" class="atv-menu-products elevation-3">
        <v-list>
            <v-list-group
                v-for="menuItem in menu"
                :key="menuItem.id"
                :ripple="false"
            >
                <v-list-item-content slot="activator">
                    <v-list-item-title>
                        <b>
                            {{ menuItem.name }}
                        </b>
                    </v-list-item-title>
                </v-list-item-content>
                <v-list-item
                    v-for="childItem in menuItem.children"
                    :key="childItem.id"
                    class="menu-item pl-8"
                    :to="
                        `/catalog/${childItem.id}/${getRFC3986String(
                            childItem.name
                        )}`
                    "
                    :ripple="false"
                    nuxt
                >
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ childItem.name }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-group>
        </v-list>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import slug from 'limax'

@Component({})
export default class AtvMenuProducts extends Vue {
    get menu() {
        if (
            this.$store.state.productsMenu &&
            this.$store.state.productsMenu.length
        ) {
            return this.$store.state.productsMenu
        }

        return []
    }

    getRFC3986String(value: string) {
        return slug(value).toLowerCase()
    }
}
</script>

<style lang="scss" scoped>
.menu-item::v-deep a {
    padding-left: 32px;
}
</style>
