<template>
    <v-expansion-panels>
        <v-expansion-panel>
            <v-expansion-panel-content>
                <template v-slot:header>
                    Мета теги
                </template>
                <div class="px-4 py-2">
                    <div>
                        <v-text-field
                            v-model="model.metaTitle"
                            label="Title"
                            outlined
                        />
                    </div>
                    <div>
                        <v-text-field
                            v-model="model.metaDescription"
                            label="Description"
                            outlined
                        />
                    </div>
                    <div>
                        <v-text-field
                            v-model="model.metaKeywords"
                            label="Keywords"
                            outlined
                        />
                    </div>
                </div>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({})
export default class AtvMetaTagsEdit extends Vue {
    @Prop()
    model!: {
        metaTitle: string
        metaDescription: string
        metaKeywords: string
    }
}
</script>
