<template>
    <v-col
        class="
            atv-sidebar
            pr-0
            pr-sm-4
        "
        tag="aside"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        xl="3"
    >
        <atv-menu-user class="mb-4" />
        <atv-menu-products v-if="!sparesViewing" />
        <v-list v-if="!sparesViewing" class="mt-4 elevation-3">
            <v-list-item
                :to="`/catalog/${sparesId}/${getRFC3986String(sparesLabel)}`"
                class="menu-item"
                ripple
                nuxt
            >
                {{ sparesLabel }}
            </v-list-item>
        </v-list>
        <atv-menu-spares v-if="sparesViewing" />
    </v-col>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import slug from 'limax'
import constants from '~/core/constants'
import AtvMenuUser from '~/components/AtvMenuUser.vue'
import AtvMenuProducts from '~/components/AtvMenuProducts.vue'
import AtvMenuSpares from '~/components/AtvMenuSpares.vue'

@Component({
    components: {
        AtvMenuUser,
        AtvMenuProducts,
        AtvMenuSpares
    }
})
export default class AtvSidebar extends Vue {
    get sparesViewing() {
        return this.$store.state.sparesViewing
    }

    get sparesId() {
        return constants.sparesObjectId
    }

    get sparesLabel() {
        return constants.sparesLabel
    }

    getRFC3986String(value: string) {
        return slug(value).toLowerCase()
    }
}
</script>
