<template>
    <div>
        <img :class="className" :src="src" />
        <div class="buttons">
            <slot />
            <v-btn v-handle color="primary" icon>
                <v-icon>
                    open_with
                </v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { ElementMixin, HandleDirective } from 'vue-slicksort'

@Component({
    directives: { handle: HandleDirective },
    props: ['className', 'src']
})
class SlickSortContainerItem extends Vue {}

export default SlickSortContainerItem.extend(ElementMixin)
</script>

<style lang="scss" scoped>
.buttons {
    text-align: center;
}
</style>
