<template>
    <div :class="className">
        <slot />
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { ContainerMixin } from 'vue-slicksort'

@Component({
    props: ['className']
})
class SlickSortContainer extends Vue {}

export default SlickSortContainer.extend(ContainerMixin)
</script>
