<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Контакты
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <div
        v-for="(contact, key) in form.contacts"
        :key="key"
        class="form-row justify-content-md-center align-items-center"
      >
        <div class="form-group col-auto">
          {{ $t('contact') }} {{ key + 1 }}:
        </div>
        <div class="form-group col-md-3">
          <select
            :id="'type' + key"
            v-model="contact.type"
            class="custom-select"
          >
            <option
              v-for="(type, typeKey) in types"
              :key="typeKey"
              :value="typeKey"
            >
              {{ type.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <fa :icon="(types[contact.type] !== undefined) ? types[contact.type].icon : 'at'" />
              </div>
            </div>
            <input
              :id="'contact' + key"
              v-model="contact.contact"
              v-mask="mask(key)"
              type="text"
              class="form-control"
            >
          </div>
        </div>
        <div class="form-group col-auto text-center">
          <b-form-checkbox
            v-model="contact.notifications"
            v-b-tooltip.hover
            title="Использовать для уведомлений"
            :value="1"
            :unchecked-value="0"
            switch
          >
            <fa
              icon="envelope"
              fixed-width
              style="font-size: 16px"
            />
          </b-form-checkbox>
        </div>
        <div
          v-if="user.can['update contacts']"
          class="form-group col-auto text-center"
        >
          <b-form-checkbox
            v-model="contact.protected"
            v-b-tooltip.hover
            title="Запретить пользователю самому редактировать"
            :value="1"
            :unchecked-value="0"
            switch
          >
            <fa
              icon="shield-alt"
              fixed-width
              style="font-size: 16px"
            />
          </b-form-checkbox>
        </div>
        <div class="form-group col-auto text-right">
          <b-button
            variant="danger"
            size="sm"
            @click.stop="deleteContact(contact.id, key)"
          >
            <fa
              icon="trash-alt"
              style="font-size: 16px"
            /><span class="d-inline d-md-none">&nbsp;&nbsp;{{ $t('delete') }}</span>
          </b-button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col text-center">
          <b-button
            variant="primary"
            @click.stop="addContact()"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />&nbsp;&nbsp;{{ form.contacts.length > 0 ? $t('add_more') : $t('add') }}
          </b-button>
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('save') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('contacts') }
  }
})
export default class Profile extends Vue {
  store = useStore<RootModule>(this.$store)
  form: any = new Form({
    contacts: []
  })

  get user() {
    return this.store.auth.user
  }

  get contacts() {
    return this.store.contacts.contacts
  }

  get types() {
    return this.store.contacts.contactTypes
  }

  created() {
    this.getTypes()
    this.getContacts(parseInt(this.$route.params.id))
  }

  addContact() {
    this.form.contacts.push({
      'type': Object.keys(this.types)[0]
    })
  }

  mask(key: number) {
    const type = this.form.contacts[key].type

    if (type.indexOf('phone') >= 0) {
      return '+7 (###) ###-##-##'
    }
    if (type.indexOf('mobile') >= 0) {
      return '+7 (###) ###-##-##'
    }
    return 'X'.repeat(255)
  }

  async getTypes() {
    await this.store.contacts.fetchContactTypes()
  }

  async getContacts(id: number) {
    await this.store.contacts.fetchContacts({ id })
    this.form.contacts = JSON.parse(JSON.stringify(this.contacts))
  }

  async update() {
    const response = await this.form.put('/api/v1/users/' + this.$route.params.id + '/contacts')

    if (response.status === 200) {
      this.clearForm()
      this.$router.push({ name: 'user', params: { id: this.$route.params.id } })
    }
  }

  clearForm() {
    this.form.contacts.forEach((contact: any) => {
      contact.contact = ''
    })
  }

  async deleteContact(id: number | undefined, key: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить этот контакт?',
      {
        title: 'Удалить контакт',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        if (id) {
          const response = await this.store.contacts.deleteContact({ userId: parseInt(this.$route.params.id), id })

          if (response.status === 200) {
            this.$delete(this.form.contacts, key)
          }
        } else {
          this.$delete(this.form.contacts, key)
        }
      }
    })
  }
}
</script>
