<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый пользователь
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- Last name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('last_name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.last_name"
            :class="{ 'is-invalid': form.errors.has('last_name') }"
            class="form-control"
            type="text"
            name="last_name"
          >
          <has-error
            :form="form"
            field="last_name"
          />
        </div>
      </div>

      <!-- First name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('first_name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.first_name"
            :class="{ 'is-invalid': form.errors.has('first_name') }"
            class="form-control"
            type="text"
            name="first_name"
          >
          <has-error
            :form="form"
            field="first_name"
          />
        </div>
      </div>

      <!-- Middle name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('middle_name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.middle_name"
            :class="{ 'is-invalid': form.errors.has('middle_name') }"
            class="form-control"
            type="text"
            name="middle_name"
          >
          <has-error
            :form="form"
            field="middle_name"
          />
        </div>
      </div>

      <!-- Email -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.email"
            :class="{ 'is-invalid': form.errors.has('email') }"
            class="form-control"
            type="email"
            name="email"
            autocomplete="off"
          >
          <has-error
            :form="form"
            field="email"
          />
        </div>
      </div>

      <!-- Roles -->
      <div
        v-if="user.can['assign roles']"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">{{ $t('roles') }}</label>
        <div class="col-md-7">
          <div class="container">
            <div class="row">
              <b-form-checkbox
                v-for="(role, index) in allRoles"
                :key="index"
                v-model="form.roles"
                class="mt-2 mr-3"
                :value="role"
              >
                {{ $t(role) }}
              </b-form-checkbox>
            </div>
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.password"
            :class="{ 'is-invalid': form.errors.has('password') }"
            class="form-control"
            type="password"
            name="password"
            autocomplete="new-password"
          >
          <has-error
            :form="form"
            field="password"
          />
        </div>
      </div>

      <!-- Password Confirmation -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.password_confirmation"
            :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
            class="form-control"
            type="password"
            name="password_confirmation"
            autocomplete="new-password"
          >
          <has-error
            :form="form"
            field="password_confirmation"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('create') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('new_user') }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    last_name: '',
    first_name: '',
    middle_name: '',
    roles: [],
    email: '',
    password: ''
  })

  get user() {
    return this.store.auth.user
  }

  get allRoles() {
    return this.store.roles.allRoles
  }

  created() {
    this.getAllRoles()
  }

  async getAllRoles() {
    await this.store.roles.fetchAllRoles()
  }

  async create() {
    await this.form.post('/api/v1/users')
    this.$router.push({ name: 'users' })
  }
}
</script>
