<template>
  <b-card
    v-if="allDataReadyToShow"
    class="mb-4"
  >
    <template v-slot:header>
      Профиль пользователя
    </template>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-auto mb-3 text-center">
          <img
            :src="user.photo_url.width_512"
            class="rounded-circle profile-photo mr-1"
            style="max-width: 200px; max-height: 200px;"
          >
        </div>
        <div class="col-12 col-sm-6 col-lg-auto mb-3 text-center">
          <img
            :src="user.qr"
            class="profile-photo mr-1"
            style="max-width: 200px; max-height: 200px;"
          >
        </div>
        <div class="col-12 col-sm-6 col-md-auto mb-3">
          <div class="mb-2">
            <b>{{ $t('last_name') }}:</b>&nbsp;&nbsp;{{ user.last_name }}
          </div>
          <div class="mb-2">
            <b>{{ $t('first_name') }}:</b>&nbsp;&nbsp;{{ user.first_name }}
          </div>
          <div class="mb-2">
            <b>{{ $t('middle_name') }}:</b>&nbsp;&nbsp;{{ user.middle_name }}
          </div>
          <div class="mb-2">
            <b>{{ $t('email') }}:</b>&nbsp;&nbsp;{{ user.email }}
          </div>
          <div class="mb-2">
            <b>{{ $t('registration_date') }}:</b>&nbsp;&nbsp;{{ user.created_at | moment('ll') }}
          </div>
          <div v-if="authUser.can['update users']">
            <b-button
              variant="outline-primary"
              :to="{ name: 'user.edit', params: { id: $route.params.id } }"
            >
              <fa
                icon="edit"
                fixed-width
                style="font-size:14px;"
              />&nbsp;Редактировать профиль
            </b-button>
          </div>
        </div>
        <div
          v-if="authUser.can['read contacts']"
          class="col-12 col-sm-6 col-md-auto mb-3"
        >
          <div
            v-for="(contact, key) in contacts"
            :key="key"
            class="mb-2"
          >
            <fa
              :icon="(types[contact.type] !== undefined) ? types[contact.type].icon : 'at'"
              fixed-width
              style="font-size: 16px; margin-top: 5px"
            />&nbsp;&nbsp;
            <a
              v-if="contact.type.indexOf('email') >= 0"
              :href="'mailto:' + contact.contact"
              target="_blank"
            >
              {{ contact.contact }}
            </a>
            <a
              v-else-if="contact.type.indexOf('phone') >= 0"
              :href="'tel:' + contact.contact"
            >
              {{ contact.contact | VMask('+7 (###) ###-##-##') }}
            </a>
            <a
              v-else-if="contact.type.indexOf('mobile') >= 0"
              :href="'tel:' + contact.contact"
            >
              {{ contact.contact | VMask('+7 (###) ###-##-##') }}
            </a>
            <a
              v-else-if="contact.type.indexOf('telegram') >= 0"
              :href="'tg://resolve?domain=' + contact.contact"
              target="_blank"
            >
              {{ contact.contact }}
            </a>
            <a
              v-else-if="contact.type.indexOf('skype') >= 0"
              :href="'skype:' + contact.contact"
              target="_blank"
            >
              {{ contact.contact }}
            </a>
            <a
              v-else-if="contact.contact.indexOf('http') == 0"
              :href="contact.contact"
              target="_blank"
            >
              {{ contact.contact }}
            </a>
            <div v-else>
              {{ contact.contact }}
            </div>
          </div>
          <div class="mb-2">
            <a
              class="btn btn-success text-white"
              role="button"
              :href="user.vcard"
            >
              <fa
                icon="id-card"
                fixed-width
                style="font-size: 16px"
              />&nbsp;&nbsp;Визитка
            </a>
          </div>
          <div
            v-if="authUser.can['update contacts']"
            class="mb-2"
          >
            <b-button
              variant="outline-primary"
              :to="{ name: 'user.contacts', params: { id: $route.params.id } }"
            >
              <fa
                icon="edit"
                fixed-width
                style="font-size:14px;"
              />&nbsp;Редактировать контакты
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <odtn-media-lib
      :entity="entityEnum"
      :entity-id="parseInt($route.params.id)"
      :photo-folders-fetcher="fetchUserPhotoFolders"
      :photo-folders-getter="userPhotoFolders"
      :photos-fetcher="fetchUserPhotos"
      :photos-getter="userPhotos"
      :removed-photos-fetcher="fetchUserRemovedPhotos"
      :removed-photos-getter="userRemovedPhotos"
      :file-folders-fetcher="fetchUserFileFolders"
      :file-folders-getter="userFileFolders"
      :files-fetcher="fetchUserFiles"
      :files-getter="userFiles"
      :removed-files-fetcher="fetchUserRemovedFiles"
      :removed-files-getter="userRemovedFiles"
      :can-create-items="authUser.can['create user medialib items']"
      :can-read-items="authUser.can['read user medialib items']"
      :can-update-items="authUser.can['update user medialib items']"
      :can-soft-delete-own-items="authUser.can['delete my user medialib items']"
      :can-soft-delete-any-items="authUser.can['delete any users user medialib items']"
      :can-read-deleted-items="authUser.can['read deleted user medialib items']"
      :can-recover-own-items="authUser.can['recover my user medialib items']"
      :can-recover-any-items="authUser.can['recover any users user medialib items']"
      :can-force-delete-items="authUser.can['force delete user medialib items']"
    />
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import allSettled from 'promise.allsettled'
import MediaLib from '~/components/MediaLib.vue'
import * as api from '~/typings/api'

@Component({
  loading: true,
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('user_profile') }
  },
  components: {
    'odtn-media-lib': MediaLib
  }
})
export default class Read extends Vue {
  store = useStore<RootModule>(this.$store)
  allDataReadyToShow = false

  entityEnum = api.Medialib.Entities.User

  get authUser() {
    return this.store.auth.user
  }

  get user() {
    return this.store.users.user
  }

  get types() {
    return this.store.contacts.contactTypes
  }

  get contacts() {
    return this.store.contacts.contacts
  }

  get fetchUserPhotos() {
    return this.store.users.fetchUserPhotos
  }

  get userPhotos() {
    return this.store.users.userPhotos
  }

  get fetchUserRemovedPhotos() {
    return this.store.users.fetchUserRemovedPhotos
  }

  get userRemovedPhotos() {
    return this.store.users.userRemovedPhotos
  }

  get fetchUserPhotoFolders() {
    return this.store.users.fetchUserPhotos
  }

  get userPhotoFolders() {
    return this.store.users.userPhotos
  }

  get fetchUserFiles() {
    return this.store.users.fetchUserFiles
  }

  get userFiles() {
    return this.store.users.userFiles
  }

  get fetchUserRemovedFiles() {
    return this.store.users.fetchUserRemovedFiles
  }

  get userRemovedFiles() {
    return this.store.users.userRemovedFiles
  }

  get fetchUserFileFolders() {
    return this.store.users.fetchUserFiles
  }

  get userFileFolders() {
    return this.store.users.userFiles
  }

  created() {
    allSettled([
      this.store.users.fetchUser({ id: parseInt(this.$route.params.id) }),
      this.store.contacts.fetchContactTypes(),
      this.store.contacts.fetchContacts({ id: parseInt(this.$route.params.id) })
    ]).then(() => {
      this.allDataReadyToShow = true
      // @ts-ignore
      this.$root.$loading.finish()
    })
  }
}
</script>
