<template>
  <div class="main-layout">
    <navbar v-show="navbarIsVisible" />
    <div
      v-if="user"
      class="container main-container"
    >
      <div class="row px-lg-3">
        <div class="col-lg-3 col-xl-2 d-none d-lg-block">
          <transition
            name="page"
            mode="out-in"
          >
            <leftmenu v-show="leftmenuIsVisible" />
          </transition>
        </div>
        <div
          class="col-12 col-lg-9 col-xl-10"
          :class="{
            'map-height-hack': $route.name === 'map'
          }"
        >
          <child />
        </div>
      </div>
    </div>
    <div
      v-else
      class="container mt-4 main-container"
    >
      <child />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Navbar from '~/components/Navbar.vue'
import Leftmenu from '~/components/LeftMenu.vue'

@Component({
  components: {
    Navbar,
    Leftmenu
  }
})
export default class MainLayout extends Vue {
  store = useStore<RootModule>(this.$store)

  get user() {
    return this.store.auth.user
  }

  get navbarIsVisible() {
    if (this.$route.name !== 'welcome') {
      return this.store.navbarIsVisible
    } else {
      return false
    }
  }

  get leftmenuIsVisible() {
    return this.$route.name !== 'welcome'
  }
}
</script>

<style>
.main-container {
  padding-top: 80px;
}

.map-height-hack {
  height: calc(100vh - 95px);
}
</style>
