<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Тип контакта
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- Contact type -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('contact_type') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.contact_type"
            :class="{ 'is-invalid': form.errors.has('contact_type') }"
            class="form-control"
            type="text"
            name="contact_type"
          >
          <has-error
            :form="form"
            field="contact_type"
          />
        </div>
      </div>

      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            class="form-control"
            type="text"
            name="name"
          >
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- Current icon -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Текущая иконка
        </label>
        <div class="col-md-7">
          <fa
            :icon="form.icon"
            style="font-size: 16px; margin-top: 8px;"
          />
        </div>
      </div>      

      <!-- Icon name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Имя иконки
        </label>
        <div class="col-md-7">
          <input
            v-model="form.icon"
            :class="{ 'is-invalid': form.errors.has('icon') }"
            class="form-control"
            type="text"
            name="icon"
          >
          <has-error
            :form="form"
            field="icon"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row">
        <div class="col offset-3">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('save') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('new_contact_type') }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    contact_type: '',
    name: '',
    icon: ''
  })

  get contactType() {
    return this.store.contacts.contactType
  }

  created() {
    this.getContactType(parseInt(this.$route.params.id))
  }

  async getContactType(id: number) {
    await this.store.contacts.fetchContactType({ id })
    // @ts-ignore
    this.form.keys().forEach(key => {
      // @ts-ignore
      this.form[key] = this.contactType[key]
    })
  }

  async update() {
    await this.form.put(`/api/v1/contact-type/${this.$route.params.id}`)
    this.$router.push({ name: 'contact-types' })
  }
}
</script>
