<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый тип контакта
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- Contact type -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('contact_type') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.contact_type"
            :class="{ 'is-invalid': form.errors.has('contact_type') }"
            class="form-control"
            type="text"
            name="contact_type"
          >
          <has-error
            :form="form"
            field="contact_type"
          />
        </div>
      </div>

      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            class="form-control"
            type="text"
            name="name"
          >
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- Icon -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          {{ $t('icon') }}
          <fa
            :icon="form.icon"
            style="font-size: 16px"
          />
        </label>
        <div class="col-md-7">
          <input
            v-model="form.icon"
            :class="{ 'is-invalid': form.errors.has('icon') }"
            class="form-control"
            type="text"
            name="icon"
          >
          <has-error
            :form="form"
            field="icon"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row">
        <div class="col offset-3">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            {{ $t('save') }}
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: this.$t('new_contact_type') }
  }
})
export default class New extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    contact_type: '',
    name: '',
    icon: ''
  })

  async create() {
    await this.form.post('/api/v1/contact-type')
    this.$router.push({ name: 'contact-types' })
  }
}
</script>
