<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый эндпоинт S3
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- s3_endpoint_url -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Ссылка
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.s3_endpoint_url"
            :state="form.errors.has('url') ? false : null"
            name="s3_endpoint_url"
          />
          <has-error
            :form="form"
            field="s3_endpoint_url"
          />
        </div>
      </div>

      <!-- s3_public_key -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Публичный ключ
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.s3_public_key"
            :state="form.errors.has('s3_public_key') ? false : null"
            name="s3_public_key"
          />
          <has-error
            :form="form"
            field="s3_public_key"
          />
        </div>
      </div>

      <!-- s3_private_key -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Приватный ключ
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.s3_private_key"
            :state="form.errors.has('s3_private_key') ? false : null"
            name="s3_private_key"
          />
          <has-error
            :form="form"
            field="s3_private_key"
          />
        </div>
      </div>

      <!-- s3_bucket -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Bucket
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.s3_bucket"
            :state="form.errors.has('s3_bucket') ? false : null"
            name="s3_bucket"
          />
          <has-error
            :form="form"
            field="s3_bucket"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый эндпоинт S3' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    s3_endpoint_url: '',
    s3_public_key: '',
    s3_private_key: '',
    s3_bucket: '',
    description: ''
  })

  async create() {
    await this.form.post(`/api/v1/s3-endpoints`)

    this.$router.replace({
      name: 's3-endpoints'
    })
  }

}
</script>
