<template>
  <div class="col-12 col-sm-6 d-flex flex-column align-items-center mb-5">
    <div class="text-center">
      <h5>{{ sensorChannel.description}}</h5>
    </div>
    <div>
      <div class="text-center">
        <h6>{{ sensorChannel.unit_measurement_name }}</h6>
      </div>
      <odtn-gauge
        :size="200"
        :min="gaugeOptions.min"
        :max="gaugeOptions.max"
        :value="gaugeValue"
        :segments="gaugeOptions.segments"
        :variant="'ometer'"
      /> 
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Gauge from '~/components/Gauge.vue'
import axios from 'axios'

@Component({
  components: {
    'odtn-gauge': Gauge
  }
})

export default class CurrentMetricsItem extends Vue {
  store = useStore<RootModule>(this.$store)

  @Prop({ required: true})
  sensorChannel!: any

  currentValue: {
    val: number
    ts: string
  }[] = []
  allowFetchGaugeDataByTimer = true
  gaugeTimer = 0

  get gaugeOptions() {
    return {
      min: this.sensorChannel.min_value,
      max: this.sensorChannel.max_value,
      segments: [
        {
          start: this.sensorChannel.min_value,
          end: this.sensorChannel.min_warning_value,
          color: 'orange'
        },
        {
          start: this.sensorChannel.max_warning_value,
          end: this.sensorChannel.max_value,
          color: 'orange'
        },
        {
          start: this.sensorChannel.min_value,
          end: this.sensorChannel.min_alert_value,
          color: 'red'
        },
        {
          start: this.sensorChannel.max_alert_value,
          end: this.sensorChannel.max_value,
          color: 'red'
        }
      ]
    }
  } 

  get gaugeValue() {
    if (this.currentValue.length) {
      return Math.round(this.currentValue[0].val*100)/100
    } else {
      return 0
    }
  }

  created() {
    this.fetchGaugeData()
    this.gaugeTimer = window.setInterval(this.fetchGaugeData, 10000)
  }

  beforeDestroy() {
    window.clearInterval(this.gaugeTimer)
  }

  fetchGaugeData() {
    if (this.allowFetchGaugeDataByTimer) {
      axios
        .post(
          `/api/v1/clickhouse-metrics/${this.sensorChannel.id}`//,
          // `https://bms.odtn.ru/api/v1/clickhouse-metrics/${this.sensorChannel.id}`,
          // null,
          // {
          //   headers: {
          //     'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYm1zLm9kdG4ucnVcL2FwaVwvdjFcL2xvZ2luIiwiaWF0IjoxNTk5NzUzNTUzLCJleHAiOjE2MDIzNDU1NTMsIm5iZiI6MTU5OTc1MzU1MywianRpIjoiRmNLVDZldERUTGJZNDR6VCIsInN1YiI6MTYsInBydiI6Ijg3ZTBhZjFlZjlmZDE1ODEyZmRlYzk3MTUzYTE0ZTBiMDQ3NTQ2YWEifQ.R8W3zD6TStebvBoz6BrO6NyVF91sxO6vejsY5w4N0rY'
          //   }
          // }
        )
        .then((response) => {
          this.currentValue = response.data as {
            val: number
            ts: string
          }[]
        })
    } 
  }

}
</script>