<template>
  <div>
    <div class="text-center">
      <h5>{{ multiGraphsData.name }}</h5>
    </div>
    <div class="row flex-sm-nowrap">
      <div class="col-12 col-sm-auto d-flex flex-column align-items-center mb-3">
        <div class="text-center">
          <h6>{{ /* sensorChannel.unit_measurement_name */ }}</h6>
        </div>
      </div>
      <div
        v-if="!errorOnLoad"
        ref="chartContainer"
        class="col-12 col-sm"
      >
        <div class="row">
          <div class="col-auto">
            Начало:
            <b-input-group
              size="sm"
            >
              <b-form-input
                v-model="startDateWithTime"
                :state="isDateWithTimeValid(startDateWithTime) ? null : false"
              />
              <b-input-group-append>
                <b-dropdown
                  ref="startPresetDropdown"
                  variant="primary"
                  size="sm"
                  no-flip
                  right
                >
                  <b-dropdown-item @click="onStartPresetDropdownClick(5, 'minutes')">
                    Последние 5 минут
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(15, 'minutes')">
                    Последние 15 минут
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(30, 'minutes')">
                    Последние 30 минут
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(1, 'hours')">
                    Последний 1 час
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(3, 'hours')">
                    Последние 3 часа
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(6, 'hours')">
                    Последние 6 часов
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(12, 'hours')">
                    Последние 12 часов
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(24, 'hours')">
                    Последние 24 часа
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(2, 'days')">
                    Последние 2 дня
                  </b-dropdown-item>
                  <b-dropdown-item @click="onStartPresetDropdownClick(7, 'days')">
                    Последние 7 дней
                  </b-dropdown-item>
                </b-dropdown>
              </b-input-group-append>
              <b-input-group-append>
                <b-dropdown
                  ref="startDateDropdown"
                  menu-class="p-1"
                  variant="primary"
                  size="sm"
                  no-caret
                  no-flip
                  right
                >
                  <template v-slot:button-content>
                    <fa
                      icon="calendar"
                    />
                  </template>
                  <b-calendar
                    :value="startDate"
                    hide-header
                    label-help="Выберите дату начала графика"
                    @input="onStartDateWithTimeCalendarInput"
                  />
                </b-dropdown>
              </b-input-group-append>
            </b-input-group>
          </div>
          <div class="col-auto">
            Конец:
            <b-input-group
              size="sm"
            >
              <b-form-input
                v-model="endDateWithTime"
                :state="endDateWithTime === 'now'
                  || isDateWithTimeValid(endDateWithTime) ? null : false"
              />
              <b-input-group-append>
                <b-dropdown
                  ref="endPresetDropdown"
                  variant="primary"
                  size="sm"
                  no-flip
                  right
                >
                  <b-dropdown-item @click="onNowClick">
                    Сейчас
                  </b-dropdown-item>
                </b-dropdown>
              </b-input-group-append>
              <b-input-group-append>
                <b-dropdown
                  ref="endDateDropdown"
                  menu-class="p-1"
                  variant="primary"
                  size="sm"
                  no-caret
                  no-flip
                  right
                >
                  <template v-slot:button-content>
                    <fa
                      icon="calendar"
                    />
                  </template>
                  <b-calendar
                    :value="endDate"
                    hide-header
                    label-help="Выберите дату конца графика"
                    @input="onEndDateWithTimeCalendarInput"
                  />
                </b-dropdown>
              </b-input-group-append>
            </b-input-group>
          </div>
        </div>
        <apexchart
          type="area"
          height="250"
          :options="chartOptions"
          :series="groupSeries"
        />
      </div>
      <div 
        v-if="errorOnLoad"
        class="text-center col-12 col-sm my-5"
      >
        <b-button
          variant="primary"
          @click="startInterval"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          />
          <span class="d-none d-sm-inline">
            &nbsp;&nbsp;Попробовать загрузить данные заново
          </span>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Gauge from '~/components/Gauge.vue'
import VueApexCharts from 'vue-apexcharts'
import { ApexOptions } from 'apexcharts'
import axios from 'axios'
import moment from 'moment'
import debounce from '~/decorators/debounce'

const DATE_FORMAT = 'YYYY-MM-DD'
const TIME_FORMAT = 'HH:mm:ss'
const DATE_WITH_TIME_FORMAT = `${DATE_FORMAT} ${TIME_FORMAT}`

@Component({
  components: {
    'odtn-gauge': Gauge,
    'apexchart': VueApexCharts
  }
})
export default class MetricsItem extends Vue {
  store = useStore<RootModule>(this.$store)

  @Prop({ required: true})
  multiGraphsData!: any

  currentValue: {
    val: number
    ts: string
  }[] = []
  groupData: {
    values: {
      val: number
      ts: string
    }[]
    name: string
  }[] = []
  errorOnLoad = false
  chartTimer = 0
  allowFetchGaugeDataByTimer = true
  allowFetchChartDataByTimer = true
  chartWidth = 100
  startDate = moment().subtract(3, 'hours').format(DATE_FORMAT)
  startDateWithTime: string = moment().subtract(3, 'hours').format(DATE_WITH_TIME_FORMAT)
  endDate = moment().format(DATE_FORMAT)
  endDateWithTime: string | 'now' = 'now'

  get chartOptions(): ApexOptions {
    return {
      chart: {
        zoom: {
          enabled: false
        },
        toolbar: {
          show: false
        }
      },
      plotOptions: {
        area: {
          fillTo: 'end'
        }
      },
      dataLabels: {
        enabled: false
      },
      xaxis: {
        type: 'datetime',
        tooltip: {
          enabled: false
        }
      },
      colors: this.chartColors,
      yaxis: {
        labels: {
          formatter(value) {
            return `${value.toFixed(2)}`
          }
        }
      },
      tooltip: {
        x: {
          format: 'dd.MM.yyyy HH:mm:ss'
        }
      }
    }
  }

  get chartColors() {
    const data = this.multiGraphsData.data
    let colors = []
    for (let i in data) {
      if (data[i].graph) {
        let color = `rgb(${data[i].graph.color_red}, ${data[i].graph.color_green}, ${data[i].graph.color_blue})`
        colors.push(color)
      }
    }
    return colors.length > 0 ? colors : undefined
  }

  get groupSeries() {
    let array = []
    for (let i in this.groupData) {
      array.push({
        name: `${this.groupData[i].name}`,
        data: this.groupData[i].values.map((item) => {
          return [
            moment(`${item.ts} +0000`, 'YYYY-MM-DD HH:mm:ss Z').valueOf(),
            Math.round(item.val*100)/100
          ] as [number, number]
        }).sort((a, b) => a[0] - b[0])
      })
    }
    return array 
  }

  @Watch('startDateWithTime')
  onStartDateWithTimeChange(newValue: string) {
    this.onDatesWithTimeChange(newValue, this.endDateWithTime)
  }

  @Watch('endDateWithTime')
  onEndDateWithTimeChange(newValue: string | 'now') {
    this.onDatesWithTimeChange(this.startDateWithTime, newValue)
  }

  created() {
    this.startInterval()
    window.addEventListener('resize', this.calcChartWidth)
  }

  beforeDestroy() {
    window.clearInterval(this.chartTimer)
    window.removeEventListener('resize', this.calcChartWidth)
  }

  getEndDateForRequest() {
    if (this.endDateWithTime === 'now') {
      return
    }
  }

  onDatesWithTimeChange(startDateWithTime: string, endDateWithTime: string | 'now') {
    if (endDateWithTime === 'now'
      && this.isDateWithTimeValid(startDateWithTime)) {
      this.allowFetchChartDataByTimer = true
      this.fetchChartData()

      return
    }

    if (this.isDateWithTimeValid(startDateWithTime)
      && this.isDateWithTimeValid(endDateWithTime)) {
      this.allowFetchChartDataByTimer = true
      this.fetchChartData()
      this.allowFetchChartDataByTimer = false
    } else {
      this.allowFetchChartDataByTimer = false
    }
  }

  fetchChartData() {
    if (
      this.allowFetchChartDataByTimer
      && this.isDateWithTimeValid(this.startDateWithTime)
      && (this.endDateWithTime === 'now' || this.isDateWithTimeValid(this.endDateWithTime))
    ) {
      for (let g in this.multiGraphsData.data) {
        axios.post(`/api/v1/clickhouse-metrics/${this.multiGraphsData.data[g].channel.id}`, {
          start_date: this.startDateWithTime,
          end_date: this.endDateWithTime === 'now'
            ? moment().format(DATE_WITH_TIME_FORMAT)
            : this.endDateWithTime,
          ticks: this.chartWidth
        }
        // ,
        // {
        //   headers: {
        //     'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvYm1zLm9kdG4ucnVcL2FwaVwvdjFcL2xvZ2luIiwiaWF0IjoxNTk5NzUzNTUzLCJleHAiOjE2MDIzNDU1NTMsIm5iZiI6MTU5OTc1MzU1MywianRpIjoiRmNLVDZldERUTGJZNDR6VCIsInN1YiI6MTYsInBydiI6Ijg3ZTBhZjFlZjlmZDE1ODEyZmRlYzk3MTUzYTE0ZTBiMDQ3NTQ2YWEifQ.R8W3zD6TStebvBoz6BrO6NyVF91sxO6vejsY5w4N0rY'
        //   }
        // }
        ).then((response) => {
          Vue.set(this.groupData, g, 
            { 
              values: response.data as {
                val: number
                ts: string
              }[],
              name: this.multiGraphsData.data[g].channel.name
            })
        }).catch(() => {
          this.errorOnLoad = true
          window.clearInterval(this.chartTimer)
        })
        //    
      }
    }
  }

  startInterval() {
    this.fetchChartData()
    this.errorOnLoad = false
    this.chartTimer = window.setInterval(this.fetchChartData, 10000)
  }

  @debounce(300)
  calcChartWidth() {
    const chartContainer = this.$refs['chartContainer'] as HTMLDivElement

    if (chartContainer) {
      this.chartWidth = chartContainer.clientWidth
      this.fetchChartData()
    }
  }

  isDateWithTimeValid(value: string) {
    return moment(value, DATE_WITH_TIME_FORMAT).isValid()
  }

  onStartDateWithTimeCalendarInput(value: string) {
    if (this.isDateWithTimeValid(this.startDateWithTime)) {
      const time = moment(this.startDateWithTime, DATE_WITH_TIME_FORMAT).format(TIME_FORMAT)

      this.startDateWithTime = `${value} ${time}`
    } else {
      this.startDateWithTime = `${value} 00:00:00`
    }
    (this.$refs['startDateDropdown'] as any).hide()
  }

  onEndDateWithTimeCalendarInput(value: string) {
    if (this.isDateWithTimeValid(this.endDateWithTime)) {
      const time = moment(this.endDateWithTime, DATE_WITH_TIME_FORMAT).format(TIME_FORMAT)

      this.endDateWithTime = `${value} ${time}`
    } else {
      this.endDateWithTime = `${value} 00:00:00`
    }
    (this.$refs['endDateDropdown'] as any).hide()
  }

  onStartPresetDropdownClick(amount: string | number, unit: moment.unitOfTime.DurationConstructor) {
    this.startDateWithTime = moment().subtract(amount, unit).format(DATE_WITH_TIME_FORMAT)
    this.endDateWithTime = 'now'
    ;(this.$refs['startPresetDropdown'] as any).hide()
  }

  onNowClick() {
    this.endDate = moment().format(DATE_FORMAT)
    this.endDateWithTime = 'now'
    ;(this.$refs['endPresetDropdown'] as any).hide()
  }
}
</script>
