<template>
  <div v-if="loaded">
    <odtn-metrics-item
      v-for="combinedGraph in combinedGraphs"
      :key="combinedGraph.name"
      :multi-graphs-data="combinedGraph"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import MetricsItem from '~/pages/map-object/MetricsItem.vue'
import * as api from '~/typings/api'

@Component({
  components: {
    'odtn-metrics-item': MetricsItem
  }
})
export default class Metrics extends Vue {
  store = useStore<RootModule>(this.$store)
  loaded: boolean = false

  @Prop({ required: true })
  objectId!: number

  get combinedGraphs() {
    const graphsData: any = []
    const graphsWithChannels = []

    const combinedGraphs = this.store.metricControllers.graphs.graphs?.data
    const sensorChannelGraphs = this.store.metricControllers.sensorChannelGraphs.sensorChannelGraphs?.data
    const sensorChannels = this.store.metricControllers.sensorChannels.sensorChannels?.data

    for (let sg in sensorChannelGraphs) {
      let channel = sensorChannels?.find(ch => ch.id === sensorChannelGraphs[sg].metric_sensor_channel_id)
      if (channel) graphsWithChannels.push({ graph: sensorChannelGraphs[sg], channel})
    }

    if (graphsWithChannels.length > 0) {
      for (let g in combinedGraphs) {
        let group = {
          data: graphsWithChannels.filter(chGraph => chGraph.graph.graffic_id == combinedGraphs[g].id),
          name: combinedGraphs[g].name
        } 
        graphsData.push(group)
      }
    } else {
      for (let sc in sensorChannels) {
        let item = {
          data: [{ channel: sensorChannels[sc as any], graph: null}],
          name: sensorChannels[sc as any].description
        }
        graphsData.push(item)
      }
    }

    console.log(graphsData)
    return graphsData
  }

  // get sensorChannels() {
  //   return [{
  //     'id': 3,
  //     'rs485_device_id': 49,
  //     'unit_measurement_id': 1,
  //     'ts_database_id': 4,
  //     'status_flag': 0,
  //     'topic_name': 'External Sensor 1',
  //     'description': '\u041a\u043e\u0442\u0435\u043b\u044c\u043d\u0430\u044f 8 : \u0422\u0435\u043c\u043f\u0435\u0440\u0430\u0442\u0443\u0440\u0430 - \u041f\u043e\u0434\u0430\u044e\u0449\u0438\u0439 \u0442\u0440\u0443\u0431\u043e\u043f\u0440\u043e\u0432\u043e\u0434 \u04101',
  //     'min_value': 0,
  //     'max_value': 150,
  //     'min_warning_value': 20,
  //     'max_warning_value': 130,
  //     'min_alert_value': 10,
  //     'max_alert_value': 140,
  //     'created_at': '2020-08-12T17:36:34.000000Z',
  //     'updated_at': '2020-08-31T09:21:51.000000Z',
  //     'deleted_at': null,
  //     'map_object_id': 5,
  //     'object_name': '\u041a\u043e\u0442\u0435\u043b\u044c\u043d\u0430\u044f \u2116 8',
  //     'type_name': '\u041a\u043e\u0442\u0435\u043b\u044c\u043d\u0430\u044f',
  //     'type_id': 1,
  //     'map_object_address': '\u041c\u043e\u0441\u043a\u043e\u0432\u0441\u043a\u0430\u044f \u043e\u0431\u043b, \u0433 \u041e\u0434\u0438\u043d\u0446\u043e\u0432\u043e, \u0443\u043b \u041a\u043e\u043c\u0441\u043e\u043c\u043e\u043b\u044c\u0441\u043a\u0430\u044f, \u0434 16\u0410',
  //     'metric_controller_id': 3,
  //     'unit_measurement_name': '\u0422\u0435\u043c\u043f\u0435\u0440\u0430\u0442\u0443\u0440\u0430'
  //   }]
  // }

  created() {
    let p1 = this.store.metricControllers.sensorChannels.fetchSensorChannels({
      objects_id: [this.objectId]
    })
    let p2 = this.store.metricControllers.graphs.fetchGraphs({ items: 'all' })
    let p3 = this.store.metricControllers.sensorChannelGraphs.fetchSensorChannelGraphs({ items: 'all' })
    Promise.all([p1, p2, p3]).then(() => { 
      this.loaded = true
    })
  }
}
</script>
