<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый объект карты
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- Type -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Тип объекта
        </label>
        <div class="col-md-7">
          <select
            v-model="form.type"
            :class="{ 'is-invalid': form.errors.has('type') }"
            class="form-control"
            name="type"
          >
            <option
              v-for="mapObjectType in mapObjectTypes"
              :key="mapObjectType.id"
              :value="mapObjectType.id"
            >
              {{ mapObjectType.name }}
            </option>
          </select>
          <has-error
            :form="form"
            field="type"
          />
        </div>
      </div>

      <!-- Name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
        <div class="col-md-7">
          <input
            v-model="form.name"
            :class="{ 'is-invalid': form.errors.has('name') }"
            class="form-control"
            type="text"
            name="name"
          >
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- Description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Описание</label>
        <div class="col-md-7">
          <textarea
            v-model="form.description"
            class="form-control"
            :class="{ 'is-invalid': form.errors.has('description') }"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Address -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Адрес</label>
        <div class="col-md-7">
          <odtn-autocomplete
            v-model="form.address"
            :state="form.errors.has('address') ? false : null"
            :lookup-function="fetchSuggestions"
            autoload
          />
          <has-error
            :form="form"
            field="address"
          />
        </div>
      </div>

      <!-- Latitude -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Широта
        </label>
        <div class="col-md-7">
          <input
            v-model="form.latitude"
            :class="{ 'is-invalid': form.errors.has('latitude') }"
            class="form-control"
            type="text"
            name="latitude"
          >
          <has-error
            :form="form"
            field="latitude"
          />
        </div>
      </div>

      <!-- Longitude -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Долгота
        </label>
        <div class="col-md-7">
          <input
            v-model="form.longitude"
            :class="{ 'is-invalid': form.errors.has('longitude') }"
            class="form-control"
            type="text"
            name="longitude"
          >
          <has-error
            :form="form"
            field="longitude"
          />
        </div>
      </div>

      <!-- staff_sched_position -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Структурное подразделение из расписания
        </label>
        <div class="col-md-7">
          <label>
            Расписание
          </label>
          <odtn-autocomplete
            v-model="staffScheduleSearchString"
            class="mb-2"
            :state="form.errors.has('staff_sched_position_id') ? false : null"
            :lookup-function="fetchStaffScheduleSuggestions"
            lookup-field="name"
            @select="onStaffScheduleSuggestionSelect"
            @blur="onStaffScheduleAutocompleteBlur"
            @input="onStaffScheduleAutocompleteInput"
          />
          <template v-if="staffScheduleDepartmentPositions.length">
            <label>
              Позиция
            </label>
            <odtn-autocomplete
              v-model="staffScheduleDepartmentPositionSearchString"
              :state="form.errors.has('staff_sched_position_id') ? false : null"
              :lookup-function="fetchStaffScheduleDepartmentPositionSuggestions"
              lookup-field="department_name"
              @select="onStaffScheduleDepartmentPositionSuggestionSelect"
              @blur="onStaffScheduleDepartmentPositionAutocompleteBlur"
              @input="onStaffScheduleDepartmentPositionAutocompleteInput"
            />
          </template>
          <has-error
            :form="form"
            field="staff_sched_position_id"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import createVform from '~/common/createVform'
import axios from 'axios'
import dadataAddressLookup from '~/common/dadataAddressLookup'
import * as api from '~/typings/api'

type MapObjectForm = Omit<api.MapObjects.MapObject, 'id'>

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый объект карты' }
  }
})
export default class New extends Vue {
  store = useStore<RootModule>(this.$store)
  form = createVform<MapObjectForm>({
    type: null,
    name: '',
    description: '',
    address: '',
    longitude: '',
    latitude: '',
    staff_sched_position_id: null,
    department_name: ''
  })
  staffScheduleSearchString = ''
  selectedStaffSchedule: api.StaffSchedules.StaffSchedule | null = null
  staffScheduleDepartmentPositionSearchString = ''
  selectedStaffScheduleDepartmentPosition: api.StaffSchedulePositions.StaffSchedulePosition | null = null

  get mapObjectTypes() {
    return this.store.map.mapObjectTypes?.data ?? []
  }

  get staffSchedules() {
    return this.store.staff.staffSchedules?.data ?? []
  }

  get staffScheduleDepartmentPositions() {
    return this.store.staff.staffSchedulePositions?.data.filter(position => position.department_name) ?? []
  }

  created() {
    this.store.staff.resetStaffSchedulePositions()
    this.store.map.fetchMapObjectTypes({ items: 'all' })
    this.store.staff.fetchStaffSchedules()
    if (this.$route.query.lon && this.$route.query.lat) {
      // @ts-ignore
      this.form.longitude = `${this.$route.query.lon}`
      // @ts-ignore
      this.form.latitude = `${this.$route.query.lat}`
      this.suggestAddressByGeolocation()
    }
  }

  async create() {
    const response: any = await this.form.post('/api/v1/map-objects')

    if (this.$route.query.referrer === 'map') {
      if (response?.data?.data?.longitude
        && response?.data?.data?.latitude) {
        this.$router.push({
          name: 'map',
          query: {
            lon: response.data.data.longitude,
            lat: response.data.data.latitude,
            z: '18'
          }
        })
      } else {
        this.$router.push({ name: 'map' })
      }
    } else {
      this.$router.push({ name: 'map-objects' })
    }
  }

  async suggestAddressByGeolocation() {
    // @ts-ignore
    if (this.form.longitude && this.form.latitude) {
      axios
        .post(
          '/api/v1/dadata/geolocation',
          {
            // @ts-ignore
            lon: this.form.longitude,
            // @ts-ignore
            lat: this.form.latitude
          }
        )
        .then((response: any) => {
          if (response?.data?.suggestions?.length) {
            // @ts-ignore
            this.form.address = response.data.suggestions[0].value
          }
        })
    }
  }

  async fetchSuggestions() {
    // @ts-ignore
    return await dadataAddressLookup(this.form.address)
  }

  async fetchAddressSuggestions() {
    return await dadataAddressLookup(this.form.address)
  }

  async fetchStaffScheduleSuggestions() {
    return this.staffSchedules
      .filter(staffSchedule => staffSchedule.name.toLowerCase().includes(this.staffScheduleSearchString.toLowerCase()))
  }

  onStaffScheduleSuggestionSelect(staffSchedule: api.StaffSchedules.StaffSchedule) {
    this.selectedStaffSchedule = staffSchedule
    this.store.staff.fetchStaffSchedulePositions({ staff_schedule_id: staffSchedule.id })
  }

  onStaffScheduleAutocompleteBlur() {
    if (this.selectedStaffSchedule) {
      this.staffScheduleSearchString = this.selectedStaffSchedule.name
    } else {
      this.staffScheduleSearchString = ''
    }
  }

  onStaffScheduleAutocompleteInput(value: string) {
    if (value === '') {
      this.form.staff_sched_position_id = null
      this.staffScheduleSearchString = ''
      this.selectedStaffSchedule = null
      this.staffScheduleDepartmentPositionSearchString = ''
      this.selectedStaffScheduleDepartmentPosition = null
      this.store.staff.resetStaffSchedulePositions()
    }
  }

  async fetchStaffScheduleDepartmentPositionSuggestions() {
    return this.staffScheduleDepartmentPositions
      .filter(staffScheduleDepartmentPosition =>
        staffScheduleDepartmentPosition.department_name?.includes(this.staffScheduleDepartmentPositionSearchString))
  }

  onStaffScheduleDepartmentPositionSuggestionSelect(staffSchedulePosition: api.StaffSchedulePositions.StaffSchedulePosition) {
    this.selectedStaffScheduleDepartmentPosition = staffSchedulePosition
    this.form.staff_sched_position_id = staffSchedulePosition.id
  }

  onStaffScheduleDepartmentPositionAutocompleteBlur() {
    if (this.selectedStaffScheduleDepartmentPosition) {
      this.staffScheduleDepartmentPositionSearchString = this.selectedStaffScheduleDepartmentPosition.department_name as string
    } else {
      this.staffScheduleDepartmentPositionSearchString = ''
    }
  }

  onStaffScheduleDepartmentPositionAutocompleteInput(value: string) {
    if (value === '') {
      this.form.staff_sched_position_id = null
      this.staffScheduleDepartmentPositionSearchString = ''
      this.selectedStaffScheduleDepartmentPosition = null
    }
  }
}
</script>
