<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Объект карты
    </template>
    <div class="container">
      <div
        v-if="mapObject"
        class="row mb-3"
      >
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="form-group mb-1">
            <b>Название:</b>
            {{ mapObject.name }}
          </div>
          <div class="form-group mb-1">
            <b>Тип:</b>
            {{ mapObjectType }}
          </div>
          <div class="form-group mb-1">
            <b>Адрес:</b>
            {{ mapObject.address }}
          </div>
          <div class="form-group mb-1">
            <b>Координаты:</b>
            {{ `${mapObject.latitude}, ${mapObject.longitude}` }}
            <b-button
              class="ml-1"
              variant="primary"
              size="sm"
              @click.stop="$clipboard(`${mapObject.latitude}, ${mapObject.longitude}`)"
            >
              <fa
                icon="clone"
                style="font-size: 16px"
              />
            </b-button>
          </div>
          <div
            v-if="mapObject.department_name"
            class="form-group mb-1"
          >
            <b>Подразделение:</b>
            {{ mapObject.department_name }}
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8">
          <div class="form-group mb-0">
            <b>Описание:</b>
            <span
              v-if="mapObject.description"
              v-html="mapObject.description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="user.can['update map objects']"
      class="form-group"
    >
      <b-button
        v-if="mapObject && mapObject.latitude && mapObject.longitude"
        class="mb-1"
        variant="primary"
        :to="{
          name: 'map',
          query: {
            lat: mapObject.latitude,
            lon: mapObject.longitude,
            z: '18'
          }
        }"
      >
        <fa
          icon="map-marked-alt"
          fixed-width
          style="font-size:14px;"
        />&nbsp;На карте
      </b-button>
      <b-button
        v-if="mapObject && mapObject.latitude && mapObject.longitude"
        class="mb-1"
        variant="primary"
        :href="generateYandexMapsLink(
          mapObject.latitude,
          mapObject.longitude
        )"
        target="_blank"
      >
        В Яндекс.Карты
      </b-button>
      <b-button
        v-if="mapObject && mapObject.latitude && mapObject.longitude"
        class="mb-1"
        variant="primary"
        :href="generateYandexNavigatorLink(
          mapObject.latitude,
          mapObject.longitude
        )"
        target="_blank"
      >
        В Яндекс.Навигатор
      </b-button>

      <b-button
        class="mb-1"
        variant="outline-primary"
        :to="editRoute"
      >
        <fa
          icon="edit"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Редактировать
      </b-button>
    </div>
    <odtn-media-lib
      :entity="entityEnum"
      :entity-id="parseInt($route.params.id)"
      :photo-folders-fetcher="fetchMapObjectPhotoFolders"
      :photo-folders-getter="mapObjectPhotoFolders"
      :photos-fetcher="fetchMapObjectPhotos"
      :photos-getter="mapObjectPhotos"
      :removed-photos-fetcher="fetchMapObjectRemovedPhotos"
      :removed-photos-getter="mapObjectRemovedPhotos"
      :file-folders-fetcher="fetchMapObjectFileFolders"
      :file-folders-getter="mapObjectFileFolders"
      :files-fetcher="fetchMapObjectFiles"
      :files-getter="mapObjectFiles"
      :removed-files-fetcher="fetchMapObjectRemovedFiles"
      :removed-files-getter="mapObjectRemovedFiles"
      :can-create-items="user.can['create map object medialib items']"
      :can-read-items="user.can['read map object medialib items']"
      :can-update-items="user.can['update map object medialib items']"
      :can-soft-delete-own-items="user.can['delete my map object medialib items']"
      :can-soft-delete-any-items="user.can['delete any users map object medialib items']"
      :can-read-deleted-items="user.can['read deleted map object medialib items']"
      :can-recover-own-items="user.can['recover my map object medialib items']"
      :can-recover-any-items="user.can['recover any users map object medialib items']"
      :can-force-delete-items="user.can['force delete map object medialib items']"
    >
      <template
        v-slot:after-media-lib
      >
        <b-tab
          title="Видео"
          lazy
        >
          <odtn-videos :object-id="parseInt($route.params.id)" />
        </b-tab>
        <b-tab
          title="График метрик"
          lazy
        >
          <odtn-metrics :object-id="parseInt($route.params.id)" />
        </b-tab>
        <b-tab
          title="Текущие метрики"
          lazy
        >
          <odtn-current-metrics :object-id="parseInt($route.params.id)" />
        </b-tab>
      </template>
    </odtn-media-lib>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import MediaLib from '~/components/MediaLib.vue'
import Videos from '~/pages/map-object/Videos.vue'
import Metrics from '~/pages/map-object/Metrics.vue'
import CurrentMetrics from '~/pages/map-object/CurrentMetrics.vue'
import {
  generateYandexMapsLink,
  generateYandexNavigatorLink
} from '~/common/mapObjectExternals'
import * as api from '~/typings/api'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Объект карты' }
  },
  components: {
    'odtn-media-lib': MediaLib,
    'odtn-videos': Videos,
    'odtn-metrics': Metrics,
    'odtn-current-metrics': CurrentMetrics
  }
})
export default class Read extends Vue {
  store = useStore<RootModule>(this.$store)

  entityEnum = api.Medialib.Entities.MapObject

  get user() {
    return this.store.auth.user
  }

  get mapObject() {
    return this.store.map.mapObject?.data ?? null
  }

  get mapObjectTypes() {
    return this.store.map.mapObjectTypes?.data ?? []
  }

  get mapObjectType() {
    return this.mapObjectTypes.find(type => type.id === this.mapObject?.type)?.name ?? 'Не определен'
  }

  get editRoute() {
    const route: any = {
      name: 'map-object.edit',
      params: {
        id: this.$route.params.id
      }
    }

    if (this.$route.query.referrer) {
      route.query = {
        referrer: this.$route.query.referrer
      }
    }

    return route
  }

  get fetchMapObjectPhotos() {
    return this.store.map.fetchMapObjectPhotos
  }

  get mapObjectPhotos() {
    return this.store.map.mapObjectPhotos
  }

  get fetchMapObjectRemovedPhotos() {
    return this.store.map.fetchMapObjectRemovedPhotos
  }

  get mapObjectRemovedPhotos() {
    return this.store.map.mapObjectRemovedPhotos
  }

  get fetchMapObjectPhotoFolders() {
    return this.store.map.fetchMapObjectPhotos
  }

  get mapObjectPhotoFolders() {
    return this.store.map.mapObjectPhotos
  }

  get fetchMapObjectFiles() {
    return this.store.map.fetchMapObjectFiles
  }

  get mapObjectFiles() {
    return this.store.map.mapObjectFiles
  }

  get fetchMapObjectRemovedFiles() {
    return this.store.map.fetchMapObjectRemovedFiles
  }

  get mapObjectRemovedFiles() {
    return this.store.map.mapObjectRemovedFiles
  }

  get fetchMapObjectFileFolders() {
    return this.store.map.fetchMapObjectFiles
  }

  get mapObjectFileFolders() {
    return this.store.map.mapObjectFiles
  }

  created() {
    this.store.map.fetchMapObject({ id: parseInt(this.$route.params.id) })
    this.store.map.fetchMapObjectTypes({ items: 'all' })
  }

  generateYandexMapsLink(latitude: number, longitude:  number) {
    return generateYandexMapsLink(latitude, longitude)
  }

  generateYandexNavigatorLink(latitude: number, longitude:  number) {
    return generateYandexNavigatorLink(latitude, longitude)
  }
}
</script>
