<template>
  <div>
    <template v-if="videoCameras.length">
      <div class="mb-3">
        <b-button
          :to="{ name: 'videcams.videcams.new' }"
          variant="outline-primary"
        >
          Добавить камеру
        </b-button>
        <b-button
          variant="outline-primary"
          @click="onPlayAllClick"
        >
          Запустить все
        </b-button>
        <b-button
          variant="outline-primary"
          @click="onStopAllClick"
        >
          Остановить все
        </b-button>
      </div>
      <div class="row">
        <div
          v-for="camera in videoCameras"
          :key="camera.id"
          class="col-12 col-md-6 col-xl-4 mb-4"
        >
          <div
            class="
              bg-light
              border
              border-grey
              rounded
              p-1
              h-100
              d-flex
              flex-column
              align-items-center
            "
          >
            <div>
              <strong>
                #{{ camera.id }}<template v-if="camera.name">:</template>
              </strong>
              <span
                v-if="camera.name"
                class="mb-1"
              >
                {{ camera.name }}
              </span>
            </div>
            <odtn-mjpeg-player
              ref="player"
              class="my-auto"
              :camera="camera"
              :url="`https://bms.odtn.ru/api/v1/stream/k-${camera.id}`"
              :auto-start="true"
            />
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <b-button
        class="mb-3"
        :to="{ name: 'videcams.videcams.new' }"
        variant="outline-primary"
      >
        Добавить камеру
      </b-button>
      <div>
        Пусто
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import MJPEGPlayer from '~/components/MJPEGPlayer.vue'

@Component({
  components: {
    'odtn-mjpeg-player': MJPEGPlayer
  }
})
export default class Videos extends Vue {
  store = useStore<RootModule>(this.$store)

  @Prop({ required: true })
  objectId!: number

  get videoCameras() {
    return this.store.videcams.videcams.videcams?.data ?? []
  }

  // get videoCameras() {
  //   return [{'id':36,'videcam_model_id':18,'s3_endpoint_id':9,'serial_number':'5K08DD7PAG8C36C','ip_address':'185.18.7.136','fqdn_name':null,'login':'admin','password':'5505ckjdj','http_port':'3071','video_port':'3571','status_flag':0,'frame_width':'1280','frame_height':'960','delay':'500','max_age':'90','max_size':'450','description':'Южная 4 Мастерская IT','name':'Южная 4 Мастерская IT','map_object_id':1,'map_object_type_name':'Офис','map_object_type_id':2,'map_object_name':'АО «Одинцовская Теплосеть»'},{'id':62,'videcam_model_id':22,'s3_endpoint_id':9,'serial_number':'3365','ip_address':'185.18.7.136','fqdn_name':null,'login':'root','password':'5505ckjdj','http_port':'3072','video_port':'3572','status_flag':0,'frame_width':'1280','frame_height':'720','delay':'500','max_age':'30','max_size':'450','description':'Южная 4 Видеостена','name':'Южная 4 Видеостена','map_object_id':1,'map_object_type_name':'Офис','map_object_type_id':2,'map_object_name':'АО «Одинцовская Теплосеть»'}]
  // }

  created() {
    this.store.videcams.videcams.fetchVidecams({
      objects_id: [this.objectId]
    })
  }

  onPlayAllClick() {
    (this.$refs['player'] as (Vue & { running: boolean, setRunning: (running: boolean) => void })[])
      .forEach((player) => {
        player.setRunning(true)
      })
  }

  onStopAllClick() {
    (this.$refs['player'] as (Vue & { running: boolean, setRunning: (running: boolean) => void })[])
      .forEach((player) => {
        player.setRunning(false)
      })
  }
}
</script>
