<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Видеокамера {{ videcam.data.name }}
    </template>
    <b-tabs card>
      <b-tab
        title="Настройки"
        active
        lazy
      >
        <form
          @submit.prevent="update"
          @keydown="form.onKeydown($event)"
        >
          <!-- id -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              ID
            </label>
            <div class="col-md-7">
              <b-form-input
                :value="videcam && videcam.data.id"
                :disabled="true"
              />
            </div>
          </div>

          <!-- object_id -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Объект
            </label>
            <div class="col-md-7">
              <b-form-select v-model.number="form.object_id">
                <b-form-select-option
                  v-for="object in mapObjects"
                  :key="object.id"
                  :value="object.id"
                >
                  {{ object.name }}
                </b-form-select-option>
              </b-form-select>
              <has-error
                :form="form"
                field="object_id"
              />
            </div>
          </div>

          <!-- videcam_model_id -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Модель видеокамеры
            </label>
            <div class="col-md-7">
              <b-form-select v-model.number="form.videcam_model_id">
                <b-form-select-option
                  v-for="model in videcamModels"
                  :key="model.id"
                  :value="model.id"
                >
                  {{ model.model_name }}
                </b-form-select-option>
              </b-form-select>
              <has-error
                :form="form"
                field="videcam_model_id"
              />
            </div>
          </div>

          <!-- s3_endpoint_id -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Эндпоинт S3
            </label>
            <div class="col-md-7">
              <b-form-select v-model.number="form.s3_endpoint_id">
                <b-form-select-option
                  v-for="endpoint in s3Endpoints"
                  :key="endpoint.id"
                  :value="endpoint.id"
                >
                  {{ endpoint.s3_endpoint_url }}
                </b-form-select-option>
              </b-form-select>
              <has-error
                :form="form"
                field="s3_endpoint_id"
              />
            </div>
          </div>

          <!-- serial_number -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Серийный номер
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.serial_number"
                :state="form.errors.has('serial_number') ? false : null"
                name="serial_number"
              />
              <has-error
                :form="form"
                field="serial_number"
              />
            </div>
          </div>

          <!-- name -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Имя
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.name"
                :state="form.errors.has('name') ? false : null"
                name="name"
              />
              <has-error
                :form="form"
                field="name"
              />
            </div>
          </div>

          <!-- ip_address -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              IP
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.ip_address"
                :state="form.errors.has('ip_address') ? false : null"
                name="ip_address"
              />
              <has-error
                :form="form"
                field="ip_address"
              />
            </div>
          </div>

          <!-- rtsp_proxy_external_port -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Порт RTSP прокси
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.rtsp_proxy_external_port"
                :disabled="true"
                name="rtsp_proxy_external_port"
              />
            </div>
          </div>


          <!-- rtsp_proxy_username -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Пользователь RTSP прокси
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.rtsp_proxy_username"
                :state="form.errors.has('rtsp_proxy_username') ? false : null"
                name="rtsp_proxy_username"
              />
              <has-error
                :form="form"
                field="rtsp_proxy_username"
              />
            </div>
          </div>


          <!-- rtsp_proxy_password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Пароль RTSP прокси
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.rtsp_proxy_password"
                :state="form.errors.has('rtsp_proxy_password') ? false : null"
                name="rtsp_proxy_password"
              />
              <has-error
                :form="form"
                field="rtsp_proxy_password"
              />
            </div>
          </div>

          <!-- fps -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              FPS
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.fps"
                :state="form.errors.has('fps') ? false : null"
                name="fps"
              />
              <has-error
                :form="form"
                field="fps"
              />
            </div>
          </div>

          <!-- rtsp_proxy_external_url -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              RTSP прокси внешняя ссылка
            </label>
            <div class="col-md-7">
              <b-input-group>
                <b-form-input
                  v-model="rtsp_proxy_external_url"
                  :disabled="true"
                  name="rtsp_proxy_external_url"
                />
                <b-input-group-append>
                  <b-button
                    variant="outline-secondary"
                    size="sm"
                    @click.stop="$clipboard(rtsp_proxy_external_url)"
                  >
                    <fa
                      icon="clone"
                    />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>

          <!-- rtsp_proxy_internal_url -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              RTSP прокси внутренняя ссылка
            </label>
            <div class="col-md-7">
              <b-input-group>
                <b-form-input
                  v-model="rtsp_proxy_internal_url"
                  :disabled="true"
                  name="rtsp_proxy_internal_url"
                />
                <b-input-group-append>
                  <b-button
                    variant="outline-secondary"
                    size="sm"
                    @click.stop="$clipboard(rtsp_proxy_internal_url)"
                  >
                    <fa
                      icon="clone"
                    />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>

          <!-- kerberos_stream -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Ссылка на стрим в Kerberos
            </label>
            <div class="col-md-7">
              <b-input-group>
                <b-form-input
                  v-model="kerberos_stream"
                  :disabled="true"
                  name="kerberos_stream"
                />
                <b-input-group-append>
                  <b-button
                    variant="outline-secondary"
                    size="sm"
                    @click.stop="openWindow(kerberos_stream)"
                  >
                    <fa
                      icon="external-link-alt"
                    />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>

          <!-- site_stream -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Ссылка на стрим на сайте
            </label>
            <div class="col-md-7">
              <b-input-group>
                <b-form-input
                  v-model="site_stream"
                  :disabled="true"
                  name="site_stream"
                />
                <b-input-group-append>
                  <b-button
                    variant="outline-secondary"
                    size="sm"
                    @click.stop="openWindow(site_stream, true)"
                  >
                    <fa
                      icon="external-link-alt"
                    />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </div>
          </div>

          <!-- fqdn -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              FQDN
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.fqdn"
                :state="form.errors.has('fqdn') ? false : null"
                name="fqdn"
              />
              <has-error
                :form="form"
                field="fqdn"
              />
            </div>
          </div>

          <!-- login -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Логин
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.login"
                :state="form.errors.has('login') ? false : null"
                name="login"
              />
              <has-error
                :form="form"
                field="login"
              />
            </div>
          </div>

          <!-- password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Пароль
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.password"
                :state="form.errors.has('password') ? false : null"
                name="password"
              />
              <has-error
                :form="form"
                field="password"
              />
            </div>
          </div>

          <!-- http_port -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              HTTP Порт
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.http_port"
                :state="form.errors.has('http_port') ? false : null"
                name="http_port"
              />
              <has-error
                :form="form"
                field="http_port"
              />
            </div>
          </div>

          <!-- video_port -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Видео порт
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.video_port"
                :state="form.errors.has('video_port') ? false : null"
                name="video_port"
              />
              <has-error
                :form="form"
                field="video_port"
              />
            </div>
          </div>

          <!-- status_flag -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Статус флаг
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.status_flag"
                :state="form.errors.has('status_flag') ? false : null"
                name="status_flag"
              />
              <has-error
                :form="form"
                field="status_flag"
              />
            </div>
          </div>

          <!-- frame_width -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Ширина кадра
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.frame_width"
                :state="form.errors.has('frame_width') ? false : null"
                name="frame_width"
              />
              <has-error
                :form="form"
                field="frame_width"
              />
            </div>
          </div>

          <!-- frame_height -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Высота кадра
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.frame_height"
                :state="form.errors.has('frame_height') ? false : null"
                name="frame_height"
              />
              <has-error
                :form="form"
                field="frame_height"
              />
            </div>
          </div>

          <!-- delay -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Задержка
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.delay"
                :state="form.errors.has('delay') ? false : null"
                name="delay"
              />
              <has-error
                :form="form"
                field="delay"
              />
            </div>
          </div>

          <!-- max_age -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Максимальное время
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.max_age"
                :state="form.errors.has('max_age') ? false : null"
                name="max_age"
              />
              <has-error
                :form="form"
                field="max_age"
              />
            </div>
          </div>

          <!-- max_size -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Максимальный размер
            </label>
            <div class="col-md-7">
              <b-form-input
                v-model="form.max_size"
                :state="form.errors.has('max_size') ? false : null"
                name="max_size"
              />
              <has-error
                :form="form"
                field="max_size"
              />
            </div>
          </div>

          <!-- detection_zone -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Зона детекции
            </label>
            <div class="col-md-7">
              <b-button
                v-b-toggle.collapse-1
                variant="primary"
              >
                Изменить
              </b-button>
              <b-collapse
                id="collapse-1"
                class="mt-2"
              >
                <div class="card">
                  <div class="card-body mx-auto">
                    <hull-selection
                      v-if="videcam && videcam.data && videcam.data.id"
                      v-model="form.detection_zone"
                      :stream-url="`https://bms.odtn.ru/${site_stream}`"
                    />
                    <b-form-textarea
                      v-model="form.detection_zone"
                      :state="form.errors.has('detection_zone') ? false : null"
                      name="detection_zone"
                    />
                    <has-error
                      :form="form"
                      field="detection_zone"
                    />
                  </div>
                </div>
              </b-collapse>
            </div>
          </div>

          <!-- description -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">
              Описание
            </label>
            <div class="col-md-7">
              <b-form-textarea
                v-model="form.description"
                :state="form.errors.has('description') ? false : null"
                name="description"
              />
              <has-error
                :form="form"
                field="description"
              />
            </div>
          </div>

          <!-- Submit Button -->
          <div class="form-group row">
            <div class="col-md-9 ml-md-auto">
              <b-button
                :class="[{'btn-loading': form.busy}]"
                variant="success"
                type="submit"
              >
                Сохранить
              </b-button>
            </div>
          </div>
        </form>
      </b-tab>
      <b-tab
        title="Видео-поток"
        active
        lazy
      >
        <div class="row">
          <div class="col-12 col-md-6 col-xl-6">
            <div
              v-if="site_stream"
              class="
                bg-light
                border
                border-grey
                rounded
                p-1
                h-100
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <odtn-mjpeg-player
                :url="`https://bms.odtn.ru/${site_stream}`"
                :auto-start="true"
              />
            </div>
          </div>
        </div>
      </b-tab>
    </b-tabs>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import MJPEGPlayer from '~/components/MJPEGPlayer.vue'
import HullSelection  from '~/components/kerberos/HullSelection.vue'
import Form from 'vform'

@Component({
  components: {
    'odtn-mjpeg-player': MJPEGPlayer,
    'hull-selection': HullSelection
  },
  middleware: 'auth',
  metaInfo() {
    return { title: 'Видеокамера' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    object_id: null,
    videcam_model_id: null,
    s3_endpoint_id: null,
    serial_number: '',
    fqdn: '',
    ip_address: '',
    rtsp_proxy_external_port: '',
    rtsp_proxy_username: '',
    rtsp_proxy_password: '',
    fps: '',
    name: '',
    login: '',
    password: '',
    http_port: '',
    video_port: '',
    status_flag: null,
    frame_width: null,
    frame_height: null,
    delay: null,
    max_age: null,
    max_size: null,
    detection_zone: '',
    description: ''
  })

  get videcam() {
    return this.store.videcams.videcams.videcam
  }

  get videcamModels() {
    return this.store.videcams.videcamModels.videcamModels?.data || []
  }

  get s3Endpoints() {
    return this.store.s3Endpoints.s3Endpoints?.data || []
  }

  get mapObjects() {
    return this.store.map.mapObjects?.data || []
  }

  get rtsp_proxy_external_url() {
    // @ts-ignore
    return `rtsp://${this.form.rtsp_proxy_username}:${this.form.rtsp_proxy_password}@rtsp.ext.odtn.ru:${this.form.rtsp_proxy_external_port}/stream`
  }

  get rtsp_proxy_internal_url() {
    // @ts-ignore
    return `rtsp://${this.form.login}:${this.form.password}@k-${this.videcam?.data.id}-proxy.kerberos.svc.cluster.local:554/stream`
  }

  get kerberos_stream() {
    return `http://k-${this.videcam?.data.id}.int.odtn.ru/`
  }

  get site_stream() {
    return this.videcam ? `api/v1/stream/k-${this.$route.params.id}` : undefined
  }

  openWindow(link: string, domain?: boolean) {
    window.open(domain ? window.location.origin + '/' + link : link)
  }

  async created() {
    this.getVidecam(parseInt(this.$route.params.id))
    this.store.videcams.videcamModels.fetchVidecamModels({ items: 'all' })
    this.store.map.fetchMapObjects({ items: 'all' })
    this.store.s3Endpoints.fetchS3Endpoints({ items: 'all' })
  }

  async getVidecam(id: number) {
    await this.store.videcams.videcams.fetchVidecam({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.videcam?.data[key]
    })
  }

  async update() {
    // @ts-ignore
    if (!this.form.detection_zone || this.form.detection_zone === '') {
      // @ts-ignore
      this.form.detection_zone = `0,0|${this.form.frame_width},0|${this.form.frame_width},${this.form.frame_height}|0,${this.form.frame_height}`
    }
    await this.form.patch(`/api/v1/videcams/${this.$route.params.id}`)

    this.$router.push({ name: 'videcams.videcams' })
  }
}
</script>
