<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новая видеокамера
    </template>
    <div v-if="videcamModels.length > 0 && s3Endpoints.length > 0 && mapObjects.length > 0">
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- object_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Объект
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.object_id">
              <b-form-select-option
                v-for="object in mapObjects"
                :key="object.id"
                :value="object.id"
              >
                {{ object.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="object_id"
            />
          </div>
        </div>

        <!-- videcam_model_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Модель видеокамеры
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.videcam_model_id">
              <b-form-select-option
                v-for="model in videcamModels"
                :key="model.id"
                :value="model.id"
              >
                {{ model.model_name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="videcam_model_id"
            />
          </div>
        </div>

        <!-- s3_endpoint_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Эндпоинт S3
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.s3_endpoint_id">
              <b-form-select-option
                v-for="endpoint in s3Endpoints"
                :key="endpoint.id"
                :value="endpoint.id"
              >
                {{ endpoint.s3_endpoint_url }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="s3_endpoint_id"
            />
          </div>
        </div>

        <!-- serial_number -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Серийный номер
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.serial_number"
              :state="form.errors.has('serial_number') ? false : null"
              name="serial_number"
            />
            <has-error
              :form="form"
              field="serial_number"
            />
          </div>
        </div>

        <!-- name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Имя
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.name"
              :state="form.errors.has('name') ? false : null"
              name="name"
            />
            <has-error
              :form="form"
              field="name"
            />
          </div>
        </div>

        <!-- ip_address -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            IP
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.ip_address"
              :state="form.errors.has('ip_address') ? false : null"
              name="ip_address"
            />
            <has-error
              :form="form"
              field="ip_address"
            />
          </div>
        </div>

        <!-- rtsp_proxy_username -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Пользователь RTSP прокси
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.rtsp_proxy_username"
              :state="form.errors.has('rtsp_proxy_username') ? false : null"
              name="rtsp_proxy_username"
            />
            <has-error
              :form="form"
              field="rtsp_proxy_username"
            />
          </div>
        </div>


        <!-- rtsp_proxy_password -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Пароль RTSP прокси
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.rtsp_proxy_password"
              :state="form.errors.has('rtsp_proxy_password') ? false : null"
              name="rtsp_proxy_password"
            />
            <has-error
              :form="form"
              field="rtsp_proxy_password"
            />
          </div>
        </div>

        <!-- fps -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            FPS
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.fps"
              :state="form.errors.has('fps') ? false : null"
              name="fps"
            />
            <has-error
              :form="form"
              field="fps"
            />
          </div>
        </div>

        <!-- fqdn -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            FQDN
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.fqdn"
              :state="form.errors.has('fqdn') ? false : null"
              name="fqdn"
            />
            <has-error
              :form="form"
              field="fqdn"
            />
          </div>
        </div>

        <!-- login -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Логин
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.login"
              :state="form.errors.has('login') ? false : null"
              name="login"
            />
            <has-error
              :form="form"
              field="login"
            />
          </div>
        </div>

        <!-- password -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Пароль
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.password"
              :state="form.errors.has('password') ? false : null"
              name="password"
            />
            <has-error
              :form="form"
              field="password"
            />
          </div>
        </div>

        <!-- http_port -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            HTTP Порт
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.http_port"
              :state="form.errors.has('http_port') ? false : null"
              name="http_port"
            />
            <has-error
              :form="form"
              field="http_port"
            />
          </div>
        </div>

        <!-- video_port -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Видео порт
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.video_port"
              :state="form.errors.has('video_port') ? false : null"
              name="video_port"
            />
            <has-error
              :form="form"
              field="video_port"
            />
          </div>
        </div>

        <!-- status_flag -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Статус флаг
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.status_flag"
              :state="form.errors.has('status_flag') ? false : null"
              name="status_flag"
            />
            <has-error
              :form="form"
              field="status_flag"
            />
          </div>
        </div>

        <!-- frame_width -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Ширина кадра
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.frame_width"
              :state="form.errors.has('frame_width') ? false : null"
              name="frame_width"
            />
            <has-error
              :form="form"
              field="frame_width"
            />
          </div>
        </div>

        <!-- frame_height -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Высота кадра
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.frame_height"
              :state="form.errors.has('frame_height') ? false : null"
              name="frame_height"
            />
            <has-error
              :form="form"
              field="frame_height"
            />
          </div>
        </div>

        <!-- delay -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Задержка
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.delay"
              :state="form.errors.has('delay') ? false : null"
              name="delay"
            />
            <has-error
              :form="form"
              field="delay"
            />
          </div>
        </div>

        <!-- max_age -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Максимальное время
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.max_age"
              :state="form.errors.has('max_age') ? false : null"
              name="max_age"
            />
            <has-error
              :form="form"
              field="max_age"
            />
          </div>
        </div>

        <!-- max_size -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Максимальный размер
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.max_size"
              :state="form.errors.has('max_size') ? false : null"
              name="max_size"
            />
            <has-error
              :form="form"
              field="max_size"
            />
          </div>
        </div>

        <!-- detection_zone -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Зона детекции
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.detection_zone"
              :state="form.errors.has('detection_zone') ? false : null"
              name="detection_zone"
            />
            <has-error
              :form="form"
              field="detection_zone"
            />
          </div>
        </div>

        <!-- description -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Описание
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.description"
              :state="form.errors.has('description') ? false : null"
              name="description"
            />
            <has-error
              :form="form"
              field="description"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <p class="text-center">
        Перед созданием видеокамеры вам нужно:
      </p>
      <div v-if="mapObjects.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'map-object.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать объект карты
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="s3Endpoints.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 's3-endpoints.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать эндпоинт S3
            </span>
          </b-button>
        </b-form-group>
      </div>
      <div v-if="videcamModels.length < 1">
        <b-form-group class="col text-center">
          <b-button
            :to="{ name: 'videcams.videcam-models.new' }"
            variant="success"
          >
            <fa
              icon="plus"
              style="font-size: 16px"
            />
            <span class="d-none d-sm-inline">
              &nbsp;&nbsp;Создать модель видеокамеры
            </span>
          </b-button>
        </b-form-group>
      </div>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новая видеокамера' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    object_id: null,
    videcam_model_id: null,
    s3_endpoint_id: null,
    serial_number: '',
    fqdn: '',
    ip_address: '',
    rtsp_proxy_username: '',
    rtsp_proxy_password: '',
    fps: '',
    name: '',
    login: '',
    password: '',
    http_port: '',
    video_port: '',
    status_flag: 0,
    frame_width: null,
    frame_height: null,
    delay: null,
    max_age: null,
    max_size: null,
    description: ''
  })

  get videcamModels() {
    return this.store.videcams.videcamModels.videcamModels?.data || []
  }

  get s3Endpoints() {
    return this.store.s3Endpoints.s3Endpoints?.data || []
  }

  get mapObjects() {
    return this.store.map.mapObjects?.data || []
  }

  created() {
    this.store.videcams.videcamModels.fetchVidecamModels({ items: 'all' })
    this.store.map.fetchMapObjects({ items: 'all' })
    this.store.s3Endpoints.fetchS3Endpoints({ items: 'all' })
    // @ts-ignore
  }

  async create() {
    // @ts-ignore
    if (!this.form.detection_zone || this.form.detection_zone === '') {
      // @ts-ignore
      this.form.detection_zone = `0,0|${this.form.frame_width},0|${this.form.frame_width},${this.form.frame_height}|0,${this.form.frame_height}`
    }
    await this.form.post(`/api/v1/videcams`)

    this.$router.replace({
      name: 'videcams.videcams'
    })
  }
}
</script>
