<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новое вложение
    </template>
    <div> 
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- message_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            ID Сообщения
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.message_id">
              <b-form-select-option :value="null">
                Выберите ID сообщения
              </b-form-select-option>
              <b-form-select-option 
                v-for="message in messages"
                :key="message.id"
                :value="message.id"
              >
                {{ message.id }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="message_id"
            />
          </div>
        </div>

        <!-- file_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            ID Файла
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.file_id">
              <b-form-select-option :value="null">
                Выберите ID файла
              </b-form-select-option>
              <b-form-select-option 
                v-for="file in files"
                :key="file.id"
                :value="file.id"
              >
                {{ file.file_name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="file_id"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новое вложение' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    message_id: null,
    file_id: null
  })

  get messages() {
    return this.store.messenger.messages.messages?.data || []
  }

  get files() {
    return []
  }

  async created() {
    //this.store.files
    this.store.messenger.messages.fetchMessages({ items: 'all' })
  }

  async create() {
    await this.form.post(`/api/v1/messenger/attachments`)

    this.$router.replace({
      name: 'messenger.attachments'
    })
  }

}
</script>
