<template>
    <v-sheet class="elevation-3 pa-4">
        <atv-admin-panel />
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import AtvAdminPanel from '~/components/AtvAdminPanel.vue'

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    components: {
        AtvAdminPanel
    },
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Админка')
            resolve()
        })
    }
})
export default class AtvAdminPage extends Vue {}
</script>
