<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <v-form @submit.prevent="onSubmit">
                <div v-if="sparesFile" class="title font-weight-light">
                    {{ sparesFile.name }}
                    <br /><br />
                </div>
                <div class="d-flex flex-wrap">
                    <v-btn
                        class="mx-1 my-1"
                        color="primary"
                        @click="$refs.sparesFileInput.click()"
                    >
                        Выбрать файл
                    </v-btn>
                    <input
                        ref="sparesFileInput"
                        class="d-none"
                        type="file"
                        @change="processSparesFile"
                    />
                    <v-btn class="mx-1 my-1" color="primary" type="submit">
                        Отправить
                    </v-btn>
                </div>
            </v-form>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Импорт запчастей')
            resolve()
        })
    }
})
export default class AtvAdminSparesImportPage extends Vue {
    loading = true
    sparesFile: Blob | null = null

    mounted() {
        this.loading = false
    }

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    processSparesFile(event: any) {
        if (!event.target.files) return

        const files: Blob[] = event.target.files

        for (let i = 0; files.length > i; i++) {
            const file = files[i]

            this.sparesFile = file
        }
    }

    onSubmit() {
        this.loading = true

        const formData = new FormData()

        formData.append('sparesFile', this.sparesFile as Blob)

        this.$axios
            .post('/product/sparesImport', formData, {
                headers: { 'Content-Type': 'multipart/form-data' }
            })
            .then(() => {
                this.loading = false
                this.$router.push(`/admin/products`)
            })
            .catch(() => {
                this.loading = false
            })
    }
}
</script>
