<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Сообщение
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- message_thread_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Ветка сообщений
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.message_thread_id">
            <b-form-select-option :value="null">
              Выберите ветку сообщений
            </b-form-select-option>
            <b-form-select-option 
              v-for="thread in messageThreads"
              :key="thread.id"
              :value="thread.id"
            >
              {{ thread.header }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="message_thread_id"
          />
        </div>
      </div>

      <!-- message_text -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Текст сообщения
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.message_text"
            :state="form.errors.has('message_text') ? false : null"
            name="message_text"
          />
          <has-error
            :form="form"
            field="message_text"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Сообщение' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    message_thread_id: null,
    message_text: ''
  })

  get messageThreads() {
    return this.store.messenger.messageThreads.messageThreads?.data || []
  }

  get message() {
    return this.store.messenger.messages.message
  }

  async created() {
    this.getMessage(parseInt(this.$route.params.id))
    this.store.messenger.messageThreads.fetchMessageThreads({ items: 'all' })
  }

  async getMessage(id: number) {
    await this.store.messenger.messages.fetchMessage({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.message.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/messenger/messages/${this.$route.params.id}`)
    this.$router.push({ name: 'messenger.messages' })
  }
}
</script>
