<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <b-card class="mb-4">
        <template v-slot:header>
          Логин
        </template>
        <form
          @submit.prevent="login"
          @keydown="form.onKeydown($event)"
        >
          <!-- Email -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.email"
                :class="{ 'is-invalid': form.errors.has('email') }"
                class="form-control"
                type="email"
                name="email"
              >
              <has-error
                :form="form"
                field="email"
              />
            </div>
          </div>

          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.password"
                :class="{ 'is-invalid': form.errors.has('password') }"
                class="form-control"
                type="password"
                name="password"
              >
              <has-error
                :form="form"
                field="password"
              />
            </div>
          </div>

          <!-- Remember Me -->
          <div class="form-group row">
            <div class="col-md-3" />
            <div class="col-md-7 d-flex">
              <b-form-checkbox
                v-model="remember"
                name="remember"
              >
                {{ $t('remember_me') }}
              </b-form-checkbox>
              <router-link
                :to="{ name: 'password.request' }"
                class="small ml-auto my-auto"
              >
                {{ $t('forgot_password') }}
              </router-link>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7 offset-md-3 d-flex">
              <!-- Submit Button -->
              <b-button
                :class="[{'btn-loading': form.busy}]"
                variant="primary"
                type="submit"
              >
                Войти
              </b-button>
              <!-- GitHub Login Button -->
              <login-with-github />
            </div>
          </div>
        </form>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub.vue'

@Component({
  middleware: 'guest',
  metaInfo() {
    return { title: this.$t('login') }
  },
  components: {
    LoginWithGithub
  }
})
export default class Login extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    email: '',
    password: ''
  })
  remember = false

  get user() {
    return this.store.auth.user
  }

  async login() {
    const { data } = await this.form.post('/api/v1/login')

    this.store.auth.saveToken({
      token: data.token,
      remember: this.remember
    })
    await this.store.auth.fetchUser()
    if (this.user && this.user.can['read map objects']) {
      this.$router.push({ name: 'map' })
    } else {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
