<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <b-card class="mb-4">
        <template v-slot:header>
          Регистрация
        </template>
        <div
          v-if="mustVerifyEmail"
          class="alert alert-success"
          role="alert"
        >
          {{ $t('verify_email_address') }}
        </div>
        <form
          v-else
          @submit.prevent="register"
          @keydown="form.onKeydown($event)"
        >
          <!-- Last name -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('last_name') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.last_name"
                :class="{ 'is-invalid': form.errors.has('last_name') }"
                class="form-control"
                type="text"
                name="last_name"
              >
              <has-error
                :form="form"
                field="last_name"
              />
            </div>
          </div>

          <!-- First name -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('first_name') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.first_name"
                :class="{ 'is-invalid': form.errors.has('first_name') }"
                class="form-control"
                type="text"
                name="first_name"
              >
              <has-error
                :form="form"
                field="first_name"
              />
            </div>
          </div>

          <!-- Middle name -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('middle_name') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.middle_name"
                :class="{ 'is-invalid': form.errors.has('middle_name') }"
                class="form-control"
                type="text"
                name="middle_name"
              >
              <has-error
                :form="form"
                field="middle_name"
              />
            </div>
          </div>

          <!-- Email -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.email"
                :class="{ 'is-invalid': form.errors.has('email') }"
                class="form-control"
                type="email"
                name="email"
                autocomplete="off"
              >
              <has-error
                :form="form"
                field="email"
              />
            </div>
          </div>

          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.password"
                :class="{ 'is-invalid': form.errors.has('password') }"
                class="form-control"
                type="password"
                name="password"
                autocomplete="new-password"
              >
              <has-error
                :form="form"
                field="password"
              />
            </div>
          </div>

          <!-- Password Confirmation -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
            <div class="col-md-7">
              <input
                v-model="form.password_confirmation"
                :class="{ 'is-invalid': form.errors.has('password_confirmation') }"
                class="form-control"
                type="password"
                name="password_confirmation"
                autocomplete="new-password"
              >
              <has-error
                :form="form"
                field="password_confirmation"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-7 offset-md-3 d-flex">
              <!-- Submit Button -->
              <b-button
                :class="[{'btn-loading': form.busy}]"
                variant="primary"
                type="submit"
              >
                {{ $t('register') }}
              </b-button>

              <!-- GitHub Register Button -->
              <login-with-github />
            </div>
          </div>
        </form>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'
import LoginWithGithub from '~/components/LoginWithGithub.vue'

@Component({
  middleware: 'guest',
  metaInfo() {
    return { title: this.$t('register') }
  },
  components: {
    LoginWithGithub
  }
})
export default class Login extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    last_name: '',
    first_name: '',
    middle_name: '',
    email: '',
    password: '',
    password_confirmation: ''
  })
  mustVerifyEmail = false

  async register() {
    // Register the user.
    const { data } = await this.form.post('/api/v1/register')

    // Must verify email fist.
    if (data.status) {
      this.mustVerifyEmail = true
    } else {
      // Log in the user.
      const { data: { token } } = await this.form.post('/api/v1/login')

      // Save the token.
      this.store.auth.saveToken({ token })
      // Update the user.
      await this.store.auth.updateUser({ user: data })
      // Fetch the user.
      await this.store.auth.fetchUser()
      // Redirect home.
      this.$router.push({ name: 'map' })
    }
  }
}
</script>
