<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Модель датчика
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          {{ $t('name') }}
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- data_transfer_protocol_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Протокол
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.data_transfer_protocol_id">
            <b-form-select-option 
              v-for="protocol in protocols"
              :key="protocol.id"
              :value="protocol.id"
            >
              {{ protocol.name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="data_transfer_protocol_id"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Модель датчика' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    description: '',
    data_transfer_protocol_id: null
  })

  get sensorModel() {
    return this.store.metricControllers.sensorModels.sensorModel
  }

  get protocols() {
    return this.store.metricControllers.transferProtocols.transferProtocols?.data || []
  }

  created() {
    this.getSensorModel(parseInt(this.$route.params.id))
    this.store.metricControllers.transferProtocols.fetchTransferProtocols({ items: 'all' })
  }

  async getSensorModel(id: number) {
    await this.store.metricControllers.sensorModels.fetchSensorModel({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.sensorModel.data[key]
    })

  }

  async update() {
    await this.form.patch(`/api/v1/metrics/sensor-models/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.metric-sensor-models' })
  }
}
</script>
