<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новая модель датчика
    </template>
    <div v-if="protocols.length > 0"> 
      <form
        @submit.prevent="create"
        @keydown="form.onKeydown($event)"
      >
        <!-- name -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            {{ $t('name') }}
          </label>
          <div class="col-md-7">
            <b-form-input
              v-model="form.name"
              :state="form.errors.has('name') ? false : null"
              name="name"
            />
            <has-error
              :form="form"
              field="name"
            />
          </div>
        </div>

        <!-- description -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Описание
          </label>
          <div class="col-md-7">
            <b-form-textarea
              v-model="form.description"
              :state="form.errors.has('description') ? false : null"
              name="description"
            />
            <has-error
              :form="form"
              field="description"
            />
          </div>
        </div>

        <!-- data_transfer_protocol_id -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-md-right">
            Протокол
          </label>
          <div class="col-md-7">
            <b-form-select v-model.number="form.data_transfer_protocol_id">
              <b-form-select-option :value="null">
                Выберите протокол
              </b-form-select-option>
              <b-form-select-option 
                v-for="protocol in protocols"
                :key="protocol.id"
                :value="protocol.id"
              >
                {{ protocol.name }}
              </b-form-select-option>
            </b-form-select>
            <has-error
              :form="form"
              field="data_transfer_protocol_id"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <div class="col-md-9 ml-md-auto">
            <b-button
              :class="[{'btn-loading': form.busy}]"
              variant="success"
              type="submit"
            >
              Создать
            </b-button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <p class="text-center">
        Перед созданием модели датчика вам нужно:
      </p>
      <b-form-group class="col text-center">
        <b-button
          :to="{ name: 'metrics.data-transfer-protocols.new' }"
          variant="success"
        >
          <fa
            icon="plus"
            style="font-size: 16px"
          />
          <span class="d-none d-sm-inline">
            &nbsp;&nbsp;Создать протокол передачи данных
          </span>
        </b-button>
      </b-form-group>
    </div>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новая модель датчика' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    description: '',
    data_transfer_protocol_id: null
  })

  get protocols() {
    return this.store.metricControllers.transferProtocols.transferProtocols?.data || []
  }

  async created() {
    this.store.metricControllers.transferProtocols.fetchTransferProtocols({ items: 'all' })
  }

  async create() {
    await this.form.post(`/api/v1/metrics/sensor-models`)

    this.$router.replace({
      name: 'metrics.metric-sensor-models'
    })
  }

}
</script>
