<template>
  <b-card class="mb-4">
    <template v-slot:header>
      График канала датчиков
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- graffic_id-->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          График
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.graffic_id">
            <b-form-select-option 
              v-for="graph in graphs"
              :key="graph.id"
              :value="graph.id"
            >
              {{ graph.name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="graffic_id"
          />
        </div>
      </div>

      <!-- metric_sensor_channel_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Канал датчиков
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.metric_sensor_channel_id">
            <b-form-select-option 
              v-for="channel in sensorChannels"
              :key="channel.id"
              :value="channel.id"
            >
              {{ channel.topic_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="metric_sensor_channel_id"
          />
        </div>
      </div>

      <!-- color_red -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Интенсивность красного
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.color_red"
            :state="form.errors.has('color_red') ? false : null"
            name="color_red"
          />
          <has-error
            :form="form"
            field="color_red"
          />
        </div>
      </div>

      <!-- color_green -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Интенсивность зеленого
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.color_green"
            :state="form.errors.has('color_green') ? false : null"
            name="color_green"
          />
          <has-error
            :form="form"
            field="color_green"
          />
        </div>
      </div>

      <!-- color_blue -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Интенсивность синего
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.color_blue"
            :state="form.errors.has('color_blue') ? false : null"
            name="color_blue"
          />
          <has-error
            :form="form"
            field="color_blue"
          />
        </div>
      </div>

      <!-- sort_position -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Позиция сортировки
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.sort_position"
            :state="form.errors.has('sort_position') ? false : null"
            name="sort_position"
          />
          <has-error
            :form="form"
            field="sort_position"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'График канала датчиков' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    graffic_id: null,
    metric_sensor_channel_id: null,
    color_red: null,
    color_green: null,
    color_blue: null,
    sort_position: null
  })

  get sensorChannelGraph() {
    return this.store.metricControllers.sensorChannelGraphs.sensorChannelGraph
  }

  get sensorChannels() {
    return this.store.metricControllers.sensorChannels.sensorChannels?.data || []
  }

  get graphs() {
    return this.store.metricControllers.graphs.graphs?.data || []
  }

  created() {
    this.getSensorChannelGraph(parseInt(this.$route.params.id))
    this.store.metricControllers.graphs.fetchGraphs({ items: 'all' })
    this.store.metricControllers.sensorChannels.fetchSensorChannels({ items: 'all' })
  }

  async getSensorChannelGraph(id: number) {
    await this.store.metricControllers.sensorChannelGraphs.fetchSensorChannelGraph({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.sensorChannelGraph.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/metrics/sensor-channel-graffics/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.sensor-channel-graphs' })
  }
}
</script>
