<template>
    <v-app class="atv-app">
        <atv-admin-panel v-if="userIsAdmin" />
        <v-container
            class="
                atv-app-container
                pa-4
                mx-1
                mb-6
                mx-md-auto
                elevation-3
            "
        >
            <v-row no-gutters>
                <atv-header />
                <!-- <atv-breadcrumbs /> -->
                <atv-sidebar />
                <atv-main />
                <atv-footer />
            </v-row>
        </v-container>
    </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import AtvHeader from '~/components/AtvHeader.vue'
import AtvBreadcrumbs from '~/components/AtvBreadcrumbs.vue'
import AtvSidebar from '~/components/AtvSidebar.vue'
import AtvMain from '~/components/AtvMain.vue'
import AtvFooter from '~/components/AtvFooter.vue'
import AtvAdminPanel from '~/components/AtvAdminPanel.vue'

@Component({
    components: {
        AtvHeader,
        AtvBreadcrumbs,
        AtvSidebar,
        AtvMain,
        AtvFooter,
        AtvAdminPanel
    }
})
export default class DefaultLayout extends Vue {
    get userIsAdmin() {
        if (
            this.$store.state.user &&
            this.$store.state.user.roles &&
            this.$store.state.user.roles.includes('Admin')
        ) {
            return true
        }

        return false
    }
}
</script>

<style lang="scss">
.atv-app {
    background: linear-gradient(
            0deg,
            map-deep-get($colors, 'grey', 'lighten-5') 0,
            map-deep-get($colors, 'grey', 'base') 100%
        )
        fixed !important;
}
.atv-app-container {
    width: auto;
    background: map-deep-get($colors, 'grey', 'base');
    border: 1px solid map-deep-get($colors, 'grey', 'lighten-2');
    border-top: none;
    border-radius: 0 0 $border-radius-root $border-radius-root;
}
</style>
