<template>
    <v-app>
        <h1 v-if="error.statusCode === 404">
            {{ pageNotFound }}
        </h1>
        <h1 v-else>
            {{ otherError }}
        </h1>
        <NuxtLink to="/">
            Home page
        </NuxtLink>
    </v-app>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({
    layout: 'empty',
    head(this: ErrorLayoutComponent) {
        const title =
            this.error.statusCode === 404 ? this.pageNotFound : this.otherError
        return {
            title
        }
    }
})
export default class ErrorLayoutComponent extends Vue {
    @Prop()
    error!: {
        statusCode: number
    }

    pageNotFound = '404 Not Found'
    otherError = 'An error occurred'
}
</script>

<style scoped>
h1 {
    font-size: 20px;
}
</style>
