<template>
  <div class="hull-map">
    <img 
      v-if="imageUrl"
      ref="hullImage"
      :src="imageUrl"
      @load="init"
      @click="addPoint"
    >
    <canvas
      v-if="streamUrl"
      ref="canvasImage"
      @click="addPoint"
    />
    <div 
      v-for="point in points"
      :id="point.id"
      :key="point.id"
      :style="`left: ${point.left}px; top: ${point.top}px; background-color: ${point.backgroundColor}`"
      class="point" 
      :class="{ 'point-to-close' : !closed && points.length > 2 && point.id === 0 }"
      draggable
      @click="closeHull"
      @dblclick="removePoint"
      @drag="movePoint"
    />
    <div
      v-for="(line, index) in lines"
      :key="`line${index}`"
      :style="line.style"
      :rel="line.relation"
      class="line"
    />
  </div>
</template>

<script lang='ts'>
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'


@Component
export default class HullSelection extends Vue {
  @Prop()
  readonly imageUrl?: string

  @Prop()
  readonly streamUrl?: string

  @Prop()
  readonly value!: string

  imageWidth = 0
  imageHeight = 0
  points: any = []
  lines: any = []
  imageSrc: string = ''
  element: any = undefined
  image: any = undefined
  closed: boolean = false
  xRatio: number = 1
  yRatio: number = 1

  @Watch('closed')
  hullClosedColor(newVal: boolean) {
    this.points[0].backgroundColor = newVal ? '#fff' : '#943633'
  }

  async mounted() {
    if (this.streamUrl) {
      this.image = this.$refs.canvasImage as HTMLCanvasElement
      await this.renderStreamImage()
      this.drawCoordinates()
    }   
  }

  init() {
    this.image = this.$refs.hullImage
    this.drawCoordinates()
  }

  renderStreamImage() {
    let originalImage = new Image()
    return new Promise((resolve) => {
      originalImage.onload = () => {
        let context = this.image.getContext('2d')!
        this.image.width = 640
        this.image.height = 480
        context.drawImage(originalImage, 
          0, 
          0, 
          originalImage.naturalWidth, 
          originalImage.naturalHeight, 
          0, 
          0, 
          this.image.width, 
          this.image.height
        )
        this.xRatio = Math.round(originalImage.naturalWidth/this.image.width)
        this.yRatio = Math.round(originalImage.naturalHeight/this.image.height)
        resolve()
      }
      originalImage.src = this.streamUrl!
    })

  }

  drawCoordinates() {
    if (this.value === '') return
    const splittedCoords = this.value.split('|')
    for(let coordPair in splittedCoords) {
      let coords = splittedCoords[coordPair].split(',')
      let point = {
        x: Math.round(+coords[0] / this.xRatio),
        y: Math.round(+coords[1] / this.yRatio)
      }
      this.renderPoint(point)
    }
    this.closeHull()
  }

  writeCoordinates() {
    let coordinateString = ''
    let coordinates = this.points
    for(let i = 0; i < coordinates.length; i++) {
      coordinateString += parseInt(coordinates[i].left) * this.xRatio + ',' + parseInt(coordinates[i].top) * this.yRatio + '|'
    }
    coordinateString = coordinateString.substring(coordinateString.length-1,0)
    this.$emit('input', coordinateString)
  }

  addPoint(e: any){
    if (this.closed) return
    let point = {
      'x': e.pageX - Math.round(this.image.getBoundingClientRect().left),
      'y': e.pageY - Math.round(this.image.getBoundingClientRect().top) - window.scrollY
    }
    this.renderPoint(point)
    this.writeCoordinates()
  }

  renderPoint(point: any) {
    let point_id = this.points.length
    
    this.points.push({
      top: point.y,
      left: point.x,
      backgroundColor: '#943633',
      id: point_id
    })

    if(point_id > 0) {
      let x1 = this.points[point_id - 1].left
      let y1 = this.points[point_id - 1].top
      this.createLine(point_id, x1, y1, point.x, point.y)
    }
  }

  createLine(point_id: number, x1: number, y1: number, x2: number, y2: number) {
    let length = Math.sqrt((x1 - x2) * (x1 - x2) + (y1 - y2) * (y1 - y2))
    let angle  = Math.atan2(y2 - y1, x2 - x1) * 180 / Math.PI
    let transform = `rotate(${angle}deg)`

    let line = {
      style: {
        width: `${length}px`,
        top: `${y1}px`,
        left: `${x1}px`,
        transform: transform
      },
      relation: point_id
    }
    this.lines.push(line)
  }
  
  movePoint(e: any) {
    if (e.x === 0 && e.y === 0) {
      this.writeCoordinates()
    } else {
      let left = (parseInt(this.points[e.target.id])||0) + (e.pageX - this.image.getBoundingClientRect().left)
      let top = (parseInt(this.points[e.target.id])||0) +  (e.pageY - this.image.getBoundingClientRect().top)

      if(left < 0) left = 0 
      if(top - window.scrollY < 0) top = 0 + window.scrollY
      if(left > this.image.width) left = this.image.width
      if(top >  this.image.height + window.scrollY) top = window.scrollY + this.image.height
      this.points[e.target.id].top = top - window.scrollY
      this.points[e.target.id].left = left

      let x2 = left
      let y2 = top 

      let line_sm = parseInt(e.target.id)
      let previousLine: any = 0

      let x1 = undefined, y1 = undefined
      if (line_sm == 0 && this.closed) {
        previousLine = this.points.length
        x1 = this.points[previousLine - 1].left
        y1 = this.points[previousLine - 1].top
      }
      else if (line_sm > 0) {
        previousLine = line_sm
        x1 = this.points[previousLine - 1].left
        y1 = this.points[previousLine - 1].top 
      }

      if(x1 != undefined && y1 != undefined) {
        let length = Math.sqrt((x1-x2)*(x1-x2) + (y1-y2+window.scrollY)*(y1-y2+window.scrollY))
        let angle  = Math.atan2(y2 - y1 - window.scrollY, x2 - x1) * 180 / Math.PI
        let transform = `rotate(${angle}deg)`
        let style = this.lines.find((line: any) => line.relation === parseInt(previousLine)).style
        style.transform = transform
        style.width = `${length}px`
      }

      if(this.lines.find((line: any) => line.relation === line_sm + 1)) {
        this.lines.find((line: any) => line.relation === line_sm + 1).style.top = `${top - window.scrollY}px`
        this.lines.find((line: any) => line.relation === line_sm + 1).style.left = `${left}px`
        if (this.points.length - 1 === line_sm) {
          x1 = this.points[0].left
          y1 = this.points[0].top + window.scrollY
        } else {
          x1 = this.points[line_sm + 1].left
          y1 = this.points[line_sm + 1].top + window.scrollY
        }
    
        let length = Math.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2))
        let angle  = Math.atan2(y1 - y2, x1 - x2) * 180 / Math.PI
        let transform = `rotate(${angle}deg)`

        let style = this.lines.find((line: any) => line.relation === line_sm + 1).style 
        style.transform = transform
        style.width = `${length}px`
      }
    }
  } 

  removePoint(e: any) {
    let point_id = parseInt(e.target.id)

    let preLine = this.lines.find((line: any) => line.relation === (point_id > 0 ? point_id : this.points.length))
    let postLine = this.lines.find((line: any) => line.relation === point_id + 1)

    if(preLine) this.lines = this.lines.filter((line: any) => line !== preLine)
    if(postLine) this.lines = this.lines.filter((line: any) => line !== postLine)

    this.points = this.points.filter((point: any) => point.id !== point_id)

    this.points = this.points.map((point: any) => { 
      if (point.id > point_id) point.id -= 1
      return point
    })
    this.lines = this.lines.map((line: any) => { 
      if (line.relation > point_id) line.relation -= 1 
      return line
    })
    if (this.lines.length === 1) this.lines[0].relation = 1
    
    if(point_id > 0 && this.points.length > 2) {
      let first = this.points[point_id - 1]
      let x1 = first.left
      let y1 = first.top

      let second = undefined

      if(point_id < this.points.length) {
        second = this.points[point_id]
      } else if (point_id == this.points.length && this.closed) {
        second = this.points[0]
      }
      if (second) {
        let x2 = second.left
        let y2 = second.top
        this.createLine(point_id, x1, y1, x2, y2)
      }
    } else {
      this.closed = false
      this.lines.filter((line: any) => line.relation !== this.points.length)
    }
    this.writeCoordinates() 
  }

  closeHull(e?: any) {
    if((e && parseInt(e.target.id) !== 0) || this.closed) return
    let point_id = this.points.length
    if(point_id > 2) {
      let x1 = this.points[point_id - 1].left
      let y1 = this.points[point_id - 1].top

      let x2 = this.points[0].left
      let y2 = this.points[0].top

      this.createLine(point_id, x1, y1, x2, y2)
      this.closed = true
    }
  }
}

</script>

<style lang='scss'>
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.point {
  width: 15px;
  height: 15px;
  line-height: 8px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  border: 3px solid #fff;
  margin-top: -9px;
  margin-left: -9px;
}

.point-to-close:hover {
  background-color: #fff !important;
}

.hull-map {
  position: relative;
}

.line {
  position: absolute;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  transform-origin: 0 50%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}

</style>