<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Модель видеокамеры
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- model_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Имя модели
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.model_name"
            :state="form.errors.has('model_name') ? false : null"
            name="model_name"
          />
          <has-error
            :form="form"
            field="model_name"
          />
        </div>
      </div>

      <!-- frame_width -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Ширина кадра
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.frame_width"
            :state="form.errors.has('frame_width') ? false : null"
            name="frame_width"
          />
          <has-error
            :form="form"
            field="frame_width"
          />
        </div>
      </div>

      <!-- frame_height -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Высота кадра
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.frame_height"
            :state="form.errors.has('frame_height') ? false : null"
            name="frame_height"
          />
          <has-error
            :form="form"
            field="frame_height"
          />
        </div>
      </div>

      <!-- channel_1 -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Канал 1
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.channel_1"
            :state="form.errors.has('channel_1') ? false : null"
            name="channel_1"
          />
          <has-error
            :form="form"
            field="channel_1"
          />
        </div>
      </div>

      <!-- channel_2 -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Канал 2
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.channel_2"
            :state="form.errors.has('channel_2') ? false : null"
            name="channel_2"
          />
          <has-error
            :form="form"
            field="channel_2"
          />
        </div>
      </div>

      <!-- channel_3 -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Канал 3
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.channel_3"
            :state="form.errors.has('channel_3') ? false : null"
            name="channel_3"
          />
          <has-error
            :form="form"
            field="channel_3"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Модель видеокамеры' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({    
    model_name: '',
    frame_width: null,
    frame_height: null,
    channel_1: '',
    channel_2: '',
    channel_3: '',
    description: ''
  })

  get videcamModel() {
    return this.store.videcams.videcamModels.videcamModel
  }

  created() {
    this.getVidecamModel(parseInt(this.$route.params.id))
  }

  async getVidecamModel(id: number) {
    await this.store.videcams.videcamModels.fetchVidecamModel({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.videcamModel.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/videcam-models/${this.$route.params.id}`)
    this.$router.push({ name: 'videcams.videcam-models' })
  }
}
</script>
