<template>
    <v-container
        class="
            products-container
            pa-0
        "
    >
        <!-- <pre>{{
            JSON.stringify(
                this.categoryFilter.selectedFiltersAsQueryString,
                null,
                2
            )
        }}</pre> -->
        <v-row class="ma-n2" no-gutters>
            <v-col class="pa-2" cols="12">
                <v-sheet class="elevation-3">
                    <atv-multi-column
                        class="
                            products-filter
                            mcol-1
                            mcol-md-2
                            mcol-lg-3
                            mcol-xl-4
                            mcol-gap-4
                            pt-4
                            px-4
                        "
                    >
                        <div
                            v-for="filter in categoryFilter.filters"
                            :key="filter.id"
                            class="
                                break-inside-avoid
                                pb-4
                            "
                        >
                            <div class="font-weight-bold">
                                {{ filter.name }}
                                <v-btn
                                    v-if="filterHasSelectedValues(filter)"
                                    text
                                    icon
                                    x-small
                                    @click="onClearFilterClick(filter)"
                                >
                                    <v-icon small>
                                        close
                                    </v-icon>
                                </v-btn>
                            </div>
                            <template v-if="filter.kind == 'NUMBER'">
                                <v-row no-gutters>
                                    <v-col class="mt-1 mr-1">
                                        <v-text-field
                                            v-model.number="filter.selectedMin"
                                            :placeholder="filter.min.toString()"
                                            label="От"
                                            clearable
                                            outlined
                                            hide-details
                                            dense
                                        />
                                    </v-col>
                                    <v-col class="mt-1 ml-1">
                                        <v-text-field
                                            v-model.number="filter.selectedMax"
                                            :placeholder="filter.max.toString()"
                                            label="До"
                                            clearable
                                            outlined
                                            hide-details
                                            dense
                                        />
                                    </v-col>
                                </v-row>
                            </template>
                            <template v-if="filter.kind == 'CHECK'">
                                <v-checkbox
                                    v-for="value in filter.values"
                                    :key="value.id"
                                    v-model="filter.selectedValueIds"
                                    class="mt-0"
                                    :label="value.val"
                                    hide-details
                                    :value="value.id"
                                />
                            </template>
                            <template v-if="filter.kind == 'RADIO'">
                                <v-radio-group
                                    v-model="filter.selectedValueIds[0]"
                                    class="mt-0"
                                    hide-details
                                    dense
                                    @input="some(123)"
                                >
                                    <v-radio
                                        v-for="value in filter.values"
                                        :ref="`radio-${filter.id}-${value.id}`"
                                        :key="value.id"
                                        class="mt-0"
                                        :label="value.val"
                                        :value="value.id"
                                    />
                                </v-radio-group>
                            </template>
                        </div>
                    </atv-multi-column>
                    <div>
                        <v-btn @click="onApplyFilteringClick">
                            Применить
                        </v-btn>
                    </div>
                </v-sheet>
            </v-col>
            <v-col
                v-for="product in products"
                :key="product.id"
                class="pa-2"
                cols="12"
                sm="12"
                md="6"
                lg="4"
                xl="3"
            >
                <nuxt-link
                    :to="
                        `/product/${product.id}/${getRFC3986String(
                            product.name
                        )}`
                    "
                    class="product-link"
                >
                    <v-sheet class="product-bg">
                        <v-sheet class="product elevation-3 pa-4">
                            <div v-if="userIsAdmin" class="d-flex justify-end">
                                <v-btn
                                    :to="`/admin/products/${product.id}`"
                                    color="primary"
                                    text
                                    icon
                                >
                                    <v-icon>
                                        edit
                                    </v-icon>
                                </v-btn>
                            </div>
                            <v-img
                                v-if="product.coverImagePath"
                                :src="
                                    `${$axios.defaults.baseURL}${product.coverImagePath}`
                                "
                                height="200px"
                                contain
                                @error="onImgError($event, product)"
                            />
                            <div
                                v-else
                                class="
                                    d-flex
                                    flex-column
                                    align-center
                                    justify-center
                                    no-photo
                                "
                            >
                                <v-icon class="no-photo-icon">
                                    photo
                                </v-icon>
                                <span class="no-photo-text">
                                    {{
                                        product.error
                                            ? product.error
                                            : 'Нет изображения'
                                    }}
                                </span>
                            </div>
                            <div class="product-name pt-1">
                                {{ product.name }}
                            </div>
                            <div
                                v-if="product.price"
                                class="product-prices pt-1"
                            >
                                <span
                                    :class="{
                                        'product-price-number-strike': product.discountPrice
                                            ? true
                                            : false
                                    }"
                                    class="product-price-number"
                                    >{{
                                        formatPrice(product.price)
                                    }}&nbsp;₽</span
                                >
                                <template v-if="product.discountPrice">
                                    <span class="product-discount-price-number"
                                        >{{
                                            formatPrice(product.discountPrice)
                                        }}&nbsp;₽</span
                                    >
                                </template>
                            </div>
                            <!-- <pre>{{ JSON.stringify(product, null, 2) }}</pre> -->
                        </v-sheet>
                    </v-sheet>
                </nuxt-link>
            </v-col>
        </v-row>
        <div v-if="paginationLength > 1" class="d-flex justify-center pt-4">
            <v-pagination
                :value="page"
                :length="paginationLength"
                @input="onPaginationInput"
            />
        </div>
    </v-container>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import formatNumber from 'number-format.js'
import slug from 'limax'
import * as api from '@core/api'
import constants from '~/core/constants'
import AtvMultiColumn from '~/components/AtvMultiColumn.vue'
import CategoryFilter, {
    StringCategoryFilter,
    NumberCategoryFilter
} from '~/classes/CategoryFilter'

@Component({
    components: {
        AtvMultiColumn
    },
    async fetch({ $axios, store, params, redirect }) {
        if (params.id === constants.sparesObjectId) {
            if (!params.slug) {
                redirect(
                    301,
                    `/catalog/${params.id}/${slug(
                        constants.sparesLabel
                    ).toLowerCase()}`
                )
            }
            store.commit('page/setTitle', constants.sparesLabel)

            const sparesMenuRes = await $axios.get('/menu/spares')

            store.commit('setSparesMenu', sparesMenuRes.data)
            store.commit('setSparesViewing', true)
        } else {
            const categoryRes = await $axios.get(`/category/${params.id}`)

            if (!params.slug) {
                redirect(
                    301,
                    `/catalog/${params.id}/${slug(
                        categoryRes.data.name
                    ).toLowerCase()}`
                )
            }
            store.commit('page/setTitle', categoryRes.data.name)
            if (categoryRes.data.id1C) {
                const sparesMenuRes = await $axios.get(
                    `/menu/spares?parentCategory=${categoryRes.data.id}`
                )
                const backMenuItem = []

                if (categoryRes.data.parentCategory) {
                    const parentCategoryRes = await $axios.get(
                        `/category/${categoryRes.data.parentCategory}`
                    )

                    backMenuItem.push({
                        active: false,
                        id: parentCategoryRes.data.id,
                        name: 'Назад',
                        parentCategory: parentCategoryRes.data.parentCategory
                    })
                } else {
                    backMenuItem.push({
                        active: false,
                        id: constants.sparesObjectId,
                        name: 'Назад'
                    })
                }

                store.commit('setSparesMenu', [
                    ...backMenuItem,
                    ...sparesMenuRes.data
                ])
                store.commit('setSparesViewing', true)
            } else {
                store.commit('setSparesViewing', false)
            }
        }
    },
    async asyncData({ $axios, params, query }) {
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        const productCatalogReq: any = {
            categoryId: params.id
        }

        if (query.p) {
            productCatalogReq.page = query.p
        }

        const productCatalogRes = await $axios.post(
            '/product/catalog',
            productCatalogReq
        )

        const categoryFIlterRes = await $axios.get<
            api.GetFilterForCategoryResponse
        >(`/category/${params.id}/filter`)

        return {
            categoryFIlterRes: categoryFIlterRes.data,
            categoryFilter: new CategoryFilter(categoryFIlterRes.data),
            products: productCatalogRes.data.products,
            total: productCatalogRes.data.total,
            page: query.p ? Number(query.p) : 1
        }
    }
})
export default class AtvCatalogPage extends Vue {
    products = []
    categoryFIlterRes!: api.GetFilterForCategoryResponse
    categoryFilter!: CategoryFilter
    total = 0
    page = 1

    get paginationLength() {
        return Math.ceil(this.total / 12)
    }

    get userIsAdmin() {
        if (
            this.$store.state.user &&
            this.$store.state.user.roles &&
            this.$store.state.user.roles.includes('Admin')
        ) {
            return true
        }

        return false
    }

    created() {
        // https://github.com/nuxt/nuxt.js/issues/3227
        if (this.categoryFIlterRes) {
            this.categoryFilter = new CategoryFilter(this.categoryFIlterRes)
        }
    }

    async init() {
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        const productCatalogReq: any = {
            categoryId: this.$route.params.id
        }

        if (this.$route.query.p) {
            productCatalogReq.page = this.$route.query.p
        }

        const productCatalogRes = await this.$axios.post(
            '/product/catalog',
            productCatalogReq
        )

        const categoryFIlterRes = await this.$axios.get<
            api.GetFilterForCategoryResponse
        >(`/category/${this.$route.params.id}/filter`)

        console.log('REINITING')
        this.categoryFilter = new CategoryFilter(categoryFIlterRes.data)
        this.products = productCatalogRes.data.products
        this.total = productCatalogRes.data.total
        this.page = this.$route.query.p ? Number(this.$route.query.p) : 1
    }

    @Watch('$route')
    onRouteWatch() {
        this.init()
    }

    onPaginationInput(value: number) {
        const valueAsString = value.toString()

        if (Number(valueAsString) > 1) {
            this.$router.push({
                path: this.$route.fullPath,
                query: { ...this.$route.query, p: valueAsString }
            })
        } else {
            this.$router.push({
                path: this.$route.fullPath,
                query: { ...this.$route.query, p: undefined }
            })
        }
        this.page = Number(valueAsString)
    }

    getRFC3986String(value: string) {
        return slug(value).toLowerCase()
    }

    formatPrice(value: number) {
        return formatNumber('### ###.', value)
    }

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    onImgError(imgPath: string, product: any) {
        product.coverImagePath = ''
        product.error = 'Ошибка загрузки изображения'
    }

    filterHasSelectedValues(
        filter: StringCategoryFilter | NumberCategoryFilter
    ): boolean {
        if ('selectedValueIds' in filter) {
            return filter.selectedValueIds.length > 0
        }
        if ('selectedMin' in filter && 'selectedMax' in filter) {
            return (
                (filter.selectedMin != null &&
                    filter.selectedMin !== undefined) ||
                (filter.selectedMax != null && filter.selectedMax !== undefined)
            )
        }
        return false
    }

    onClearFilterClick(filter: StringCategoryFilter | NumberCategoryFilter) {
        if ('selectedValueIds' in filter) {
            filter.selectedValueIds = []
        }
        if ('selectedMin' in filter && 'selectedMax' in filter) {
            filter.selectedMin = null
            filter.selectedMax = null
        }
    }

    onApplyFilteringClick() {
        this.$router.push({
            path: this.$route.fullPath,
            query: {
                ...this.$route.query,
                cf: JSON.stringify(
                    this.categoryFilter?.selectedFiltersAsQueryString
                )
            }
        })
    }

    onSelectedMinInput(options: {
        inputedValue: string
        filter: NumberCategoryFilter
    }) {
        console.log(options)

        if (options.inputedValue === '') {
            options.filter.selectedMin = null

            return
        }

        const inputedValueAsNumber = Number(options.inputedValue)

        if (
            !Number.isNaN(inputedValueAsNumber) &&
            Number.isFinite(inputedValueAsNumber)
        ) {
            const inputedValueIsGreaterOrEqualToMin =
                options.filter.min === null
                    ? true
                    : inputedValueAsNumber >= options.filter.min
            const max =
                options.filter.selectedMax === null ||
                options.filter.selectedMax === undefined
                    ? options.filter.max === null
                        ? Infinity
                        : options.filter.max
                    : options.filter.selectedMax
            const inputedValueIsLowerOrEqualToMax = inputedValueAsNumber <= max

            if (
                inputedValueIsGreaterOrEqualToMin &&
                inputedValueIsLowerOrEqualToMax
            ) {
                options.filter.selectedMin = inputedValueAsNumber
            }
        }
    }

    onSelectedMaxInput(options: {
        inputedValue: string
        filter: NumberCategoryFilter
    }) {
        if (options.inputedValue === '') {
            options.filter.selectedMax = null

            return
        }

        const inputedValueAsNumber = Number(options.inputedValue)

        if (
            !Number.isNaN(inputedValueAsNumber) &&
            Number.isFinite(inputedValueAsNumber)
        ) {
            const min =
                options.filter.selectedMin === null ||
                options.filter.selectedMin === undefined
                    ? options.filter.min === null
                        ? -Infinity
                        : options.filter.min
                    : options.filter.selectedMin
            const inputedValueIsGreaterOrEqualToMin =
                inputedValueAsNumber >= min
            const inputedValueIsLowerOrEqualToMax =
                options.filter.max === null
                    ? true
                    : inputedValueAsNumber <= options.filter.max

            if (
                inputedValueIsGreaterOrEqualToMin &&
                inputedValueIsLowerOrEqualToMax
            ) {
                options.filter.selectedMax = inputedValueAsNumber
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.products-container {
    margin-top: -($spacer / 2);
}
.products-filter::v-deep {
    .v-input {
        .v-input--selection-controls__input {
            align-self: flex-start;
        }
        .v-label {
            height: auto;
        }
    }
}
.product-link {
    height: 100%;
    text-decoration: none;
}
.product-bg {
    height: 100%;
}
.product {
    height: 100%;
    transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}
.no-photo {
    height: 200px;
}
.no-photo-icon {
    font-size: 80px;
}
.no-photo-text {
    font-size: 14px;
}
.product-name {
    font-size: 14px;
}
.product-prices {
    font-size: 16px;
}
.product-price-number-strike {
    text-decoration: line-through;
    opacity: 0.66;
}
</style>
