<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <v-form @submit.prevent="onSubmit">
                <atv-meta-tags-edit :model="model" class="mb-4" />
                <v-text-field v-model="model.name" label="Название" outlined />
                <div class="mb-4">
                    <div class="subheading mb-1">
                        Обложка
                    </div>
                    <div v-if="coverImageDataURL" class="cover">
                        <img
                            :src="coverImageDataURL"
                            class="cover-image"
                        /><br />
                        <v-btn
                            tabindex="-1"
                            color="primary"
                            icon
                            @click="removeCoverImage"
                        >
                            <v-icon>
                                delete_forever
                            </v-icon>
                        </v-btn>
                    </div>
                    <v-btn
                        class="mt-2"
                        color="primary"
                        @click="$refs.coverImageFileInput.click()"
                    >
                        Выбрать файл
                    </v-btn>
                    <input
                        ref="coverImageFileInput"
                        class="d-none"
                        type="file"
                        @change="processCoverImageFile($event)"
                    />
                </div>
                <div class="mb-4">
                    <div class="subheading mb-1">
                        Изображения
                    </div>
                    <slick-sort-container
                        v-if="imageFilesDataURLs && imageFilesDataURLs.length"
                        v-model="imageFilesDataURLs"
                        :use-drag-handle="true"
                        :axis="'x'"
                        :lock-axis="'x'"
                        class-name="gallery d-flex"
                        @sort-end="onImageFilesSortEnd"
                    >
                        <slick-sort-container-item
                            v-for="(imageFileDataURL,
                            index) in imageFilesDataURLs"
                            :key="index"
                            :index="index"
                            :src="imageFileDataURL"
                            class="gallery-item"
                            class-name="image"
                        >
                            <v-btn
                                tabindex="-1"
                                color="primary"
                                icon
                                @click="removeImage(index)"
                            >
                                <v-icon>
                                    delete_forever
                                </v-icon>
                            </v-btn>
                        </slick-sort-container-item>
                    </slick-sort-container>
                    <v-btn
                        class="mt-2"
                        color="primary"
                        @click="$refs.imageFilesInput.click()"
                    >
                        Выбрать файлы
                    </v-btn>
                    <input
                        ref="imageFilesInput"
                        class="d-none"
                        type="file"
                        multiple
                        @change="proccessImageFiles($event)"
                    />
                </div>
                <div class="subheading mb-1">
                    YouTube видео ID
                    <v-btn
                        tabindex="-1"
                        color="primary"
                        text
                        icon
                        @click="addVideoId"
                    >
                        <v-icon>
                            add
                        </v-icon>
                    </v-btn>
                </div>
                <template v-for="(videoId, index) in model.videoIds">
                    <div :key="index" class="d-flex mb-4">
                        <v-text-field
                            v-model="model.videoIds[index]"
                            label="ID"
                        />
                        <v-btn
                            class="ml-2"
                            color="primary"
                            tabindex="-1"
                            icon
                            text
                            @click="removeVideoId(index)"
                        >
                            <v-icon>
                                delete_forever
                            </v-icon>
                        </v-btn>
                    </div>
                </template>
                <v-select
                    v-model="model.tiers"
                    :items="tiers"
                    item-text="name"
                    item-value="id"
                    no-data-text="Нет серий"
                    multiple
                    label="Серии"
                    outlined
                />
                <!-- https://github.com/surmon-china/vue-quill-editor/tree/master/examples/nuxt-ssr-example -->
                <div
                    v-quill:myQuillEditor="{
                        placeholder: 'Описание',
                        modules: {
                            toolbar: {}
                        }
                    }"
                    :content="model.description"
                    :class="['quill-editor', 'mb-4']"
                    @change="onEditorChange($event)"
                    @focus="onEditorFocus($event)"
                    @blur="onEditorBlur($event)"
                >
                    <!--
                        @change="onEditorChange($event)"
                        @ready="onEditorReady($event)"
                    -->
                </div>
                <div class="subheading my-4">
                    Характеристики
                </div>
                <v-treeview :items="featureTree" class="mb-4" open-all>
                    <template slot="label" slot-scope="{ item }">
                        <div
                            :class="{
                                'd-inline-block': true,
                                'mt-2': item.kind != featureKind.GROUP
                            }"
                        >
                            {{ item.name }}
                            <span class="caption">
                                [{{ getFeatureKindLabel(item.kind) }}]
                            </span>
                        </div>
                        <v-btn
                            v-if="item.kind != featureKind.GROUP"
                            tabindex="-1"
                            color="primary"
                            nuxt
                            text
                            icon
                            @click="addValue(item.id)"
                        >
                            <v-icon>
                                add
                            </v-icon>
                        </v-btn>
                        <template v-if="item.kind != featureKind.GROUP">
                            <template
                                v-for="(value, index) in getValuesByFeatureId(
                                    item.id
                                )"
                            >
                                <div
                                    :key="`${item.id}_${index}`"
                                    :class="{
                                        'd-flex': true,
                                        'ml-4': true,
                                        'mb-4':
                                            index ==
                                            getValuesByFeatureId(item.id)
                                                .length -
                                                1
                                    }"
                                >
                                    <v-text-field
                                        :ref="`${item.id}_${index}`"
                                        :value="value.val"
                                        hide-details
                                        @input="
                                            onValueInput(
                                                $event,
                                                value,
                                                item.kind,
                                                `${item.id}_${index}`
                                            )
                                        "
                                    />
                                    <v-btn
                                        class="mt-3 ml-2"
                                        tabindex="-1"
                                        color="primary"
                                        text
                                        icon
                                        @click="removeValue(value)"
                                    >
                                        <v-icon>
                                            delete_forever
                                        </v-icon>
                                    </v-btn>
                                </div>
                            </template>
                        </template>
                    </template>
                </v-treeview>
                <v-text-field
                    v-model="model.price"
                    label="Цена"
                    clearable
                    outlined
                />
                <v-text-field
                    v-model="model.discountPrice"
                    label="Цена со скидкой"
                    clearable
                    outlined
                />
                <div>
                    <v-checkbox
                        v-model="model.published"
                        label="Опубликовано"
                    />
                </div>
                <div class="d-flex flex-wrap justify-end">
                    <v-btn class="mx-1 my-1" color="primary" type="submit">
                        Сохранить
                    </v-btn>
                    <v-btn
                        class="mx-1 my-1"
                        :to="`/admin/products?categoryId=${categoryId}`"
                        nuxt
                    >
                        Отмена
                    </v-btn>
                </div>
            </v-form>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import jsonFormData from 'json-form-data'
import SlickSortContainer from '~/components/SlickSortContainer.vue'
import SlickSortContainerItem from '~/components/SlickSortContainerItem.vue'
import AtvMetaTagsEdit from '~/components/AtvMetaTagsEdit.vue'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import 'quill/dist/quill.core.css'

interface ValidJSON {
    [key: string]: ValidJSON | ValidJSONValue | ValidJSONValue[] | FileList
}

type ValidJSONValue =
    | string
    | number
    | boolean
    | File
    | Blob
    | Date
    | null
    | undefined

export enum FeatureKind {
    CHECK = 'CHECK',
    RADIO = 'RADIO',
    NUMBER = 'NUMBER',
    GROUP = 'GROUP'
}

interface Feature {
    id?: string
    category: string
    parentFeature: string | null
    name: string
    kind: FeatureKind
}

interface FeatureTreeNode extends Feature {
    children?: FeatureTreeNode[]
}

interface Category {
    id?: string
    name?: string
    description?: string
    parentCategory?: string | null
    id1C?: string
    parentId1C?: string
}

interface Value {
    id?: string
    feature: string | null
    val: string | number
}

interface Product {
    id?: string
    category: string | null
    coverImagePath: string
    imagePaths: string[]
    videoIds: string[]
    name: string
    price: string
    discountPrice: string
    values: Value[]
    description: string
    id1C?: string
    parentId1C?: string
    metaTitle: string
    metaDescription: string
    metaKeywords: string
    published: boolean
}

interface Tier {
    id?: string
    name: string
    description: string
    products?: Product[] | string[]
}

interface Model extends Product {
    tiers: string[]
}

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Товар')
            resolve()
        })
    },
    components: {
        SlickSortContainer,
        SlickSortContainerItem,
        AtvMetaTagsEdit
    }
})
export default class AtvAdminProductPage extends Vue {
    loading = true
    model: Model = {
        category: '',
        coverImagePath: '',
        imagePaths: [],
        videoIds: [],
        name: '',
        price: '',
        discountPrice: '',
        values: [],
        description: '',
        tiers: [],
        metaTitle: '',
        metaDescription: '',
        metaKeywords: '',
        published: false
    }
    coverImageFile: string | Blob | null = null
    coverImageDataURL = ''
    imageFiles: File[] = []
    imageFilesDataURLs: (string | ArrayBuffer | null)[] = []
    tiers: Tier[] = []
    featureTree: FeatureTreeNode[] = []
    featureKind = {
        CHECK: 'CHECK',
        RADIO: 'RADIO',
        NUMBER: 'NUMBER',
        GROUP: 'GROUP'
    }

    get categoryId() {
        if (this.$route && this.$route.query.categoryId) {
            return this.$route.query.categoryId
        } else {
            return this.model.category
        }
    }

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        if (this.$route.params.id !== 'new') {
            const productEditRes = await this.$axios.get(
                `/product/edit/${this.$route.params.id}`
            )

            this.model = { ...this.model, ...productEditRes.data }
            if (this.model.coverImagePath) {
                this.coverImageDataURL = `${this.$axios.defaults.baseURL}${this.model.coverImagePath}` // eslint-disable-line
            }
            if (this.model.imagePaths && this.model.imagePaths.length) {
                this.imageFilesDataURLs = [...this.model.imagePaths.map(x => `${this.$axios.defaults.baseURL}${x}`)] // eslint-disable-line
            }
            if (this.model.price == null) {
                this.model.price = ''
            }
            if (this.model.discountPrice == null) {
                this.model.discountPrice = ''
            }
        } else {
            if (!this.categoryId) {
                this.$router.push('/admin/products')
            }

            const categoryRes = await this.$axios.get(
                `/category/${this.categoryId}`
            )

            if (categoryRes.data == null || categoryRes.data.length === 0) {
                this.$router.push('/admin/products')
            }
            this.model.category = categoryRes.data.id
        }

        const featureTreeRes = await this.$axios.get(
            `/feature/tree?categoryId=${this.categoryId}`
        )

        this.featureTree = featureTreeRes.data

        const tiersRes = await this.$axios.get('/tier/all')

        this.tiers = tiersRes.data

        this.$nextTick(() => {
            this.loading = false
        })
    }

    @Watch('model.price')
    onPriceWatch(newValue: string, oldValue: string) {
        this.$nextTick(() => {
            if (!Number.isNaN(Number(newValue))) {
                this.model.price = newValue
            } else {
                this.model.price = oldValue
            }
        })
    }

    @Watch('model.discountPrice')
    onDiscountPriceWatch(newValue: string, oldValue: string) {
        this.$nextTick(() => {
            if (!Number.isNaN(Number(newValue))) {
                this.model.discountPrice = newValue
            } else {
                this.model.discountPrice = oldValue
            }
        })
    }

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    processCoverImageFile(event: any) {
        if (!event.target.files) return

        const files = event.target.files

        for (let i = 0; files.length > i; i++) {
            const file = files[i]

            if (!file.type.match('image.*')) continue

            this.coverImageFile = file
            this.model.coverImagePath = ''
            this.generateDataURL(file, (dataURL) => {
                this.coverImageDataURL = dataURL as string
            })
        }
    }

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    proccessImageFiles(event: any) {
        if (!event.target.files) return

        const files: File[] = event.target.files

        for (let i = 0; files.length > i; i++) {
            const file = files[i]

            if (!file.type.match('image.*')) continue

            const existingFile = this.imageFiles.find(
                (x) => x.name === file.name
            )

            if (existingFile) return

            this.imageFiles.push(file)
            this.model.imagePaths.push('')
            this.generateDataURL(file, (dataURL) => {
                this.imageFilesDataURLs.push(dataURL)
            })
        }
    }

    generateDataURL(
        file: File,
        cb: (dataURL: string | ArrayBuffer | null) => void
    ) {
        const fileReader = new FileReader()

        fileReader.onload = (event) => {
            if (event && event.target) {
                cb(event.target.result)
            }
        }
        fileReader.readAsDataURL(file)
    }

    removeCoverImage() {
        this.coverImageFile = null
        this.coverImageDataURL = ''
        this.model.coverImagePath = ''
    }

    removeImage(index: number) {
        this.$delete(this.imageFiles, index)
        this.$delete(this.imageFilesDataURLs, index)
        this.$delete(this.model.imagePaths, index)
    }

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    rearrange(array: any[], newIndex: number, oldIndex: number) {
        if (newIndex >= array.length) {
            let k = newIndex - array.length + 1

            while (k--) {
                array.push(undefined)
            }
        }
        array.splice(newIndex, 0, array.splice(oldIndex, 1)[0])
    }

    onImageFilesSortEnd(payload: {
        event: MouseEvent
        newIndex: number
        oldIndex: number
        collection: string
    }) {
        const newIndex = payload.newIndex
        const oldIndex = payload.oldIndex

        if (newIndex !== oldIndex) {
            this.rearrange(this.imageFiles, newIndex, oldIndex)
            this.rearrange(this.model.imagePaths, newIndex, oldIndex)
        }
    }

    addVideoId() {
        this.model.videoIds.push('')
    }

    removeVideoId(index: number) {
        this.$delete(this.model.videoIds, index)
    }

    getFeatureKindLabel(kind: FeatureKind) {
        let label = ''

        switch (kind) {
            case this.featureKind.CHECK:
                label = 'Чекбокс'
                break

            case this.featureKind.RADIO:
                label = 'Радио'
                break

            case this.featureKind.NUMBER:
                label = 'Число'
                break

            case this.featureKind.GROUP:
                label = 'Группа'
                break

            default:
                label = ''
                break
        }

        return label
    }

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    onEditorChange(event: any) {
        this.model.description = event.html
    }

    onEditorFocus() {
        const qlToolbar = document.querySelector('.ql-toolbar')

        if (qlToolbar) {
            qlToolbar.classList.add('focus')
        }

        const qlContainer = document.querySelector('.ql-container')

        if (qlContainer) {
            qlContainer.classList.add('focus')
        }
    }

    onEditorBlur() {
        const qlToolbar = document.querySelector('.ql-toolbar')

        if (qlToolbar) {
            qlToolbar.classList.remove('focus')
        }

        const qlContainer = document.querySelector('.ql-container')

        if (qlContainer) {
            qlContainer.classList.remove('focus')
        }
    }

    getValuesByFeatureId(id: string) {
        return this.model.values.filter((x) => x.feature === id)
    }

    addValue(featureId: string) {
        this.model.values.push({
            feature: featureId,
            val: ''
        })
    }

    removeValue(value: Value) {
        const index = this.model.values.indexOf(value)

        this.$delete(this.model.values, index)
    }

    onValueInput(
        val: string,
        value: Value,
        featureKind: FeatureKind,
        textFieldRef: string
    ) {
        const newValue = val
        const oldValue = value.val

        if (featureKind === this.featureKind.NUMBER) {
            if (!Number.isNaN(Number(newValue))) {
                value.val = newValue
            } else {
                value.val = oldValue
            }
            // eslint-disable-next-line @typescript-eslint/no-explicit-any
            ;(this.$refs[textFieldRef] as any)[0].$data.lazyValue = value.val
        } else {
            value.val = newValue
        }
    }

    onSubmit() {
        const formData = jsonFormData((this.model as unknown) as ValidJSON)

        if (this.coverImageFile) {
            formData.append('coverImageFile', this.coverImageFile)
        }
        if (this.imageFiles && this.imageFiles.length) {
            this.imageFiles.forEach((imageFile) => {
                formData.append('imageFiles', imageFile)
            })
        }

        this.$axios
            .post('/product/edit', formData, {
                headers: { 'Content-Type': 'multipart/form-data' }
            })
            .then(() => {
                this.$router.push(
                    `/admin/products?categoryId=${this.categoryId}`
                )
            })
    }
}
</script>

<style lang="scss" scoped>
.cover {
    text-align: center;
}
.cover-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.gallery {
    overflow-y: auto;
}
.gallery-item {
    margin-left: 10px;
    &:first-child {
        margin-left: 0;
    }
}
.gallery-item::v-deep .image {
    width: auto;
    height: 150px;
}
form::v-deep .ql-toolbar {
    border-radius: $border-radius-root $border-radius-root 0 0;
    border: 1px solid rgba(0, 0, 0, 0.54);
    transition-property: border, border-width;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.87);
    }
    &.focus {
        border-width: 2px;
        border-color: map-deep-get($colors, 'red', 'darken-3');
    }
}
form::v-deep .ql-container {
    border-radius: 0 0 $border-radius-root $border-radius-root;
    border: 1px solid rgba(0, 0, 0, 0.54);
    transition-property: border, border-width;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.87);
    }
    &.focus {
        border-width: 2px;
        border-color: map-deep-get($colors, 'red', 'darken-3');
    }
}
</style>
