<template>
    <v-sheet class="elevation-3 pa-4">
        <div v-if="loading" class="d-flex justify-center">
            <v-progress-circular
                :size="100"
                :width="10"
                color="primary"
                indeterminate
            />
        </div>
        <template v-else>
            <template
                v-if="
                    categoryTree &&
                        categoryTree.length &&
                        !$route.query.categoryId
                "
            >
                <v-treeview :items="categoryTree" open-all>
                    <template slot="label" slot-scope="{ item }">
                        <nuxt-link
                            :to="`/admin/products?categoryId=${item.id}`"
                            nuxt
                            @click="fetchProductsByCategory"
                        >
                            {{ item.name }}
                        </nuxt-link>
                    </template>
                </v-treeview>
            </template>
            <template
                v-if="
                    categoryTree &&
                        !categoryTree.length &&
                        !$route.query.categoryId
                "
            >
                Категорий нет,
                <nuxt-link to="/admin/categories/new">
                    создайте категорию </nuxt-link
                >.
            </template>
            <template v-if="products && $route.query.categoryId">
                <div class="d-flex flex-wrap justify-end">
                    <v-btn class="mx-1 my-1" :to="`/admin/products`" nuxt>
                        Выбрать другую категорию
                    </v-btn>
                    <v-spacer />
                    <v-btn
                        class="mx-1 my-1"
                        :to="
                            `/admin/products/new?categoryId=${$route.query.categoryId}`
                        "
                        color="primary"
                        nuxt
                    >
                        Создать товар
                    </v-btn>
                    <v-btn
                        class="mx-1 my-1"
                        color="primary"
                        text
                        icon
                        @click="allowToDelete = !allowToDelete"
                    >
                        <v-icon>
                            {{ allowToDelete ? 'lock_open' : 'lock' }}
                        </v-icon>
                    </v-btn>
                </div>
            </template>
            <template
                v-if="products && products.length && $route.query.categoryId"
            >
                <v-data-table
                    :headers="tableHeaders"
                    :items="products"
                    hide-default-footer
                >
                    <tr slot="item" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.price }}</td>
                        <td>
                            <v-btn
                                class="mr-1"
                                :to="`/admin/products/${props.item.id}`"
                                color="primary"
                                nuxt
                                text
                                icon
                            >
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <v-btn
                                v-if="allowToDelete"
                                color="primary"
                                text
                                icon
                                @click="startDeleteDialog(props.item)"
                            >
                                <v-icon>delete_forever</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </v-data-table>
            </template>
            <template
                v-if="products && !products.length && $route.query.categoryId"
            >
                В категории
                {{ selectedCategory ? `"${selectedCategory.name}" ` : '' }}нет
                товаров.
            </template>
            <v-dialog v-model="showDeleteDialog" persistent>
                <v-card>
                    <v-card-title class="headline">
                        Точно удалить товар?
                    </v-card-title>
                    <v-card-text>
                        Вместе с товаром
                        <template
                            v-if="productToDelete && productToDelete.name"
                        >
                            <b>"{{ productToDelete.name }}"</b>
                        </template>
                        удалятся:<br />
                        все изображения этого товара,<br />
                        все значения характеристик, которые используются только
                        в этом товаре.<br />
                        <br />
                        А так же этот товар будет исключен из серий, в которых
                        он присутствует.
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn
                            class="mr-2"
                            :disabled="disableDeleteDialog"
                            color="primary"
                            @click="acceptDeliting"
                        >
                            Удалить
                        </v-btn>
                        <v-btn
                            :disabled="disableDeleteDialog"
                            @click="cancelDeleting"
                        >
                            Отмена
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </template>
    </v-sheet>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'

/* eslint-disable */
interface Category {
    id: string,
    name: string,
    description: string,
    parentCategory: string | null,
    id1C?: string,
    parentId1C?: string
}

interface CategoryTreeNode extends Category {
    children?: CategoryTreeNode[]
}

interface Product {
    id?: string,
    category: string | null,
    coverImagePath: string,
    imagePaths: string[],
    videoIds: string[],
    name: string,
    price: number,
    discountPrice: number,
    values: string[],
    description: string,
    id1C?: string,
    parentId1C?: string
}
/* eslint-enable */

@Component({
    middleware: ['checkPermittedRoles'],
    permittedRoles: ['Admin'],
    fetch({ store }) {
        return new Promise((resolve) => {
            store.commit('page/setTitle', 'Товары')
            resolve()
        })
    }
})
export default class AtvAdminProductsPage extends Vue {
    loading = true
    categoryTree: CategoryTreeNode[] = []
    products: Product[] = []
    allowToDelete = false
    tableHeaders = [
        { text: 'Название', value: 'name' },
        { text: 'Цена', value: 'price' },
        { text: '', value: '' }
    ]
    showDeleteDialog = false
    productToDelete: Product | null = null
    disableDeleteDialog = false
    selectedCategory: Category | null = null

    mounted() {
        this.init()
    }

    async init() {
        this.loading = true

        await this.fetchProductsByCategory()

        const categoryTreeRes = await this.$axios.get('/category/tree')

        this.categoryTree = categoryTreeRes.data
        this.$nextTick(() => {
            this.loading = false
        })
    }

    @Watch('$route.query.categoryId')
    async onSelectedCategorySet(newVal: string) {
        await this.fetchProductsByCategory()
        if (!newVal) {
            this.$store.commit('page/setTitle', 'Товары')
        }
    }

    async fetchProductsByCategory() {
        if (this.$route.query.categoryId) {
            const productFilterRes = await this.$axios
                .get(
                    '/product/filter' +
                        `?categoryId=${this.$route.query.categoryId}`
                )
                .catch(() => {
                    this.$router.push('/admin/products')
                })

            if (productFilterRes && productFilterRes.data) {
                this.products = productFilterRes.data

                const categotyRes = await this.$axios.get(
                    `/category/${this.$route.query.categoryId}`
                )

                this.selectedCategory = categotyRes.data
                this.$store.commit(
                    'page/setTitle',
                    `Товары категории "${categotyRes.data.name}"`
                )
            }
        }
    }

    startDeleteDialog(product: Product) {
        this.showDeleteDialog = true
        this.productToDelete = product
    }

    acceptDeliting() {
        if (this.productToDelete) {
            this.disableDeleteDialog = true
            this.$axios
                .delete(`/product/edit/${this.productToDelete.id}`)
                .then(async () => {
                    await this.fetchProductsByCategory()
                    this.showDeleteDialog = false
                    this.disableDeleteDialog = false
                })
        }
    }

    cancelDeleting() {
        this.productToDelete = null
        this.showDeleteDialog = false
    }
}
</script>
