<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Штатное расписание
    </template>
    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          {{ $t('name') }}
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.name"
            :state="form.errors.has('name') ? false : null"
            name="name"
          />
          <has-error
            :form="form"
            field="name"
          />
        </div>
      </div>

      <!-- counterparty_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Контрагент
        </label>
        <div class="col-md-7">
          <odtn-autocomplete
            v-model="counterpartySearchString"
            :state="form.errors.has('counterparty_id') ? false : null"
            :lookup-function="fetchCounterpartySuggestions"
            autoload
            @select="onCounterpartySelect"
          >
            <!-- <template v-slot:end-of-item="slotProps">
              <div>
                <small v-if="slotProps.suggestion.inn">
                  ИНН: {{ slotProps.suggestion.inn }}
                </small>
                <small
                  v-if="slotProps.suggestion.actual_address"
                  class="ml-2"
                >
                  Адрес: {{ slotProps.suggestion.actual_address }}
                </small>
              </div>
            </template> -->
          </odtn-autocomplete>
          <has-error
            :form="form"
            field="counterparty_id"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- version_number -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Номер версии
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model.number="form.version_number"
            :state="form.errors.has('version_number') ? false : null"
            name="version_number"
            type="number"
          />
          <has-error
            :form="form"
            field="version_number"
          />
        </div>
      </div>

      <!-- order_number -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Номер приказа
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model.number="form.order_number"
            :state="form.errors.has('order_number') ? false : null"
            name="order_number"
            type="number"
          />
          <has-error
            :form="form"
            field="order_number"
          />
        </div>
      </div>

      <!-- order_date -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Дата приказа
        </label>
        <div class="col-md-7">
          <b-form-datepicker
            v-model="form.order_date"
            :state="form.errors.has('order_date') ? false : null"
            :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
            locale="ru"
          />
          <has-error
            :form="form"
            field="order_date"
          />
        </div>
      </div>

      <!-- start_date -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Дата вступления в силу
        </label>
        <div class="col-md-7">
          <b-form-datepicker
            v-model="form.start_date"
            :state="form.errors.has('start_date') ? false : null"
            :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
            locale="ru"
          />
          <has-error
            :form="form"
            field="start_date"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'
import counterpartyLookup from '~/common/counterpartyLookup'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новое штатное расписание' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    name: '',
    counterparty_id: '',
    version_number: '',
    order_number: '',
    order_date: '',
    start_date: '',
    description: ''
  })
  counterpartySearchString = ''
  value = ''
  formatted = ''
  selected = ''

  get staffSchedule() {
    return this.store.staff.staffSchedule?.data ?? null
  }

  get counterparties() {
    return this.store.counterparties.counterparties?.data ?? []
  }

  created() {
    this.store.counterparties.fetchCounterparties({
      search: '',
      page: 1,
      orderby: 'id',
      direction: 'asc'
    })
  }

  async create() {
    const response = await this.form.post(`/api/v1/staff-schedules`)

    this.$router.replace({
      name: 'staff-schedule.read',
      params: {
        //@ts-ignore
        id: `${response.data.data.id}`
      }
    })
  }

  async fetchCounterpartySuggestions() {
    return await counterpartyLookup(this.counterpartySearchString)
  }

  onCounterpartySelect(counterparty: any) {
    // @ts-ignore
    this.form.counterparty_id = counterparty.id
  }
}
</script>
