<template>
  <b-card
    v-if="allDataReadyToShow"
    class="mb-4"
  >
    <template v-slot:header>
      Штатное расписание
    </template>
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 col-lg-6 col-xl-4">
          <div v-if="staffSchedule">
            <div class="form-group mb-1">
              <b>Название:</b>
              {{ staffSchedule.name }}
            </div>
            <div class="form-group mb-1">
              <b>Контрагент:</b>
              {{ counterpartyName }}
            </div>
            <div class="form-group mb-1">
              <b>Описание:</b>
              <span
                v-if="staffSchedule.description"
                v-html="staffSchedule.description.replace(/(?:\r\n|\r|\n)/g, '<br>')"
              />
            </div>
            <div class="form-group mb-1">
              <b>Номер версии:</b>
              {{ staffSchedule.version_number }}
            </div>
            <div class="form-group mb-0">
              <b>Номер приказа:</b>
              {{ staffSchedule.order_number }}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8">
          <div class="form-group mb-1">
            <b>Дата приказа:</b>
            {{ staffSchedule.order_date | moment('DD.MM.YYYY') }}
          </div>
          <div class="form-group mb-1">
            <b>Дата вступления в силу:</b>
            {{ staffSchedule.start_date | moment('DD.MM.YYYY') }}
          </div>
          <div class="form-group">
            <b>Подписано:</b>
            {{ staffSchedule.signed === 1 ? 'Да' : 'Нет' }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <b-button
        v-if="staffSchedule && staffSchedule.signed === 0
          && user.can['update staff schedules']"
        class="mb-1"
        variant="outline-primary"
        :to="{ name: 'staff-schedule.edit', params: { id: $route.params.id } }"
      >
        <fa
          icon="edit"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Редактировать
      </b-button>
      <b-button
        v-if="staffSchedule && staffSchedule.signed === 0
          && (user.can['create staff schedules']
            || user.can['update staff schedules'])"
        class="mb-1"
        variant="outline-success"
        @click="startStaffSchedulePositionEditDialog(null)"
      >
        <fa
          icon="plus"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Добавить позицию
      </b-button>
      <b-button
        v-if="staffSchedule && staffSchedule.signed === 0
          && user.can['sign staff schedules']"
        class="mb-1"
        variant="danger"
        @click="onSignStaffScheduleClick"
      >
        <fa
          icon="signature"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Подписать
      </b-button>
      <b-button
        v-if="staffSchedule && staffSchedule.signed === 1
          && user.can['sign staff schedules']"
        class="mb-1"
        variant="danger"
        @click="onUnsignStaffScheduleClick"
      >
        <fa
          icon="signature"
          fixed-width
          style="font-size:14px;"
        />&nbsp;Отменить подпись
      </b-button>
    </div>
    <b-card>
      <template v-slot:header>
        Позиции
      </template>
      <odtn-tree
        v-if="staffSchedulePositions && staffSchedulePositions.length"
        :list="staffSchedulePositions"
        :tree-level-id="-1"
        :items-draggable="
          user.can['create staff schedules']
            || user.can['update staff schedules']
        "
        :on-item-drop="onStaffSchedulePositionDrop"
        :items-for-level-processor="processStaffSchedulePositionsForLevel"
        no-root
      >
        <template v-slot:item="slotProps">
          {{ makeLabelFromStaffSchedulePosition(slotProps.item) }}
          <div
            v-if="staffSchedule && staffSchedule.signed === 0
              && (user.can['create staff schedules']
                || user.can['update staff schedules'])
              && slotProps.item.id !== null"
            class="d-inline-block my-1"
          >
            <b-button
              variant="success"
              size="sm"
              @click="startStaffSchedulePositionEditDialog(slotProps.item.id)"
            >
              <fa
                icon="edit"
                fixed-width
                style="font-size:14px;"
              />
            </b-button>
            <b-button
              variant="danger"
              size="sm"
              @click="deleteStaffSchedulePosition(slotProps.item.id)"
            >
              <fa
                icon="trash-alt"
                fixed-width
                style="font-size:14px;"
              />
            </b-button>
          </div>
        </template>
      </odtn-tree>
    </b-card>
    <b-modal
      :visible="showAddStaffSchedulePositionModal"
      title="Позиция расписания"
      centered
      @hidden="showAddStaffSchedulePositionModal = false"
    >
      <div class="form-group">
        <label>
          Тип позиции
        </label>
        <b-form-radio-group
          v-model="modalMode"
          :options="[{
            text: 'Структурное подразделение',
            value: 'department'
          }, {
            text: 'Должность',
            value: 'employee'
          }]"
        />
      </div>

      <!-- department_id -->
      <div
        v-if="modalMode === 'department'"
        class="form-group"
      >
        <label>
          Структурное подразделение
        </label>
        <odtn-autocomplete
          v-model="departmentSearchString"
          :state="staffSchedulePositionForm.errors.has('department_id') ? false : null"
          :lookup-function="fetchDepartmentSuggestions"
          autoload
          @input="onDepartmentAutocompleteInput"
          @select="onDepartmentAutocompleteSelect"
          @blur="onDepartmentAutocompleteBlur"
        >
          <template v-slot:end-of-empty>
            <small>
              <a
                href="javascript:void 0"
                @mousedown="startNewDepartmentDialog"
              >
                Создать
              </a>
            </small>
          </template>
        </odtn-autocomplete>
        <has-error
          :form="staffSchedulePositionForm"
          field="department_id"
        />
      </div>

      <!-- empl_position_id -->
      <div
        v-if="modalMode === 'employee'"
        class="form-group"
      >
        <label>
          Должность
        </label>
        <odtn-autocomplete
          v-model="employeePositionSearchString"
          :state="staffSchedulePositionForm.errors.has('empl_position_id') ? false : null"
          :lookup-function="fetchEmployeePositionSuggestions"
          autoload
          @input="onEmployeePositionAutocompleteInput"
          @select="onEmployeePositionAutocompleteSelect"
          @blur="onEmployeePositionAutocompleteBlur"
        >
          <template v-slot:end-of-empty>
            <small>
              <a
                href="javascript:void 0"
                @mousedown="startNewEmployeePositionDialog"
              >
                Создать
              </a>
            </small>
          </template>
        </odtn-autocomplete>
        <has-error
          :form="staffSchedulePositionForm"
          field="empl_position_id"
        />
      </div>

      <!-- quantity -->
      <div
        v-if="modalMode === 'employee'"
        class="form-group"
      >
        <label>
          Количество
        </label>
        <b-form-input
          v-model.number="staffSchedulePositionForm.quantity"
          :state="staffSchedulePositionForm.errors.has('quantity') ? false : null"
          name="quantity"
          type="number"
          min="0"
        />
        <has-error
          :form="staffSchedulePositionForm"
          field="quantity"
        />
      </div>

      <!-- parent_id -->
      <div
        v-if="parentIdOptions.length"
        class="form-group"
      >
        <label>
          Входит в позицию
        </label>
        <b-form-select
          v-model="staffSchedulePositionForm.parent_id"
          :state="staffSchedulePositionForm.errors.has('parent_id') ? false : null"
          name="parent_id"
        >
          <b-form-select-option
            v-for="parentIdOption in parentIdOptions"
            :key="parentIdOption.value"
            :value="parentIdOption.value"
          >
            {{ parentIdOption.label }}
          </b-form-select-option>
        </b-form-select>
        <has-error
          :form="staffSchedulePositionForm"
          field="parent_id"
        />
      </div>

      <!-- supervisor_id -->
      <div
        v-if="parentIdOptions.length"
        class="form-group"
      >
        <label>
          Руководитель
        </label>
        <b-form-select
          v-model="staffSchedulePositionForm.supervisor_id"
          :state="staffSchedulePositionForm.errors.has('supervisor_id') ? false : null"
          name="supervisor_id"
        >
          <b-form-select-option
            v-for="supervisorIdOption in supervisorIdOptions"
            :key="supervisorIdOption.value"
            :value="supervisorIdOption.value"
          >
            {{ supervisorIdOption.label }}
          </b-form-select-option>
        </b-form-select>
        <has-error
          :form="staffSchedulePositionForm"
          field="supervisor_id"
        />
      </div>

      <!-- description -->
      <div class="form-group">
        <label>
          Описание
        </label>
        <b-textarea
          v-model="staffSchedulePositionForm.description"
          :state="staffSchedulePositionForm.errors.has('description') ? false : null"
          name="description"
        />
        <has-error
          :form="staffSchedulePositionForm"
          field="description"
        />
      </div>

      <template v-slot:modal-footer>
        <b-button
          :class="[{'btn-loading': upsertStaffSchedulePositionInprogress}]"
          :disabled="upsertStaffSchedulePositionInprogress"
          variant="success"
          @click="onSaveStaffSchedulePositionClick"
        >
          Сохранить
        </b-button>
      </template>
    </b-modal>
    <b-modal
      :visible="showAddDepartmentModal"
      title="Создать структурное подразделение"
      hide-footer
      centered
      @hidden="showAddDepartmentModal = false"
    >
      <new-department-form @created="onDepartmentCreated" />
    </b-modal>
    <b-modal
      :visible="showAddEmployeePositionModal"
      title="Создать должность"
      hide-footer
      centered
      @hidden="showAddEmployeePositionModal = false"
    >
      <new-employee-position-form @created="onEmployeePositionCreated" />
    </b-modal>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import createVform from '~/common/createVform'
import axios from 'axios'
import allSettled from 'promise.allsettled'
import { getAllTreeListItemsWithExcept } from '~/common/treeListUtils'
import departmentsLookup from '~/common/departmentsLookup'
import employeePositionsLookup from '~/common/employeePositionsLookup'
import * as api from '~/typings/api'
import NewDepartmentForm from '~/pages/department/NewForm.vue'
import NewEmployeePositionForm from '~/pages/employee-position/NewForm.vue'
import { differenceWith } from 'lodash-es'

type StaffSchedulePositionForm = Omit<api.StaffSchedulePositions.StaffSchedulePosition,
|'id'
|'created_at'
|'signed'
|'department_name'
|'empl_position_name'>

@Component({
  loading: true,
  middleware: 'auth',
  metaInfo() {
    return { title: 'Штатное расписание' }
  },
  components: {
    'new-department-form': NewDepartmentForm,
    'new-employee-position-form': NewEmployeePositionForm
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  allDataReadyToShow = false
  modalMode: 'department' | 'employee' = 'department'
  staffSchedulePositionForm = createVform<StaffSchedulePositionForm>({
    staff_schedule_id: null,
    parent_id: null,
    supervisor_id: null,
    department_id: null,
    empl_position_id: null,
    quantity: null,
    description: ''
  })
  departmentSearchString = ''
  selectedDepartment: api.Departments.Department | null = null
  employeePositionSearchString = ''
  selectedEmployeePosition: api.EmployeePositions.EmployeePosition | null = null
  showAddStaffSchedulePositionModal = false
  upsertStaffSchedulePositionInprogress = false
  editingStaffSchedulePositionId: number | null = null
  showAddDepartmentModal = false
  showAddEmployeePositionModal = false

  get user() {
    return this.store.auth.user
  }

  get staffSchedule() {
    return this.store.staff.staffSchedule?.data ?? null
  }

  get counterparty() {
    return this.store.counterparties.counterparty?.data ?? null
  }

  get counterpartyName() {
    if (this.counterparty) {
      return this.store.counterparties.labelOfCounterparty(this.counterparty)
    } else if (this.staffSchedule) {
      return this.staffSchedule.counterparty_id
    } else {
      return ''
    }
  }

  get staffSchedulePositions(): api.StaffSchedulePositions.StaffSchedulePosition[] {
    return [
      {
        id: null,
        staff_schedule_id: null,
        supervisor_id: null,
        department_name: null,
        parent_id: -1,
        department_id: null,
        empl_position_id: null,
        empl_position_name: null,
        quantity: null,
        description: null,
        created_at: null,
        signed: 0
      },
      ...this.store.staff.staffSchedulePositions?.data ?? []
    ]
  }

  get departments() {
    return this.store.departments.departments?.data ?? []
  }

  get employeePositions() {
    return this.store.employeePositions.employeePositions?.data ?? []
  }

  get parentIdOptions() {
    if (this.editingStaffSchedulePositionId) {
      const staffSchedulePosition = this.staffSchedulePositions
        .find(staffSchedulePosition => staffSchedulePosition.id === this.editingStaffSchedulePositionId)

      if (staffSchedulePosition) {
        return getAllTreeListItemsWithExcept<api.StaffSchedulePositions.StaffSchedulePosition, 'id', 'parent_id'>(
          this.staffSchedulePositions,
          staffSchedulePosition,
          { self: true, children: true }
        ).map((staffSchedulePosition) => {
          return {
            label: this.makeLabelFromStaffSchedulePosition(staffSchedulePosition),
            value: staffSchedulePosition.id
          }
        })
      }
    } else if (this.editingStaffSchedulePositionId === null) {
      return this.staffSchedulePositions
        .map((staffSchedulePosition) => {
          return {
            label: this.makeLabelFromStaffSchedulePosition(staffSchedulePosition),
            value: staffSchedulePosition.id
          }
        })
    }

    return []
  }

  get supervisorIdOptions() {
    let result = [...this.staffSchedulePositions]

    if (this.editingStaffSchedulePositionId) {
      result = result.filter(staffSchedulePosition => staffSchedulePosition.id !== this.editingStaffSchedulePositionId)
    }

    return result.map((staffSchedulePosition) => {
      return {
        label: this.makeLabelFromStaffSchedulePosition(staffSchedulePosition),
        value: staffSchedulePosition.id
      }
    })
  }

  get departmentIdOptions() {
    return this.departments
      .map((department) => {
        return {
          label: department.name,
          value: department.id
        }
      })
  }

  get positionIdOptions() {
    return this.employeePositions
      .map((employeePosition) => {
        return {
          label: employeePosition.name,
          value: employeePosition.id
        }
      })
  }

  created() {
    this.staffSchedulePositionForm.staff_schedule_id = parseInt(this.$route.params.id)
    this.fetchData()
  }

  fetchData() {
    allSettled([
      this.store.staff.fetchStaffSchedule({ id: parseInt(this.$route.params.id) }).then(() => {
        if (this.staffSchedule) {
          this.store.counterparties.fetchCounterparty({ id: this.staffSchedule.counterparty_id })
        }
      }),
      this.store.staff.fetchStaffSchedulePositions({ staff_schedule_id: parseInt(this.$route.params.id) }),
      this.store.departments.fetchDepartments(),
      this.store.employeePositions.fetchEmployeePositions()
    ]).then(() => {
      this.allDataReadyToShow = true
      this.$root.$loading.finish()
    })
  }

  makeLabelFromStaffSchedulePosition(staffSchedulePosition: api.StaffSchedulePositions.StaffSchedulePosition) {
    if (staffSchedulePosition.id === null) return ''

    const departmentName = staffSchedulePosition.department_name ?? ''
    const positionName = staffSchedulePosition.empl_position_name ?? ''
    const divider = departmentName && positionName ? ' | ' : ''
    const quantity = staffSchedulePosition.quantity ? ` (${staffSchedulePosition.quantity})` : ''

    return (departmentName + divider + positionName + quantity).trim()
  }

  startStaffSchedulePositionEditDialog(staffSchedulePositionId: number | null) {
    this.showAddStaffSchedulePositionModal = true
    this.editingStaffSchedulePositionId = staffSchedulePositionId

    if (staffSchedulePositionId === null) {
      this.departmentSearchString = ''
      this.selectedDepartment = null
      this.employeePositionSearchString = ''
      this.selectedEmployeePosition = null
      this.staffSchedulePositionForm.department_id = null
      this.staffSchedulePositionForm.empl_position_id = null
      this.staffSchedulePositionForm.quantity = null
      this.staffSchedulePositionForm.parent_id = null
      this.staffSchedulePositionForm.supervisor_id = null
      this.staffSchedulePositionForm.description = ''
    } else if (staffSchedulePositionId) {
      const staffSchedulePosition = this.staffSchedulePositions
        .find(staffSchedulePosition => staffSchedulePosition.id === staffSchedulePositionId)

      if (staffSchedulePosition) {
        if (staffSchedulePosition.department_id) {
          this.modalMode = 'department'
          if (staffSchedulePosition.department_name) {
            this.selectedDepartment = this.departments
              .find(department => department.id === staffSchedulePosition.department_id) ?? null
            this.departmentSearchString = staffSchedulePosition.department_name
          }
        }
        if (staffSchedulePosition.empl_position_id) {
          this.modalMode = 'employee'
          if (staffSchedulePosition.empl_position_name) {
            this.selectedEmployeePosition = this.employeePositions
              .find(employeePosition => employeePosition.id === staffSchedulePosition.empl_position_id) ?? null
            this.employeePositionSearchString = staffSchedulePosition.empl_position_name
          }
        }
        this.staffSchedulePositionForm.department_id = staffSchedulePosition.department_id
        this.staffSchedulePositionForm.empl_position_id = staffSchedulePosition.empl_position_id
        this.staffSchedulePositionForm.quantity = staffSchedulePosition.quantity
        this.staffSchedulePositionForm.parent_id = staffSchedulePosition.parent_id
        this.staffSchedulePositionForm.supervisor_id = staffSchedulePosition.supervisor_id
        this.staffSchedulePositionForm.description = staffSchedulePosition.description
      }
    }
  }

  async onSaveStaffSchedulePositionClick() {
    const method = this.editingStaffSchedulePositionId === null ? 'post' : 'patch'
    const id = this.editingStaffSchedulePositionId === null ? '' : `/${this.editingStaffSchedulePositionId}`

    this.upsertStaffSchedulePositionInprogress = true
    if (this.modalMode === 'department') {
      this.staffSchedulePositionForm.empl_position_id = null
      this.staffSchedulePositionForm.quantity = null
    } else if (this.modalMode === 'employee') {
      this.staffSchedulePositionForm.department_id = null
    }
    this.staffSchedulePositionForm[method](`/api/v1/staff-schedule-positions${id}`)
      .then(() => {
        this.showAddStaffSchedulePositionModal = false
        this.store.staff.fetchStaffSchedulePositions({ staff_schedule_id: parseInt(this.$route.params.id) })
      })
      .finally(() => { this.upsertStaffSchedulePositionInprogress = false })
  }

  deleteStaffSchedulePosition(id: number) {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите удалить эту позицию штатного расписания со всеми подпозициями?',
      {
        title: 'Удалить позицию',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await this.store.staff.deleteStaffSchedulePosition({ id })

        if (response.status === 200) {
          this.store.staff.fetchStaffSchedulePositions({ staff_schedule_id: parseInt(this.$route.params.id) })
        }
      }
    })
  }

  onSignStaffScheduleClick() {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите подписать штатное расписание?',
      {
        title: 'Подписать расписание',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await axios.post(`/api/v1/staff-schedules/${parseInt(this.$route.params.id)}`, { signed: true })

        if (response.status === 200) {
          this.store.staff.fetchStaffSchedule({ id: parseInt(this.$route.params.id) })
        }
      }
    })
  }

  onUnsignStaffScheduleClick() {
    this.$bvModal.msgBoxConfirm(
      'Вы действительно хотите отменить подпись штатного расписания?',
      {
        title: 'Отменить подпись',
        okTitle: 'Да',
        okVariant: 'danger',
        cancelTitle: 'Нет',
        cancelVariant: 'success',
        centered: true
      }
    ).then(async (isOk: boolean | null) => {
      if (isOk) {
        const response = await axios.post(`/api/v1/staff-schedules/${parseInt(this.$route.params.id)}`, { signed: false })

        if (response.status === 200) {
          this.store.staff.fetchStaffSchedule({ id: parseInt(this.$route.params.id) })
        }
      }
    })
  }

  async onStaffSchedulePositionDrop(
    event: any /*DragEvent*//*safari fix*/,
    targetStaffSchedulePosition: api.StaffSchedulePositions.StaffSchedulePosition,
    draggedStaffSchedulePosition: api.StaffSchedulePositions.StaffSchedulePosition
  ) {
    const response = await axios
      .patch(`/api/v1/staff-schedule-positions/${draggedStaffSchedulePosition.id}`, {
        ...draggedStaffSchedulePosition,
        parent_id: targetStaffSchedulePosition.id
      })

    await this.store.staff.fetchStaffSchedulePositions({ staff_schedule_id: parseInt(this.$route.params.id) })

    return response
  }

  async fetchDepartmentSuggestions() {
    return await departmentsLookup(this.departmentSearchString)
  }

  onDepartmentAutocompleteInput(value: string) {
    if (value === '') {
      this.staffSchedulePositionForm.department_id = null
      this.departmentSearchString = ''
      this.selectedDepartment = null
    }
  }

  onDepartmentAutocompleteSelect(department: api.Departments.Department) {
    this.staffSchedulePositionForm.department_id = department.id
    this.departmentSearchString = department.name
    this.selectedDepartment = department
  }

  onDepartmentAutocompleteBlur() {
    if (this.selectedDepartment) {
      this.departmentSearchString = this.selectedDepartment.name
    } else {
      this.departmentSearchString = ''
    }
  }

  startNewDepartmentDialog() {
    this.showAddDepartmentModal = true
  }

  onDepartmentCreated() {
    this.showAddDepartmentModal = false
  }

  async fetchEmployeePositionSuggestions() {
    return await employeePositionsLookup(this.employeePositionSearchString)
  }

  onEmployeePositionAutocompleteInput(value: string) {
    if (value === '') {
      this.staffSchedulePositionForm.empl_position_id = null
      this.employeePositionSearchString = ''
      this.selectedEmployeePosition = null
    }
  }

  onEmployeePositionAutocompleteSelect(employeePosition: api.EmployeePositions.EmployeePosition) {
    this.staffSchedulePositionForm.empl_position_id = employeePosition.id
    this.employeePositionSearchString = employeePosition.name
    this.selectedEmployeePosition = employeePosition
  }

  onEmployeePositionAutocompleteBlur() {
    if (this.selectedEmployeePosition) {
      this.employeePositionSearchString = this.selectedEmployeePosition.name
    } else {
      this.employeePositionSearchString = ''
    }
  }

  startNewEmployeePositionDialog() {
    this.showAddEmployeePositionModal = true
  }

  onEmployeePositionCreated() {
    this.showAddEmployeePositionModal = false
  }

  processStaffSchedulePositionsForLevel(
    itemsForLevel: api.StaffSchedulePositions.StaffSchedulePosition[],
    list: api.StaffSchedulePositions.StaffSchedulePosition[],
    treeLevelId: number | null
  ) {
    let result: api.StaffSchedulePositions.StaffSchedulePosition[] = [...itemsForLevel]
    const parentStaffSchedulePosition = list.find(staffSchedulePosition => staffSchedulePosition.id === treeLevelId)
    let itemsForLevelHasSupervisorOfParent = false

    if (parentStaffSchedulePosition?.supervisor_id) {
      const supervisorStaffSchedulePositions = result.filter(item => item.id === parentStaffSchedulePosition.supervisor_id)
      const otherPositions = result.filter(item => item.id !== parentStaffSchedulePosition.supervisor_id)

      if (supervisorStaffSchedulePositions.length > 0) {
        itemsForLevelHasSupervisorOfParent = true
      }
      result = [
        ...supervisorStaffSchedulePositions,
        ...otherPositions
      ]
    }

    if (result.some(item => item.supervisor_id)) {
      const buffer: api.StaffSchedulePositions.StaffSchedulePosition[] = []

      if (itemsForLevelHasSupervisorOfParent) {
        const supervisor = result.shift()

        if (supervisor) {
          buffer.push(supervisor)
        }
      }

      const supervisorIds: number[] = []

      result.forEach((item) => {
        if (item.supervisor_id && !supervisorIds.includes(item.supervisor_id)) {
          supervisorIds.push(item.supervisor_id)
        }
      })

      supervisorIds.forEach((supervisorId) => {
        const supervisor = result.find(item => item.id === supervisorId)

        if (supervisor) {
          buffer.push(supervisor)
          result = result.filter(item => item.id !== supervisor.id)

          const subordinates = result.filter(item => item.supervisor_id === supervisor.id)

          subordinates.forEach((item) => {
            buffer.push(item)
          })

          result = differenceWith(result, subordinates, (a, b) => a.id === b.id)
        }
      })

      result.forEach((item) => {
        buffer.push(item)
      })

      result = buffer
    }

    return result
  }
}
</script>
