<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Сеть контроллеров
    </template>
    <form
      @submit.prevent="update"
      @keydown="form.onKeydown($event)"
    >
      <!-- metric_controller_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Контроллер метрик
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.metric_contr_id">
            <b-form-select-option 
              v-for="controller in controllers"
              :key="controller.id"
              :value="controller.id"
            >
              {{ controller.fqdn_name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="metric_controller_id"
          />
        </div>
      </div>

      <!-- network_type_id -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Тип сети
        </label>
        <div class="col-md-7">
          <b-form-select v-model.number="form.network_type_id">
            <b-form-select-option 
              v-for="type in networkTypes"
              :key="type.id"
              :value="type.id"
            >
              {{ type.name }}
            </b-form-select-option>
          </b-form-select>
          <has-error
            :form="form"
            field="network_type_id"
          />
        </div>
      </div>

      <!-- topic_name -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Топик
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="form.topic_name"
            :state="form.errors.has('topic_name') ? false : null"
            name="topic_name"
          />
          <has-error
            :form="form"
            field="topic_name"
          />
        </div>
      </div>

      <!-- description -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">
          Описание
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="form.description"
            :state="form.errors.has('description') ? false : null"
            name="description"
          />
          <has-error
            :form="form"
            field="description"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Сохранить
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Сеть контроллеров' }
  }
})
export default class Edit extends Vue {
  store = useStore<RootModule>(this.$store)
  form = new Form({
    metric_contr_id: null,
    network_type_id: null,
    topic_name: '',
    description: ''
  })

  get controllerNetwork() {
    return this.store.metricControllers.controllerNetworks.controllerNetwork
  }

  get controllers() {
    return this.store.metricControllers.controllers.controllers?.data || []
  }

  get networkTypes() {
    return this.store.metricControllers.networkTypes.networkTypes?.data || []
  }

  created() {
    this.getControllerNetwork(parseInt(this.$route.params.id))
    this.store.metricControllers.controllers.fetchControllers({ items: 'all' })
    this.store.metricControllers.networkTypes.fetchNetworkTypes({ items: 'all' })
  }

  async getControllerNetwork(id: number) {
    await this.store.metricControllers.controllerNetworks.fetchControllerNetwork({ id })
    // @ts-ignore
    this.form.keys().forEach((key: any) => {
      // @ts-ignore
      this.form[key] = this.controllerNetwork.data[key]
    })
  }

  async update() {
    await this.form.patch(`/api/v1/metrics/controller-networks/${this.$route.params.id}`)
    this.$router.push({ name: 'metrics.controller-networks' })
  }
}
</script>
