<template>
  <b-card class="mb-4">
    <template v-slot:header>
      Новый контрагент
    </template>

    <div class="row justify-content-md-center">
      <div class="col" style="max-width: 600px">
        <b-card class="mb-3">
          <template v-slot:header>
            Найти и заполнить
          </template>
          <odtn-autocomplete
            v-model="dadataQuery"
            placeholder="Введите название в свободной форме, адрес, ИНН или ОГРН"
            :lookup-function="fetchPartySuggestions"
            @select="onDadataSuggestionSelect"
          >
            <template v-slot:end-of-item="slotProps">
              <div>
                <small v-if="slotProps.suggestion.data && slotProps.suggestion.data.inn">
                  ИНН: {{ slotProps.suggestion.data.inn }}
                </small>
                <small
                  v-if="slotProps.suggestion.data && slotProps.suggestion.data.address && slotProps.suggestion.data.address.value"
                  class="ml-2"
                >
                  Адрес: {{ slotProps.suggestion.data.address.value }}
                </small>
              </div>
            </template>
          </odtn-autocomplete>
        </b-card>
      </div>
    </div>

    <form
      @submit.prevent="create"
      @keydown="form.onKeydown($event)"
    >
      <!-- type -->
      <div
        v-if="fieldSet.includes('type')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Тип
        </label>
        <div class="col-md-7">
          <select
            v-model="formFields.type"
            :class="{ 'is-invalid': form.errors.has('type') }"
            class="form-control"
            name="type"
          >
            <option value="null" />
            <option
              v-for="(counterpartyType, counterpartyTypeKey) in counterpartyTypes"
              :key="counterpartyType"
              :value="counterpartyTypeKey"
            >
              {{ counterpartyType }}
            </option>
          </select>
          <has-error
            :form="form"
            field="type"
          />
        </div>
      </div>

      <!-- country -->
      <div
        v-if="fieldSet.includes('country')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Страна регистрации
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.country"
            :class="{ 'is-invalid': form.errors.has('country') }"
            name="country"
          />
          <has-error
            :form="form"
            field="country"
          />
        </div>
      </div>

      <!-- rus_name -->
      <div
        v-if="fieldSet.includes('rus_name')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.rus_name"
            :class="{ 'is-invalid': form.errors.has('rus_name') }"
            name="rus_name"
          />
          <has-error
            :form="form"
            field="rus_name"
          />
        </div>
      </div>

      <!-- abbreviation -->
      <div
        v-if="fieldSet.includes('abbreviation')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Сокращенное название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.abbreviation"
            :class="{ 'is-invalid': form.errors.has('abbreviation') }"
            name="abbreviation"
          />
          <has-error
            :form="form"
            field="abbreviation"
          />
        </div>
      </div>

      <!-- en_name -->
      <div
        v-if="fieldSet.includes('en_name')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Английское название
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.en_name"
            :class="{ 'is-invalid': form.errors.has('en_name') }"
            name="en_name"
          />
          <has-error
            :form="form"
            field="en_name"
          />
        </div>
      </div>

      <!-- inn -->
      <div
        v-if="fieldSet.includes('inn')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          ИНН
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.inn"
            :class="{ 'is-invalid': form.errors.has('inn') }"
            name="inn"
          />
          <has-error
            :form="form"
            field="inn"
          />
        </div>
      </div>

      <!-- ogrn -->
      <div
        v-if="fieldSet.includes('ogrn')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          ОГРН
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.ogrn"
            :class="{ 'is-invalid': form.errors.has('ogrn') }"
            name="ogrn"
          />
          <has-error
            :form="form"
            field="ogrn"
          />
        </div>
      </div>

      <!-- kpp -->
      <div
        v-if="fieldSet.includes('kpp')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          КПП
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.kpp"
            :class="{ 'is-invalid': form.errors.has('kpp') }"
            name="kpp"
          />
          <has-error
            :form="form"
            field="kpp"
          />
        </div>
      </div>

      <!-- legal_address -->
      <div
        v-if="fieldSet.includes('legal_address')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Юридический адрес
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.legal_address"
            :class="{ 'is-invalid': form.errors.has('legal_address') }"
            name="legal_address"
          />
          <has-error
            :form="form"
            field="legal_address"
          />
        </div>
      </div>

      <!-- actual_address -->
      <div
        v-if="fieldSet.includes('actual_address')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Фактический адрес
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.actual_address"
            :class="{ 'is-invalid': form.errors.has('actual_address') }"
            name="actual_address"
          />
          <has-error
            :form="form"
            field="actual_address"
          />
        </div>
      </div>

      <!-- bank_name -->
      <div
        v-if="fieldSet.includes('bank_name')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Наименование банка
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.bank_name"
            :class="{ 'is-invalid': form.errors.has('bank_name') }"
            name="bank_name"
          />
          <has-error
            :form="form"
            field="bank_name"
          />
        </div>
      </div>

      <!-- bic -->
      <div
        v-if="fieldSet.includes('bic')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          БИК
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.bic"
            :class="{ 'is-invalid': form.errors.has('bic') }"
            name="bic"
          />
          <has-error
            :form="form"
            field="bic"
          />
        </div>
      </div>

      <!-- correspondent_account -->
      <div
        v-if="fieldSet.includes('correspondent_account')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Корреспондентский счёт
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.correspondent_account"
            :class="{ 'is-invalid': form.errors.has('correspondent_account') }"
            name="correspondent_account"
          />
          <has-error
            :form="form"
            field="correspondent_account"
          />
        </div>
      </div>

      <!-- payment_account -->
      <div
        v-if="fieldSet.includes('payment_account')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Рассчётный счёт
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.payment_account"
            :class="{ 'is-invalid': form.errors.has('payment_account') }"
            name="payment_account"
          />
          <has-error
            :form="form"
            field="payment_account"
          />
        </div>
      </div>

      <!-- contacts -->
      <div
        v-if="fieldSet.includes('contacts')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Контактные данные
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="formFields.contacts"
            :class="{ 'is-invalid': form.errors.has('contacts') }"
            name="contacts"
          />
          <has-error
            :form="form"
            field="contacts"
          />
        </div>
      </div>

      <!-- notes -->
      <div
        v-if="fieldSet.includes('notes')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Заметки
        </label>
        <div class="col-md-7">
          <b-form-textarea
            v-model="formFields.notes"
            :class="{ 'is-invalid': form.errors.has('notes') }"
            name="notes"
          />
          <has-error
            :form="form"
            field="notes"
          />
        </div>
      </div>

      <!-- person_name -->
      <div
        v-if="fieldSet.includes('person_name')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          ФИО
        </label>
        <div class="col-md-7">
          <odtn-autocomplete
            v-model="formFields.person_name"
            :state="form.errors.has('person_name') ? false : null"
            :lookup-function="fetchFioSuggestions"
            autoload
          />
          <has-error
            :form="form"
            field="person_name"
          />
        </div>
      </div>

      <!-- person_tel -->
      <div
        v-if="fieldSet.includes('person_tel')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Номер телефона
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.person_tel"
            :class="{ 'is-invalid': form.errors.has('person_tel') }"
            name="person_tel"
          />
          <has-error
            :form="form"
            field="person_tel"
          />
        </div>
      </div>

      <!-- person_email -->
      <div
        v-if="fieldSet.includes('person_email')"
        class="form-group row"
      >
        <label class="col-md-3 col-form-label text-md-right">
          Email
        </label>
        <div class="col-md-7">
          <b-form-input
            v-model="formFields.person_email"
            :class="{ 'is-invalid': form.errors.has('person_email') }"
            name="person_email"
          />
          <has-error
            :form="form"
            field="person_email"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group row">
        <div class="col-md-9 ml-md-auto">
          <b-button
            :class="[{'btn-loading': form.busy}]"
            variant="success"
            type="submit"
          >
            Создать
          </b-button>
        </div>
      </div>
    </form>
  </b-card>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { useStore } from 'vuex-simple'
import { RootModule } from '~/store'
import Form from 'vform'
import * as api from '~/typings/api'
import dadataFioLookup from '~/common/dadataFioLookup'
import dadataPartyLookup from '~/common/dadataPartyLookup'

@Component({
  middleware: 'auth',
  metaInfo() {
    return { title: 'Новый контрагент' }
  }
})
export default class New extends Vue {
  store = useStore<RootModule>(this.$store)
  formFields = {
    type: 'null',
    country: '',
    rus_name: '',
    abbreviation: '',
    en_name: '',
    inn: '',
    ogrn: '',
    kpp: '',
    legal_address: '',
    actual_address: '',
    bank_name: '',
    bic: '',
    correspondent_account: '',
    payment_account: '',
    contacts: '',
    notes: '',
    person_name: '',
    person_tel: '',
    person_email: ''
  }
  form = new Form()
  dadataQuery = ''

  get counterpartyTypes() {
    return this.store.counterparties.counterpartyTypes?.data ?? {}
  }

  get fieldSet() {
    let fields: string[] = [
      'type',
      'country',
      'inn',
      'legal_address',
      'actual_address',
      'bank_name',
      'bic',
      'correspondent_account',
      'payment_account',
      'notes'
    ]

    switch (this.formFields.type as api.Counterparties.CounterpartyType | 'null') {
      case 'null':
        fields = ['type']
        break
      case 'company':
        fields = [
          ...fields,
          'rus_name',
          'abbreviation',
          'en_name',
          'ogrn',
          'kpp',
          'contacts'
        ]
        break
      case 'businessman':
        fields = [
          ...fields,
          'ogrn',
          'person_name',
          'person_tel',
          'person_email'
        ]
        break
      case 'self_busy':
      case 'person':
        fields = [
          ...fields,
          'person_name',
          'person_tel'
        ]
        break
      default:
        fields = []
        break
    }

    return fields
  }

  created() {
    this.getCounterpartyTypes()
  }

  async getCounterpartyTypes() {
    await this.store.counterparties.fetchCounterpartyTypes()
    this.formFields.type = 'null'
  }

  async create() {
    const newFormFields = {}

    for (const fieldName of this.fieldSet) {
      // @ts-ignore
      newFormFields[fieldName] = this.formFields[fieldName]
    }
    this.form = new Form(newFormFields)
    await this.form.post('/api/v1/counterparties')
    this.$router.push({ name: 'counterparties' })
  }

  async fetchFioSuggestions() {
    return await dadataFioLookup(this.formFields.person_name)
  }

  async fetchPartySuggestions() {
    return await dadataPartyLookup(this.dadataQuery)
  }

  onDadataSuggestionSelect(suggestion: any) {
    if (suggestion.data) {
      for (const fieldName in this.formFields) {
        // @ts-ignore
        if (suggestion.data[fieldName]) {
          // @ts-ignore
          this.formFields[fieldName] = suggestion.data[fieldName]
        }
        if (suggestion.data?.type === 'LEGAL') {
          this.formFields.type = 'company'
        } else if (suggestion.data?.type === 'INDIVIDUAL') {
          this.formFields.type = 'businessman'
        }
        this.formFields.country = suggestion.data?.address?.data?.country ?? ''
        this.formFields.rus_name = suggestion.data?.name?.full_with_opf
          ?? suggestion.data?.name?.full
          ?? ''
        this.formFields.abbreviation = suggestion.data?.name?.short_with_opf
          ?? suggestion.data?.name?.short
          ?? ''
        this.formFields.en_name = suggestion.data?.name?.latin ?? ''
        this.formFields.legal_address = suggestion.data?.address?.value ?? ''
      }
    }
  }
}
</script>
